<md-list ng-cloak class="main-page-content">
<div layout="column" layout-padding flex="90" flex-offset="5">
	
	<div class="filter-card md-whiteframe-1dp" layout="column" layout-margin>
		
		<div layout="row">
		    <md-input-container md-no-float class="md-block md-icon-float" flex>
				<md-icon class="material-icons" style="margin-top: 6px;">search</md-icon>
		        <input ng-model="filter" placeholder="Search for a project...">
		    </md-input-container>
		</div>
		
	</div>
	
	<div layout="column">
		
		<md-list ng-cloak flex class="md-whiteframe-1dp content-list">
		
			<!-- <div ng-show="!search && project.status=='waiting'" ng-repeat="project in projects | filter:{name: filter} track by $index"> -->
		
				<md-list-item class="md-2-line" md-ink-ripple ng-repeat="project in projects | filter:{name: filter} | unique:'name' track by $index" ng-show="project.status=='waiting'">
				
					<div class="md-list-item-text" ui-sref="project.overview({id: project._id})">
			          	<h3>{{ project.name }} <span ng-show="project.__v > 0">({{project.__v}})</span></h3>
						<p>{{ project.address }}, {{ project.suburb }} {{ project.postcode }}</p>
			        </div>
					
					<md-button ng-click="setFavourite(project)" class="md-secondary md-icon-button" aria-label="Favourite Project">
						<md-icon ng-show="project.isFavourite" class="material-icons">star</md-icon>
						<md-icon ng-show="!project.isFavourite" class="material-icons">star_border</md-icon>
					</md-button>
					
					<md-divider ng-hide="$last"></md-divider>
				</md-list-item>
				
		
			<!-- </div> -->
			
		</md-list>
		
	</div>
	
</div>

