<md-dialog aria-label="Create a New File" flex="70">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Create a New File</h2>
			</div>
		</md-toolbar>
		
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				
				<div layout="row" layout="center center">
					<div style="padding: 20px">
						<input filepicker type="filepicker-dragdrop" data-fp-services="computer, DROPBOX, gmail, skydrive, GOOGLE_DRIVE" on-success="onSuccess(event.fpfile)" data-fp-multiple="false"/>
					</div>
				</div>

				<div layout="row">
					<md-input-container flex>
				        <label>Description</label>
						<textarea ng-model="uploadFile.description" required md-maxlength="200" columns="1" rows="5"></textarea>
				    </md-input-container>
				</div>
				
				<div layout="row">
					<md-chips
			        ng-model="uploadFile.tags"
			        placeholder="Enter a tag"
			        delete-button-label="Remove Tag"
			        delete-hint="Press delete to remove tag"
			        secondary-placeholder="+Tag"></md-chips>
				</div>
				
				<!-- <div layout="row">
					<md-chips ng-model="uploadFile.members" md-autocomplete-snap
	              		md-require-match="true">
				      	<md-autocomplete
				          	md-selected-item="selectedItem"
				          	md-search-text="searchText"
				          	md-items="item in searchMember(searchText)"
				          	md-item-text="item.name"
				          	placeholder="Search for a member">
				        <span md-highlight-text="searchText">{{item.name}}</span>
				      	</md-autocomplete>
				      	<md-chip-template>
					        <span>
					          	<strong>{{$chip.name}}</strong>
					        </span>
				      	</md-chip-template>
				    </md-chips>
				</div> -->
				
				<div layout="row" layout-align="center center" class="assignees" layout-wrap>
					
					<span class="available-assignee">Assignee 1</span>
					<span class="available-assignee">Assignee 2</span>
					<span class="available-assignee">Assignee 3</span>
					<span class="selected-assignee">Assignee 4</span>
					<span class="available-assignee">Assignee 5</span>
					<span class="selected-assignee">Assignee 6</span>
					<span class="selected-assignee">Assignee 7</span>
					<span class="selected-assignee">Assignee 8</span>
					<span class="available-assignee">Assignee 9</span>
					<span class="available-assignee">Assignee 10</span>
					<span class="available-assignee">Assignee 11</span>
					<span class="available-assignee">Assignee 12</span>
					
				</div>
				
			</div>
		</md-dialog-content>
		
		<md-dialog-actions>
			<md-button ng-click="cancelNewFileModal()">Cancel</md-button>
			<md-button ng-click="createNewFile()" class="md-raised md-accent md-hue-1">Add File!</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>