<md-dialog aria-label="Create a New File" flex="70" id="newFileDialog">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Add a New File</h2>
			</div>
		</md-toolbar>
		
		<md-dialog-content>
			<div class="md-dialog-content" layout="column" layout-padding>
				<div layout="column" ng-show="step==1">
					<p class="md-body-2">Select An Event In List Below:</p>
					<div layout="row">
						<md-input-container flex>
							<label for="">Events List</label>
							<md-select ng-model="uploadFile.selectedEvent">
								<md-option ng-repeat="activity in activities" ng-show="!activity.isMilestone" ng-value="activity._id">{{activity.name}}</md-option>
							</md-select>
						</md-input-container>
					</div>
				</div>

				<div layout="column" ng-show="step==1">
					<p class="md-body-2">Select the document that you would like to upload:</p>
	                <div layout="row" layout-align="center center" class="tagcloud-selection">
	                    <input filepicker type="filepicker-dragdrop" data-fp-services="computer, DROPBOX, gmail, skydrive, GOOGLE_DRIVE" on-success="onSuccess(event.fpfile)" data-fp-multiple="false"/>
	                </div>
				</div>

                <div layout="column" ng-show="step==1">
                    <p class="md-body-2">Provide a name:</p>
                    <div layout="row">
                        <md-input-container flex="66" flex-offset="15">
                            <label>File Name</label>
                            <input type="text" name="versionName" ng-model="uploadFile.file.filename" required></input>
                        </md-input-container>
                    </div>
                </div>
				
				<div layout="column" ng-show="step==2">
					<p class="md-body-2">Select at least one tag that is relevant to this file:</p>
					
					<div layout="row" flex layout-align="center center" layout-wrap layout-padding>
						<md-checkbox class="filter-checkbox md-primary" ng-repeat="tag in tags" ng-click="selectChip($index, 'tag')">{{ tag.name }}</md-checkbox>
					</div>
				</div>
				
				<div layout="column" ng-show="step==2">
					<p class="md-body-2">Select the team members who are able to view this file:</p>
					
					<div layout="row" flex layout-align="center center" layout-wrap layout-padding>
						<md-checkbox flex="20" class="filter-checkbox md-primary" ng-repeat="member in projectMembers" ng-click="selectChip($index, 'member')">{{ (member._id) ? member.name : member.email }}</md-checkbox>
					</div>
				</div>
				
			</div>
		</md-dialog-content>
		
		<md-dialog-actions>
			<md-button ng-click="cancelNewFileModal()">Cancel</md-button>

			<md-button ng-click="step=step-1" ng-hide="step==1">Back</md-button>
            <md-button ng-click="next()" ng-hide="step==2">Next</md-button>

			<md-button ng-click="createNewFile()" ng-show="step==2" class="md-primary">Add File</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>