<md-dialog aria-label="Create a New File" flex="70" id="newFileDialog">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Add a New File</h2>
			</div>
		</md-toolbar>
		
		<md-dialog-content>
			<div class="md-dialog-content" layout="column" layout-padding>
				<div layout="column">
					<p class="md-body-2">Provide a name for this file:</p>
	                <div layout="row">
	                    <md-input-container flex="66" flex-offset="15">
					        <label>Name of this File</label>
							<input ng-model="uploadFile.name" required type="text" name="name"></input>
					    </md-input-container>
					</div>
				</div>
				
				<div layout="column">
					<p class="md-body-2">Provide a description for this file:</p>
	                <div layout="row">
	                    <md-input-container flex="66" flex-offset="15">
					        <label>Description of the File</label>
							<textarea name="description" ng-model="uploadFile.description" required md-maxlength="500" columns="1" rows="5"></textarea>
					    </md-input-container>
					</div>
				</div>
				
				<div layout="column">
					<p class="md-body-2">Select at least one tag that is relevant to this file:</p>
					<div layout="row" layout-align="center center" class="tagcloud-selection" layout-wrap>
						<span ng-click="selectChip($index, 'tag')" ng-class="{'available-tag':!tag.select, 'selected-tag': tag.select}" ng-repeat="tag in tags">{{tag.name}}</span>
					</div>
				</div>
				
				<div layout="column">
					<p class="md-body-2">Select the team members who are able to view this file:</p>
					<div layout="row" layout-align="center center" class="tagcloud-selection" layout-wrap>
						<span ng-click="selectChip($index, 'member')" ng-class="{'available-tag':!member.select, 'selected-tag': member.select}" ng-repeat="member in projectMembers">{{(member._id) ? member.name : member.email}}<md-icon ng-show="!member._id" class="material-icons non-user-chip cursor-help"><md-tooltip>File will be sent via email to this Team Member</md-tooltip>mail_outline</md-icon></span>
					</div>
				</div>
				
			</div>
		</md-dialog-content>
		
		<md-dialog-actions>
			<md-button ng-click="cancelNewFileModal()">Cancel</md-button>
			<md-button ng-click="createNewFile()" class="md-primary">Add File</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>