<div class="detail-header" layout-padding layout="column">
    <p class="md-headline">Documents</h3>
</div>

<md-list ng-cloak class="main-page-content">
    <div ng-repeat="document in tenderDocuments">
        
        <md-list-item class="md-2-line" md-ink-ripple>
            <div class="md-list-item-text m0-p0" ui-sref="tender.documents.detail({tenderId: tender._id, documentId: document._id})" layout="column">
                <h3>{{document.name}}</h3>
                <p>Description: {{document.description}}</p>
            </div>
            <div>
                <md-button ng-show="document.fileHistory.length > 0" class="md-secondary" ng-click="showViewFileModal($event, document)"><md-icon class="material-icons">remove_red_eye</md-icon><md-tooltip md-direction="down">View Document</md-tooltip></md-button>
            </div>
            <md-divider></md-divider>
        </md-list-item>
        
    </div>
    
</md-list>

<div>
    <md-fab-speed-dial ng-cloak md-open="false" md-direction="up" class="md-scale md-fab-bottom-right fab-list" ng-show="tender.owner._id==currentUser._id">
        <md-fab-trigger>
            <md-button ng-click="showModal($event, 'new-tender-document.html')" aria-label="Add a Document to this Tender" class="md-fab md-primary" style="background-color: #0D47A1">
                <md-tooltip md-direction="left">Add a Tender Document</md-tooltip>
                <md-icon class="material-icons" style="color: white">add</md-icon>
            </md-button>
        </md-fab-trigger>
    </md-fab-speed-dial>
</div>
