<div class="row">
  <div class="widget-container widget_login styled boxed" flex="40">
    <alert type="success" close="closeSuccess()" ng-show="success">Thank you for your submit, you can login now and enjoy yourself.</alert>
    <alert ng-repeat="(key, msg) in errors" type="danger" close="closeAlert(key)">{{msg}}</alert>
  </div>
  <div class="card collection">
    <form method="post" ng-submit="create()" flex="100" style="padding:10px;" name="createProjectForm">
      <h3>New project</h3>
        <div layout layout-sm="column">
            <div input-field>
              <label>Name </label>
              <input ng-model="project.name" required type="text">
            </div>
        </div>
        <div layout layout-sm="column">
            <div input-field>
              <label>Address </label>
              <input ng-model="project.location.address" required type="text">
            </div>
        </div>
        <div layout layout-sm="column">
            <div input-field>
              <label>Suburb </label>
              <input ng-model="project.location.suburb" required type="text">
            </div>
        </div>
        <div layout layout-sm="column">
            <div input-field>
              <label>Postcode </label>
              <input ng-model="project.location.postcode" required type="text">
            </div>
        </div>
        <div layout layout-sm="column">
            <div input-field>
              <label>Description </label>
              <input ng-model="project.description" required type="text">
            </div>
        </div>
        <div layout="column">
          <div input-field>
            <label for="">Client email and phone number( each email or phone number seperated by comma (,) )</label>
            <input type="text" ng-model="project.requestedHomeBuilders" required>
          </div>
          <!-- <md-content class="md-padding" layout="column">
            <p>Client email and phone number </p>

            <md-chips ng-model="project.requestedHomeBuilders">
            <md-chip-template>
              <strong>{{$chip}}</strong>
            </md-chip-template>
          </md-chips>
          </md-content> -->
        </div>
        <div layout layout-sm="column">
            <div input-field>
                <p>Project Subscription of $50 per Month </p>
                <p>Credit Card Number (Field to be invalid)  </p>

                <p>NOTE: This project is Free as we are currently running in Beta.  </p>
            </div>
        </div>
        <div layout layout-sm="column">
            <button class="waves-effect waves-light btn" ng-disabled="createProjectForm.$invalid">Create project</button>
        </div>
        
    </form>
  </div>
</div>
<md-content layout-padding class="formProject">
    <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
      <alert type="success" close="closeSuccess()" ng-show="success">Thank you for your submit, you can login now and enjoy yourself.</alert>
      <alert ng-repeat="(key, msg) in errors" type="danger" close="closeAlert(key)">{{msg}}</alert>
        
            
        </form>
    </md-whiteframe>
</md-content>
