<div class="modal modal-fixed-footer" id="createProject">
    <form method="post" name="form" ng-submit="create(form)"  novalidate>
        <div class="modal-content">
            <h4>Create a New Project:</h4>
            <div class="row">
                <div class="input-field col s12">

                    <label>Project Name</label>
                    <input id="newProjName" name="name" ng-model="project.name" required type="text"
                           ng-class="{'invalid' : form.name.$invalid && submitted}">
                    <p class="validate-message" ng-if=" form.name.$error.required && submitted">A project name is required...</p>

                </div>
            </div>
            <div clas="row">
                <div class="input-field col s12">
                    <label>Project Description </label>
                    <input id="newProjDesc" name="description" ng-model="project.description" required type="text"
                           ng-class="{'invalid' : form.description.$invalid && submitted}">
                    <p class="validate-message" ng-if=" form.description.$error.required && submitted">Please provide a description for this project...</p>
                </div>
            </div>
            <div clas="row">
                <div class="input-field col s12">
                    <label>Project Street Address</label>
                    <input id="newProjAddress" ng-model="project.package.location.address" type="text">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label>Project Suburb</label>
                    <input id="newProjSub" ng-model="project.package.location.suburb" type="text">
                </div>
                <div class="input-field col s6">
                    <label>Project Postcode</label>
                    <input id="newProjPostcode" ng-model="project.package.location.postcode" type="text">
                </div>
            </div>

            <div id="determinePM">
                <div class="row">
                    <div id="roleProject" class="col input-field">
                        <p><strong>What is your role in this Project?</strong></p>
                        <div class="col"><input id="1" type="radio" ng-model="ownerUserType" name="ownerType" value="homeOwner" ng-click="selectedOwnerUserType(ownerUserType)"/>
                            <label for="1">I am the Home Owner</label>
                        </div>
                        <div class="col">
                            <input id="2" type="radio" ng-model="ownerUserType" name="ownerType" value="architect" ng-click="selectedOwnerUserType(ownerUserType)"/>
                            <label for="2">I am the Designer/Architect</label>
                        </div>
                        <div class="col">
                            <input id="3" type="radio" ng-model="ownerUserType" name="ownerType" value="builder" ng-click="selectedOwnerUserType(ownerUserType)"/>
                            <label for="3">I am the Builder</label>
                        </div>
                    </div>
                </div>

                <!-- home owner selected -->
                <div class="row">
                    <div class="input-field col" ng-if="project.selectedOwnerUserType == 'homeOwner'"  id="roleHomeOwner">
                        <p><strong>Will you be hiring an Architect to manage the construction?</strong></p>
                        <div class="col">
                            <input id="yes" type="radio" ng-model="project.homeOwnerHireArchitect" name="homeOwnerHireArchitect" value="true" checked="true"/>
                            <label for="yes">Yes, I am hiring an architect.</label>
                        </div>
                        <div class="col">
                            <input id="no" type="radio" name="homeOwnerHireArchitect" ng-model="project.homeOwnerHireArchitect" value="false"/>
                            <label for="no">No, I will be managing this project.</label>
                        </div><br>

                        <div class="input-field col s12" style="margin-top: 40px; margin-left: -12px" ng-if="project.homeOwnerHireArchitect == 'true'" id="homeOwnerCollectArchEmail">
                            <p><strong>What is your Architect's Email address?</strong></p>
                            <input type="email" ng-model="project.architectEmail" name="architectEmail" ng-class="{'invalid' : form.architectEmail.$invalid && submitted}">
                        </div>

                        <div class="row">
                            <div class="input-field col" style="margin-top:40px; margin-left: -12px" ng-if="project.homeOwnerHireArchitect == 'false'" id="isHomeOwnerPM">
                                <p><strong>Will the Builder be overseeing the design?</strong></p>
                                <div class="col">
                                    <input id="homeOwnerAssignBuilder-yes" type="radio" ng-model="project.homeOwnerAssignBuilder" name="homeOwnerAssignBuilder" value="true" checked="true"/>
                                    <label for="homeOwnerAssignBuilder-yes">Yes, they will be responsible for the design.</label>
                                </div>
                                <div class="col">
                                    <input id="homeOwnerAssignBuilder-no" type="radio" name="homeOwnerAssignBuilder" ng-model="project.homeOwnerAssignBuilder" value="false"/>
                                    <label for="homeOwnerAssignBuilder-no">No, I am managing the design myself.</label>
                                </div>

                                <div class="input-field col s12"  style="margin-top: 40px; margin-left: -12px" ng-if="project.homeOwnerAssignBuilder == 'true'" id="homeOwnerCollectBuilderEmail">
                                    <p><strong>What is your Builder's Email address?</strong></p>
                                    <input type="email" ng-model="project.builderEmail" name="builderEmail" ng-class="{'invalid' : form.builderEmail.$invalid && submitted}">
                                </div>

                            </div>
                        </div>

                    </div>
                </div>




                <!-- architect selected -->
                <div class="row">
                    <div class="input-field col" style="margin-top:-5px" ng-show="project.selectedOwnerUserType == 'architect'" id="roleArchitect">
                        <p><strong>Will you be managing this project during construction?</strong></p>
                        <div class="col">
                            <input id="architectManagerHisProject-yes" type="radio" ng-model="project.architectManagerHisProject" name="architectManagerHisProject" value="true" checked="true"/>
                            <label for="architectManagerHisProject-yes">Yes, we will be acting as project managers.</label>
                        </div>
                        <div class="col">
                            <input id="architectManagerHisProject-no" type="radio" name="architectManagerHisProject" ng-model="project.architectManagerHisProject" value="false"/>
                            <label for="architectManagerHisProject-no">No, the home owner will be responsible for this.</label>
                        </div>

                        <div class="row">
                            <div class="input-field col" style="margin-top: 40px; margin-left:-12px" ng-if="project.architectManagerHisProject == 'false'">
                                <p><strong>Have you been contracted by the home owner or the builder?</strong></p>
                                <div class="col">
                                    <input id="haveContracted-yes" type="radio" ng-model="project.haveContracted" name="haveContracted" value="true" checked="true"/>
                                    <label for="haveContracted-yes">The Home Owner hired us directly.</label>
                                </div>
                                <div class="col">
                                    <input id="haveContracted-no" type="radio" name="haveContracted" ng-model="project.haveContracted" value="false"/>
                                    <label for="haveContracted-no">The Builder has hired us on behalf of the Home Owner.</label>
                                </div>

                                <div class="input-field col s12" style="margin-top: 40px; margin-left: -12px" ng-if="project.haveContracted == 'true'" id="archCollectHomeOwnerEmail">
                                    <p><strong>What is your Client's Email address?</strong></p>
                                    <input type="email" ng-model="project.homeOwnerEmail" name="homeOwnerEmail" ng-class="{'invalid' : form.homeOwnerEmail.$invalid && submitted}">
                                </div>
                                <div class="input-field col s12" style="margin-top: 40px; margin-left: -12px" ng-if="project.haveContracted == 'false'" id="archCollectBuilderEmail">
                                    <p><strong>What is your Builder's Email address?</strong></p>
                                    <input type="email" ng-model="project.builderEmail" name="builderEmail" ng-class="{'invalid' : form.builderEmail.$invalid && submitted}">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- builder selected -->
                <div class="row">
                    <div class="input-field col" style="margin-top: -25px;" ng-show="project.selectedOwnerUserType == 'builder'" id="roleBuilder">
                        <p><strong>Is an architect managing this project during construction?</strong></p>
                        <div class="col">
                            <input id="builderHireArchitect-yes" type="radio" ng-model="project.builderHireArchitect" name="builderHireArchitect" value="true" checked="true"/>
                            <label for="builderHireArchitect-yes">Yes, an Architect is responsible for project managing this build.</label>
                        </div>
                        <div class="col">
                            <input id="builderHireArchitect-no" type="radio" name="builderHireArchitect" ng-model="project.builderHireArchitect" value="false"/>
                            <label for="builderHireArchitect-no">No, we will be working directly with the Home Owner.</label>
                        </div>
                        <div class="input-field col s12" style="margin-top: 40px; margin-left: -12px" ng-if="project.builderHireArchitect == 'true'" id="builderCollectArchEmail">
                            <p><strong>What is the Architect's Email address?</strong></p>
                            <input type="email" ng-model="project.architectEmail" name="architectEmail" ng-class="{'invalid' : form.architectEmail.$invalid && submitted}">
                        </div>

                        <div class="row">
                            <div class="input-field col" style="margin-top: 40px; margin-left:-12px" ng-if="project.builderHireArchitect == 'false'">
                                <p><strong>Will you be managing the design for this project?</strong></p>
                                <div class="col">
                                    <input id="builderAssignHomeOwner-yes" type="radio" ng-model="project.builderAssignHomeOwner" name="builderAssignHomeOwner" value="true" checked="true"/>
                                    <label for="builderAssignHomeOwner-yes">Yes, the Home Owner has asked us to produce the design as well.</label>
                                </div>
                                <div class="col">
                                    <input id="builderAssignHomeOwner-no" type="radio" name="builderAssignHomeOwner" ng-model="project.builderAssignHomeOwner" value="false"/>
                                    <label for="builderAssignHomeOwner-no">No, the Home Owner has sourced the design themselves.</label>
                                </div>
                                <div class="input-field col s12" style="margin-top:40px; margin-left: -12px" ng-if="project.builderAssignHomeOwner == 'false'" id="builderCollectHomeOwnerEmail">
                                    <p><strong>What is Home Owner's Email address?</strong></p>
                                    <input type="email" ng-model="project.homeOwnerEmail" name="homeOwnerEmail" ng-class="{'invalid' : form.homeOwnerEmail.$invalid && submitted}">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button id="newProjSubmit" class="waves-effect waves-light btn modal-action">Create project</button>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
        </div>
    </form>
</div>

<script type="text/ng-template" id="/my-custom-template.html">
  <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
    <input ng-model="searchStr"
           id="email"
           ng-disabled="disableInput"
           type="text"
           placeholder="{{placeholder}}"
           ng-focus="onFocusHandler()"
           class="{{inputClass}}"
           ng-focus="resetHideResults()"
           ng-blur="hideResults($event)"

           autocapitalize="off"
           autocorrect="off"
           autocomplete="off"
           ng-change="inputChangeHandler(searchStr)"/>

    <div class="angucomplete-dropdown col s12" ng-show="showDropdown">
      <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
      <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
      <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
        <div ng-if="imageField" class="angucomplete-image-holder">
          <img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="angucomplete-image"/>
          <div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
        </div>
        <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
        <div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
        <div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
        <div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div>
      </div>

    </div>
  </div>
</script>

