<div class="main-content container" style="margin-top:50px;">
  <div class="row">
    <div class="col-sm-12">
      <!-- sign-up form -->
      <div class="add-comment contact-form boxed">
        <alert type="success" close="closeSuccess()" ng-show="success">Thank you for your submit, you can login now and enjoy yourself.</alert>
        <alert ng-repeat="(key, msg) in errors" type="danger" close="closeAlert(key)">
          {{msg.email.message}}
        </alert>
        <h3>Create account</h3>
        <form method="post" ng-submit="signup()" name="signupForm">
<!--          <div class="row">
            <div input-field class="col s6">
              <label>First name</label>
              <input type="text" ng-model="user.firstName" required>
            </div>
            <div input-field class="col s6">
              <label>Last Name</label>
              <input type="text" ng-model="user.lastName" required>
            </div>
          </div>
          <div class="row">
            <div input-field class="col s6">
              <label>Display name</label>
              <input type="text" ng-model="user.displayName">
            </div>
            <div input-field class="col s6">
              <label>Website</label>
              <input type="text" ng-model="user.website">
            </div>
          </div>-->
          <div class="row">
            <div input-field class="col s12">
              <label>Email</label>
              <input type="email" ng-model="user.email" required>
            </div>
          </div>
<!--          <div class="row">
            <div input-field class="col s12">
              <select material-select ng-model="user.type" required>
                <option value="homeOwner">Home owner</option>
                <option value="contractor">Contractor</option>
                <option value="buider">Buider</option>
                <option value="supplier">Supplier</option>
              </select>
            </div>
          </div>-->
          <div class="row">
            <div input-field class="col s12">
              <label>Password</label>
              <input ng-model="user.password" required type="password">
            </div>
          </div>
<!--          <div class="row">
            <div>
              <input type="checkbox" ng-model="user.allowNewsletter" />
              <label>Receive news about new, trending and updated packages including site related news.</label>
            </div>
          </div>-->
          <div class="row">
            <button class="waves-effect waves-light btn" ng-disabled="signupForm.$invalid">Sign up</button>
          </div>
        </form>
      </div>
      <!--/ contact form -->
    </div>

    <!-- right sidebar -->
    <!-- <div class="col-sm-4">
      <div ng-include="'/app/partials/right-sidebar-no-login.html'"></div>
    </div> -->
  </div><!--/.row-->
</div>