<div class="col s12">
    <table ng-table="tableParams" class="table">
        <tr ng-repeat="package in $data">
            <td data-title="'#'">
                {{$index + 1}}
            </td>
            <td data-title="'Name'" sortable="'name'">
                {{package.name}}
            </td>
            <td data-title="'Status'" sortable="'status'">
                {{(package.isCompleted) ? "Completed" : "Not complete"}}
            </td>
            <td data-title="'Threads'" sortable="'threads'">
                <a ui-sref="chatThreadsBackend.list({packageId: package._id, type: package.type})">{{package.threads}}</a>
            </td>
            <td data-title="'Documents'" sortable="'documents'">
                <a ui-sref="documentBackend.list({packageId: package._id, type: package.type})">{{package.documents}}</a>
            </td>
            <td data-title="'Tasks'" sortable="'tasks'">
                <a ui-sref="taskBackend.list({packageId: package._id, type: package.type})">{{package.tasks}}</a>
            </td>
            <td data-title="'Action'">
                <i class="material-icons" ng-click="remove(package)" style="color:#03A9F4">remove</i>
            </td>
        </tr>
    </table>
</div>