node_modules
public
.tmp
.idea
client/bower_components
client/dist
client/temp
dist
server/config/local.env.js
nbproject
docker.log
/client/media/file
/client/media/files
/server/config/environment/development.js
/client/media/img
