<md-dialog aria-label="Create a New Tender" flex="70" id="newTenderDialog">
	<form ng-submit="inviteNewTeamMember(form)" name="form">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Create a New Tender</h2>
			</div>
		</md-toolbar>
		
		<md-dialog-content>
			<div class="md-dialog-content" layout="column" layout-padding>
				
				<div layout="column">
					<p class="md-body-2">Select the type of tender from the list:</p>
					<md-input-container>
						<md-radio-group ng-model="invite.type" layout="row" layout-align="center center" md-autofocus>
							<md-radio-button ng-repeat="type in availableUserType" ng-value="type.value" aria-label="{{type.text}}">
								{{type.text}}
							</md-radio-button>
						</md-radio-group>
					</md-input-container>
				</div>
				
				<div layout="column">
					<p class="md-body-2">Give the new tender a descriptive name:</p>
					<div layout="row">
						<md-input-container flex-offset="15" flex="66">
							<label for="">Tender Name</label>
							<input type="text" name="name" ng-model="invite.tenderName" required>
						</md-input-container>
					</div>
				</div>
				
				<div layout="column">
					<p class="md-body-2">Provide a description for what the tender should include:</p>
					<div layout="row">
						<md-input-container flex-offset="15" flex="66">
							<label for="">Scope of Works</label>
							<textarea ng-model="invite.tenderDescription" md-maxlength="250" rows="5" required></textarea>
						</md-input-container>
					</div>
				</div>
				
				<div layout="column">
					<p class="md-body-2">Set a due date for the tender, and attach any relevant file:</p>
					<div layout="row" class="tagcloud-selection" layout-align="center center">
						
	                    <md-datepicker ng-model="invite.dateEnd" md-min-date="minDate" md-placeholder="Tender Due Date" style="margin-right: 5vh"></md-datepicker>
	                    <input filepicker style="margin-left: 5vh" class="filepicker-button" type="filepicker-dragdrop" data-fp-services="computer, DROPBOX, gmail, skydrive, GOOGLE_DRIVE" on-success="onSuccess(event.fpfile)" data-fp-multiple="false" />
						
					</div> 
				</div>
				
			</div>
		</md-dialog-content>
		
		<md-dialog-actions>
			<md-button ng-click="cancelNewTenderModal()">Cancel</md-button>
			<md-button type="submit" class="md-primary">Create Tender</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>