<md-dialog aria-label="Create a New Tender" flex="70">
	<form ng-submit="inviteNewTeamMember(form)" name="form">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Create a New Tender</h2>
			</div>
		</md-toolbar>
		
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				
				<div layout="column" layout-margin>
					<p class="md-body-2">Who would you like to invite?</p>
					<md-input-container>
						<md-radio-group ng-model="invite.type" layout="row">
							<md-radio-button ng-repeat="type in availableUserType" ng-value="type.value" aria-label="{{type.text}}">
								{{type.text}}
							</md-radio-button>
						</md-radio-group>
					</md-input-container>
				</div>
				
				<div layout="column" layout-margin>
					
					<div layout="row">
						<md-input-container flex>
							<label for="">Tender Name</label>
							<input type="text" name="name" ng-model="invite.tenderName" required md-autofocus>
						</md-input-container>
						
						<div style="margin-top: 1.5vh">
		                    <md-datepicker  ng-model="invite.dateEnd" md-min-date="minDate" md-placeholder="Tender Due Date">
		                    </md-datepicker>
						</div>
					</div>
					
					<md-input-container flex>
						<label for="">Scope of Works</label>
						<textarea ng-model="invite.tenderDescription" md-maxlength="250" rows="5" required></textarea>
					</md-input-container>
					
	                <div layout="row" layout-align="center center">
	                    <input filepicker class="filepicker-button" type="filepicker-dragdrop" data-fp-services="computer, DROPBOX, gmail, skydrive, GOOGLE_DRIVE" on-success="onSuccess(event.fpfile)" data-fp-multiple="false" />
	                </div>
				</div>
				
			</div>
		</md-dialog-content>
		
		<md-dialog-actions>
			<md-button ng-click="cancelNewTenderModal()">Cancel</md-button>
			<md-button type="submit">Create Tender</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>