<div class="col s3">
   <a ng-if="team.type == 'buider'" class="dropdown-button btn-large col s12" href="#!" data-activates="createNew" dropdown data-gutter="15" style="margin-top: 8px; margin-bottom: 15px">Create New</a>
		<ul id="createNew" class="dropdown-content" style="margin-top: 15px">
		  <li><a class="modal-trigger" href="#newMaterialPackage">Material Package</a></li>
    	  <li><div class="divider"></div></li>
    	  <li><a class="modal-trigger" href="#newContractorPackage">Contractor Package</a></li>
		  <li><a class="modal-trigger" href="#newWorkPackage">Work Package</a></li>
		</ul>
   
   <div class="collection">
           <a ng-click="getMaterialPackageInProcessByProject(); showMaterialInProcess = true; hideMaterial = true; showMaterialInTender = false" class="collection-item">In Progress<span class="new badge">{{materialPackagesInProcess.length}}</span></a>
           <a ng-click="getMaterialPackageTenderByProject(); showMaterialInTender = true; hideMaterial = true; showMaterialInProcess = false" class="collection-item">In Tender<span class="new badge">{{materialPackagesInTender.length}}</span></a>
		   <a href="#!" class="collection-item">Completed</a>
   </div>
</div>

<div class="col s9">
   <ul class="collection z-depth-1">
    <li class="collection-item" ng-if="team.type == 'buider'" ng-hide="hideMaterial" ng-repeat="material in materials">
      <span ng-if="material.status == false">
        <a ui-sref='materialRequest.materialPackageInProcess({id: material.project, packageId: material._id})'>#{{$index + 1}} -  {{material.name}}</a>
      </span>
      <span ng-if="material.status == true">
        <a ui-sref='materialRequest.viewmaterialRequest({id: material.project, packageId: material._id})'>#{{$index + 1}} -  {{material.name}}</a>
      </span>
    </li>
    <li class="collection-item" ng-if="team.type == 'supplier'" ng-hide="hideMaterial" ng-repeat="material in materials">
      <span ng-if="material.status == false">
        <a ui-sref='materialRequest.materialPackageInProcess({id: material.project, packageId: material._id})'>#{{$index + 1}} -  {{material.name}}</a>
      </span>
      <span ng-if="material.status == true">
        <a ui-sref='materialRequest.sendQuote({id: material.project, packageId: material._id})'>#{{$index + 1}} -  {{material.name}}</a>
      </span>
    </li>

    <li class="collection-item" ng-hide="hideMaterial" ng-repeat="materialPackage in materialPackages">#{{$index + 1}} -  {{materialPackage.name}}</li>
    <li class="collection-item" ng-show="showMaterialInTender" ng-repeat="materialPackage in materialPackagesInTender">
      <a ng-if="team.type == 'buider'" ui-sref='materialRequest.viewmaterialRequest({id: materialPackage.project, packageId: materialPackage._id})'>#{{$index + 1}} -  {{materialPackage.name}}</a>
      <a ng-if="team.type == 'supplier'" ui-sref='materialRequest.sendQuote({id: materialPackage.project, packageId: materialPackage._id})'>#{{$index + 1}} -  {{materialPackage.name}}</a>
    </li>
    <li class="collection-item" ng-show="showMaterialInProcess" ng-repeat="materialPackage in materialPackagesInProcess">
      <a ui-sref='materialRequest.materialPackageInProcess({id: materialPackage.project, packageId: materialPackage._id})'>#{{$index + 1}} -  {{materialPackage.name}}</a>
    </li>
   </ul>
</div>

<div id="newContractorPackage" class="modal modal-fixed-footer">
    <div class="modal-content">
        <form>
             <div class="row">
                 <div class="col s12">
                     <h5>New Contractor Package for Project Name</h5>
                 </div>
             </div>
             <div class="row">
                 <div class="input-field col s12">
                     <input id="project_name" type="text" class="validate">
                     <label for="project_name">Contractor Package Title</label>
                 </div>
             </div>
             <div class="row">
                 <div class="input-field col s6">
                     <select>
                       <option value="" disabled selected>Category</option>
                       <option value="1">Option 1</option>
                       <option value="2">Option 2</option>
                       <option value="3">Option 3</option>
                     </select>
                     <label>Category</label>
                 </div>
                 <div class="input-field col s6">
                      <label for="date_required" class="active">Date Required</label>
                      <input type="date" id="date_required">
                 </div>
             </div>
             <div class="row">
                 <div class="input-field col s12">
                      <textarea id="contractor_scope" class="materialize-textarea"></textarea>
                      <label for="contractor_scope">Scope of Work Required</label>
                 </div>
             </div>
             
             <div class="row">
                 <div class="col s12">
                    <ul class="collection z-depth-1">
                      <li class="collection-item vlalign-wrapper">
                          <div class="row form" style="margin-bottom: 0px">
                              <div class="col s12"><p>Enter tradesmen's details below:</p></div>
                              <div class="input-field col s7">
                                    <input id="email_address" type="text" class="validate">
                                    <label for="email_address">Email</label>
                              </div>
                              <div class="input-field col s3">
                                    <input id="phone_number" type="text" class="validate">
                                    <label for="phone_number">Phone Number</label>
                              </div>
                              <div class="valign col s2">
                                  <button class="btn" type="submit" name="action" style="margin-top: 28px">Add</button>
                              </div>
                          </div>
                      </li>
                      <li class="collection-item vlalign"><div class="row" style="margin-bottom: 0px"><div class="col s7">someone@somedomain.com.au</div><div class="col s3">Phone Number</div><div class="col s2"><button class="btn-flat btn-flat">Remove</button></div></div></li>
                      <li class="collection-item vlalign"><div class="row" style="margin-bottom: 0px"><div class="col s7">someone@somedomain.com.au</div><div class="col s3">Phone Number</div><div class="col s2"><button class="btn-flat btn-flat">Remove</button></div></div></li>
                    </ul>
                 </div>
             </div>
             
         </form>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
         <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Create Package!</a>
         <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
    </div>
</div>

<div id="newMaterialPackage" class="modal modal-fixed-footer">
    <div class="modal-content">
        <form method="post" ng-submit="createMaterialPackage()" name="createMaterialPackageForm">
             <div class="row">
                 <div class="col s12">
                     <h5>New Material Package for Project Name</h5>
                 </div>
             </div>
             <div class="row">
                 <div class="input-field col s8">
                     <input id="project_name" type="text" class="validate" required ng-model="material.name">
                     <label for="project_name">Material Package Title</label>
                 </div>
                 <div class="input-field col s4">
                      <label for="date_required" class="active">Date Required</label>
                      <input input-date 
                        ng-model="material.dateStart"
                        type="text"
                        name="created"
                        id="inputCreated"
                        ng-model="currentTime"
                        container="body"
                        format="mm/dd/yyyy"
                        months-full="{{ month }}"
                        months-short="{{ monthShort }}"
                        weekdays-full="{{ weekdaysFull }}"
                        weekdays-short="{{ weekdaysShort }}"
                        weekdays-letter="{{ weekdaysLetter }}"
                        today="today"
                        clear="clear"
                        close="close"
                        on-start="onStart()"
                        on-render="onRender()"
                        on-open="onOpen()"
                        on-close="onClose()"
                        on-set="onSet()"
                        on-stop="onStop()" />
                 </div>
             </div>
             <div class="row">
                 <div class="col s12">
                    <ul class="collection z-depth-1">
                      <li class="collection-item vlalign-wrapper">
                          <div class="row form" style="margin-bottom: 0px">
                              <div class="col s12"><p>Enter materials required below:</p></div>
                              <div class="input-field col s7">
                                     <textarea id="description" class="materialize-textarea" ng-model="description"></textarea>
                                     <label for="description">Description</label>
                              </div>
                              <div class="input-field col s3" style="margin-top: 67px">
                                    <input id="quantity" type="text" class="validate" ng-model="quantity">
                                    <label for="quantity">Quantity</label>
                              </div>
                              <div class="valign col s2">
                                <a name="action" class="btn" style="margin-top:78px;" ng-click="addNewRequire()">Add</a>
                              </div>
                          </div>
                      </li>
                      <li class="collection-item vlalign" ng-repeat="requirement in requirements">
                        <div class="row" style="margin-bottom: 0px">
                          <div class="col s7">{{requirement.description}}</div>
                          <div class="col s3">{{requirement.quantity}}</div>
                          <div class="col s2"><button class="btn-flat btn-flat">Remove</button></div>
                        </div>
                      </li>
                    </ul>
                 </div>
             </div>
             
             <div class="row">
                 <div class="col s12">
                    <ul class="collection z-depth-1">
                      <li class="collection-item vlalign-wrapper">
                          <div class="row form" style="margin-bottom: 0px">
                              <div class="col s12"><p>Enter supplier details below:</p></div>
                              <div class="input-field col s7">
                                    <angucomplete-alt id="ex1"
                                      pause="100"
                                      selected-object="member.email"
                                      local-data="supplierTeamMember"
                                      search-fields="email"
                                      title-field="email"
                                      minlength="1"
                                      input-changed="inputChanged"
                                      template-url="/my-custom-template.html"
                                      input-class="col s12"></angucomplete-alt>
                              </div>
                              <div class="input-field col s3">
                                    <input id="phone_number" type="text" class="validate" ng-model="newPhoneNumber">
                                    <label for="phone_number">Phone Number</label>
                              </div>
                              <div class="valign col s2">
                                <a name="action" class="btn" style="margin-top:28px;" ng-click="addNewSupplier()">Add</a>
                              </div>
                          </div>
                      </li>
                      <li class="collection-item vlalign" ng-repeat="emailPhone in member.emailsPhone">
                        <div class="row" style="margin-bottom: 0px">
                          <div class="col s7">{{emailPhone.email}}</div>
                          <div class="col s3">{{emailPhone.phoneNumber}}</div>
                          <div class="col s2"><button class="btn-flat btn-flat">Remove</button></div>
                        </div>
                      </li>
                    </ul>
                 </div>
             </div>
             
             <div class="divider"></div>
              <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-green btn-flat">Create Package!</button>
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
              </div>
         </form>
    </div>
</div>

<div id="newWorkPackage" class="modal modal-fixed-footer">
    <div class="modal-content">
        <form>
             <div class="row">
                 <div class="col s12">
                     <h5>New Work Package for Project Name</h5>
                 </div>
             </div>
             <div class="row">
                 <div class="input-field col s8">
                     <input id="package_name" type="text" class="validate">
                     <label for="package_name">Work Package Title</label>
                 </div>
                 <div class="input-field col s4">
                      <label for="commencement_date" class="active">Commencement Date</label>
                      <input type="date" id="commencement_date">
                 </div>
             </div>
             
             <div class="row">
                 <div class="col s12">
                    <ul class="collection z-depth-1">
                      <li class="collection-item vlalign-wrapper">
                          <div class="row form" style="margin-bottom: 0px">
                              <div class="col s12"><p>Enter work descriptions below:</p></div>
                              <div class="input-field col s10">
                                     <textarea id="description" class="materialize-textarea"></textarea>
                                     <label for="description">Description</label>
                              </div>
                              <div class="valign col s2">
                                  <button class="btn" type="submit" name="action" style="margin-top: 78px">Add</button>
                              </div>
                          </div>
                      </li>
                      <li class="collection-item vlalign"><div class="row" style="margin-bottom: 0px"><div class="col s10"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p></div><div class="col s2"><button class="btn-flat btn-flat">Remove</button></div></div></li>
                      <li class="collection-item vlalign"><div class="row" style="margin-bottom: 0px"><div class="col s10"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p></div><div class="col s2"><button class="btn-flat btn-flat">Remove</button></div></div></li>
                    </ul>
                 </div>
             </div>
             
             <div class="row">
                 <div class="col s12">
                     <div class="card-panel">
                         <div class="chips">
                            <p class="col s12">Assigned To:</p>
                            <div class="chips-head row">
                                <div class="card col" style="padding: 5px; margin-left: 10px">
                                    Megan Smith <span><a href="#"><i class="mdi-navigation-cancel" style="margin-left: 5px"></i></a></span>
                                </div>
                                <div class="card col" style="padding: 5px; margin-left: 10px">
                                    Tsvetko Metzger <span><a href="#"><i class="mdi-navigation-cancel" style="margin-left: 5px"></i></a></span>
                                </div>
                                <div class="card col" style="padding: 5px; margin-left: 10px">
                                    Hector Simek <span><a href="#"><i class="mdi-navigation-cancel" style="margin-left: 5px"></i></a></span>
                                </div>
                            </div>
                            <p class="col s12">Available Contacts</p>
                            <div class="row">
                                <div class="chips-contact col s2" style="padding: 5px; margin-left: 10px">
                                    <div class="chips-title">Marina Augustine</div>
                                    <div class="chips-text">m.augustine@example.com</div>
                                </div>
                                <div class="chips-contact col s2" style="padding: 5px; margin-left: 10px">
                                    <div class="chips-title">Nick Giannopoulos</div>
                                    <div class="chips-text">n.giannopoulos@example.com</div>
                                </div>
                                <div class="chips-contact col s2" style="padding: 5px; margin-left: 10px">
                                    <div class="chips-title">Narayana Garner</div>
                                    <div class="chips-text">n.garner@example.com</div>
                                </div>
                                <div class="chips-contact col s2" style="padding: 5px; margin-left: 10px">
                                    <div class="chips-title">Anita Gros</div>
                                    <div class="chips-text">a.gros@example.com</div>
                                </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             
         </form>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
         <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Create Package!</a>
         <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
    </div>
</div>

<script type="text/ng-template" id="/my-custom-template.html">
  <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
    <input ng-model="searchStr"
           id="email"
           ng-disabled="disableInput"
           type="text"
           placeholder="{{placeholder}}"
           ng-focus="onFocusHandler()"
           class="{{inputClass}}"
           ng-focus="resetHideResults()"
           ng-blur="hideResults($event)"

           autocapitalize="off"
           autocorrect="off"
           autocomplete="off"
           ng-change="inputChangeHandler(searchStr)"/>
    <label for="email">Email</label>
    <div class="angucomplete-dropdown col s12" ng-show="showDropdown">
      <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
      <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
      <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
        <div ng-if="imageField" class="angucomplete-image-holder">
          <img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="angucomplete-image"/>
          <div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
        </div>
        <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
        <div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
        <div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
        <div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div>
      </div>

    </div>
  </div>
</script> 