<div class="detail-header" layout-padding layout="column">
	
	<div layout="column" layout-padding>
		
		<div layout="row">
			<md-input-container flex="50">
				<label for="">Task Description</label>
				<input type="text" name="taskDescription" ng-model="description" md-autofocus>
			</md-input-container>
			
			<div flex="50" layout="row" layout-align="center center">
				<span class="md-body-2" style="margin-top: -2vh">Assigned:</span>
				<div class="tagcloud" style="margin-top: -2vh; margin-left: 2vh">
					<span ng-repeat="tag in assignStatus" ng-class="{'available-tag': !tag.select, 'selected-tag': tag.select}" ng-click="selectFilterTag($index, 'status')">{{tag.text}}</span>
				</div>
			</div>
			
		</div>
		
		<div layout="row">
			<div flex layout="row" layout-align="center center">
				<span class="md-body-2" style="margin-top: -2vh">Due:</span>
				<div class="tagcloud" style="margin-top: -2vh; margin-left: 2vh">
					<span ng-repeat="tag in dueDate" ng-class="{'available-tag': !tag.select, 'selected-tag': tag.select}" ng-click="selectFilterTag($index, 'dueDate')">{{tag.text}}</span>
				</div>
				<div style="margin-top: -2.5vh">
                    <md-datepicker  ng-model="dateEnd" ng-change="selectDueDate(dateEnd)" md-placeholder="Select due date">
                    </md-datepicker>
				</div>
				<div class="tagcloud" style="margin-top: -2vh; margin-left: 8vh">
					<span ng-class="{'available-tag': !showCompletedTask, 'selected-tag': showCompletedTask}" ng-click="showCompletedTask=!showCompletedTask">Show Completed Tasks</span>
				</div>
			</div>
		</div>
		
	</div>
</div>

<md-list ng-cloak class="main-page-content" layout="column" flex>

	<div ng-repeat="task in tasks | filter: search track by $index">
		
		<md-list-item class="md-2-line" md-ink-ripple layout-padding>
	
			<div ui-sref="project.tasks.detail({id: task.project, taskId: task._id})" class="md-list-item-text">
				
				<h3 class="md-display-1" style="margin-top: 15px; margin-bottom: 5px">
					<strong ng-show="!task.completed">{{ task.description }}</strong> <span ng-show="task.completed">{{task.description}}</span> [Due {{(task.element.due) ? task.element.due : task.dateEnd | date: 'dd/MM/yyyy'}}]
				</h3>
				<p><span ng-repeat="member in task.members track by $index">{{member.name}}, </span><span ng-repeat="member in task.notMembers track by $index">{{member}}, </span></p>
	          	<span ng-show="task.element.notificationType">{{(task.element.notificationBy._id==currentUser._id) ? "You" : task.element.notificationBy.name}} has 
	          		<span ng-show="task.element.notificationType=='task-assign'"> assigned you to this task</span>
	          		<span ng-show="task.element.notificationType=='task-completed'"> mark this task as completed</span>
	          		<span ng-show="task.element.notificationType=='task-reopend'"> reopened this task</span>
	          		<span ng-show="task.element.notificationType=='task-new-note'"> created new note</span>
	          	</span><span ng-show="task.element.notificationBy && task.__v - 1 > 0">... +{{task.__v - 1}} More</span>
			</div>
			
			<div>
	    		<md-button ng-show="!task.completed" class="md-secondary" ng-click="markComplete(task)"><md-icon class="material-icons">check</md-icon><md-tooltip md-direction="down">Mark As Complete</md-tooltip></md-button>
	    		<md-button ng-show="task.__v > 0" class="md-secondary" ng-click="markRead(task, 'task')" style="margin-right: 90px"><md-icon class="material-icons">clear_all</md-icon><md-tooltip md-direction="down">Mark As Read</md-tooltip></md-button>
			</div>
			
		</md-list-item>
		<md-divider></md-divider>
		
	</div>

</md-list>

<div>
  <md-fab-speed-dial ng-cloak md-open="false" md-direction="up" class="md-scale md-fab-bottom-right fab-list" ng-show="!isArchive">
	  <md-fab-trigger>
  	      <md-button aria-label="Add a New Task to this Project" class="md-fab md-primary" ng-click="showNewTaskModal($event)">
			  <md-tooltip md-direction="left">Add a New Task</md-tooltip>
		      <md-icon class="material-icons" >add</md-icon>
  	      </md-button>
      </md-fab-trigger>
  </md-fab-speed-dial>
</div>