<div class="detail-header" layout-padding layout="row">
		
	<md-chips class="" ng-model="taskFilters" placeholder="Search..." secondary-placeholder="Search..." flex="45">
		<md-chip-template class="md-accent">
	        <strong>{{$chip}}</strong>
	    </md-chip-template>
	</md-chips>

	<span flex></span>

	<md-chips class="set-filters">
		<md-chip>Assigned to Me</md-chip>
		<md-chip>Assigned by Me</md-chip>
		<md-chip>Due Today</md-chip>
		<md-chip>Due Tomorrow</md-chip>
		<md-chip>Due This Week</md-chip>
	</md-chips>
		
</div>

<md-list ng-cloak class="main-page-content">

	<div ng-repeat="task in tasks" ui-sref="project.tasks.detail">
		<md-list-item class="md-2-line" md-ink-ripple>
			<div class="md-list-item-text" layout="column">
		          <h3>{{ task.description }}</h3>
		          <p>{{ task.assignee }}</p>
	        </div>
		</md-list-item>
		<md-divider></md-divider>
	</div>

</md-list>

<div>
  <md-fab-speed-dial ng-cloak md-open="false" md-direction="up" class="md-scale md-fab-bottom-right fab-list">
	  <md-fab-trigger>
  	      <md-button aria-label="Add a New Task to this Project" class="md-fab md-primary" ng-click="showNewTaskModal($event)">
			  <md-tooltip md-direction="left">Add a New Task</md-tooltip>
		      <md-icon class="material-icons" >add</md-icon>
  	      </md-button>
      </md-fab-trigger>
  </md-fab-speed-dial>
</div>