<md-toolbar class="md-warn md-hue-1">
	<div class="md-toolbar-tools">
		
		<md-chips class="" ng-model="taskFilters" placeholder="Search Tasks..." secondary-placeholder="Search Tasks..." flex>
			<md-chip-template class="md-accent">
		        <strong>{{$chip}}</strong>
		    </md-chip-template>
		</md-chips>
		
		<md-button ng-click="showNewTaskModal($event)">Add a New Task</md-button>
		
    </div>
</md-toolbar>

<md-list ng-cloak class="main-page-content">

	<div ng-repeat="task in tasks" ui-sref="project.tasks.detail">
		<md-list-item class="md-2-line" md-ink-ripple>
			<div class="md-list-item-text" layout="column">
		          <h3>{{ task.description }}</h3>
		          <p>{{ task.assignee }}</p>
	        </div>
		</md-list-item>
		<md-divider></md-divider>
	</div>

</md-list>