<md-dialog aria-label="Add New Contact" flex="75">
    <form ng-submit="addContact()" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add New Contact</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-padding>
				
                <div layout="column" ng-show="step==1">
                    <p class="md-body-2">Enter email and phone number to search</p>
                    <div layout="row">
                        <md-input-container flex="50">
                            <label for="">Email</label>
                            <input type="email" name="email" ng-model="searchNewContact.email">
                        </md-input-container>
                        <md-input-container flex="30">
                            <label for="">Phone Number</label>
                            <input type="text" name="phoneNumber" ng-model="searchNewContact.phoneNumber" ng-pattern="/^[0-9]{1,15}$/">
                        </md-input-container>
                    </div>
                    <p class="validate-message" ng-show="form.phoneNumber.$error.pattern">Not a valid number</p>
                </div>

                <div layout="column" ng-show="step==2">
                    <div layout="column" ng-show="searchUsers.length > 0">
                        <h3>Select from the results below</h3>
                        <md-radio-group ng-model="selectedContact" class="md-primary">
                            <md-radio-button ng-repeat="user in searchUsers" flex ng-value="user" class="md-primary" >
                                <span><strong>Name</strong>: {{user.name}}</span> | 
                                <span><strong>Email</strong>: {{user.email}}</span> | 
                                <span><strong>Phone Number</strong>: {{user.phoneNumber}}</span> | 
                                <span><strong>Team Name</strong>: {{user.teamName}}</span>
                            </md-radio-button>
                        </md-radio-group>
                    </div>

                    <md-divider></md-divider>

                    <div layout="column" ng-show="searchUsers.length===0 || showSearchResult">
                        <h3>Or Create A New Contact</h3>
                        <md-radio-group ng-model="selectedNewContact">
                            <md-radio-button flex="15" ng-value="searchNewContact" class="md-primary" >
                            </md-radio-button>
                            <div layout="row" flex>
                                <md-input-container flex="20">
                                    <label for="">First Name</label>
                                    <input type="text" ng-model="searchNewContact.firstName">
                                </md-input-container>
                                <md-input-container flex="20">
                                    <label for="">Last Name</label>
                                    <input type="text" ng-model="searchNewContact.lastName">
                                </md-input-container>
                                <md-input-container flex="20">
                                    <label for="">Email</label>
                                    <input type="text" ng-model="searchNewContact.email" disabled>
                                </md-input-container>
                                <md-input-container flex="20">
                                    <label for="">Phone Number</label>
                                    <input type="text" ng-model="searchNewContact.phoneNumber" disabled>
                                </md-input-container>
                                <md-input-container flex="20">
                                    <label for="">Team Name</label>
                                    <input type="text" ng-model="searchNewContact.teamName">
                                </md-input-container>
                            </div>
                        </md-radio-group>
                    </div>
                </div>
            </div>

            <md-dialog-actions>
                <md-button ng-click="dialogService.closeModal()">Cancel</md-button>

                <md-button ng-hide="step==1" ng-click="step = step-1">Back</md-button>
                <md-button ng-hide="step==2" ng-click="next('addContact')">Next</md-button>

                <md-button ng-show="step==2" type="submit">Add Contact</md-button>
            </md-dialog-actions>
        </md-dialog-content>
    </form>
</md-dialog>