<md-dialog aria-label="Create or Join a Team on buiilt" flex="70">
    <form ng-submit="" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Join or Create a Team</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-padding>

                <div id="joinOrCreateModal">
					<p class="md-body-2">Would you like to create a new team, or join an existing team on buiilt?</p>
                    <div layout="row" layout-align="space-around center">
						<md-button ng-click="showCreateOrJoinTeam($event, 'create')" class="md-primary">Create a New Team</md-button>
						<md-button ng-click="showCreateOrJoinTeam($event, 'join')" class="md-primary">Join an Existing Team</md-button>
                    </div>
                </div>
				
            </div>
        </md-dialog-content>
		
    </form>
</md-dialog>