<md-dialog aria-label="Create New Team" flex="70">
    <form ng-submit="createTeam(form)" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create New Team</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-padding>

                <div layout="column" id="teamType">
                    <p class="md-body-2">Please select your team type:</p>
					<md-input-container >
	                    <md-radio-group ng-model="team.type" ng-change="getTeamType(team.type)" layout="row">
	                        <md-radio-button value="builder">Builder</md-radio-button>
	                        <md-radio-button value="homeOwner">Home Owner</md-radio-button>
	                        <md-radio-button value="architect">Architect</md-radio-button>
	                        <md-radio-button value="contractor">Contractor</md-radio-button>
	                        <md-radio-button value="consultant">Consultant</md-radio-button>
	                    </md-radio-group>
					</md-input-container>
                </div>

                <div ng-show="team.type">
                    <div layout="row">
                        <md-input-container flex>
                            <label for=""><span ng-show="team.type!=='homeOwner'">Company Name</span><span ng-show="team.type=='homeOwner'">Team Name</span></label>
                            <input type="text" name="name" ng-model="team.name" id="teamName" ng-disabled="team.type=='homeOwner'" required>
                        </md-input-container>
                    </div>
                    
                    <div layout="row">
                        <md-input-container flex>
                            <label for="">Mailing Address</label>
                            <input type="text" name="address" id="teamAddress" ng-model="team.detail.companyAddress.address" required>
                        </md-input-container>
                    </div>
                    
                    <div layout="row">
                        <md-input-container flex="60">
                            <label for="">Suburb</label>
                            <input type="text" name="suburb" id="teamSuburb" ng-model="team.detail.companyAddress.suburb" required>
                        </md-input-container>
                        <md-input-container flex="40">
                            <label for="">Postcode</label>
                            <input type="text" name="postCode" id="teamPostcode" ng-model="team.detail.companyAddress.postCode" required>
                        </md-input-container>
                    </div>
                                    
                    <div layout="row">
                        <md-input-container flex=>
                            <label for="">Contact Number</label>
                            <input type="text" name="phoneNumber" id="teamPhoneNumber" ng-model="team.detail.companyPhoneNumber" required>
                        </md-input-container>
                    </div>
					
                </div>
				
            </div>
        </md-dialog-content>
        
        <md-dialog-actions>
            <!-- <md-button ng-click="cancelDialog()">Cancel</md-button> -->
            <md-button class="md-primary" type="submit" id="teamCreateButton">Create Team</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>