<md-dialog aria-label="Edit Your Company Details" flex="70">
    <form ng-submit="editUserInfo(form)" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit Your Company Details</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <div layout="row" ng-if="editUserType === 'email'">
                    <md-input-container flex>
                        <label for="">Email</label>
                        <input type="email" name="email" ng-model="email" required>
                    </md-input-container>
                </div>

                <div layout="row" ng-if="editUserType === 'phoneNumber'">
                    <md-input-container flex>
                        <label for="">Phone number</label>
                        <input type="text" name="phoneNumber" ng-model="currentUser.phoneNumber" required ng-pattern="/^[0-9]{1,15}$/">
                    </md-input-container>
                    <p class="validate-message" ng-show="form.phoneNumber.$error.pattern">Not a valid number</p>
                </div>

                <div layout="row" ng-if="editUserType === 'password'">
                    <md-input-container flex>
                        <label for="">Old password</label>
                        <input type="password" name="oldPassword" ng-model="currentUser.oldPassword" required>
                    </md-input-container>
                    <md-input-container flex>
                        <label for="">New password</label>
                        <input type="password" name="newPassword" ng-model="currentUser.newPassword" required>
                    </md-input-container>
                    <md-input-container flex>
                        <label for="">Retype password</label>
                        <input type="password" name="retypePassword" ng-model="currentUser.retypePassword" required>
                    </md-input-container>
                </div>
            </div>
            
            <md-dialog-actions>
                <md-button ng-click="cancelDialog()">Cancel</md-button>
                <md-button type="submit">Save Changes!</md-button>
            </md-dialog-actions>
            
        </md-dialog-content>
        
    </form>
</md-dialog>