<md-dialog aria-label="Join an Existing Team on buiilt" flex="70">
    <form ng-submit="" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Join an existing team on buiilt</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-padding>

                <div ng-show="invitations.length > 0">
                    <table style="width:100%">
                        <thead>
                            <th>#</th>
                            <th>Team Name</th>
                            <th>Type</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="invitation in invitations">
                                <td style="text-align:center">{{$index+1}}</td>
                                <td style="text-align:center">{{invitation.name}}</td>
                                <td style="text-align:center">{{invitation.type}}</td>
                                <td style="text-align:center">
                                    <i ng-click="accept(invitation,$index)" class="material-icons">check</i>
                                    <i ng-click="reject(invitation,$index)" class="material-icons">close</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-show="invitations.length == 0">
					<p class="md-body-2">Search for the team you would like to join:</p>
                    <div layout="row">
                        <md-input-container flex id="teamJoinExistingSearch">
							<md-autocomplete md-selected-item="selectedItem.name" md-search-text="searchText" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(searchText)" md-item-text="item.name" md-min-length="0" placeholder="Search for your Team...">
						        <md-item-template>
						          <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
						        </md-item-template>
						        <md-not-found>
						          No team matching "{{searchText}}" were found.
						        </md-not-found>
						      </md-autocomplete>
                        </md-input-container>
                    </div>
                </div>
				
            </div>
        </md-dialog-content>
        
        <md-dialog-actions>
            <md-button ng-click="sendJoinTeamRequest()" class="md-primary" type="submit" id="teamRequestJoinExistingButton">Request Access</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>