<md-dialog aria-label="Edit Your Company Details" flex="70">
	<form ng-submit="saveDetail(form)" name="form">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Edit Your Company Details</h2>
			</div>
		</md-toolbar>
		
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
		
	            <div layout="row">
	                <md-input-container flex>
	                    <label for="">Company name</label>
	                    <input type="text" ng-model="currentTeam.name" required>
	                </md-input-container>
	            </div>
			
	            <div layout="row">
	                <md-input-container flex="70">
	                    <label for="">Company address</label>
	                    <input type="text" ng-model="currentTeam.detail.companyAddress.address" required>
	                </md-input-container>
	                <md-input-container flex="30">
	                    <label for="">Company address suburb</label>
	                    <input type="text" ng-model="currentTeam.detail.companyAddress.suburb" required>
	                </md-input-container>
	            </div>
			
	            <div layout="row">
	            	<md-input-container flex="40">
	                    <label for="">Company postcode</label>
	                    <input type="text" ng-model="currentTeam.detail.companyAddress.postCode" required>
	                </md-input-container>
	                <md-input-container flex="60">
	                    <label for="">Company contact number</label>
	                    <input type="text" ng-model="currentTeam.detail.companyPhoneNumber" required>
	                </md-input-container>
	                
				</div>

				<div layout="row">
					<md-input-container flex="50">
	                    <label for="">Company license number</label>
	                    <input type="text" ng-model="currentTeam.detail.licenseNumber" required>
	                </md-input-container>
	                <md-input-container flex="50">
	                    <label for="">Company ABN</label>
	                    <input type="text" ng-model="currentTeam.detail.companyABN" required>
	                </md-input-container>
	            </div>
				
			</div>
			
			<md-dialog-actions>
				<md-button ng-click="cancelDialog()">Cancel</md-button>
                <md-button type="submit">Save Edits</md-button>
			</md-dialog-actions>
			
		</md-dialog-content>
		
	</form>
</md-dialog>