<md-toolbar class="md-warn md-hue-1">
	<div class="md-toolbar-tools">
	    <span>Staff</span>
      	<span flex></span>
      	<!-- <md-button ui-sref=''></md-button> -->
    </div>
</md-toolbar>

<md-list ng-cloak style="height: 78vh; overflow: scroll">
	<div ng-repeat="" ui-sref="">
		<md-list-item class="md-2-line" md-ink-ripple>
			<div class="md-list-item-text" layout="column">
		          <h5></h5>
		          <p></p>
	        </div>
		</md-list-item>
		<md-divider></md-divider>
	</div>
</div>