<md-dialog aria-label="Add a New Staff Member" flex="70">
	<form ng-submit="addNewMember(form)" name="form">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Add a New Staff Member</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancelDialog()"><md-tooltip md-direction="left">Close</md-tooltip><md-icon class="material-icons">close</md-icon></md-button>
			</div>
		</md-toolbar>
		
		<md-dialog-content>
			<div class="md-dialog-content" layout="column" layout-padding>
				
				<div layout="row">
					
					<md-input-container flex>
                        <label for="">Email</label>
                        <input type="email" ng-model="email">
					</md-input-container>
					
					
					<md-input-container>
						<md-button ng-click="addUser(email)">Add to List</md-button>
					</md-input-container>
					
				</div>
					
				<div ng-repeat="email in member.emails" layout-row layout-wrap>
					
					<div layout="row">
						<div flex="90">{{ email.email }}</div>
						<span flex></span>
	                    <div flex><md-icon ng-click="removeUser($index)" class="material-icons pointer">delete</md-icon></div>
					</div>
					
				</div>
				
			</div>
			
			<md-dialog-actions>
                <md-button class="md-primary" type="submit">Add New Team Members</md-button>
			</md-dialog-actions>
			
		</md-dialog-content>
		
	</form>
</md-dialog>