<div class="detail-header" layout-padding layout="row">
    <p>Custom Tags</p>
</div>

<div class="main-page-content" layout-padding>
	
	<div layout="column" layout-padding>
		
		<div layout-margin>
			<p><strong>Project File Tags:</strong></p>
		</div>
		
		<div layout="row" layout-align="center center" class="tagcloud" layout-wrap style="margin-bottom: 5vh">
			
			<span class="available-tag">Custom File Tag 1</span>
			<span class="available-tag">Custom File Tag 2</span>
			<span class="available-tag">Custom File Tag 3</span>
			<span class="available-tag">Custom File Tag 4</span>
			<span class="available-tag">Custom File Tag 5</span>
			<span class="available-tag">Custom File Tag 6</span>
			<span class="available-tag">Custom File Tag 7</span>
			<span class="available-tag">Custom File Tag 8</span>
			<span class="available-tag">Custom File Tag 9</span>
			<span class="available-tag">Custom File Tag 10</span>
			<span class="available-tag">Custom File Tag 11</span>
			<span class="available-tag">Custom File Tag 12</span>
			<span class="selected-tag">+ Add Another</span>
			
		</div>
		
		<md-divider></md-divider>
		
		<div layout-margin>
			<p><strong>Project Documentation Tags:</strong></p>
		</div>
		
		<div layout="row" layout-align="center center" class="tagcloud" layout-wrap style="margin-bottom: 5vh">
			
			<span class="available-tag">Architectural</span>
			<span class="available-tag">Structural Engineering</span>
			<span class="available-tag">Hydraulic Engineering</span>
			<span class="available-tag">Council</span>
			<span class="available-tag">Certifier</span>
			<span class="available-tag">Custom Doc Tag 1</span>
			<span class="available-tag">Custom Doc Tag 2</span>
			<span class="available-tag">Custom Doc Tag 3</span>
			<span class="available-tag">Custom Doc Tag 4</span>
			<span class="available-tag">Custom Doc Tag 5</span>
			<span class="available-tag">Custom Doc Tag 6</span>
			<span class="available-tag">Custom Doc Tag 7</span>
			<span class="available-tag">Custom Doc Tag 8</span>
			<span class="available-tag">Custom Doc Tag 9</span>
			<span class="available-tag">Custom Doc Tag 10</span>
			<span class="available-tag">Custom Doc Tag 11</span>
			<span class="available-tag">Custom Doc Tag 12</span>
			<span class="selected-tag">+ Add Another</span>
			
		</div>
		
	</div>
</div>