<md-dialog aria-label="Edit Billing Details" flex="70">
    <form ng-submit="" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit Your Billing Details</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                
            </div>
        </md-dialog-content>
        
        <md-dialog-actions>
            <md-button ng-click="cancelDialog()">Cancel</md-button>
            <md-button type="submit" class="md-raised md-accent md-hue-1">Creat Team!</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>