<div class="detail-header" layout-padding layout="row">
    <p>Team</p>
</div>

<div class="main-page-content" layout-padding>
	
	<div layout="column" layout-padding>
		
		<div layout-margin>
			<p><strong>Company Name:</strong></p>
			<p>{{currentTeam.name}}</p>
		</div>
		
		<md-divider></md-divider>
		
		<div layout-margin>
			<div>
				<p><strong>Office Address:</strong></p>
				<p>{{currentTeam.detail.companyAddress.address}}</p>
			</div>
			
			<div layout="row">
				<div flex="40">
					<p><strong>Suburb:</strong></p>
					<p>{{currentTeam.detail.companyAddress.suburb}}</p>
				</div>
			
				<div flex="30">
					<p><strong>Postcode</strong></p>
					<p>{{currentTeam.detail.companyAddress.postCode}}</p>
				</div>
			</div>
		</div>
		
		<md-divider></md-divider>
		
		<div layout-margin>
			<p><strong>Office Number:</strong></p>
			<p>{{currentTeam.detail.companyPhoneNumber}}</p>
		</div>
		
		<md-divider></md-divider>
		
		<div layout-margin>
			<div layout="row">
				<div flex="40">
					<p><strong>License Number:</strong></p>
					<p>{{currentTeam.detail.licenseNumber}}</p>
				</div>
		
				<div flex="30">
					<p><strong>ABN:</strong></p>
					<p>{{currentTeam.detail.companyABN}}</p>
				</div>
			</div>
		</div>
		
	</div>
		
	<div>
		<md-fab-speed-dial ng-cloak md-open="false" md-direction="up" class="md-scale md-fab-bottom-right fab-list">
			<md-fab-trigger>
		      	<md-button aria-label="Actions" class="md-fab md-primary">
			  		<md-tooltip md-direction="left">Actions...</md-tooltip>
		      		<md-icon class="material-icons" >add</md-icon>
		      	</md-button>
		  	</md-fab-trigger>
			<md-fab-actions>
			    <md-button aria-label="Add a New Team Member" class="md-fab md-raised md-mini md-primary" ng-click="showModalCreateTeam($event)" ng-show="!currentTeam._id">
			        <md-tooltip md-direction="left">Create new Team</md-tooltip>
			        <md-icon class="material-icons">person_outline</md-icon>
			    </md-button>
		      	<md-button aria-label="Edit Company Details" class="md-fab md-raised md-mini" ng-click="showEditCompanyModal($event)">
			  		<md-tooltip md-direction="left">Edit Company Details</md-tooltip>
		      		<md-icon class="material-icons">edit</md-icon>
		      	</md-button>
		  	</md-fab-actions>
		</md-fab-speed-dial>
    </div>
    
</div>