<div class="detail-header" layout-padding layout="row">
    <p>User</p>
</div>

<div class="main-page-content" layout-padding>
	
	<div layout="column" layout-padding>
		
		<div layout-margin>
			<div layout="row">
				<div flex="50">
					<p><strong>Email Address:</strong></p>
					<p>{{currentUser.email}}</p>
				</div>
		
				<div flex="50">
					<p><strong>Password:</strong></p>
					<p>*********</p>
				</div>
			</div>
		</div>
		
		<md-divider></md-divider>
		
		<div layout-margin>
			<p><strong>Phone Number:</strong></p>
			<p>{{(currentUser.phoneNumber) ? currentUser.phoneNumber : "Add Your Phone Number from the Action button below"}}<p>
			<p ng-show="!currentUser.phoneNumberVerified">Your phone number is not verified. Your can click <a href="#" ng-click="showModal($event, 'verify-phone-number.html', 'verifyPhoneNumber')">here</a> to enter the verify token.</p>
		</div>
		
		
	</div>
		
	<div>
  	  <md-fab-speed-dial ng-cloak md-open="false" md-direction="up" class="md-scale md-fab-bottom-right fab-list">
		  <md-fab-trigger>
	  	      <md-button aria-label="Actions" class="md-fab md-primary">
				  <md-tooltip md-direction="left">Actions...</md-tooltip>
			      <md-icon class="material-icons" >add</md-icon>
	  	      </md-button>
  	      </md-fab-trigger>
		  <md-fab-actions>
	  	      <md-button aria-label="Edit Company Details" class="md-fab md-raised md-mini md-primary" ng-click="showModal($event, 'edit-user-info.html', 'email')">
				  <md-tooltip md-direction="left">Edit Email</md-tooltip>
			      <md-icon class="material-icons">email</md-icon>
	  	      </md-button>
	  	      <md-button aria-label="Edit Company Details" class="md-fab md-raised md-mini md-primary" ng-click="showModal($event, 'edit-user-info.html', 'password')">
				  <md-tooltip md-direction="left">Edit Password</md-tooltip>
			      <md-icon class="material-icons">lock</md-icon>
	  	      </md-button>
	  	      <md-button aria-label="Edit Company Details" class="md-fab md-raised md-mini md-primary" ng-click="showModal($event, 'edit-user-info.html', 'phoneNumber')">
				  <md-tooltip md-direction="left">Edit Phone Number</md-tooltip>
			      <md-icon class="material-icons">phone</md-icon>
	  	      </md-button>
	  	  </md-fab-actions>
  	  </md-fab-speed-dial>
    </div>
    
</div>