<div class="detail-header" layout-padding layout="row">
    <p>Team Schedule</p>
</div>

<div class="main-page-content" layout-padding>
    <div layout="column" layout-padding ng-show="currentTeam.schedule && !isEditSchedule">
        <md-button ng-show="currentUser.isLeader" ng-click="isEditSchedule=true">Change your team schedule</md-button>
        <div ng-repeat="(day,time) in currentTeam.schedule">
            <p><strong>{{day}}:</strong></p>
            <div layout="row">
                <div flex="50">
                    <p>Start Time: </p>
                    <p>{{time.startTime | date: 'hh:mm'}}</p>
                </div>
                <div flex="50">
                    <p>End Time: </p>
                    <p>{{time.endTime | date: 'hh:mm'}}</p>
                </div>
            </div>
            <md-divider></md-divider>
        </div>
    </div>

    <div layout="column" ng-show="!isEditSchedule && !currentTeam.schedule">
        <h3>Your team hasn't create schedule</h3>
        <md-button ng-show="currentUser.isLeader" ng-click="isEditSchedule=true">Click here to create new schedule</md-button>
    </div>

    <div layout="column" ng-show="isEditSchedule">
        <form ng-submit="editSchedule()" name="form">
            <div layout="column">
                <p>Monday</p>
                <div flex="50">
                    <label for="">Start Time</label>
                    <input type="time" ng-model="currentTeam.schedule.monday.startTime">
                </div>
                <div flex="50">
                    <label for="">End Time</label>
                    <input type="time" ng-model="currentTeam.schedule.monday.endTime">
                </div>
            </div>

            <div layout="column">
                <p>Tuesday</p>
                <div flex="50">
                    <label for="">Start Time</label>
                    <input type="time" ng-model="currentTeam.schedule.tuesday.startTime">
                </div>
                <div flex="50">
                    <label for="">End Time</label>
                    <input type="time" ng-model="currentTeam.schedule.tuesday.endTime">
                </div>
            </div>

            <div layout="column">
                <p>Wednesday</p>
                <div flex="50">
                    <label for="">Start Time</label>
                    <input type="time" ng-model="currentTeam.schedule.wednesday.startTime">
                </div>
                <div flex="50">
                    <label for="">End Time</label>
                    <input type="time" ng-model="currentTeam.schedule.wednesday.endTime">
                </div>
            </div>

            <div layout="column">
                <p>Thursday</p>
                <div flex="50">
                    <label for="">Start Time</label>
                    <input type="time" ng-model="currentTeam.schedule.thursday.startTime">
                </div>
                <div flex="50">
                    <label for="">End Time</label>
                    <input type="time" ng-model="currentTeam.schedule.thursday.endTime">
                </div>
            </div>

            <div layout="column">
                <p>Friday</p>
                <div flex="50">
                    <label for="">Start Time</label>
                    <input type="time" ng-model="currentTeam.schedule.friday.startTime">
                </div>
                <div flex="50">
                    <label for="">End Time</label>
                    <input type="time" ng-model="currentTeam.schedule.friday.endTime">
                </div>
            </div>

            <div layout="column">
                <p>Saturday</p>
                <div flex="50">
                    <label for="">Start Time</label>
                    <input type="time" ng-model="currentTeam.schedule.saturday.startTime">
                </div>
                <div flex="50">
                    <label for="">End Time</label>
                    <input type="time" ng-model="currentTeam.schedule.saturday.endTime">
                </div>
            </div>

            <div layout="column">
                <p>Sunday</p>
                <div flex="50">
                    <label for="">Start Time</label>
                    <input type="time" ng-model="currentTeam.schedule.sunday.startTime">
                </div>
                <div flex="50">
                    <label for="">End Time</label>
                    <input type="time" ng-model="currentTeam.schedule.sunday.endTime">
                </div>
            </div>

            <div layout="row">
                <md-button ng-click="isEditSchedule=false">Cancel</md-button>
                <md-button type="submit" class="md-primary">Submit</md-button>
            </div>
        </form>
    </div>
</div>