<md-dialog aria-label="Add Credit Card Details" flex="70">
    <form ng-submit="submitCreditCard(form)" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Your Credit Card Details</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <div layout="row">
                    <md-input-container flex>
                        <label for="">Card number</label>
                        <input type="number" name="card" ng-model="currentUser.creditCard.number" required>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="20">
                        <label for="">MM</label>
                        <input type="number" name="month" ng-model="currentUser.creditCard.exp_month" required>
                    </md-input-container>
                    <md-input-container flex="30">
                        <label for="">YYYY</label>
                        <input type="number" name="year" ng-model="currentUser.creditCard.exp_year" required>
                    </md-input-container>
                    <md-input-container flex="50">
                        <label for="">CVC</label>
                        <input type="number" name="cvc" ng-model="currentUser.creditCard.cvc" required>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        
        <md-dialog-actions>
            <md-button ng-click="cancelDialog()">Cancel</md-button>
            <md-button type="submit" class="md-raised md-accent md-hue-1">Submit!</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>