<div class="col-md-12" ui-view>
    <div class="row">
        <div ng-repeat="project in projects">
            <h1>#{{$index + 1}} {{project.name}}</h1>
            <p>{{project.description}}</p>
            <br>
            <table ng-if="quoteRequests" >
                <thead>
                    <tr>
                        <td>Builder email</td>
                        <td>Quote</td>
                        <td>Select quote</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="quoteRequest in quoteRequests">
                        <td>{{user.email}}</td>
                        <td>{{quoteRequest.price}}</td>
                        <td>
                            <p>
                                <input type="radio" name='group{{$parent.$index + 1}}' id='{{quoteRequest._id}}'>
                                <label for="{{quoteRequest._id}}">Select</label>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>