<header style="padding-left: 240px;">
    <ul ng-show="currentUser._id" id="nav-mobile" class="side-nav fixed">
        <li><a ui-sref="#">Projects</a></li>
        <li><a ui-sref="userBackend">Users</a></li>
        <li><a ui-sref="contractorPackagesBackend">Contractor packages</a></li>
        <li><a ui-sref="materialPackagesBackend">Material packages</a></li>
        <li><a ui-sref="#">Tasks</a></li>
        <li><a ui-sref="#">Document</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper container">
            <a ui-sref="backend" class="brand-logo">buiilt</a>
            <ul id="nav-mobile" class="right">
                <li ng-if="currentUser._id">
                    <a href="#!" class="dropdown-button" data-activates="userSettings" dropdown data-gutter="-30">
                        <span ng-if="!currentUser.name">{{currentUser.email}}<i class="mdi-navigation-arrow-drop-down right"></i></span>
                        <span ng-if="currentUser.name">{{currentUser.name}}<i class="mdi-navigation-arrow-drop-down right"></i></span>
                    </a>
                  
                    <ul id="userSettings" class="dropdown-content"  style="margin-top: 15px">
                        <li><a ui-sref="signout">Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>