<md-tabs md-dynamic-height md-center-tabs md-no-ink-bar md-no-ink flex layout-padding>

    <md-tab>
		<md-tab-label>
			<md-tooltip md-direction="bottom">Related Team Members</md-tooltip>
		    <md-icon class="material-icons">person_outline</md-icon>
		</md-tab-label>
        <md-tab-body>
			<md-list ng-cloak class="main-page-content">
				<md-list-item class="md-2-line" ng-click="showRelatedTeamMemberModal($event)" ng-repeat="tenderer in tender.tenderers" ng-show="tender.inviter._id == currentUser._id">
				    <div class="md-list-item-text">
					    <h3>{{(tenderer._id) ? tenderer._id.name : tenderer.email}}</h3>
				        <!-- <p>Secondary text line 2</p> -->
				    </div>
				</md-list-item>
				<md-divider></md-divider>

				<md-list-item class="md-2-line" ng-click="showRelatedTeamMemberModal($event)" ng-show="tender.inviter._id != currentUser._id">
				    <div class="md-list-item-text">
					    <h3>{{tender.inviter.name}}</h3>
				        <!-- <p>Secondary text line 2</p> -->
				    </div>
				</md-list-item>
				<md-divider></md-divider>

			</md-list>
        </md-tab-body>
    </md-tab>
	
	<md-tab>
		<md-tab-label>
			<md-tooltip md-direction="bottom">Related Messages</md-tooltip>
		    <md-icon class="material-icons">chat_bubble_outline</md-icon>
		</md-tab-label>
        <md-tab-body>
			<md-list ng-cloak class="main-page-content">
				<md-list-item class="md-2-line" ng-click="showRelatedMessageModal($event)">
				    <div class="md-list-item-text">
					    <h3>Thread 1</h3>
				        <p>Secondary text line 2</p>
				    </div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-2-line" ng-click="showRelatedMessageModal($event)">
				    <div class="md-list-item-text">
					    <h3>Thread 2</h3>
				        <p>Secondary text line 2</p>
				    </div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-2-line" ng-click="showRelatedMessageModal($event)">
				    <div class="md-list-item-text">
					    <h3>Thread 3</h3>
				        <p>Secondary text line 2</p>
				    </div>
				</md-list-item>
			</md-list>
        </md-tab-body>
    </md-tab>
	
    <md-tab>
		<md-tab-label>
			<md-tooltip md-direction="bottom">Related Tasks</md-tooltip>
		    <md-icon class="material-icons">done_all</md-icon>
		</md-tab-label>
        <md-tab-body>
			<md-list class="main-page-content" ng-cloak>
				<md-list-item class="md-2-line" ng-click="showRelatedTasksModal($event)">
				    <div class="md-list-item-text">
					    <h3>Task 1</h3>
				        <p>Secondary text line 2</p>
				    </div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-2-line" ng-click="showRelatedTasksModal($event)">
				    <div class="md-list-item-text">
					    <h3>Task 2</h3>
				        <p>Secondary text line 2</p>
				    </div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-2-line" ng-click="showRelatedTasksModal($event)">
				    <div class="md-list-item-text">
					    <h3>Task 3</h3>
				        <p>Secondary text line 2</p>
				    </div>
				</md-list-item>
			</md-list>
        </md-tab-body>
    </md-tab>
	
    <md-tab>
		<md-tab-label>
			<md-tooltip md-direction="bottom">Related Files</md-tooltip>
		    <md-icon class="material-icons">attach_file</md-icon>
		</md-tab-label>
        <md-tab-body>
			<md-list class="main-page-content" ng-cloak>
				<md-list-item class="md-2-line" ng-click="showRelatedFilesModal($event)">
				    <div class="md-list-item-text">
					    <h3>File 1</h3>
				        <p>Secondary text line 2</p>
				    </div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-2-line" ng-click="showRelatedFilesModal($event)">
				    <div class="md-list-item-text">
					    <h3>File 2</h3>
				        <p>Secondary text line 2</p>
				    </div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-2-line" ng-click="showRelatedFilesModal($event)">
				    <div class="md-list-item-text">
					    <h3>File 3</h3>
				        <p>Secondary text line 2</p>
				    </div>
				</md-list-item>
			</md-list>
        </md-tab-body>
    </md-tab>
	
</md-tabs>