<div layout="row" layout-padding>
	
	<div layout="column" flex="70">
		
		<div layout="column" class="md-whiteframe-1dp detail-view-main">
				
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" back-button>
					<md-icon class="material-icons">arrow_back</md-icon>
					<md-tooltip md-direction="bottom">Back</md-tooltip>
				</md-button>
				
		        <h5><span>{{thread.name}}</span></h5>
				
				<span flex></span>
				
	  	      	<md-button ng-show="!thread.isArchive" aria-label="Copy Message Address" class="md-icon-button" ng-click="copyMessageAddress(thread._id)">
					<md-tooltip md-direction="bottom">Copy Message Address</md-tooltip>
			      	<md-icon class="material-icons">content_paste</md-icon>
	  	      	</md-button>
	
				<md-button ng-show="isOwnerTeam" ng-click="archive()" aria-label="Compose Message" class="md-icon-button">
				  	<md-tooltip md-direction="bottom">{{(!thread.isArchive) ? 'Archive this Message Thread' : 'Unarchive this Message Thread'}}</md-tooltip>
			      	<md-icon class="material-icons"><i class="material-icons">{{(!thread.isArchive) ? 'archive' : 'unarchive'}}</i></md-icon>
	  	      	</md-button>
		    </div>
			
			<md-divider layout="row" flex></md-divider>
	
			<div layout="column" layout-margin flex>
				<div class="content" scroll-to-bottom="thread.activities">
					<div class="item-activity">

						<div layout="row" layout-align="center center" flex class="activity-stream" layout-padding ng-repeat="activity in thread.activities" ng-class="{related: activity.element.related, 'unread-notification': activity.unread, 'unread-notification-line': activity.unreadLine}">
							<div flex class="activity-detail">
	
								<p ng-switch="activity.type" class="activity-head" style="margin-bottom: 15px; border-bottom: 0.5px solid #EEEEEE">
									<span class="activity-creator">{{activity.user.name}}</span>
									<span class="meta-data" ng-switch-when="chat"> at <span class="date-time">{{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>:</span>
								</p>
	
								<span ng-switch="activity.type" class="activity-body md-body">
									<span ng-switch-when="chat" ng-bind-html="activity.element.message | htmlize"></span>
								</span>
					
								<div layout="row" layout-align="center center" class="tagcloud-selection" layout-wrap ng-show="activity.type =='related-task'">
									<span ng-class="{'available-tag':!member._id, 'selected-tag': member._id}" ng-repeat="member in activity.element.members">{{(member._id) ? member.name : member.email}}<md-icon ng-show="!member._id" class="material-icons non-user-chip cursor-help"><md-tooltip>Messages will be sent via email to this Team Member</md-tooltip>mail_outline</md-icon></span>
								</div>
	
							</div>
						</div>
					</div>
					<span flex></span>
				</div>
				
				<md-divider></md-divider>
				
				<div layout="row">
		  	      	<md-button ng-show="!thread.isArchive" aria-label="Compose Message" class="md-icon-button" ng-click="showReplyModal($event)">
					  	<md-tooltip md-direction="top">Compose a Message</md-tooltip>
				      	<md-icon class="material-icons">reply</md-icon>
		  	      	</md-button>
				</div>
				
			</div>
		</div>
	</div>

	<div layout="column" flex="30">
		
		<div layout="column" class="md-whiteframe-1dp detail-view-inspector">
				
			<div class="md-toolbar-tools">

				<span flex></span>
				
	  	      	<md-button aria-label="Add a Team Member" class="md-icon-button" ng-click="showAssignTeamMemberModal($event)">
					<md-tooltip md-direction="bottom">Add a Team Member</md-tooltip>
			      	<md-icon class="material-icons">person_outline</md-icon>
	  	      	</md-button>
				
				<md-button class="md-icon-button" ng-click="showCreateRelatedFile($event)">
					<md-tooltip md-direction="bottom">Add a Shared File</md-tooltip>
					<md-icon class="material-icons">attach_file</md-icon>
				</md-button>

				<md-button class="md-icon-button" ng-click="showCreateRelatedTask($event)">
					<md-tooltip md-direction="bottom">Add a Related Task</md-tooltip>
					<md-icon class="material-icons">check</md-icon>
				</md-button>
				
			</div>

			<md-divider flex></md-divider>
			
			<div layout="column" class="content">
				
				<!-- <div layout="row" class="activity-stream-head" layout-padding>
					<p>This message was created by <strong>{{thread.owner.name}}</strong> on {{thread.createdAt | date: longDate}}.</p>
				</div> -->
				
				<inspector-message data="thread" hide-related-thread="true" flex></inspector-message>
				
			</div>
			
		</div>
	</div>
</div>


