<div layout="row" class="detail-view-content">
	
	<div layout="column" flex="70" class="md-whiteframe-1dp">
		
		<div class="detail-header" layout="row" layout-padding>
			<p>{{thread.name}}</p>
			<span flex></span>
			<div>
				<md-button ng-click="showReplyModal($event)">Send a Reply</md-button>
			</div>
			<md-chips class="set-filters">
				<md-chip>Show Related Activities</md-chip>
			</md-chips>
	    </div>
		
		<div class="main-page-content" layout-padding>
			
			<div class="item-activity">
			
				<div layout="row" flex class="activity-stream-head">
					<p>This message was created by <strong>{{thread.owner.name}}</strong> on {{thread.createdAt | date: longDate}}. <span></p>
				</div>
				
				<div layout="row" layout-align="center center" flex class="activity-stream" ng-repeat="activity in thread.activities">
					<span flex="5"></span>
					<div class="icon-type" ng-switch="activity.type">
						<!-- send message -->
						<md-icon ng-switch-when="chat" class="material-icons md-primary">reply</md-icon>
						<!-- edit thread -->
						<md-icon ng-switch-when="edit-thread" class="material-icons md-primary">edit</md-icon>
						<!-- assign new people -->
						<md-icon ng-switch-when="assign" class="material-icons md-primary">person_outline</md-icon>
						<!-- add related thread -->
						<md-icon ng-switch-when="related-thread" class="material-icons md-primary">chat_bubble_outline</md-icon>
						<!-- add related task -->
						<md-icon ng-switch-when="related-task" class="material-icons md-primary">done_all</md-icon>
						<!-- add related file -->
						<md-icon ng-switch-when="related-file" class="material-icons md-primary">attach_file</md-icon>
					</div>
					<span flex="5"></span>
					<div flex class="activity-detail">
						<p ng-switch="activity.type">
							<strong>{{activity.user.name}}</strong> 
							<!-- send message -->
							<span ng-switch-when="chat">has replied to this message: {{activity.element.message}}</span>
							<!-- edit message thread -->
							<span ng-switch-when="edit-thread">has edited the details of this message (name: {{thread.name}})</span>
							<!-- assign new people -->
							<span ng-switch-when="assign">has assigned {{activity.element.invitee}} to this thread</span>
							<!-- related thread -->
							<span ng-switch-when="related-thread">has attached the related message thread, "<a ui-sref="project.messages.detail({id: thread.project, messageId: activity.element.item})">{{activity.element.name}}</a>".</span>
							<!-- related task -->
							<span ng-switch-when="related-task">has attached the related task, "<a ui-sref="">{{activity.element.name}}</a>".</span>
							<!-- related file -->
							<span ng-switch-when="related-task">has attached the related file, "<a ui-sref="">{{activity.element.name}}</a>".</span>

						</p>
						<p class="meta-data"><span class="time">{{activity.createdAt | date: 'H:mm a'}}</span> <span class="date">{{activity.createdAt | date: 'dd/MM/YYYY'}}</span><p>
					</div>
				</div>
				
				<!-- <div layout="row" layout-align="center center" flex class="activity-stream">
					<span flex="5"></span>
					<div class="icon-type">
						<md-icon class="material-icons md-primary">edit</md-icon>
					</div>
					<span flex="5"></span>
					<div flex class="activity-detail">
						<p><strong>{ username }</strong> has edited the details of this message { summary of the edit - for example name: ... description: ... etc}.</p>
						<p class="meta-data"><span class="time">2:11 pm</span> <span class="date">03/01/2016</span><p>
					</div>
				</div>
				
				<div layout="row" layout-align="center center" flex class="activity-stream">
					<span flex="5"></span>
					<div class="icon-type">
						<md-icon class="material-icons md-primary">person_outline</md-icon>
					</div>
					<span flex="5"></span>
					<div flex class="activity-detail">
						<p><strong>{ username }</strong> has assigned this message to { new team member name }.</p>
						<p class="meta-data"><span class="time">2:11 pm</span> <span class="date">03/01/2016</span><p>
					</div>
				</div>
				
				<div layout="row" layout-align="center center" flex class="activity-stream related">
					<span flex="5"></span>
					<div class="icon-type">
						<md-icon class="material-icons md-primary">chat_bubble_outline</md-icon>
					</div>
					<span flex="5"></span>
					<div flex class="activity-detail">
						<p><strong>{ username }</strong> has attached the related message thread, "{ name and link to message thread }".</p>
						<p class="meta-data"><span class="time">2:11 pm</span> <span class="date">03/01/2016</span><p>
					</div>
				</div>
				
				<div layout="row" layout-align="center center" flex class="activity-stream related">
					<span flex="5"></span>
					<div class="icon-type">
						<md-icon class="material-icons md-primary">done_all</md-icon>
					</div>
					<span flex="5"></span>
					<div flex class="activity-detail">
						<p><strong>{ username }</strong> has attached the related task, "{ description and link to message thread }".</p>
						<p class="meta-data"><span class="time">2:11 pm</span> <span class="date">03/01/2016</span><p>
					</div>
				</div>
				
				<div layout="row" layout-align="center center" flex class="activity-stream related">
					<span flex="5"></span>
					<div class="icon-type">
						<md-icon class="material-icons md-primary">attach_file</md-icon>
					</div>
					<span flex="5"></span>
					<div flex class="activity-detail">
						<p><strong>{ username }</strong> has attached the related file, "{ name and link to file }".</p>
						<p class="meta-data"><span class="time">2:11 pm</span> <span class="date">03/01/2016</span><p>
					</div>
				</div> -->
				
			</div>
			
			<div>
  		  	  <md-fab-speed-dial ng-cloak md-open="false" md-direction="up" class="md-scale md-fab-bottom-right fab-main" ng-show="!isArchive">
  				  <md-fab-trigger>
  			  	      <md-button aria-label="Add an Item to this Project" class="md-fab md-primary">
  						  <md-tooltip md-direction="left">Actions...</md-tooltip>
  					      <md-icon class="material-icons" >add</md-icon>
  			  	      </md-button>
  		  	      </md-fab-trigger>
				  
  				  <md-fab-actions>
			  	      <md-button aria-label="Send a Reply" class="md-fab md-raised md-mini md-primary" ng-click="showReplyModal($event)">
						  <md-tooltip md-direction="left">Send a Reply</md-tooltip>
					      <md-icon class="material-icons">reply</md-icon>
			  	      </md-button>
			  	      <md-button aria-label="Edit the Message Details" class="md-fab md-raised md-mini md-primary" ng-click="showEditMessageModal($event)" ng-show="thread.owner._id == currentUser._id">
	  					  <md-tooltip md-direction="left">Edit Message Details</md-tooltip>
	  				      <md-icon class="material-icons">edit</md-icon>
			  	      </md-button>
			  	      <md-button aria-label="Copy Message Address" class="md-fab md-raised md-mini md-primary" clipboard text="thread._id" on-copied="copySuccess()" on-error="copyError(err)">
	  					  <md-tooltip md-direction="left">Copy Message Address</md-tooltip>
	  				      <md-icon class="material-icons">content_paste</md-icon>
			  	      </md-button>
  			  	      <md-button aria-label="Assign a Team Member" class="md-fab md-raised md-mini md-primary" ng-click="showAssignTeamMemberModal($event)">
  	  					  <md-tooltip md-direction="left">Assign to a Team Member</md-tooltip>
  	  				      <md-icon class="material-icons">person_outline</md-icon>
  			  	      </md-button>
			  	      <md-button aria-label="Attach a Related Message" class="md-fab md-raised md-mini" ng-click="showCreateRelatedThread($event)">
						  <md-tooltip md-direction="left">Attach a Related Message</md-tooltip>
					      <md-icon class="material-icons">chat_bubble_outline</md-icon>
			  	      </md-button>
  			  	      <md-button aria-label="Add a Related Task" class="md-fab md-raised md-mini">
  	  					  <md-tooltip md-direction="left">Attach a Related Task</md-tooltip>
  	  				      <md-icon class="material-icons">done_all</md-icon>
  			  	      </md-button>
  			  	      <md-button aria-label="Add a Related File" class="md-fab md-raised md-mini">
  	  					  <md-tooltip md-direction="left">Attach a Related File</md-tooltip>
  	  				      <md-icon class="material-icons">attach_file</md-icon>
  			  	      </md-button>
  			  	  </md-fab-actions>
  		  	  </md-fab-speed-dial>
		    </div>
			
		</div>
	</div>
		
	<related-items data="thread" flex="30"></related-items>
		
</div>