<!-- <div class="row">
    <div class="">
        <div class="row" style="margin-top: 18px">
            <h5 class="col s8">{{project.name}}</h5>
            <div class="col s4" style="margin-top:15px">
                 <a class='dropdown-button btn-flat right' href="#!"
                    data-activates="itemDownload" dropdown data-constrainwidth="false" data-beloworigin="true">
                    <i class="mdi-navigation-more-vert"></i>
                 </a>

                 <ul id='itemDownload' class='dropdown-content'>
                    <li ng-show="isLeader && currentTeam.type == 'builder'"><a class="modal-trigger" data-target="upload" href="#attachDocument">Upload document</a></li>
                    <li>
                        <a id="downloadAll">Download All Documents</a>
                        <span ng-repeat="file in files" style="display:none">
                            <a class="downloadFile" href='{{file.fileUrl}}' download="file.name">{{file.title}}</a>
                        </span>
                    </li>
                 </ul>
           </div>
        </div>
        <div class="row">
            <p class="col s12">{{project.description}}</p>    
        </div>      
        <div class="row">
          <file></file>   
        </div>
    </div>
</div>




 -->

<div class="col s10 offset-s1">
   <div class="collection with-header">
       <div class="row collection-header" style="margin-bottom:0px">
            
            <div class="col right" style="margin-top: 10px">
               <a class="modal-trigger" data-target="upload" href="#attachDocument" style="margin-left:30px; padding: 5px; font-size: 12px; color: black">UPLOAD NEW DOCUMENT</a>
               <a id="downloadAll" style="margin-left:30px; padding: 5px; font-size: 12px; color: black; cursor:pointer;">DOWNLOAD ALL DOCUMENTS</a>
               <span ng-repeat="file in files" style="display:none">
                    <a class="downloadFile" href='{{file.fileUrl}}' download="file.name">{{file.title}}</a>
                </span>
            </div>
            
       </div>
       <div class="row collection-header" style="margin-bottom:0px;">
           <div class="col s12">
               <div style="font-size: 12px;">
                   <a ng-click="filter('all')" style="margin-left:30px; padding: 5px; background-color: #eeeeee; border-radius: 3px">ALL DOCUMENTS</a>
                   <a ng-click="filter('architectural')" style="margin-left:30px">ARCHITECTURAL</a>
                   <a ng-click="filter('engineering')" style="margin-left:30px">ENGINEERING</a>
                   <a ng-click="filter('council')" style="margin-left:30px">COUNCIL</a>
                   <a ng-click="filter('other')" style="margin-left:30px">OTHER</a>
               </div>
           </div>
       </div>
       <div  style="height: 480px; overflow-y: auto; background-color: white;">
            <div ng-if="!hasFilter" class="collection-item row" ng-repeat="file in files">
                <div class="col s10"> {{file.title}}</div>
                <div class="col s2"><a><i class="material-icons" style="color:black">remove_red_eye</i></a></div>
                <div class="col s12">
                    <div style="font-size:12px;">{{file.description}}.</div>
                    <div style="font-size:12px;">Version {{file.version +1}} - {{file.createdAt | date: longDate}}</div>
                </div>
            </div>

            
            <div ng-if="hasFilter" class="collection-item row" ng-repeat="file in files | filter: {tags: filterValue}">
                <div class="col s10"> {{file.title}}</div>
                <div class="col s2"><a><i class="material-icons" style="color:black">remove_red_eye</i></a></div>
                <div class="col s12">
                    <div style="font-size:12px;">{{file.description}}.</div>
                    <div style="font-size:12px;">Version {{file.version +1}} - {{file.createdAt | date: longDate}}</div>
                </div>
            </div>
       </div>
   </div>
</div>

<div id="attachDocument" class="modal modal-fixed-footer">
    <upload type="project" package=""></upload>
</div>

<script>
$(document).ready(function(){
    $("#downloadAll").click(function(){
        $('a.downloadFile').each(function(){
            $(this).simulateClick("click");
        });
    });
});
jQuery.fn.simulateClick = function() {
    return this.each(function() {
        if('createEvent' in document) {
            var doc = this.ownerDocument,
                evt = doc.createEvent('MouseEvents');
            evt.initMouseEvent('click', true, true, doc.defaultView, 1, 0, 0, 0, 0, false, false, false, false, 0, null);
            this.dispatchEvent(evt);
        } else {
            this.click(); // IE Boss!
        }
    });
}
</script>