
<div>
  <md-menu md-position-mode="target-right target">
    <md-button class="md-icon-button" ng-click="openNotification($mdOpenMenu, $event)">
      <md-icon class="material-icons" ng-if="total == 0">notifications_none</md-icon>
      <md-icon class="material-icons" ng-if="total > 0">notifications</md-icon>
    </md-button>
    <md-menu-content width="4" style="height: 60vh; overflow-y:auto">
      <md-menu-item ng-if="total == 0">
        <md-button>No notifications</md-button>
      </md-menu-item>
      <md-menu-item ng-if="total > 0" ng-click="markAllAsRead()">
        <md-button>Mark all as read</md-button>
      </md-menu-item>
      <md-menu-item ng-if="total > 0" notification="notification" current-user='currentUser' ng-repeat="notification in notifications">
        
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>