<div class="notification-list z-depth-1">
  <div class="_notification">
      <h5 style="display: inline-block">Notification</h5>
      <a class="btn waves-effect waves-yellow" ng-click="markAllAsRead()" style="margin-left:120px">Mark all as read</a>
  </div>
  <div slimscroll slimscroll-option="slimScrollOptions" scroll-to-bottom-cb="loadMore">
    <div notification="notification" class="_notification" ng-class="{'read' : !notification.unread}" ng-repeat="notification in notifications"></div>
  </div>
</div>