<md-dialog aria-label="Add New Contact" flex="75">
    <form ng-submit="addContact()" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add New Contact</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-padding>
				
                <div layout="column" ng-show="step==1">
					
                    <p class="md-body-2">Enter the email address and mobile phone number for the contact you would like to create...</p>
					
                    <div layout="row">
                        <md-input-container flex>
                            <label for="">Email</label>
                            <input type="email" name="email" ng-model="searchNewContact.email">
                        </md-input-container>
                        <md-input-container flex>
                            <label for="">Phone Number</label>
                            <input type="text" name="phoneNumber" ng-model="searchNewContact.phoneNumber" ng-pattern="/^[0-9]{1,15}$/">
                        </md-input-container>
                    </div>
					
                    <p class="validate-message" ng-show="form.phoneNumber.$error.pattern">The mobile phone number you have entered is not valid.</p>
					
                </div>

                <div layout="column" ng-show="step==2">
					
                    <div layout="column" ng-show="searchUsers.length > 0">
						
						<div layout="row" layout-padding>
	                        <p class="md-body-2">We have found the following people in our database. If the contact you are searching for appears here, select their name and click "Add Contact".</p>
						</div>
						
						<div layout="column" layout-padding>
	                        <md-radio-group ng-model="selectedContact" class="md-primary">
								<div ng-repeat="user in searchUsers" layout="row" layout-padding layout-align="start center">
									<md-radio-button ng-value="user" class="md-primary"><span style="font-size: 20px">{{user.name}}</span> <span> {{user.email}}, {{user.phoneNumber}} {{user.teamName}}</span></md-radio-button>
								</div>
	                        </md-radio-group>
						</div>
						
                    </div>

                    <md-divider></md-divider>

                    <div layout="column" ng-show="searchUsers.length===0 || showSearchResult">
                        <h3>Or Create A New Contact</h3>
                        <md-radio-group ng-model="selectedNewContact">
                            <md-radio-button flex="15" ng-value="searchNewContact" class="md-primary" >
                            </md-radio-button>
                            <div layout="row" flex>
                                <md-input-container flex="20">
                                    <label for="">First Name</label>
                                    <input type="text" ng-model="searchNewContact.firstName">
                                </md-input-container>
                                <md-input-container flex="20">
                                    <label for="">Last Name</label>
                                    <input type="text" ng-model="searchNewContact.lastName">
                                </md-input-container>
                                <md-input-container flex="20">
                                    <label for="">Email</label>
                                    <input type="text" ng-model="searchNewContact.email" disabled>
                                </md-input-container>
                                <md-input-container flex="20">
                                    <label for="">Phone Number</label>
                                    <input type="text" ng-model="searchNewContact.phoneNumber" disabled>
                                </md-input-container>
                                <md-input-container flex="20">
                                    <label for="">Team Name</label>
                                    <input type="text" ng-model="searchNewContact.teamName">
                                </md-input-container>
                            </div>
                        </md-radio-group>
                    </div>
                </div>
            </div>

            <md-dialog-actions>
                <md-button ng-click="dialogService.closeModal()">Cancel</md-button>

                <md-button ng-hide="step==1" ng-click="step = step-1">Back</md-button>
                <md-button ng-hide="step==2" ng-click="next('addContact')">Next</md-button>

                <md-button ng-show="step==2" type="submit">Add Contact</md-button>
            </md-dialog-actions>
        </md-dialog-content>
    </form>
</md-dialog>