<div class="row card" style="margin-top: 10px">

    <div class="col s2" style="margin-right: 1px solid #eee; max-height: 81vh; overflow-y: scroll; font-size: 12px; color: #757575;">
        <p ng-click="setNewBoard()" style="margin-left: 10px; color: black" class="modal-trigger margin-10-0 feature-btn-wrapper" href="#new_board"><a class="feature-btn">ADD A BOARD</a></p>
        <p class="margin-10-0">BOARDS</p>
        <p class="margin-10-0 font-weight-600" style="margin-left: 10px;" ng-repeat="board in boards" ng-click="selectBoard(board)" ng-style="board._id == currentBoard._id ? {'color': '#64B5F6'} : {'color': 'black'}" ng-if="board.isOwner || board.owner._id == currentUser._id">
            {{board.name}}
            <span style="background-color: #eee; padding: 5px; margin-left: 5px;">{{board.unreadMessagesNumber}}</span>
        </p>
        <!-- <p style="margin-left: 10px; color: #42A5F5"><strong>Board 3</strong></p> -->

    </div>

    <div class="col s7" style="border-left: 1px solid #eee; border-right: 1px solid #eee;">

        <div id="boardChatContent" style="height: 69vh; overflow-y: scroll; position: relative;" scroll-to-bottom="currentBoard.messages">

            <div class="row chat-paragraph valign-wrapper" style="border-bottom: 1px solid #eee;" ng-repeat="message in currentBoard.messages" ng-style="message.latestMessage ? {'position':'relative'} : {}">
                <span ng-if="message.latestMessage" style="position: absolute; top: -20px; left: 0px; right: 0px; border-top: 1px solid red;">
                    <small style="position: absolute; top: -15px; right: 20px; background-color: #FFF; padding: 5px;">New messages</small>
                    <a href=""></a>
                </span>
                <div class="col">
                    <!-- <i ng-if="!message.isFocus" class="tiny material-icons valign" ng-style="message.unread ? {'color': '#64B5F6'} : {'color': 'white'}">brightness_1</i> -->
                    <i ng-if="message.isFocus" class="tiny material-icons valign" style="color: red">brightness_1</i>
                </div>
                <div class="col">
                    <p class="row chat-name" style="font-size: 10px; color: #757575; margin-bottom: 0px">
                        <strong>{{message.user.name}}</strong><span style="font-size: 10px"> - {{message.sendAt | date : 'MMM d, y h:mm:ss a'}}.</span>
                        <span style="font-size: 10px" ng-if="message.peopleHasSeen.length > 0">Seen by:<span ng-repeat="seenUser in message.peopleHasSeen" style="background-color: #E0E0E0; border-radius: 2px; margin-right: 3px; padding: 3px"> {{seenUser}}</span></span>
                    </p>
                    <p class="row chat-text" style="font-size: 13px; margin-top: 8px">
                        <!-- <span ng-repeat="mention in message.mentions" style="background-color:#E0E0E0; padding: 5px; border-radius: 3px; margin-right: 6px">@{{mention.name}}</span>
                        {{message.text}} -->
                        <span ng-bind-html="message.text | mention: message.mentions"></span>
                    </p>
                </div>

            </div>



        </div>

        <div class="valign-wrapper" style="border-top: 1px solid #eee;">
            <form class="col s11">
                <div class="row" style="margin-bottom: -5px; margin-top: -18px">
                    <div id="mentionPeople" class="col s12" ng-if="showPopup" style="position: fixed; bottom: 150px; height: 100px; width:200px; background-color:#64B5F6; overflow-y: auto">
                        <ul>
                            <li ng-click="getMentionValue(mention)" ng-repeat="mention in available | filter: mentionString">{{mention.name}}</li>
                        </ul>
                    </div>
                    <div class="input-field col s12">
                        <textarea placeholder="Send a Message..." id="textarea1-board-chat" class="materialize-textarea" ng-model="message.text" ng-keydown="enterMessage($event);"></textarea>
                    </div>
                </div>
            </form>
            <div class="col s1 valign">
                <a><i class="material-icons modal-trigger" href="#new_attachment" style="color: #64B5F6">attach_file</i></a>
                <a><i class="material-icons valign modal-trigger" href="#new_task" style="color: #64B5F6">done</i></a>

            </div>
        </div>

    </div>

    <div class="col s3">

        <div class="row">
            <div class="col s12" style="margin-top: 15px;">
                <ul class="tabs">
                    <ul class="tabs" tabs>
                        <li class="tab col s3"><a class="active" href="#test1">
                            <i class="material-icons">info_outline</i>
                        </a></li>
                        <li class="tab col s3"><a href="#test2">
                            <i class="material-icons">attachment</i>
                        </a></li>
                        <li id="taskTab" class="tab col s3"><a href="#test3">
                            <i class="material-icons">done_all</i>
                        </a></li>
                    </ul>
                </ul>
            </div>
            <div id="test1" class="col s12" style="height: 65vh; overflow-y: scroll">
                <div class="person-row" style="font-size: 12px; border-bottom: 1px solid #eee">
                    <p class="feature-btn-wrapper"><a ng-click="setInvite()" href="#invite_people" class="modal-trigger feature-btn">INVITE OTHER PEOPLE</a></p>
                </div>
                <div ng-if="currentBoard._id" class="person-row" style="font-size: 12px; border-bottom: 1px solid #eee" ng-repeat="invitee in available">
                    <p class="margin-10-0 valign-wrapper"><i class="tiny material-icons valign" style="color: #64B5F6; margin-right: 5px; font-size: 8px" ng-style="invitee.isOnline ? {'color': '#81C784'} : {'color': '#E0E0E0'}">brightness_1</i>{{invitee.name}}</p>
                </div>
            </div>

            <div id="test2" class="col s12" style="height: 65vh; overflow-y: scroll">
                <div class="attachment-row" style="font-size: 12px; border-bottom: 1px solid #eee">
                    <p class="feature-btn-wrapper"><a class="modal-trigger feature-btn" href="#new_attachment">ADD AN ATTACHMENT</a></p>
                </div>
                <div class="attachment-row" style="font-size: 12px; border-bottom: 1px solid #eee" ng-repeat="file in files">
                    <p class="margin-10-0"><a href="#modal-attachment-detail-{{file._id}}" class="modal-trigger">{{file.title}}(Version: {{file.version + 1}})</a></p>
                </div>
            </div>

            <div id="test3" class="col s12" style="height: 69vh; overflow-y: scroll">
                <div class="task-row" style="font-size: 12px; border-bottom: 1px solid #eee">
                    <p class="feature-btn-wrapper"><a href="#new_task" class="modal-trigger feature-btn">ADD A TASK</a></p>
                </div>
                <div class="task-row" style="font-size: 12px; border-bottom: 1px solid #eee" ng-repeat="task in tasks" ng-if="task.isOwner">
                    <div class="col s2">
                        <i ng-if="task.isFocus" class="tiny material-icons valign" style="color: red;" style="color: red">brightness_1</i>
                    </div>
                    <div class="col s2">
                        <p>
                            <input ng-if="!task.completed" type="checkbox" id="complete" ng-click="complete(task)" ng-disabled="!task.isOwner"/>
                            <label for="complete"></label>
                        </p>
                        <p>
                            <input ng-if="task.completed" checked="true" type="checkbox" id="completed" ng-click="complete(task)" ng-disabled="!task.isOwner"/>
                            <label for="completed"></label>
                        </p>
                    </div>
                    <div class="col s8">
                        <a href="#modal-task-detail-{{task._id}}" class="modal-trigger">
                            <p class="margin-10-0">
                                <strong>{{task.name}}</strong>
                            </p>
                            <small>{{task.description}}</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="new_attachment" class="modal modal-fixed-footer" style="width: 60%">
    <form name="uploadForm" ng-submit="uploadNewAttachment()">
        <div class="modal-content">
            <h5>New Attachment</h5>
            <div class="row">
                <input filepicker type="filepicker-dragdrop" data-fp-services="computer, DROPBOX, gmail, skydrive, GOOGLE_DRIVE" on-success="onSuccess(event.fpfile)" data-fp-multiple="false"/>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-action btn-flat">Attach</button>
            <button type="button" class="modal-action modal-close btn-flat">Cancel</button>
        </div>
    </form>
</div>

<div id="new_task" class="modal modal-fixed-footer" style="width: 60%">
    <form name="newTaskForm" ng-submit="addNewTask(newTaskForm)">
        <div class="modal-content">
            <h5>New Task</h5>
            <div class="row">
                <label>Title</label>
                <input type="text" name="name" ng-model="task.name" ng-class="{'invalid' : newTaskForm.name.$invalid && submitted}" required>
                <p class="validate-message" ng-show="newTaskForm.name.$error.required && submitted">Task title is required</p>
            </div>
            <div class="row">
                <label>Task Description</label>
                <textarea name="description" id="description" ng-model="task.description" ng-class="{'invalid' : newTaskForm.description.$invalid && submitted}" required></textarea>
                <p class="validate-message" ng-show="newTaskForm.description.$error.required && submitted">Task description is required</p>
            </div>
            <div class="row">
                <label for="">Task due date</label>
                <input type="text"
                    name="created"
                    id="dueDate"
                    ng-model="task.dateEnd"
                    format="mm/dd/yyyy"
                    datepicker
                />
            </div>
            <div class="row">
                <p>Assignees</p>
                <div class="card col" style="padding: 5px; margin-left: 10px" ng-repeat="assignee in task.assignees">
                    {{assignee.name}} <span ng-if="assignee.canRevoke"><a href="#!" ng-click="revoke(assignee,$index)"><i class="mdi-navigation-cancel" style="margin-left: 5px"></i></a></span>
                </div>
            </div>
            <div class="row">
                <p>Available Assignee's:</p>
                <a href="#!" ng-click="assign(staff,$index)" ng-repeat="staff in available track by $index">
                    <div class="card col" style="padding: 5px; margin-left: 10px">
                        {{staff.name}}
                    </div>
                </a>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-action btn-flat">Save</button>
            <button type="button" class="modal-action modal-close btn-flat">Cancel</button>
        </div>
    </form>
</div>

<div id="new_board" class="modal modal-fixed-footer" style="width: 60%">
    <form name="newBoardForm" ng-submit="createNewBoard(newBoardForm)">
        <div class="modal-content">
            <h5>New Board</h5>
            <div class="row">
                <label for="">Name</label>
                <input type="text" name="name" ng-model="board.name" required >
            </div>
            <div class="row">
                <p>Invitees</p>
                <div class="card col" style="padding: 5px; margin-left: 10px" ng-repeat="assignee in board.invitees">
                    {{assignee.name}} <span ng-if="assignee.canRevoke"><a href="#!" ng-click="revokeUser(assignee,$index)"><i class="mdi-navigation-cancel" style="margin-left: 5px"></i></a></span>
                </div>
            </div>
            <div class="row">
                <p>Available Invitees's:</p>
                <a href="#!" ng-click="inviteUser(invitee,$index)" ng-repeat="invitee in newBoardPeople track by $index">
                    <div class="card col" style="padding: 5px; margin-left: 10px">
                        {{invitee.name}}
                    </div>
                </a>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-action btn-flat">Save</button>
            <button type="button" class="modal-action modal-close btn-flat">Cancel</button>
        </div>
    </form>
</div>

<div id="invite_people" class="modal modal-fixed-footer" style="width: 60%">
    <form name="inviteForm" ng-submit="invitePeople(inviteForm)">
        <div class="modal-content">
            <h5>Invite more people</h5>
            <div class="row">
                <p>Invitees</p>
                <div class="card col" style="padding: 5px; margin-left: 10px" ng-repeat="assignee in invite.invitees">
                    {{assignee.name}} <span ng-if="assignee.canRevoke"><a href="#!" ng-click="revokeInInviteUser(assignee,$index)"><i class="mdi-navigation-cancel" style="margin-left: 5px"></i></a></span>
                </div>
            </div>
            <div class="row">
                <p>Available Invitees's:</p>
                <a href="#!" ng-click="inviteInInviteUser(invitee,$index)" ng-repeat="invitee in availableInvite track by $index">
                    <div class="card col" style="padding: 5px; margin-left: 10px">
                        {{invitee.name}}
                    </div>
                </a>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-action btn-flat">Invite</button>
            <button type="button" class="modal-action modal-close btn-flat">Cancel</button>
        </div>
    </form>
</div>

<div class="modal modal-fixed-bottom" id="modal-attachment-detail-{{file._id}}" ng-repeat="file in files">
    <h5>View attachment {{file.title}} detail</h5>
    <div class="modal-content">
        <div file-picker-previewer type="filepicker-preview" url="{{file.path}}" style="height:70vh;"> </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="modal-action modal-close btn-flat">Close</button>
        <button type="button" ng-click="downloadFile(file)" class="modal-action modal-close btn-flat">Download</button>
    </div>
</div>

<div class="modal modal-fixed-bottom" id="modal-task-detail-{{task._id}}" ng-repeat="task in tasks" style="width: 60%">
    <h5>View task {{task.name}} detail</h5>
    <div class="modal-content">
        <p>{{task.description}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="modal-action modal-close btn-flat">Close</button>
    </div>
</div>
