<md-dialog aria-label="Create a New Related Thread" flex="70">
    <form ng-submit="createRelatedThread(form)" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create a New Related Thread</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
				
				<div layout="row">
					<md-input-container flex>
				        <label>Message Thread Name</label>
				        <input md-autofocus type="text" ng-model="thread.name" name="name" required/>
					</md-input-container>
				</div>
			
				<div layout="row" layout-align="center center" class="tagcloud" layout-wrap>
				
					<span class="available-tag">Assignee 1</span>
					<span class="available-tag">Assignee 2</span>
					<span class="available-tag">Assignee 3</span>
					<span class="selected-tag">Assignee 4</span>
					<span class="available-tag">Assignee 5</span>
					<span class="selected-tag">Assignee 6</span>
					<span class="selected-tag">Assignee 7</span>
					<span class="selected-tag">Assignee 8</span>
					<span class="available-tag">Assignee 9</span>
					<span class="available-tag">Assignee 10</span>
					<span class="available-tag">Assignee 11</span>
					<span class="available-tag">Assignee 12</span>
				
				</div>
				
                <!-- <div layout="row">
                    <md-input-container flex>
                        <label>Related Thread Name</label>
                        <input md-autofocus type="text" ng-model="relatedThread.name" name="name" required/>
                    </md-input-container>
                </div>

                <div ng-cloak>
                    <md-content layout="row" layout-wrap layout-xs="column">
                        <div flex="33" flex-sm="50" flex-xs="100" layout="row">
                            <md-card ng-click="selectMember($index, 'invitee')" ng-repeat="member in invitees" layout-margin>
                                <md-card-header>
                                    <p class="name">{{member.name}}</p>
                                </md-card-header>

                                <md-card-content>
                                    <p class="email">{{(member.email) ? member.email : 'Email Address'}}</p>
                                    <p class="phone">{{(member.phoneNumber)? member.phoneNumber : 'Phone Number'}}</p>
                                </md-card-content>

                                <md-card-actions layout-margin>
                                    <md-card-icon-actions layout="row" layout-align="space-around center">
                                        <md-button class="material-icons md-icon-button">
                                            <md-tooltip md-direction="down">Invite To This Thread</md-tooltip>
                                            <md-icon ng-show="member.select" class="material-icons">done</md-icon>
                                        </md-button>
                                    </md-card-icon-actions>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </md-content>
                </div> -->
					
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="closeModal()">Cancel</md-button>
            <md-button type="submit" class="md-raised md-accent md-hue-1">Create Related Thread!</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>