<md-dialog aria-label="Edit File Detail" flex="70">
    <form ng-submit="editFile(form)" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit File Details</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <div layout="row" ng-show="step==1">
                    <md-input-container flex>
                        <label>File Name</label>
                        <input input="text" ng-model="file.name" name="name" required/>
                    </md-input-container>
                </div>
                
				<div layout="column" ng-show="step==1">
					<p class="md-body-2">Select a relevant file tags:</p>
	                <md-select ng-model="file.selectedTag">
                        <md-option ng-repeat="tag in tags" ng-value="tag.name">{{tag.name}}</md-option>
                    </md-select>
				</div>

                <div layout="column" ng-show="step==2">
                    <p class="md-body-2">Select Or Change Current File Event</p>
                    <md-input-container flex>
                        <label for="">Events List</label>
                        <md-select ng-model="file.selectedEvent">
                            <md-option ng-repeat="activity in activities" ng-show="!activity.isMilestone" ng-value="activity._id">{{activity.name}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout="column" ng-show="step==3">
                    <div>
                        <p class="md-body-2">Current Members Of This File</p>
                        <div layout="row" layout-align="center center" layout-wrap layout-padding flex>
                            <md-checkbox class="filter-checkbox md-primary" ng-repeat="member in file.members" ng-checked="true">{{(member._id) ? member.name : member.email}}</md-checkbox>
                            <md-checkbox class="filter-checkbox md-primary" ng-repeat="email in file.notMembers" ng-checked="true">{{email}}</md-checkbox>
                        </div>
                    </div>
                    <div>
                        <p class="md-body-2">Select who you would like to assign to this file:</p>
                        <div layout="row" layout-align="center center" layout-wrap layout-padding flex>
                            <md-checkbox class="filter-checkbox md-primary" ng-repeat="member in membersList" ng-click="selectMember($index, 'member')">{{(member._id) ? member.name : member.email}}</md-checkbox>
                        </div>
                    </div>
                </div>
				
            </div>
        </md-dialog-content>
        
        <md-dialog-actions>
            <md-button ng-click="closeModal()">Cancel</md-button>
            <md-button ng-click="step=step-1" ng-show="step!=1">Back</md-button>
            <md-button ng-click="next('edit-file')" ng-show="step!=3">Next</md-button>
            <md-button type="submit" class="md-primary" ng-show="step==3">Save Edits</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>