<md-dialog aria-label="Upload a File Revision" flex="70">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Upload a Revision to this File</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-padding>
                
				<div layout="column">
					<p class="md-body-2">Select the revision that you would like to upload:</p>
	                <div layout="row" layout-align="center center" class="tagcloud-selection">
	                    <input type="file" nv-file-select="" uploader="uploader"/>
	                </div>
				</div>
            </div>
        </md-dialog-content>
        
        <md-dialog-actions>
            <md-button ng-click="closeModal()">Cancel</md-button>
            <md-button ng-click="uploadReversionFile()" class="md-primary">Add Revision</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>