<div class="detail-header" layout-padding layout="row">
		
	<md-chips class="" ng-model="tendersFilters" placeholder="Search..." secondary-placeholder="Search..." flex="45">
		<md-chip-template class="md-accent">
	        <strong>{{$chip}}</strong>
	    </md-chip-template>
	</md-chips>

	<span flex></span>

	<md-chips class="set-filters">
		<md-chip>Open</md-chip>
		<md-chip>Won</md-chip>
		<md-chip>Due This Week</md-chip>
		<md-chip>Due Next Week</md-chip>
	</md-chips>
	
</div>

<md-list ng-cloak class="main-page-content">
	<div ui-sref="project.tenders.detail({tenderId: member._id})" ng-repeat="member in membersList">
		<md-list-item class="md-2-line" md-ink-ripple>
			<div class="md-list-item-text" layout="column">
		          	<h3>{{member.tenderName}}</h3>
		          	<p ng-repeat="tender in member.tenderers">
		          		<span>{{(tender._id) ? tender._id.name : tender.email}} </span>
		          	</p>
	        </div>
		</md-list-item>
		<md-divider></md-divider>
	</div>
</md-list>

<div>
  <md-fab-speed-dial ng-cloak md-open="false" md-direction="up" class="md-scale md-fab-bottom-right fab-list" ng-show="!isArchive">
	  <md-fab-trigger>
  	      <md-button aria-label="Add a New Tender to this Project" class="md-fab md-primary" ng-click="showNewTenderModal($event)">
			  <md-tooltip md-direction="left">Add a New Tender</md-tooltip>
		      <md-icon class="material-icons" >add</md-icon>
  	      </md-button>
      </md-fab-trigger>
  </md-fab-speed-dial>
</div>