<div class="row">
  <h4>Project detail</h4>
  <h5>{{quoteRequest.project.name}}</h5>

  <p>{{quoteRequest.project.description}}</p>

  <alert type="success" close="closeSuccess()" ng-show="success">Thank you for your submit, you can login now and enjoy yourself.</alert>
  <alert ng-repeat="(key, msg) in errors" type="danger" close="closeAlert(key)">{{msg}}</alert>

  <h4>Package detail</h4>
  <h5>{{quoteRequest.package.name}}</h5>

  <p>{{quoteRequest.package.description}}</p>
  <p><b>Price </b>{{quoteRequest.price}}</p>
    <div ng-if="currentUser.email == quoteRequest.email || quoteRequest.status != 'selected'">
        <form method="post" ng-submit="selectQuote(quoteRequest._id)">
            <input type="hidden" ng-model="file._id" value="filquoteRequeste._id">
            <button class="waves-effect waves-light btn">
                <span>Accept quote</span>
            </button>
        </form>
    </div>
    <div ng-if="currentUser.email == null || currentUser.email == ''">
        <a ui-sref="signin" class="waves-effect waves-light btn">Login</a> or <a ui-sref="signup" class="waves-effect waves-light btn">Registry</a>
    </div>
</div>