<div class="detail-header" layout-padding layout="column" >
	
	<div layout="column" layout-padding>
		
		<div layout="row">
			<md-input-container flex="50" style="margin-bottom: -2vh">
				<label for="">Message Thread Name</label>
				<input type="text" name="messageThreadName" ng-model="name" md-autofocus>
			</md-input-container>
			
			<md-input-container flex="50" style="margin-bottom: -2vh">
				<label for="">Message Thread Recipients</label>
				<input type="text" name="messageThreadRecipients" ng-model="recipient">
			</md-input-container>
			
		</div>
		
		<div layout="row" layout-align="center center">
			<md-input-container flex="60" style="margin-bottom: -2vh">
				<label for="">Message Replies</label>
				<input type="text" name="messageReplies" ng-model="reply">
			</md-input-container>
		</div>
		
	</div>
</div>

<md-list ng-cloak class="main-page-content"  layout="column" flex>
	<div ng-repeat="thread in threads | filter: search | unique: '_id' track by $index" ng-show="thread.element.notificationBy">
		<md-list-item class="md-3-line" md-ink-ripple>
			<div ui-sref="project.messages.detail({id: thread.project, messageId: thread._id})" class="md-list-item-text">
				
				<h3 class="md-display-1" style="margin-top: 15px; margin-bottom: 5px">
					<strong>{{ thread.name }}</strong><span ng-show="thread.__v > 0">({{thread.__v}} Update(s))</span>
				</h3>
				
          		<span class="md-body-2" ng-show="thread.element.notificationBy">{{thread.element.notificationBy.name}} has 
      				<span ng-show="thread.element.notificationType=='thread-assign'"> assigned you to this thread</span>
	       			<span ng-show="thread.element.notificationType=='thread-message'"> sent you new message</span>
          		</span>
	        </div>
			
            <div>
                <md-button class="md-secondary" ng-click="showReplyModal($event, thread)"><md-icon class="material-icons">reply</md-icon><md-tooltip md-direction="down">Compose Reply</md-tooltip></md-button>
            </div>
		</md-list-item>
		<md-divider></md-divider>
	</div>
	<div ng-repeat="thread in threads | filter: search | unique: '_id' track by $index" ng-show="!thread.element.notificationBy">
		<md-list-item class="md-3-line" md-ink-ripple>
			<div ui-sref="project.messages.detail({id: thread.project, messageId: thread._id})" class="md-list-item-text">
				
				<h3 class="md-display-1" style="margin-top: 15px; margin-bottom: 5px">
					<strong>{{ thread.name }}</strong><span ng-show="thread.__v > 0">({{thread.__v}} Update(s))</span>
				</h3>
				
          		<span class="md-body-2" ng-show="thread.element.notificationBy">{{thread.element.notificationBy.name}} has 
      				<span ng-show="thread.element.notificationType=='thread-assign'"> assigned you to this thread</span>
	       			<span ng-show="thread.element.notificationType=='thread-message'"> sent you new message</span>
          		</span>
	        </div>
			
            <div>
                <md-button class="md-secondary" ng-click="showReplyModal($event, thread)"><md-icon class="material-icons">reply</md-icon><md-tooltip md-direction="down">Compose Reply</md-tooltip></md-button>
            </div>
		</md-list-item>
		<md-divider></md-divider>
	</div>
</md-list>

<div>
  <md-fab-speed-dial ng-cloak md-open="false" md-direction="up" class="md-scale md-fab-bottom-right fab-list" ng-show="!isArchive">
	  <md-fab-trigger>
  	      <md-button aria-label="Add a New Message to this Project" class="md-fab md-primary" ng-click="showNewMessageModal($event)">
			  <md-tooltip md-direction="left">Add a New Message</md-tooltip>
		      <md-icon class="material-icons" >add</md-icon>
  	      </md-button>
      </md-fab-trigger>
  </md-fab-speed-dial>
</div>