<div layout-padding>
	<md-toolbar class="md-warn md-hue-1 md-whiteframe-1dp">
		<div class="md-toolbar-tools">
		
			<md-chips class="" ng-model="messageNames" placeholder="Search..." secondary-placeholder="Search..." flex="45">
				<md-chip-template class="md-accent">
			        <strong>{{$chip}}</strong>
			    </md-chip-template>
			</md-chips>
		
			<span flex></span>
		
			<md-chips class="set-filters">
				<md-chip>Mine</md-chip>
			</md-chips>
		
	    </div>
	</md-toolbar>
</div>

<md-list ng-cloak class="main-page-content">

	<div ng-repeat="message in messages" ui-sref="project.messages.detail">
		<md-list-item class="md-2-line" md-ink-ripple>
			<div class="md-list-item-text" layout="column">
		          <h3>{{ message.name }}</h3>
		          <p>{{ message.members }}</p>
	        </div>
		</md-list-item>
		<md-divider></md-divider>
	</div>

</md-list>

<div>
  <md-fab-speed-dial ng-cloak md-open="false" md-direction="up" class="md-scale md-fab-bottom-right fab-list">
	  <md-fab-trigger>
  	      <md-button aria-label="Add a New Message to this Project" class="md-fab md-primary" ng-click="showNewMessageModal($event)">
			  <md-tooltip md-direction="left">Add a New Message</md-tooltip>
		      <md-icon class="material-icons" >add</md-icon>
  	      </md-button>
      </md-fab-trigger>
  </md-fab-speed-dial>
</div>