<div class="detail-header" layout-padding layout="column" >
	
	<div layout="column" layout-padding>
		
		<div layout="row">
			<md-input-container flex="50" style="margin-bottom: -2vh">
				<label for="">Message Thread Name</label>
				<input type="text" name="messageThreadName" ng-model="name" md-autofocus>
			</md-input-container>
			
			<md-input-container flex="50" style="margin-bottom: -2vh">
				<label for="">Message Thread Recipients</label>
				<input type="text" name="messageThreadRecipients" ng-model="recipient">
			</md-input-container>
			
		</div>
		
		<div layout="row" layout-align="center center">
			
			<md-input-container flex="60" style="margin-bottom: -2vh">
				<label for="">Message Replies</label>
				<input type="text" name="messageReplies" ng-model="reply">
			</md-input-container>
			
            <div class="tagcloud" style="margin-bottom: 2vh; margin-left: 2vh">
                <span ng-class="{'available-tag': !showArchived, 'selected-tag': showArchived}" ng-click="showArchived=!showArchived">Show Archived Messages</span>
            </div>
			
		</div>
		
	</div>
</div>

<md-list ng-cloak class="main-page-content"  layout="column" flex>
	<md-list-item class="md-3-line" ng-repeat="thread in threads | filter: search | unique: '_id' track by $index" ng-show="thread.element.notificationBy" md-ink-ripple>
		<div ui-sref="project.messages.detail({id: thread.project, messageId: thread._id})" class="md-list-item-text">
			
			<h3>{{ thread.name }}</h3>
			<h4>Assignee 1, Assignee 2</h4>
			<p style="color: #2196F3">Updates: {{thread.element.notifications.length}}</p>
			
      		<!-- <span class="md-body-2" ng-show="thread.element.notificationBy">{{(thread.element.notificationBy._id==currentUser._id) ? "You" : thread.element.notificationBy.name}} has
  				<span ng-show="thread.element.notificationType=='thread-assign'">
                    assigned <span ng-repeat="member in thread.members">{{(member._id==currentUser._id) ? "you" : member.name}}, </span>
                    <span ng-repeat="email in thread.notMembers">{{email}}, </span>
                </span>
                <span ng-show="thread.element.notificationType=='thread-message'"> sent a reply: "{{thread.element.text}}"</span>
                <span ng-show="thread.element.notificationType=='thread-archive'"> archived this thread</span>
       			<span ng-show="thread.element.notificationType=='thread-unarchive'"> unarchived this thread</span>
      		</span>...<span ng-show="thread.element.notificationBy && thread.__v - 1 > 0">+{{thread.__v - 1}} More</span> -->
        </div>
		
        <div>
            <md-button class="md-secondary" ng-click="showReplyModal($event, thread)"><md-icon class="material-icons">reply</md-icon><md-tooltip md-direction="down">Compose Reply</md-tooltip></md-button>
        </div>
	    <md-divider></md-divider>
    </md-list-item>
	
	<md-list-item class="md-3-line" ng-repeat="thread in threads | filter: search | unique: '_id' track by $index" ng-show="!thread.element.notificationBy" md-ink-ripple>
		<div ui-sref="project.messages.detail({id: thread.project, messageId: thread._id})" class="md-list-item-text">
			
			<h3>{{ thread.name }}</h3>
			<h4>Assignee 1, Assignee 2</h4>
			<p style="color: #2196F3">Updates: {{thread.element.notifications.length}}</p>
            
            <!-- <span class="md-body-2" ng-show="thread.element.notificationBy">{{(thread.element.notificationBy._id==currentUser._id) ? "You" : thread.element.notificationBy.name}} has
                <span ng-show="thread.element.notificationType=='thread-assign'">
                    assigned <span ng-repeat="member in thread.members">{{(member._id==currentUser._id) ? "you" : member.name}}, </span>
                    <span ng-repeat="email in thread.notMembers">{{email}}, </span>
                </span>
                <span ng-show="thread.element.notificationType=='thread-message'"> sent a reply: "{{thread.element.text}}"</span>
            </span><span ng-show="thread.element.notificationBy && thread.__v - 1 > 0">... +{{thread.__v - 1}} More</span> -->
        </div>
		
        <div>
            <md-button class="md-secondary" ng-click="showReplyModal($event, thread)"><md-icon class="material-icons">reply</md-icon><md-tooltip md-direction="down">Compose Reply</md-tooltip></md-button>
        </div>
	    <md-divider></md-divider>
    </md-list-item>
</md-list>

<div>
  <md-fab-speed-dial ng-cloak md-open="false" md-direction="up" class="md-scale md-fab-bottom-right fab-list" ng-show="!isArchive">
	  <md-fab-trigger>
  	      <md-button aria-label="Add a New Message to this Project" class="md-fab md-primary" ng-click="showNewMessageModal($event)">
			  <md-tooltip md-direction="left">Add a New Message</md-tooltip>
		      <md-icon class="material-icons" >add</md-icon>
  	      </md-button>
      </md-fab-trigger>
  </md-fab-speed-dial>
</div>