<md-dialog aria-label="History of {{history.name}}" flex="70">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>History of {{history.name}}</h2>
        </div>
    </md-toolbar>
    
    <md-dialog-content>
        <div class="md-dialog-content" layout="column">
            <div layout="row">
                <h4>{{history.description}}</h4>
            </div>

            <div layout="row">
                <md-button ng-click="download(history.name, history.link)">Download</md-button>
            </div>

            <div layout="row">
                <div flex file-picker-previewer type="filepicker-preview" url="{{history.link}}" style="height:75vh;"> </div>
            </div>
        </div>
    </md-dialog-content>
    
    <md-dialog-actions>
        <md-button ng-click="closeModal()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>