<div style="height: 92vh; background-color: #FAFAFA" layout-padding>
	<div flex-offset="30" flex="40" class="md-whiteframe-1dp" style="background-color: white; margin-top: 15vh" layout-padding>
		
			<form name="form" ng-submit="signin(form)">
				<div layout="column" layout-margin>
				
					<div layout="row" layout-align="center center">
						<p style="font-size: 20px; font-weight: 500; margin-bottom: 3vh">Sign in to your account</p>
					</div>
				
					<md-input-container>
				        <label>Email Address</label>
				        <input ng-model="user.email" name="email" type="email" ng-required="true" md-autofocus>
					</md-input-container>
			
					<md-input-container>
				        <label>Password</label>
				        <input ng-model="user.password" type="password" ng-required="true" name="userPassword">
					</md-input-container>

			        <div layout="row" ng-show="error">
			          <strong>Error! </strong>{{errorMsg}}
			        </div>
				
					<div layout="row" layout-align="center center">
						<md-button type="submit" class="">Login</md-button>
					</div>
				
				</div>
			</form>
		
	</div>

	<div flex-offset="35" flex="30" layout="column" layout-align="center center" layout-padding>
		<p>Forgot Password?</p>
		<p>Need an account? Sign up here</p>
	</div>
</div>