<div layout="row" class="main-content container" style="margin-top:50px;">
  <div class="col-md-12">
    <div class="add-comment contact-form boxed">
      <alert ng-repeat="(key, msg) in errors" type="danger" close="closeAlert(key)">
        {{msg}}
      </alert>
      <div class="card collection">
          <form method="post" ng-submit="signin()" style="padding:10px;">
            <h3>Login</h3>
            <div layout layout-sm="column">
              <div input-field>
                <label>Email</label>
                <input ng-model="user.email" type="text" required>
              </div>
            </div>
            <div layout layout-sm="column">
              <div input-field>
                <label>Password</label>
                <input ng-model="user.password" required type="password">
              </div>
            </div>

            <div layout layout-sm="column">
              <button class="waves-effect waves-light btn">Login</button>
              <a ui-sref="forgotPassword" style="margin-left: 20px">Forgot Password</a>
            </div>
          </form>
      </div>
    </div>

  </div>
</div>