<div class="row card" style="margin-top: 10px">
    <!-- IF THE PROJECT MANAGER IS THE BUILDER -->
    <div ng-if="builderPackage.projectManager.type == 'builder'" class="col s2" style="margin-right: 1px solid #eee; max-height: 81vh; overflow-y: scroll; font-size: 12px; color: #757575;">
        <p><a ng-click="setInvite()" class="modal-trigger" href="#tender_modal">INVITE PEOPLE</a></p>
        <p ng-mouseover="accordian = 1">TEAM</p>
        <p class="margin-10-0 font-weight-600" ng-show="accordian == 1" style="margin-left: 10px" ng-repeat="currentTeamMember in currentTeamMembers" ng-click="selectUser(currentTeamMember, 'team')" ng-style="currentTeamMember._id == selectedUser._id ? {'color': '#64B5F6'} : {'color': 'black'}">
            <i class="tiny material-icons valign" style="color: #64B5F6" ng-style="currentTeamMember.isOnline ? {'color': '#4BBF6B'} : {'color': '#EDEFF0'}">brightness_1</i>
            {{currentTeamMember.name}}
        </p>
        <p ng-show="currentUser.type == 'client' || currentUser.type == 'architect' || currentUser.roleAdmin" ng-mouseover="accordian = 2; getTenderListByType('builder')">BUILDER</p>
        <p class="margin-10-0 font-weight-600" ng-show="accordian == 2" style="margin-left: 10px;" ng-repeat="builder in invitePeople.builders" ng-if="builder._id" ng-click="selectUser(builder._id, 'builder')" ng-style="builder._id._id == selectedUser._id ? {'color': '#64B5F6'} : {'color': 'black'}">
            <i class="tiny material-icons valign" style="color: #64B5F6" ng-style="builder._id.isOnline ? {'color': '#4BBF6B'} : {'color': '#EDEFF0'}">brightness_1</i>
            {{builder._id.name}}
        </p>
        <p ng-show="currentUser.type == 'builder' || currentUser.roleAdmin" ng-mouseover="accordian = 3; getTenderListByType('architect')">ARCHITECT</p>
        <p class="margin-10-0 font-weight-600" ng-show="accordian == 3" style="margin-left: 10px;" ng-repeat="architect in invitePeople.architects" ng-if="architect._id" ng-click="selectUser(architect._id, 'architect')" ng-style="architect._id._id == selectedUser._id ? {'color': '#64B5F6'} : {'color': 'black'}">
            <i class="tiny material-icons valign" style="color: #64B5F6" ng-style="architect._id.isOnline ? {'color': '#4BBF6B'} : {'color': '#EDEFF0'}">brightness_1</i>
            {{architect._id.name}}
        </p>
        <p ng-show="currentUser.type == 'builder' || currentUser.roleAdmin" ng-mouseover="accordian = 4;  getTenderListByType('client')">CLIENT</p>
        <p class="margin-10-0 font-weight-600" ng-show="accordian == 4" style="margin-left: 10px;" ng-repeat="client in invitePeople.clients" ng-if="client._id" ng-click="selectUser(client._id, 'client')" ng-style="client._id == selectedUser._id._id ? {'color': '#64B5F6'} : {'color': 'black'}">
            <i class="tiny material-icons valign" style="color: #64B5F6" ng-style="client._id.isOnline ? {'color': '#4BBF6B'} : {'color': '#EDEFF0'}">brightness_1</i>
            {{client._id.name}}
        </p>
        <p ng-show="currentUser.type == 'builder' || currentUser.type == 'subcontractor' || currentUser.roleAdmin" ng-mouseover="accordian = 5;  getTenderListByType('subcontractor')">SUBCONTRACTORS</p>
        <p class="margin-10-0 font-weight-600" ng-show="accordian == 5" style="margin-left: 10px;" ng-repeat="subcontractor in invitePeople.subcontractors" ng-if="subcontractor._id" ng-click="selectUser(subcontractor._id, 'subcontractor')" ng-style="subcontractor._id._id == selectedUser._id ? {'color': '#64B5F6'} : {'color': 'black'}">
            <i class="tiny material-icons valign" style="color: #64B5F6" ng-style="subcontractor._id.isOnline ? {'color': '#4BBF6B'} : {'color': '#EDEFF0'}">brightness_1</i>
            {{subcontractor._id.name}}
        </p>
        <p ng-show="currentUser.type == 'client' || currentUser.type == 'builder' || currentUser.type == 'architect' || currentUser.type == 'consultant' || currentUser.roleAdmin" ng-mouseover="accordian = 6;  getTenderListByType('consultant')">CONSULTANTS</p>
        <p class="margin-10-0 font-weight-600" ng-show="accordian == 6" style="margin-left: 10px" ng-repeat="consultant in invitePeople.consultants" ng-if="consultant._id && consultant.inviter == currentUser._id" ng-click="selectUser(consultant._id, 'consultant')" ng-style="consultant._id._id == selectedUser._id ? {'color': '#64B5F6'} : {'color': 'black'}">
            {{consultant._id.name}}
        </p>
    </div>
    <!-- IF THE PROJECT MANAGER IS THE ARCHITECT -->
    <div ng-if="builderPackage.projectManager.type == 'architect'" class="col s2" style="margin-right: 1px solid #eee; max-height: 81vh; overflow-y: scroll; font-size: 12px; color: #757575;">
        <p><a ng-click="setInvite()" class="modal-trigger" href="#tender_modal">INVITE PEOPLE</a></p>
        <p ng-mouseover="accordian = 1">TEAM</p>
        <p class="margin-10-0 font-weight-600" ng-show="accordian == 1" style="margin-left: 10px" ng-repeat="currentTeamMember in currentTeamMembers" ng-click="selectUser(currentTeamMember, 'team')" ng-style="currentTeamMember._id == selectedUser._id ? {'color': '#64B5F6'} : {'color': 'black'}">
            <i class="tiny material-icons valign" style="color: #64B5F6" ng-style="currentTeamMember.isOnline ? {'color': '#4BBF6B'} : {'color': '#EDEFF0'}">brightness_1</i>
            {{currentTeamMember.name}}
        </p>
        <p ng-show="currentUser.type == 'architect' || currentUser.roleAdmin" ng-mouseover="accordian = 2; getTenderListByType('builder')">BUILDER</p>
        <p class="margin-10-0 font-weight-600" ng-show="accordian == 2" style="margin-left: 10px;" ng-repeat="builder in invitePeople.builders" ng-if="builder._id" ng-click="selectUser(builder._id, 'builder')" ng-style="builder._id._id == selectedUser._id ? {'color': '#64B5F6'} : {'color': 'black'}">
            <i class="tiny material-icons valign" style="color: #64B5F6" ng-style="builder._id.isOnline ? {'color': '#4BBF6B'} : {'color': '#EDEFF0'}">brightness_1</i>
            {{builder._id.name}}
        </p>
        <p ng-show="currentUser.type == 'client' || currentUser.type == 'builder' || currentUser.roleAdmin" ng-mouseover="accordian = 3;  getTenderListByType('architect')">ARCHITECT</p>
        <p class="margin-10-0 font-weight-600" ng-show="accordian == 3" style="margin-left: 10px;" ng-repeat="architect in invitePeople.architects" ng-if="architect._id" ng-click="selectUser(architect._id, 'architect')" ng-style="architect._id._id == selectedUser._id ? {'color': '#64B5F6'} : {'color': 'black'}">
            <i class="tiny material-icons valign" style="color: #64B5F6" ng-style="architect._id.isOnline ? {'color': '#4BBF6B'} : {'color': '#EDEFF0'}">brightness_1</i>
            {{architect._id.name}}
        </p>
        <p ng-show="currentUser.type == 'architect' || currentUser.roleAdmin" ng-mouseover="accordian = 4;  getTenderListByType('client')">CLIENT</p>
        <p class="margin-10-0 font-weight-600" ng-show="accordian == 4" style="margin-left: 10px;" ng-repeat="client in invitePeople.clients" ng-if="client._id" ng-click="selectUser(client._id, 'client')" ng-style="client._id == selectedUser._id._id ? {'color': '#64B5F6'} : {'color': 'black'}">
            <i class="tiny material-icons valign" style="color: #64B5F6" ng-style="client._id.isOnline ? {'color': '#4BBF6B'} : {'color': '#EDEFF0'}">brightness_1</i>
            {{client._id.name}}
        </p>
        <p ng-show="currentUser.type == 'builder' || currentUser.type == 'subcontractor' || currentUser.roleAdmin" ng-mouseover="accordian = 5; getTenderListByType('subcontractor')">SUBCONTRACTORS</p>
        <p class="margin-10-0 font-weight-600" ng-show="accordian == 5" style="margin-left: 10px;" ng-repeat="subcontractor in invitePeople.subcontractors" ng-if="subcontractor._id" ng-click="selectUser(subcontractor._id, 'subcontractor')" ng-style="subcontractor._id._id == selectedUser._id ? {'color': '#64B5F6'} : {'color': 'black'}">
            <i class="tiny material-icons valign" style="color: #64B5F6" ng-style="subcontractor._id.isOnline ? {'color': '#4BBF6B'} : {'color': '#EDEFF0'}">brightness_1</i>
            {{subcontractor._id.name}}
        </p>
        <p ng-show="currentUser.type == 'client' || currentUser.type == 'builder' || currentUser.type == 'architect' || currentUser.type == 'consultant' || currentUser.roleAdmin" ng-mouseover="accordian = 6; getTenderListByType('consultant')">CONSULTANTS</p>
        <p class="margin-10-0 font-weight-600" ng-show="accordian == 6" style="margin-left: 10px" ng-repeat="consultant in invitePeople.consultants" ng-if="consultant._id && consultant.inviter == currentUser._id" ng-click="selectUser(consultant._id, 'consultant')" ng-style="consultant._id._id == selectedUser._id ? {'color': '#64B5F6'} : {'color': 'black'}">
            <i class="tiny material-icons valign" style="color: #64B5F6" ng-style="consultant._id.isOnline ? {'color': '#4BBF6B'} : {'color': '#EDEFF0'}">brightness_1</i>
            {{consultant._id.name}}
        </p>
    </div>
    <!-- IF THE PROJECT MANAGER IS THE HOMEOWNER -->
    <div ng-if="builderPackage.projectManager.type == 'homeOwner'" class="col s2" style="margin-right: 1px solid #eee; max-height: 81vh; overflow-y: scroll; font-size: 12px; color: #757575;">
        <p><a ng-click="setInvite()" class="modal-trigger" href="#tender_modal">INVITE PEOPLE</a></p>
        <p ng-mouseover="accordian = 1">TEAM</p>
        <p class="margin-10-0 font-weight-600" ng-show="accordian == 1" style="margin-left: 10px" ng-repeat="currentTeamMember in currentTeamMembers" ng-click="selectUser(currentTeamMember, 'team')" ng-style="currentTeamMember._id == selectedUser._id ? {'color': '#64B5F6'} : {'color': 'black'}">
            <i class="tiny material-icons valign" style="color: #64B5F6" ng-style="currentTeamMember.isOnline ? {'color': '#4BBF6B'} : {'color': '#EDEFF0'}">brightness_1</i>
            {{currentTeamMember.name}}
        </p>
        <p ng-show="currentUser.type == 'client' || currentUser.roleAdmin" ng-mouseover="accordian = 2;  getTenderListByType('builder')">BUILDER</p>
        <p class="margin-10-0 font-weight-600" ng-show="accordian == 2" style="margin-left: 10px;" ng-repeat="builder in invitePeople.builders" ng-if="builder._id" ng-click="selectUser(builder._id, 'builder')" ng-style="builder._id._id == selectedUser._id ? {'color': '#64B5F6'} : {'color': 'black'}">
            <i class="tiny material-icons valign" style="color: #64B5F6" ng-style="builder._id.isOnline ? {'color': '#4BBF6B'} : {'color': '#EDEFF0'}">brightness_1</i>
            {{builder._id.name}}
        </p>
        <p ng-show="currentUser.type == 'client' || currentUser.roleAdmin" ng-mouseover="accordian = 3;  getTenderListByType('architect')">ARCHITECT</p>
        <p class="margin-10-0 font-weight-600" ng-show="accordian == 3" style="margin-left: 10px;" ng-repeat="architect in invitePeople.architects" ng-if="architect._id" ng-click="selectUser(architect._id, 'architect')" ng-style="architect._id._id == selectedUser._id ? {'color': '#64B5F6'} : {'color': 'black'}">
            <i class="tiny material-icons valign" style="color: #64B5F6" ng-style="architect._id.isOnline ? {'color': '#4BBF6B'} : {'color': '#EDEFF0'}">brightness_1</i>
            {{architect._id.name}}
        </p>
        <p ng-show="currentUser.type == 'builder' || currentUser.type == 'architect' || currentUser.type == 'client' || currentUser.roleAdmin" ng-mouseover="accordian = 4;  getTenderListByType('client')">CLIENT</p>
        <p class="margin-10-0 font-weight-600" ng-show="accordian == 4" style="margin-left: 10px;" ng-repeat="client in invitePeople.clients" ng-if="client._id" ng-click="selectUser(client._id, 'client')" ng-style="client._id == selectedUser._id._id ? {'color': '#64B5F6'} : {'color': 'black'}">
            <i class="tiny material-icons valign" style="color: #64B5F6" ng-style="client._id.isOnline ? {'color': '#4BBF6B'} : {'color': '#EDEFF0'}">brightness_1</i>
            {{client._id.name}}
        </p>
        <p ng-show="currentUser.type == 'builder' || currentUser.type == 'subcontractor' || currentUser.roleAdmin" ng-mouseover="accordian = 5;  getTenderListByType('subcontractor')">SUBCONTRACTORS</p>
        <p class="margin-10-0 font-weight-600" ng-show="accordian == 5" style="margin-left: 10px;" ng-repeat="subcontractor in invitePeople.subcontractors" ng-if="subcontractor._id" ng-click="selectUser(subcontractor._id, 'subcontractor')" ng-style="subcontractor._id._id == selectedUser._id ? {'color': '#64B5F6'} : {'color': 'black'}">
            <i class="tiny material-icons valign" style="color: #64B5F6" ng-style="subcontractor._id.isOnline ? {'color': '#4BBF6B'} : {'color': '#EDEFF0'}">brightness_1</i>
            {{subcontractor._id.name}}
        </p>
        <p ng-show="currentUser.type == 'client' || currentUser.type == 'builder' || currentUser.type == 'architect' || currentUser.type == 'consultant' || currentUser.roleAdmin" ng-mouseover="accordian = 6;  getTenderListByType('consultant')">CONSULTANTS</p>
        <p class="margin-10-0 font-weight-600" ng-show="accordian == 6" style="margin-left: 10px" ng-repeat="consultant in invitePeople.consultants" ng-if="consultant._id && consultant.inviter == currentUser._id" ng-click="selectUser(consultant._id, 'consultant')" ng-style="consultant._id._id == selectedUser._id ? {'color': '#64B5F6'} : {'color': 'black'}">
            <i class="tiny material-icons valign" style="color: #64B5F6" ng-style="consultant._id.isOnline ? {'color': '#4BBF6B'} : {'color': '#EDEFF0'}">brightness_1</i>
            {{consultant._id.name}}
        </p>
    </div>

    <div class="col s7" style="border-left: 1px solid #eee; border-right: 1px solid #eee;">
        <div ng-if="selectedUser._id" style="height: 69vh; overflow-y: scroll; position: relative;" id="peopleChatContent" scroll-to-bottom="selectedChatPeople.messages">
            <div class="row chat-paragraph valign-wrapper" style="border-bottom: 1px solid #eee;" ng-repeat="message in selectedChatPeople.messages" >
                <div class="col">
                    <i class="tiny material-icons valign" style="color: #64B5F6" ng-style="message.unread ? {'color': '#64B5F6'} : {'color': 'white'}">brightness_1</i>
                </div>
                <div class="col">
                    <p class="row chat-name" style="font-size: 13px; color: #757575; margin-bottom: 0px"><strong>{{message.user.name}}</strong><span style="font-size: 12px"> - {{message.sendAt | date : 'MMM d, y h:mm:ss a'}}.</span></p>    
                    <p class="row chat-text" style="font-size: 13px; margin-top:3px">
                        {{message.text}}
                    </p>
                    <small ng-if="message.peopleHasSeen.length > 0">
                        <span ng-repeat="seenUser in message.peopleHasSeen">
                            {{seenUser}},    
                        </span>
                        has seen
                    </small>
                </div>
            </div>
        </div>

        <div class="valign-wrapper" style="border-top: 1px solid #eee;">
            <form class="col s11">
                <div class="row" style="margin-bottom: -5px; margin-top: -18px">
                    <div id="mentionPeople" class="col s12" ng-if="showPopup" style="position: fixed; bottom: 150px; height: 100px; width:200px; background-color:#64B5F6; overflow-y: auto">
                        <ul>
                            <li ng-click="getMentionValue(selectedUser)">{{selectedUser.name}}</li>
                        </ul>
                    </div>
                    <div class="input-field col s12">
                        <textarea placeholder="Send a Message..." id="textarea1" class="materialize-textarea" ng-model="message.text" ng-disabled="!selectedUser._id" ng-keydown="enterMessage($event);"></textarea>
                    </div>
                </div>
            </form>
            <div class="col s1 valign">
                <a><i class="material-icons modal-trigger" href="#new_attachment" style="color: #64B5F6">attach_file</i></a>
                <a><i class="material-icons valign modal-trigger" href="#new_task" style="color: #64B5F6">done</i></a>
                
            </div>
        </div>
    </div>

    <div class="col s3">
        <div class="row">
            <div class="col s12" style="margin-top: 15px;">
                <ul class="tabs" tabs>
                    <li class="tab col s3"><a class="active" href="#test1">
                        <i class="material-icons">info_outline</i>
                    </a></li>
                    <li class="tab col s3"><a href="#test2">
                        <i class="material-icons">attachment</i>
                    </a></li>
                    <li class="tab col s3"><a href="#test3">
                        <i class="material-icons">done_all</i>
                    </a></li>
                </ul>
            </div>
            <div id="test1" class="col s12" style="height: 65vh; overflow-y: scroll">
                <div class="attachment-row" style="font-size: 12px; border-bottom: 1px solid #eee">
                    <div style="border: 1px solid #BBDEFB; background-color: #E3F2FD; border-radius: 3px; padding: 3px" ng-if="tendersList.length > 0">
                        <p style="">This person is currently tendering for {{builderPackage.name}}.</p>
                        <p><a class="modal-trigger" href="#view_tender_detail">View Tender Details</a></p>
                    </div>
                </div>
            </div>
            <div id="test2" class="col s12" style="height: 65vh; overflow-y: scroll">
                <div class="attachment-row" style="font-size: 12px; border-bottom: 1px solid #eee">
                    <p><a class="modal-trigger" href="#new_attachment">+ Add an Attachment</a></p>
                </div>
                <div class="attachment-row" style="font-size: 12px; border-bottom: 1px solid #eee" ng-repeat="file in files" ng-if="file.isOwner">
                    <p class="margin-10-0"><a href="#modal-attachment-detail-{{file._id}}" class="modal-trigger">{{file.title}}</a></p>
                </div>
            </div>
            <div id="test3" class="col s12" style="height: 65vh; overflow-y: scroll">
                <div class="task-row" style="font-size: 12px; border-bottom: 1px solid #eee">
                    <p ><a class="modal-trigger" href="#new_task">+ Add a Task</a></p>
                </div>
                <div class="task-row" style="font-size: 12px; border-bottom: 1px solid #eee" ng-repeat="task in tasks" ng-if="task.isOwner">
                    <p class="margin-10-0"><a href="#modal-task-detail-{{task._id}}" class="modal-trigger">{{task.name}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="new_attachment" class="modal modal-fixed-footer" style="width: 60%">
    <form name="uploadForm" ng-submit="uploadNewAttachment()">
        <div class="modal-content">
            <h5>New Attachment</h5>
            <div class="row">
                <input filepicker type="filepicker-dragdrop" data-fp-services="computer, DROPBOX, gmail, skydrive, GOOGLE_DRIVE" on-success="onSuccess(event.fpfile)" data-fp-multiple="false"/>
            </div>
            <div class="row">
                <label>Title</label>
                <textarea id="docAttachTitle" class="materialize-textarea" ng-model="uploadFile.title" id="textarea1" name="title" required></textarea>
                <p class="validate-message" ng-if="uploadForm.title.$error.required || uploadFile.title == ' '">Document title is required</p>
            </div>
            <div class="row">
                <label>Description</label>
                <textarea id="docAttachDesc" name="description" class="materialize-textarea" ng-model="uploadFile.desc" id="textarea1" required></textarea>
                <p class="validate-message" ng-if="uploadForm.description.$error.required || uploadFile.description == ' '">Document description is required</p>
            </div>
            <!-- <div class="row">
                <p>Assignees</p>
                <div class="card col" style="padding: 5px; margin-left: 10px" ng-repeat="assignee in uploadFile.assignees">
                    {{assignee.name}} <span ng-if="assignee.canRevoke"><a href="#!" ng-click="revokeFromDocument(assignee,$index)"><i class="mdi-navigation-cancel" style="margin-left: 5px"></i></a></span>
                </div>
            </div>
            <div class="row">
                <p>Available Assignee's:</p>
                <a href="#!" ng-click="assignToDocument(staff,$index)" ng-repeat="staff in available track by $index">
                    <div class="card col" style="padding: 5px; margin-left: 10px">
                        {{staff.name}}
                    </div>
                </a>
            </div> -->
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-action btn-flat">Attach</button>
            <button type="button" class="modal-action modal-close btn-flat">Cancel</button>
        </div>
    </form>
</div>

<div id="new_task" class="modal modal-fixed-footer" style="width: 60%">
    <form name="newTaskForm" ng-submit="addNewTask(newTaskForm)">
        <div class="modal-content">
            <h5>New Task</h5>
            <div class="row">
                <label>Title</label>
                <input type="text" name="name" ng-model="task.name" ng-class="{'invalid' : newTaskForm.name.$invalid && submitted}" required>
                <p class="validate-message" ng-show="newTaskForm.name.$error.required && submitted">Task title is required</p>
            </div>
            <div class="row">
                <label>Task Description</label>
                <textarea name="description" id="description" ng-model="task.description" ng-class="{'invalid' : newTaskForm.description.$invalid && submitted}" required></textarea>
                <p class="validate-message" ng-show="newTaskForm.description.$error.required && submitted">Task description is required</p>
            </div>
            <div class="row">
                <label for="">Task due date</label>
                <input type="text"
                    name="created"
                    id="dueDate"
                    ng-model="task.dateEnd"
                    format="mm/dd/yyyy"
                    datepicker
                />
            </div>
            <!-- <div class="row">
                <p>Assignees</p>
                <div class="card col" style="padding: 5px; margin-left: 10px" ng-repeat="assignee in task.assignees">
                    {{assignee.name}} <span ng-if="assignee.canRevoke"><a href="#!" ng-click="revoke(assignee,$index)"><i class="mdi-navigation-cancel" style="margin-left: 5px"></i></a></span>
                </div>
            </div>
            <div class="row">
                <p>Available Assignee's:</p>
                <a href="#!" ng-click="assign(staff,$index)" ng-repeat="staff in available track by $index">
                    <div class="card col" style="padding: 5px; margin-left: 10px">
                        {{staff.name}}
                    </div>
                </a>
            </div> -->
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-action btn-flat">Save</button>
            <button type="button" class="modal-action modal-close btn-flat">Cancel</button>
        </div>
    </form>
</div>

<div id="tender_modal" class="modal modal-fixed-footer" style="width: 60%">
    <form name="formInvite" ng-submit="inviteMorePeople(formInvite)">
        <div class="modal-content">
            <h5>Tender Details</h5>
            <div class="row">
                <label for="">Select invite type</label>
                <select class="" ng-change="getChangeTypeValue(invite.type)" ng-model="invite.type" material-select watch>
                    <option value="" selected>Please select the type below</option>
                    <option ng-repeat="type in availableUserType" value="{{type.value}}" >{{type.text}}</option>
                </select>
            </div>
            <div class="row">
                <label for="">Description</label>
                <input type="text" name="description" ng-model="invite.description" required ng-class="{'invalid' : formInvite.description.$invalid && submitted}">
                <p ng-if="formInvite.description.$erorr.required && submitted" class="validate-message">Description is required</p>
            </div>
            <div class="row" ng-hide="invite.type == 'addTeamMember' || invite.type == 'addClient'">
                <input ng-model="invite.isTender" type="checkbox" id="complete"/>
                <label for="complete">Do they need to provide a tender?</label>
            </div>
            <div class="row" ng-if="!invite.isTender">
                <label for="">Email</label>
                <input type="email" name="email" ng-model="invite.email" ng-class="{'invalid' : formInvite.email.$invalid && submitted}">
            </div>
            <div class="row" ng-if="invite.isTender">
                <div class="col s8">
                    <label for="">Email</label>
                    <input type="email" name="email" ng-model="invite.email" ng-class="{'invalid' : formInvite.email.$invalid && submitted}">
                </div>
                <div class="col s4">
                    <button type="button" class="btn" ng-click="addInvitee(invite.email)">Add</button>
                </div>
            </div>
            <div class="row">
                <ul>
                    <li ng-repeat="invitee in invite.invitees">
                        <div class="col s8">{{invitee.email}}</div>
                        <div class="col s4">
                            <button type="button" class="btn" ng-click="removeInvitee($index)">Remove</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-action btn-flat">Add</button>
            <button type="button" class="modal-action modal-close btn-flat">Cancel</button>
        </div>
    </form>
</div>

<div class="modal modal-fixed-bottom" id="view_tender_detail" style="width: 60%">
    <h5>View detail of tender type {{selectedTeamType}}</h5>
    <div class="modal-content">
        <ul>
            <li ng-repeat="tender in tendersList">
                <div class="col s10">
                    <div class="col s6">{{tender.tender._id.name}}</div>
                    <div class="col s6">{{tender.tender._id.email}}</div>
                </div>
                <div class="col s2">
                    <button ng-if="currentUser.hasSelect" type="button" class="btn" ng-click="selectWinnerTender(tender)">Select this tender</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="modal-action modal-close btn-flat">Close</button>
    </div>
</div>

<div class="modal modal-fixed-bottom" id="modal-attachment-detail-{{file._id}}" ng-repeat="file in files">
    <h5>View attachment {{file.title}} detail</h5>
    <div class="modal-content">
        <div file-picker-previewer type="filepicker-preview" url="{{file.path}}" style="height:500px;"> </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="modal-action modal-close btn-flat">Close</button>
        <button type="button" ng-click="downloadFile(file)" class="modal-action modal-close btn-flat">Download</button>
    </div>
</div>

<div class="modal modal-fixed-bottom" id="modal-task-detail-{{task._id}}" ng-repeat="task in tasks" style="width: 60%">
    <h5>View task {{task.name}} detail</h5>
    <div class="modal-content">
        <p>{{task.description}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="modal-action modal-close btn-flat">Close</button>
    </div>
</div>