<md-content class="md-whiteframe-z2">
  <div flex-gt-lg="15">
  </div>
  <div flex-gt-lg="70" flex="70" ng-view>
    <md-tabs class="container" md-dynamic-height md-border-bottom>

      <md-tab ng-repeat="tab in tabs" ng-click="switchTab($index)" label="{{tab}}">
        <!--        <md-content class="md-padding">
                  <h1 class="md-display-2">{{tab}}</h1>
                  
                </md-content>-->
      </md-tab>

    </md-tabs>
  </div>

  <div flex-gt-lg="15">
  </div>
</md-content>

