<md-dialog aria-label="Create a New Message" flex="70">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Team Member View Window</h2>
			</div>
		</md-toolbar>
		
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				
				<div layout="row">
					<md-input-container flex class="modal-instructions">
						<p>Here is the Detail you want...</p>
					</md-input-container>
				</div>
				
				<div layout="row">
					<md-input-container flex>
				        <label>Message Thread Name</label>
				        <input md-autofocus />
					</md-input-container>
				</div>
				
				<div layout="row">
					<md-input-container flex>
				        <label>Add Team Members to the Thread</label>
				        <input />
				    </md-input-container>
				</div>
				
			</div>
		</md-dialog-content>
		
		<md-dialog-actions>
			<md-button ng-click="cancelInviteTeamModal()">Cancel</md-button>
			<md-button ng-click="createNewTeamMember()" class="md-raised md-accent md-hue-1">Add Team Member!</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>