<md-dialog aria-label="Assign to team members" flex="70">
    <form ng-submit="assignMember()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Assign members to {{thread.name}}</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                
				<div layout="row" layout-align="center center" class="tagcloud" layout-wrap>
			        <span ng-click="selectMember($index, 'member')" ng-class="{'available-tag':!member.select, 'selected-tag': member.select}" ng-repeat="member in membersList">{{member.name}}</span>
					<!-- <span class="available-tag">Assignee 1</span>
					<span class="available-tag">Assignee 2</span>
					<span class="available-tag">Assignee 3</span>
					<span class="selected-tag">Assignee 4</span>
					<span class="available-tag">Assignee 5</span>
					<span class="selected-tag">Assignee 6</span>
					<span class="selected-tag">Assignee 7</span>
					<span class="selected-tag">Assignee 8</span>
					<span class="available-tag">Assignee 9</span>
					<span class="available-tag">Assignee 10</span>
					<span class="available-tag">Assignee 11</span>
					<span class="available-tag">Assignee 12</span> -->
			
				</div>
				
				
				<!-- <div layout="row"><p>Please click on card to select member</p></div>
                <div ng-cloak>
                    <md-content layout="row" layout-wrap layout-xs="column">
                        <div flex="33" flex-sm="50" flex-xs="100" layout="row" ng-repeat="member in membersList">
                            <md-card ng-click="selectMember($index, 'member')" layout-margin>
                                <md-card-header>
                                    <p class="name">{{member.name}}</p>
                                </md-card-header>

                                <md-card-content>
                                    <p class="email">{{(member.email) ? member.email : 'Email Address'}}</p>
                                    <p class="phone">{{(member.phoneNumber)? member.phoneNumber : 'Phone Number'}}</p>
                                </md-card-content>

                                <md-card-actions layout-margin>
                                    <md-card-icon-actions layout="row" layout-align="space-around center">
                                        <md-button class="material-icons md-icon-button">
                                            <md-tooltip md-direction="down">Invite To This Thread</md-tooltip>
                                            <md-icon ng-show="member.select" class="material-icons">done</md-icon>
                                        </md-button>
                                    </md-card-icon-actions>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </md-content>
                </div> -->
				
            </div>
        </md-dialog-content>
        
        <md-dialog-actions>
            <md-button ng-click="closeModal()">Cancel</md-button>
            <md-button type="submit" class="md-raised md-accent md-hue-1">Assign to Thread!</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>