<md-dialog aria-label="Assign Additional Members to Message Thread" flex="70">
    <form ng-submit="assignMember()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Assign Additional Team Members to {{thread.name}}</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-padding>
                <div>
                    <p class="md-body-2">Current Members Of This Thread</p>
                    <div layout="row" layout-align="center center" layout-wrap layout-padding flex>
                        <span ng-repeat="member in thread.members">{{member.name}}, </span>
                        <span ng-repeat="email in thread.notMembers">{{email}}, </span>
                    </div>
                </div>
				
				<div layout="column" ng-show="membersList.length > 0">
					<p class="md-body-2">Select who you would like to assign to this message thread:</p>
					<div layout="row" layout-align="center center" layout-wrap layout-padding flex>
                        <md-checkbox ng-click="selectMember($index, 'member')" ng-repeat="member in membersList" class="filter-checkbox md-primary">{{(member._id) ? member.name : member.email}}</md-checkbox>
					</div>
				</div>
				
            </div>
        </md-dialog-content>
        
        <md-dialog-actions>
            <md-button ng-click="closeModal()">Cancel</md-button>
            <md-button type="submit" class="md-primary">Update Message Thread</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>