<md-dialog aria-label="Create a New Related Thread" flex="70">
    <form ng-submit="createRelatedThread(form)" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create a New Related Thread</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
			<div class="md-dialog-content" layout="column">
			
				<div layout="row">
					<md-input-container flex>
				        <label>Message Thread Name</label>
				        <input md-autofocus type="text" ng-model="relatedThread.name" name="name" required/>
					</md-input-container>
				</div>
				<div layout="row" layout-align="center center" class="tagcloud" layout-wrap>
					<span ng-click="selectMember($index, 'invitee')" ng-class="{'available-tag':!member.select, 'selected-tag': member.select}" ng-repeat="member in invitees">{{(member._id) ? member.name : member.email}}<i ng-show="!member._id" class="material-icons">mail_outline</i></span>
				</div>
			</div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="closeModal()">Cancel</md-button>
            <md-button type="submit" class="md-raised md-accent md-hue-1">Create Related Thread!</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>