<md-dialog aria-label="Edit {{thread.name}}" flex="70">
    <form ng-submit="editMessage(form)" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit {{thread.name}}</h2>
				<span flex></span>
				<md-button ng-click="closeModal()" class="md-icon-button"><md-icon class="material-icons">close</md-icon></md-button>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-padding>
				
				<div layout="column" ng-show="step==1">
					<p class="md-body-2">Name for the message thread:</p>
	                <div layout="row">
	                    <md-input-container flex="66" flex-offset="15">
	                        <label>Name</label>
	                        <input type="text" name="name" ng-model="thread.name" required>
	                    </md-input-container>
					</div>
                </div>

				<div layout="column" ng-show="step==2">
                    <div>
                        <p class="md-body-2">Current Members Of This Thread</p>
                        <div layout="row" layout-align="center center" layout-wrap layout-padding flex>
                            <md-checkbox class="filter-checkbox md-primary" ng-repeat="member in thread.members" ng-checked="true">{{(member._id) ? member.name : member.email}}</md-checkbox>
                            <md-checkbox class="filter-checkbox md-primary" ng-repeat="email in thread.notMembers" ng-checked="true">{{email}}</md-checkbox>
                        </div>
                    </div>
                    <div>
                        <p class="md-body-2">Select who you would like to assign to this message thread:</p>
                        <div layout="row" layout-align="center center" layout-wrap layout-padding flex>
                            <md-checkbox ng-click="selectMember($index, 'member')" ng-repeat="member in membersList" class="filter-checkbox md-primary">{{(member._id) ? member.name : member.email}}</md-checkbox>
                        </div>
                    </div>
                </div>
                
            </div>
        </md-dialog-content>
        
        <md-dialog-actions>
            <md-button ng-click="step=step-1" ng-show="step==2">Back</md-button>
            <md-button ng-click="next('edit-thread')" class="md-primary" ng-hide="step==2">Next</md-button>

            <md-button type="submit" class="md-primary" ng-show="step==2">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>