<md-dialog aria-label="Edit {{thread.name}}" flex="70">
    <form ng-submit="editMessage(form)" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit {{thread.name}}</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-padding>
				
				<div layout="column">
					<p class="md-body-2">Name for the message thread:</p>
	                <div layout="row">
	                    <md-input-container flex="66" flex-offset="15">
	                        <label>Name</label>
	                        <input type="text" name="name" ng-model="thread.name" required>
	                    </md-input-container>
					</div>
                </div>

				<div layout="column">
					<p class="md-body-2">Description of message thread:</p>
	                <div layout="row">
	                    <md-input-container flex="66" flex-offset="15">
	                        <label>Description</label>
	                        <textarea ng-model="thread.description" columns="1" md-maxlength="250" rows="5" required></textarea>
	                    </md-input-container>
					</div>
                </div>
                
            </div>
        </md-dialog-content>
        
        <md-dialog-actions>
            <md-button ng-click="closeModal()">Cancel</md-button>
            <md-button type="submit" class="md-primary">Save Edits</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>