<div class="detail-header" layout-padding layout="row">
		
	<md-chips ng-model="teamNames" placeholder="Search Team..." secondary-placeholder="Search Team..." flex="45" md-autocomplete-snap="" md-require-math="autoCompleteRequireMath" md-on-add="addChip()" md-on-remove="removeChip()">
		<md-autocomplete 
			md-selected-item="selectedItem" 
			md-search-text="searchText"
			md-items="item in querySearch(searchText)" 
			md-item-text="item.name" 
			placeholder="Search...">
			<span md-highlight-text="searchText">{{(item._id) ? item.name : item.email}}</span>
		</md-autocomplete>
		<md-chip-template>
	        <strong>{{($chip._id) ? $chip.name : $chip.email}}</strong>
	    </md-chip-template>
	</md-chips>

	<span flex></span>

	<md-chips class="set-filters">
		<md-chip>My Team</md-chip>
		<md-chip>Builder</md-chip>
		<md-chip>Architect</md-chip>
		<md-chip>Home Owner</md-chip>
		<md-chip>Consultants</md-chip>
		<md-chip>Sub Contractors</md-chip>
	</md-chips>
	
</div>

<div class="main-page-content">
	
	<md-list ng-cloak>
		<div ng-show="!search" ng-repeat="member in membersList track by $index">
			<md-list-item class="md-2-line secondary-button-padding">
				<div class="md-list-item-text" layout="column">
			          <h3>{{(member._id) ? member.name : member.email}}</h3>
			          <p><span style="text-transform: capitalize">{{ member.type }}</span>, {{(member.email) ? member.email : 'No Email Address on File'}}, {{(member.phoneNumber)? member.phoneNumber : 'No Phone Number on File'}}</p>
		        </div>
				<!-- <md-button class="md-secondary md-icon-button" ng-click="assignLeader(member)">
					<md-icon class="material-icons">chat_bubble_outline</md-icon>
				</md-button>
				<md-button class="md-secondary md-icon-button" ng-click="removeMember(member)" style="margin-right: 60px">
					<md-icon class="material-icons">done_all</md-icon>
				</md-button>
				<md-button class="md-secondary md-icon-button" ng-click="removeMember(member)" style="margin-right: 120px">
					<md-icon class="material-icons">attach_file</md-icon>
				</md-button> -->
				
			</md-list-item>
			<md-divider></md-divider>
			
		</div>

		<div ng-show="search" ng-repeat="member in teamNames track by $index" ui-sref="project.team.detail">
			<md-list-item class="md-2-line secondary-button-padding">
				<div class="md-list-item-text" layout="column">
			          <h3>{{(member._id) ? member.name : member.email}}</h3>
			          <p><span style="text-transform: capitalize">{{ member.type }}</span>, {{(member.email) ? member.email : 'No Email Address on File'}}, {{(member.phoneNumber)? member.phoneNumber : 'No Phone Number on File'}}</p>
		        </div>
				<md-button class="md-secondary md-icon-button" ng-click="assignLeader(member)">
					<md-icon class="material-icons">chat_bubble_outline</md-icon>
				</md-button>
				<md-button class="md-secondary md-icon-button" ng-click="removeMember(member)" style="margin-right: 60px">
					<md-icon class="material-icons">done_all</md-icon>
				</md-button>
				<md-button class="md-secondary md-icon-button" ng-click="removeMember(member)" style="margin-right: 120px">
					<md-icon class="material-icons">attach_file</md-icon>
				</md-button>
			</md-list-item>
			<md-divider></md-divider>
		</div>
		
	</md-list>

	<div>
	  <md-fab-speed-dial ng-cloak md-open="false" md-direction="up" class="md-scale md-fab-bottom-right fab-list" ng-show="!isArchive && currentUser.isLeader">
		  <md-fab-trigger>
	  	      <md-button aria-label="Add a New Team Member to this Project" class="md-fab md-primary" ng-click="showInviteTeamModal($event)">
				  <md-tooltip md-direction="left">Add a New Team Member</md-tooltip>
			      <md-icon class="material-icons">add</md-icon>
	  	      </md-button>
	      </md-fab-trigger>
	  </md-fab-speed-dial>
	</div>
	
</div>