<div class="detail-header" layout-padding layout="column" >
	<div layout="column" layout-padding>
		<div layout="row">
			<md-input-container flex="50">
				<label for="">Team Member Name</label>
				<input type="text" name="teamMemberName" ng-model="name" md-autofocus>
			</md-input-container>
			
			<md-input-container flex="50">
				<label for="">Team Member Email</label>
				<input type="text" name="teamMemberEmail" ng-model="email">
			</md-input-container>
		</div>
		
		<div layout="row">
			<div flex layout="row" layout-align="center center">
				<span class="md-body-2" style="margin-top: -2vh">Team Member Type:</span>
				<div class="tagcloud" style="margin-top: -2vh; margin-left: 2vh">
					<span ng-repeat="tag in teamMemberTypeTags" ng-class="{'available-tag': !tag.select, 'selected-tag': tag.select}" ng-click="selectTag($index)">{{tag.text}}</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main-page-content" layout="column" flex>
	<md-list ng-cloak>
		<div ng-show="!search" ng-repeat="member in membersList | filter :{name: name, email: email} track by $index">
			<md-list-item class="md-2-line secondary-button-padding" style="cursor: default">
				<div class="md-list-item-text" layout="column">
			          <h3>{{(member._id) ? member.name : member.email}}</h3>
			          <p><span style="text-transform: capitalize">{{ member.type }}</span>, {{(member.email) ? member.email : 'No Email Address on File'}}, {{(member.phoneNumber)? member.phoneNumber : 'No Phone Number on File'}}</p>
		        </div>
			</md-list-item>
			<md-divider></md-divider>
		</div>

		<div ng-show="search" ng-repeat="member in searchResults | filter :{name: name, email: email} track by $index" ui-sref="project.team.detail">
			<md-list-item class="md-2-line secondary-button-padding">
				<div class="md-list-item-text" layout="column">
			          <h3>{{(member._id) ? member.name : member.email}}</h3>
			          <p><span style="text-transform: capitalize">{{ member.type }}</span>, {{(member.email) ? member.email : 'No Email Address on File'}}, {{(member.phoneNumber)? member.phoneNumber : 'No Phone Number on File'}}</p>
		        </div>
				<md-button class="md-secondary md-icon-button" ng-click="assignLeader(member)">
					<md-icon class="material-icons">chat_bubble_outline</md-icon>
				</md-button>
				<md-button class="md-secondary md-icon-button" ng-click="removeMember(member)" style="margin-right: 60px">
					<md-icon class="material-icons">done_all</md-icon>
				</md-button>
				<md-button class="md-secondary md-icon-button" ng-click="removeMember(member)" style="margin-right: 120px">
					<md-icon class="material-icons">attach_file</md-icon>
				</md-button>
			</md-list-item>
			<md-divider></md-divider>
		</div>
		
	</md-list>

	<div>
	  <md-fab-speed-dial ng-cloak md-open="false" md-direction="up" class="md-scale md-fab-bottom-right fab-list" ng-show="!isArchive && currentUser.isLeader">
		  <md-fab-trigger>
	  	      <md-button aria-label="Add a New Team Member to this Project" class="md-fab md-primary" ng-click="showInviteTeamModal($event)">
				  <md-tooltip md-direction="left">Add a New Team Member</md-tooltip>
			      <md-icon class="material-icons">add</md-icon>
	  	      </md-button>
	      </md-fab-trigger>
	  </md-fab-speed-dial>
	</div>
	
</div>