<div class="col s7">
  <ul class="card collection">
    <div class="card-header">
      <div class="row">
        <div class="col s10" style="padding-top: 15px">
          <a class="btn-flat waves-effect waves-yellow" style="font-size: 12px" ng-click="filter = 'all'">All Tasks</a>
          <a class="btn-flat waves-effect waves-yellow" style="font-size: 12px" ng-click="filter = {'myTask' : currentUser._id} ">My Tasks</a>
          <a class="btn-flat waves-effect waves-yellow" style="font-size: 12px" ng-click="filter = 'completed'">Completed Tasks</a>
        </div>
        <div class="col s2">
          <a class="dropdown-button btn-flat btn-flat right activator" style="margin-top: 15px" href="#!" ng-click="newTask()">
            <i class=" mdi-content-add"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div style="height:300px; overflow-y: auto">
      <li class="collection-item" ng-repeat="task in tasks | taskFilter : filter | orderBy : ['-completed','-createdAt'] ">
        <div>
          <a class="btn-flat"
             ng-click="(!task.isOwner && !isLeader) || complete(task)"
             ng-class="{'disabled' : !task.isOwner && !isLeader}"
             data-tooltip="Attach..."
             data-position="top"
             data-delay="1">
            <i ng-if="!task.completed" class="mdi-toggle-check-box-outline-blank"></i>
            <i ng-if="task.completed" class="mdi-toggle-check-box"></i>
          </a>
            <span ng-class="{'completed' : task.completed}">{{task.name}}</span>
          <a href="#!" class="btn-flat activator secondary-content" style="margin-top: -3px; font-size: 12px;"
             ng-click="(!task.isOwner && !isLeader) || editTask(task)"
             ng-if="task.isOwner || isLeader">
          Edit
          </a>
        </div>
      </li>
    </div>

    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i></span>
      <form name="form" class="col s12" ng-submit="save(form)">
        <div class="input-field col s12">
          <input id="task_description" type="text" ng-model="task.name" name="name" ng-class="{'invalid' : form.name.$invalid && submitted}">
          <label for="task_description">Task</label>
          <p class="validate-message" ng-show="form.name.$error.required && submitted">Task name is required</p>
        </div>
        <div class="input-field col s12">
          <input type="date"
                 name="created"
                 id="dueDate"
                 ng-model="task.dateEnd"
                 format="mm/dd/yyyy"/>
          <label for="dueDate" class="active">Due date</label>
        </div>

        <div class="row">
          <p style="">Current Assignee's:</p>
          <div class="card col" style="padding: 5px; margin-left: 10px" ng-repeat="assignee in task.assignees">
            {{assignee.email}} <span><a href="#!" ng-click="revoke(assignee,$index)"><i class="mdi-navigation-cancel" style="margin-left: 5px"></i></a></span>
          </div>
        </div>

        <div class="divider"></div>

        <div class="row">
          <p style="">Available Assignee's:</p>
          <a href="#!" ng-click="assign(staff,$index)" ng-repeat="staff in available">
            <div class="card col" style="padding: 5px; margin-left: 10px" >
              {{staff.email}}
            </div>
          </a>
        </div>

        <div class="row">
          <button class="btn right" type="submit" name="action">Save
          </button>
        </div>
      </form>
    </div>
  </ul>

</div>
       
