<md-content layout="row">

    <backend-sidenav layout="column" flex="15">   
    </backend-sidenav>

    <div layout="column" flex="85">
        <div class="detail-header" layout-padding layout="column">
            <h4>Projects</h4>
            <md-input-container>
                <label for="">Search for project</label>
                <input type="text" ng-model="searchText">
            </md-input-container>
        </div>
        <div class="main-page-content" layout-padding style="height: 90vh; overflow: scroll">
            <md-list ng-cloak class="main-page-content">
                <div  ng-repeat="project in projects | filter: {name: searchText}">
                
                    <md-list-item class="md-2-line secondary-button-padding" md-ink-ripple>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{project.name}}</h3>
                            <p>{{project.address}}</p>
                        </div>
                        <md-button class="md-secondary" ng-click="showModal($event, project)">
                            <md-icon class="material-icons">create</md-icon>
                        </md-button>
                        <md-button class="md-secondary" ng-click="remove(project)" style="margin-right: 90px">
                            <md-icon class="material-icons">remove</md-icon>
                        </md-button>
                    </md-list-item>
                    <md-divider></md-divider>
                
                </div>
            </md-list>
        </div>        
    </div>
    
</md-content>