<div class="col s12">
    <table ng-table="tableParams" class="table">
        <tr ng-repeat="project in $data">
            <td data-title="'#'">
                {{$index + 1}}
            </td>
            <td data-title="'Name'" sortable="'name'">
                {{project.name}}
            </td>
            <td data-title="'Status'" sortable="'status'">
                {{project.status}}
            </td>
            <td data-title="'Contractor Packages'" sortable="'contractorPackages'">
                {{project.contractorPackages}}
            </td>
            <td data-title="'Material Packages'" sortable="'materialpackages'">
                {{project.materialpackages}}
            </td>
            <td data-title="'Action'">
                <i class="material-icons" ng-click="remove(project, $index)" style="color:#03A9F4">remove</i>
            </td>
        </tr>
    </table>
</div>