<md-content layout="row">

	<dashboard-sidenav layout="column" flex="15">	
	</dashboard-sidenav>

	<div layout="column" flex="85" layout-padding>
		<div flex layout-margin>
			<div style="height: 84vh; overflow: scroll" class="md-whiteframe-1dp">
				
				<ui-view></ui-view>
				
			</div>
		</div>
	</div>
	
</md-content>



<!-- <div class="col s3">
    <div class="collection" id="dashFilters">
        <div ng-mouseover="activeHover($event)" ng-mouseleave="removeHover($event)" ng-click="currentList = 'tasks'; backToTaskList(); backToDocumentsList(); backToThreadsList()" class="row collection-item" style="cursor: pointer">
            Tasks <span ng-if="myTasks.length > 0" class="item badge">{{myTasks.length}}</span>
        </div>
        <div ng-mouseover="activeHover($event)" ng-mouseleave="removeHover($event)" ng-click="currentList = 'chats'; backToTaskList(); backToDocumentsList(); backToThreadsList()" class="row collection-item" style="cursor: pointer">
            Messages <span ng-if="myThreads.length > 0" class="new badge">{{myThreads.length}}</span>
        </div>
    </div>
</div>
<div class="col s9">
    <div class="collection">
        <div style="height: {{contentHeight + 85}}px; overflow-x:hidden; overflow-y: auto; background-color: white;">
            <div ng-mouseover="activeHover($event)" ng-mouseleave="removeHover($event)" ng-if="currentList == 'tasks' && !showDetailOfTask" class="collection-item row" ng-repeat="task in myTasks | orderBy : ['dateEnd']" style="cursor:pointer">
              <div class="col s2">
                <input ng-if="!task.completed" type="checkbox" id="complete" ng-click="complete(task)"/>
                <label for="complete"></label>

                <input ng-if="task.completed" checked="true" type="checkbox" id="completed" ng-click="complete(task)"/>
                <label for="completed"></label>
              </div>
              <div class="col s10" ng-click="goToTaskDetail(task)">
                <div class="col s12">
                  {{task.name}}
                </div>
                <div class="col s12">
                  <span>Due date: {{task.dateEnd | date: longDate}}</span> - Assignees: <span ng-repeat="assignee in task.assignees">
                  {{(assignee.lastName) ? assignee.firstName +" "+ assignee.lastName : assignee.email}},</span>
                </div>
              </div>
            </div>
            <div ng-mouseover="activeHover($event)" ng-mouseleave="removeHover($event)" ng-if="currentList == 'chats' && !showDetailOfTask" class="collection-item row" ng-repeat="thread in myThreads | orderBy : ['dateEnd']" ng-click="goToThreadNewVersionDetail(thread)" style="cursor:pointer">
                <div class="col s12">
                    {{thread.user}} has mention you in {{thread.type}} with message {{thread.message}}.
                </div>
            </div>
        </div>
    </div>
</div> -->