<div class="col s12">
    <table ng-table="tableParams" class="table">
        <tr ng-repeat="package in $data">
            <td data-title="'#'">
                {{$index + 1}}
            </td>
            <td data-title="'Name'">
                {{package.name}}
            </td>
            <td data-title="'Status'" sortable="'status'">
                {{(package.isCompleted) ? "Completed" : "Not complete"}}
            </td>
            <td data-title="'Threads'" sortable="'threads'">
                <a ui-sref="chatThreadsBackend.list({id: package.project._id,packageId: package._id, type: 'builder'})">{{package.threads}}</a>
            </td>
            <td data-title="'Documents'" sortable="'documents'">
                <a ui-sref="documentBackend.list({id: package.project._id,packageId: package._id, type: 'builder'})">{{package.documents}}</a>
            </td>
            <td data-title="'Tasks'" sortable="'tasks'">
                <a ui-sref="taskBackend.list({id: package.project._id,packageId: package._id, type: 'builder'})">{{package.tasks}}</a>
            </td>
            <td data-title="'Action'">
                <a ng-click="getEditPackage(package)" href="#editPackage" class="modal-trigger"><i class="material-icons">create</i></a>
            </td>
        </tr>
    </table>
</div>

<div id="editPackage" class="modal modal-fixed-bottom">
    <form ng-submit="editPackage()">
        <div class="modal-content">
            <h5>EDIT BUILDER PACKAGE</h5>
            <div class="input-field col s12">
                <label>Name </label>
                <input name="name" ng-model="package.name" required type="text"
                       ng-class="{'invalid' : form.name.$invalid && submitted}">
            </div>
            <div class="row">
                <div class="col s12">
                    <ul class="collection z-depth-1">
                        <li class="collection-item vlalign-wrapper">
                            <div class="row form" style="margin-bottom: 0px">
                                <div class="col s12"><p>Enter work descriptions below:</p></div>
                                <div class="input-field col s10">
                                    <textarea id="description" class="materialize-textarea" ng-model="description" ng-class="{'invalid' : contractorDescriptionError}"></textarea>
                                    <label for="description" class="">Description</label>
                                </div>
                                <div class="valign col s2">
                                    <button class="btn" type="button" name="action" style="margin-top: 78px" ng-click="addDescription(description)">Add</button>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item vlalign" ng-repeat="description in package.descriptions track by $index">
                            <div class="row" style="margin-bottom: 0px">
                                <div class="col s10">
                                    <p>{{description}}</p>
                                </div>
                                <div class="col s2">
                                    <button type="button" class="btn-flat btn-flat" ng-click="removeDescription($index)">Remove</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-flat modal-action modal-close">Save</button>
            <a href="#" class="btn btn-flat modal-action modal-close">Close</a>
        </div>
    </form>
</div>