<div layout="row" layout-padding>
	
	<div layout="column" flex>
	
		<div layout="column" class="md-whiteframe-1dp overview-view">
		
			<div class="md-toolbar-tools">
			
				<h5 layout-margin><span>{{ project.name }} Overview</span></h5>
			
			</div>
			
			<md-divider layout="row" flex></md-divider>
			
			<div layout="column" layout-padding flex>
			
				<div layout="column" layout-margin>
					<p><strong>Project Name:</strong></p>
					<p>{{ project.name }}</p>
				</div>
				
				<div layout="column" layout-margin>
					<p><strong>Project Address:</strong></p>
					<p>{{ project.address }}</p>
					<p>{{ project.suburb }}, {{ project.postcode }}</p>
				</div>
				
				<div layout="column" layout-margin>
					<p><strong>Project Description:</strong></p>
					<p ng-hide="!project.description">{{ project.description }}</p>
					<p ng-show="!project.description && project.projectManager._id == currentUser._id">There is no description for this project yet.</p>
					<p ng-show="!project.description && project.projectManager._id == currentUser._id">You can add one by clicking the pencil icon below...</p>
				</div>
			</div>
			
			<md-toolbar>
				<div class="md-toolbar-tools" layout="row" layout-align="center center">
		  	      	<md-button id="im_ProjOverviewEdit" aria-label="Edit Project Details" class="md-icon-button" ng-click="showEditProjectModal($event)" ng-show="project.projectManager._id == currentUser._id">
					  	<md-tooltip md-direction="top">Edit Project Details</md-tooltip>
				      	<md-icon class="material-icons">edit</md-icon>
		  	      	</md-button>
		
		  	      	<md-button id="im_ProjOverviewBackup" aria-label="Download a Backup of this Project" class="md-icon-button" ng-click="downloadBackUp()">
					  	<md-tooltip md-direction="top">Download a Backup of this Project</md-tooltip>
				      	<md-icon class="material-icons">file_download</md-icon>
		  	      	</md-button>
		
		  	      	<md-button id="im_ProjOverviewArchive" aria-label="Archive this Project" class="md-icon-button" ng-show="currentUser._id == project.projectManager._id" ng-click="archiveProject($event)">
					  	<md-tooltip md-direction="top">Archive this Project</md-tooltip>
				      	<md-icon class="material-icons">archive</md-icon>
		  	      	</md-button>
				</div>
			</md-toolbar>
			
		</div>
	</div>
</div>
