<md-toolbar class="md-warn md-hue-1">
	<div class="md-toolbar-tools">
	    <span>Project Overview</span>
    </div>
</md-toolbar>

<div class="main-page-content">
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-center-tabs md-no-ink md-no-ink-bar md-stretch-tabs="always">
            <md-tab>
				<md-tab-label>
				    Project Location
			    </md-tab-label>
			    <md-tab-body>
                    <p><strong>Address: </strong>{{project.address}}</p>
                    <p><strong>Suburb: </strong>{{project.suburb}}</p>
                    <p><strong>Postcode: </strong>{{project.postcode}}</p>
			    </md-tab-body>
            </md-tab>
            <md-tab label="Project Manager">
                <md-content class="md-padding">
                    <p><strong>Name: </strong>{{project.owner.name}}</p>
                    <p><strong>Email: </strong>{{project.owner.email}}</p>
                </md-content>
            </md-tab>
            <md-tab label="Edit Project" ng-if="currentUser._id.toString() == project.owner._id.toString()">
                <md-content>
                    <form ng-submit="editProject(form)" name="form">
                        <div layout="row">
                            <md-input-container flex>
                                <label>Project Name</label>
                                <input ng-model="project.name" md-autofocus ng-required>
                            </md-input-container>
                        </div>
                        
                        <div layout="row">
                            <md-input-container flex>
                                <label>Street Address</label>
                                <input ng-model="project.address">
                            </md-input-container>
                        </div>
                        
                        <div layout="row">
                            <md-input-container flex="60">
                                <label>Suburb</label>
                                <input ng-model="project.suburb">
                            </md-input-container>

                            <md-input-container flex="40">
                                <label>Postcode</label>
                                <input ng-model="project.postcode">
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-button type="submit" class="md-accent md-hue-1 md-raised">Edit Project!</md-button>
                        </div>
                    </form>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
	
	<div>
  	  <md-fab-speed-dial ng-cloak md-open="false" md-direction="up" class="md-scale md-fab-bottom-right fab-list">
		  <md-fab-trigger>
	  	      <md-button aria-label="Actions" class="md-fab md-primary">
				  <md-tooltip md-direction="left">Actions...</md-tooltip>
			      <md-icon class="material-icons" >add</md-icon>
	  	      </md-button>
  	      </md-fab-trigger>
		  <md-fab-actions>
	  	      <md-button aria-label="Edit Project Details" class="md-fab md-raised md-mini">
				  <md-tooltip md-direction="left">Edit Project Details</md-tooltip>
			      <md-icon class="material-icons">edit</md-icon>
	  	      </md-button>
	  	      <md-button aria-label="Download a Backup of this Project" class="md-fab md-raised md-mini">
				  <md-tooltip md-direction="left">Download a Backup of this Project</md-tooltip>
			      <md-icon class="material-icons">file_download</md-icon>
	  	      </md-button>
	  	      <md-button aria-label="Archive this Project" class="md-fab md-raised md-mini">
				  <md-tooltip md-direction="left">Archive this Project</md-tooltip>
			      <md-icon class="material-icons">archive</md-icon>
	  	      </md-button>
	  	  </md-fab-actions>
  	  </md-fab-speed-dial>
    </div>
	
</div>
