<div class="main-content container" style="margin-top:50px;">
  <div class="row">
    <div class="col-sm-12">
      <!-- sign-up form -->
      <div class="add-comment contact-form boxed">
        <alert type="success" close="closeSuccess()" ng-show="success">Thank you for your submit, you can login now and enjoy yourself.</alert>
        <alert ng-repeat="(key, msg) in errors" type="danger" close="closeAlert(key)">
          {{msg.email.message}}
        </alert>
        <div class="card collection">
          <form method="post" ng-submit="signup()" name="signupForm" novalidate style="padding:10px 50px">
            <div class="row">
              <h5>
                {{packageInvite.owner.name}} has invited you to privide a quote for their project.
                Please create account below to view the tender details and submit quote.
              </h5>
            </div>
            <div class="row">
              <div input-field class="col s12">
                <label>Team name</label>
                <input type="text" ng-model="user.teamName" required>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input type="text" name="firstName" ng-model="user.firstName" required>
                <label for="firstName">First name</label>
              </div>
              <div class="input-field col s6">
                <input type="text" name="lastName" ng-model="user.lastName" required>
                <label for="lastName">Last name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <label for="">Team type</label>
                <input type="text" ng-model="packageInvite.inviteType" disabled>
              </div>
              <div input-field class="col s6">
                <label>Email</label>
                <input ng-model="packageInvite.to" required type="text" disabled>
              </div>
            </div>
            <div class="row">
              <div input-field class="col s12">
                <label>Password</label>
                <input ng-model="user.password" required type="password">
              </div>
            </div>
            <div class="row">
              <button class="waves-effect waves-light btn" ng-disabled="signupForm.$invalid">Sign up</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- right sidebar -->
    <!-- <div class="col-sm-4">
      <div ng-include="'/app/partials/right-sidebar-no-login.html'"></div>
    </div> -->
  </div><!--/.row-->
</div>