<!-- <div class="main-content container" style="margin-top:50px; height: {{contentHeight + 70}}px; overflow-y: auto;">
  <div class="row">
    <div class="col-sm-12">
      <div class="add-comment contact-form boxed">
        <div class="card collection">
          <form method="post" ng-submit="signup(signupForm)" name="signupForm" novalidate style="padding:10px 50px">
            <div class="row">
                <h4>Join {{packageInvite.owner.name}} on buiilt.</h4>
                <h5>Fill out your details below to accept their invitation.</h5>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <input type="text" name="firstName" id="firstNameField" ng-model="user.firstName" required>
                <label for="firstName">First name</label>
              </div>
              <div class="input-field col s6">
                <input type="text" name="lastName" id="lastNameField" ng-model="user.lastName" required>
                <label for="lastName">Last name</label>
              </div>
            </div>
            <div class="row">
              <div input-field class="col s12">
                <label>Password</label>
                <input ng-model="user.password" id="pwfield" name="password" required type="password" ng-minlength="6" required>
                <p class="validate-message" ng-show="signupForm.password.$error.minlength && submitted">Password need at least 6 character</p>
              </div>
            </div>
            <div class="row">
              <div input-field class="col s12">
                <input id="repassword" name="repassword" ng-model="user.repassword" compare-to="user.password" type="password">
                <label for="repassword">Confirm Password</label>
                <p class="validate-message" ng-show="signupForm.repassword.$error.compareTo && submitted">Confirm password dose not match</p>
              </div>
            </div>
            <div class="row">
              <button type="submit" id="SUBtn" class="waves-effect waves-light btn">Sign Up Now</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div style="height: 92vh; background-color: #FAFAFA" layout-padding>
	<div flex-offset="30" flex="40" class="md-whiteframe-1dp" style="background-color: white; margin-top: 10vh" layout-padding>
			
			<form method="post" ng-submit="signup(signupForm)" name="signupForm" novalidate style="padding:10px 50px">
				
				<div layout="column" layout-margin>
				
					<div layout="column" layout-align="center center">
						<p style="font-size: 20px; font-weight: 500; margin-bottom: 3vh">Join {{packageInvite.owner.name}} on buiilt for Free</p>
					</div>
					
					<div layout="row" layout-align="center center">
						<p class="validate-message" ng-repeat="(key, msg) in errors" type="danger" close="closeAlert(key)">{{msg.email.message}}</p>
					</div>
					
					<div layout="row">
						<md-input-container flex>
							<label for="firstName">First name</label>
			                <input type="text" name="firstName" id="firstNameField" ng-model="user.firstName" required>
							<p class="validate-message" ng-show="form.firstName.$error.required && submitted">Your first name is required...</p>
						</md-input-container>
						<md-input-container flex>
							<label for="lastName">Last name</label>
			                <input type="text" name="lastName" id="lastNameField" ng-model="user.lastName" required>
							<p class="validate-message" ng-show="form.lastName.$error.required && submitted">Your surname is required...</p>
						</md-input-container>
					</div>
					
					<md-input-container>
		                <label>Password</label>
		                <input ng-model="user.password" id="pwfield" name="password" required type="password" ng-minlength="6" required>
						<p class="validate-message" ng-show="form.password.$error.required && submitted">Please provide a password...</p>
						<p class="validate-message" ng-show="form.password.$error.minlength && submitted">Password should be a minimum of 6 characters...</p>
					</md-input-container>
					
					<md-input-container>
		                <label for="repassword">Confirm Password</label>
		                <input id="repassword" name="repassword" ng-model="user.repassword" compare-to="user.password" type="password">
						<p class="validate-message" ng-show="form.repassword.$error.compareTo && submitted">The passwords you have entered do not match...</p>
					</md-input-container>
					
					<div layout="row" layout-align="center center">
						<md-button type="submit" class="">Sign Up Now</md-button>
					</div>
					
				</div>
			</form>
		
	</div>
	
	<div flex-offset="30" flex="40" layout="row">
		<p layout-align="center center">By Signing Up to buiilt you agree to our <a href="//www.iubenda.com/privacy-policy/605439" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script> and our Terms of Service.</p>
	</div>
	
</div>
