<div class="col s12">
    <table ng-table="tableParams" class="table">
        <tr ng-repeat="thread in $data">
            <td data-title="'#'">
                {{$index + 1}}
            </td>
            <td data-title="'Name'">
                <a ui-sref="chatThreadsBackend.detail({threadId: thread._id, type: thread.type})">{{thread.name}}</a>
            </td>
            <td data-title="'From'">
                {{(thread.owner.firstName && thread.owner.lastName) ? thread.owner.firstName + ' '+ thread.owner.lastName : thread.owner.email }}
            </td>
            <td data-title="'To'">
                <ul>
                    <li ng-repeat="to in thread.users">
                        {{(to.firstName && to.lastName) ? to.firstName + ' ' + to.lastName : to.email}}
                    </li>
                </ul>
            </td>
            <td data-title="'Action'">
                <i class="material-icons" ng-click="remove(thread)" style="color:#03A9F4">remove</i>
            </td>
        </tr>
    </table>
</div>