<div layout="column" style="">
	
	<div layout-padding>
		<div layout="row">
	        <div class="md-toolbar-tools">
	            <h1>Builder Package</h1>
	            <span flex="10"></span>
				<lx-search-filter closed theme="light"></lx-search-filter>
				<span flex></span>
				
				<div class="fab">
			        <button class="fab__primary btn btn--xl btn--amber btn--fab" lx-tooltip="Attach..." tooltip-position="bottom">
			        	<i class="mdi mdi-dots-vertical"></i>
						<i class="mdi mdi-plus"></i>
			        </button>

			        <div class="fab__actions fab__actions--left">
			            <button class="btn btn--l btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="bottom">
							<i class="mdi mdi-delete"></i>
						</button>
			            <button class="btn btn--l btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="bottom">
							<i class="mdi mdi-delete"></i>
						</button>
			            <button class="btn btn--l btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="bottom">
							<i class="mdi mdi-delete"></i>
						</button>
			            <button class="btn btn--l btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="bottom">
							<i class="mdi mdi-delete"></i>
						</button>
			        </div>
			    </div>
            </div>
			<md-divider></md-divider>
		</div>
		<p layout-margin>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
		</p>
	</div>
	
</div>

<div layout="row">
	
	
	<div flex="40" related-items layout-padding>
		
		<div class="toolbar md-whiteframe-z1" style="background-color: white;">

	        <span class="toolbar__label">
				<md-select placeholder="ALL ITEMS" ng-model="someVal1" style="margin-top:5px;">
				    <md-option value="1">ALL ITEMS</md-option>
				    <md-option value="2">VARIATIONS</md-option>
					<md-option value="3">DEFECTS</md-option>
					<md-option value="4">INVOICES</md-option>
				  </md-select>
	        </span>

	        <div class="toolbar__right">
				
				<div class="fab">
			        <button class="fab__primary btn btn--s btn--blue btn--fab" lx-tooltip="Attach..." tooltip-position="bottom">
			        	<i class="mdi mdi-dots-vertical"></i>
						<i class="mdi mdi-plus"></i>
			        </button>

			        <div class="fab__actions fab__actions--left">
			            <button class="btn btn--s btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="bottom">
							<i class="mdi mdi-delete"></i>
						</button>
			            <button class="btn btn--s btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="bottom">
							<i class="mdi mdi-delete"></i>
						</button>
			            <button class="btn btn--s btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="bottom">
							<i class="mdi mdi-delete"></i>
						</button>
			            <button class="btn btn--s btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="bottom">
							<i class="mdi mdi-delete"></i>
						</button>
			        </div>
			    </div>
				
	        </div>
	    </div>
		<md-content class="md-whiteframe-z1" style="height: 350px">
			
			<md-list >
			
				<md-list-item layout="row" layout-padding>
					<div flex="90">
						<p>Related Item Description</p>
					</div>
					<div flex="10">
						<div class="fab">
					        <button class="fab__primary btn btn--xs btn--white btn--fab" lx-tooltip="Mark Complete..." tooltip-position="top">
					        	<i class="mdi mdi-dots-vertical"></i>
								<i class="mdi mdi-check"></i>
					        </button>

					        <div class="fab__actions fab__actions--left">
					            <button class="btn btn--xs btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="top"><i class="mdi mdi-delete"></i></button>
					        </div>
					    </div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				
				<md-list-item layout="row" layout-padding>
					<div flex="90">
						<p>Related Item Description</p>
					</div>
					<div flex="10">
						<div class="fab">
					        <button class="fab__primary btn btn--xs btn--white btn--fab" lx-tooltip="Mark Complete..." tooltip-position="top">
					        	<i class="mdi mdi-dots-vertical"></i>
								<i class="mdi mdi-check"></i>
					        </button>

					        <div class="fab__actions fab__actions--left">
					            <button class="btn btn--xs btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="top"><i class="mdi mdi-delete"></i></button>
					        </div>
					    </div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				
				<md-list-item layout="row" layout-padding>
					<div flex="90">
						<p>Related Item Description</p>
					</div>
					<div flex="10">
						<div class="fab">
					        <button class="fab__primary btn btn--xs btn--white btn--fab" lx-tooltip="Mark Complete..." tooltip-position="top">
					        	<i class="mdi mdi-dots-vertical"></i>
								<i class="mdi mdi-check"></i>
					        </button>

					        <div class="fab__actions fab__actions--left">
					            <button class="btn btn--xs btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="top"><i class="mdi mdi-delete"></i></button>
					        </div>
					    </div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				
				<md-list-item layout="row" layout-padding>
					<div flex="90">
						<p>Related Item Description</p>
					</div>
					<div flex="10">
						<div class="fab">
					        <button class="fab__primary btn btn--xs btn--white btn--fab" lx-tooltip="Mark Complete..." tooltip-position="top">
					        	<i class="mdi mdi-dots-vertical"></i>
								<i class="mdi mdi-check"></i>
					        </button>

					        <div class="fab__actions fab__actions--left">
					            <button class="btn btn--xs btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="top"><i class="mdi mdi-delete"></i></button>
					        </div>
					    </div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				
				<md-list-item layout="row" layout-padding>
					<div flex="90">
						<p>Related Item Description</p>
					</div>
					<div flex="10">
						<div class="fab">
					        <button class="fab__primary btn btn--xs btn--white btn--fab" lx-tooltip="Mark Complete..." tooltip-position="top">
					        	<i class="mdi mdi-dots-vertical"></i>
								<i class="mdi mdi-check"></i>
					        </button>

					        <div class="fab__actions fab__actions--left">
					            <button class="btn btn--xs btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="top"><i class="mdi mdi-delete"></i></button>
					        </div>
					    </div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				
				<md-list-item layout="row" layout-padding>
					<div flex="90">
						<p>Related Item Description</p>
					</div>
					<div flex="10">
						<div class="fab">
					        <button class="fab__primary btn btn--xs btn--white btn--fab" lx-tooltip="Mark Complete..." tooltip-position="top">
					        	<i class="mdi mdi-dots-vertical"></i>
								<i class="mdi mdi-check"></i>
					        </button>

					        <div class="fab__actions fab__actions--left">
					            <button class="btn btn--xs btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="top"><i class="mdi mdi-delete"></i></button>
					        </div>
					    </div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				
				<md-list-item layout="row" layout-padding>
					<div flex="90">
						<p>Related Item Description</p>
					</div>
					<div flex="10">
						<div class="fab">
					        <button class="fab__primary btn btn--xs btn--white btn--fab" lx-tooltip="Mark Complete..." tooltip-position="top">
					        	<i class="mdi mdi-dots-vertical"></i>
								<i class="mdi mdi-check"></i>
					        </button>

					        <div class="fab__actions fab__actions--left">
					            <button class="btn btn--xs btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="top"><i class="mdi mdi-delete"></i></button>
					        </div>
					    </div>
					</div>
				</md-list-item>
				
			</md-list>
		</md-content>
	</div>
	
	<div flex="60" tasks layout-padding>
		
		<div class="toolbar md-whiteframe-z1" style="background-color: white;">

	        <span class="toolbar__label fs-title">
				<button class="btn btn--m btn--blue btn--flat" lx-ripple>All</button>
				<button class="btn btn--m btn--blue btn--flat" lx-ripple>Assigned To Me</button>
				<button class="btn btn--m btn--blue btn--flat" lx-ripple>Assigned By Me</button>
	        </span>

	        <div class="toolbar__right">
				
				<div class="fab">
			        <button class="fab__primary btn btn--s btn--blue btn--fab" lx-tooltip="Attach..." tooltip-position="bottom">
			        	<i class="mdi mdi-dots-vertical"></i>
						<i class="mdi mdi-plus"></i>
			        </button>

			        <div class="fab__actions fab__actions--left">
			            <button class="btn btn--s btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="bottom">
							<i class="mdi mdi-delete"></i>
						</button>
			            <button class="btn btn--s btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="bottom">
							<i class="mdi mdi-delete"></i>
						</button>
			            <button class="btn btn--s btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="bottom">
							<i class="mdi mdi-delete"></i>
						</button>
			            <button class="btn btn--s btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="bottom">
							<i class="mdi mdi-delete"></i>
						</button>
			        </div>
			    </div>
	            
	        </div>
	    </div>
		
		<md-content class="md-whiteframe-z1"  style="height: 350px">
			<md-list >
			
				<md-list-item layout="row" layout-padding>
					<div flex="90">
						<p>Task Description</p>
					</div>
					<div flex="10">
						<div class="fab">
					        <button class="fab__primary btn btn--xs btn--white btn--fab" lx-tooltip="Mark Complete..." tooltip-position="top">
					        	<i class="mdi mdi-dots-vertical"></i>
								<i class="mdi mdi-check"></i>
					        </button>

					        <div class="fab__actions fab__actions--left">
					            <button class="btn btn--xs btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="top"><i class="mdi mdi-delete"></i></button>
					        </div>
					    </div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				
				<md-list-item layout="row" layout-padding>
					<div flex="90">
						<p>Task Description</p>
					</div>
					<div flex="10">
						<div class="fab">
					        <button class="fab__primary btn btn--xs btn--white btn--fab" lx-tooltip="Mark Complete..." tooltip-position="top">
					        	<i class="mdi mdi-dots-vertical"></i>
								<i class="mdi mdi-check"></i>
					        </button>

					        <div class="fab__actions fab__actions--left">
					            <button class="btn btn--xs btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="top"><i class="mdi mdi-delete"></i></button>
					        </div>
					    </div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
			
				<md-list-item layout="row" layout-padding>
					<div flex="90">
						<p>Task Description</p>
					</div>
					<div flex="10">
						<div class="fab">
					        <button class="fab__primary btn btn--xs btn--white btn--fab" lx-tooltip="Mark Complete..." tooltip-position="top">
					        	<i class="mdi mdi-dots-vertical"></i>
								<i class="mdi mdi-check"></i>
					        </button>

					        <div class="fab__actions fab__actions--left">
					            <button class="btn btn--xs btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="top"><i class="mdi mdi-delete"></i></button>
					        </div>
					    </div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				
				<md-list-item layout="row" layout-padding>
					<div flex="90">
						<p>Task Description</p>
					</div>
					<div flex="10">
						<div class="fab">
					        <button class="fab__primary btn btn--xs btn--white btn--fab" lx-tooltip="Mark Complete..." tooltip-position="top">
					        	<i class="mdi mdi-dots-vertical"></i>
								<i class="mdi mdi-check"></i>
					        </button>

					        <div class="fab__actions fab__actions--left">
					            <button class="btn btn--xs btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="top"><i class="mdi mdi-delete"></i></button>
					        </div>
					    </div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				
				<md-list-item layout="row" layout-padding>
					<div flex="90">
						<p>Task Description</p>
					</div>
					<div flex="10">
						<div class="fab">
					        <button class="fab__primary btn btn--xs btn--white btn--fab" lx-tooltip="Mark Complete..." tooltip-position="top">
					        	<i class="mdi mdi-dots-vertical"></i>
								<i class="mdi mdi-check"></i>
					        </button>

					        <div class="fab__actions fab__actions--left">
					            <button class="btn btn--xs btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="top"><i class="mdi mdi-delete"></i></button>
					        </div>
					    </div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				
				<md-list-item layout="row" layout-padding>
					<div flex="90">
						<p>Task Description</p>
					</div>
					<div flex="10">
						<div class="fab">
					        <button class="fab__primary btn btn--xs btn--white btn--fab" lx-tooltip="Mark Complete..." tooltip-position="top">
					        	<i class="mdi mdi-dots-vertical"></i>
								<i class="mdi mdi-check"></i>
					        </button>

					        <div class="fab__actions fab__actions--left">
					            <button class="btn btn--xs btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="top"><i class="mdi mdi-delete"></i></button>
					        </div>
					    </div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				
				<md-list-item layout="row" layout-padding>
					<div flex="90">
						<p>Task Description</p>
					</div>
					<div flex="10">
						<div class="fab">
					        <button class="fab__primary btn btn--xs btn--white btn--fab" lx-tooltip="Mark Complete..." tooltip-position="top">
					        	<i class="mdi mdi-dots-vertical"></i>
								<i class="mdi mdi-check"></i>
					        </button>

					        <div class="fab__actions fab__actions--left">
					            <button class="btn btn--xs btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="top"><i class="mdi mdi-delete"></i></button>
					        </div>
					    </div>
					</div>
				</md-list-item>
				
				
			</md-list>
		</md-content>
	</div>
</div>

<div layout="row">
	
	<div flex="100" chat layout-padding>
		
			<div class="toolbar md-whiteframe-z1" style="background-color: white;">

		        <span class="toolbar__label">
					<md-select placeholder="SELECT THREAD" ng-model="someVal3" style="margin-top:5px">
					    <md-option value="1">THREAD NAME 1</md-option>
					    <md-option value="2">THREAD NAME 2</md-option>
						<md-option value="3">THREAD NAME 3</md-option>
						<md-option value="4">THREAD NAME 4</md-option>
					  </md-select>
		        </span>
				
				<lx-search-filter theme="light"></lx-search-filter>
				<span flex></span>

		        <div class="toolbar__right">
		            
					<div class="fab">
				        <button class="fab__primary btn btn--s btn--blue btn--fab" lx-tooltip="Attach..." tooltip-position="bottom">
				        	<i class="mdi mdi-dots-vertical"></i>
							<i class="mdi mdi-plus"></i>
				        </button>

				        <div class="fab__actions fab__actions--left">
				            <button class="btn btn--s btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="bottom">
								<i class="mdi mdi-delete"></i>
							</button>
				            <button class="btn btn--s btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="bottom">
								<i class="mdi mdi-delete"></i>
							</button>
				            <button class="btn btn--s btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="bottom">
								<i class="mdi mdi-delete"></i>
							</button>
				            <button class="btn btn--s btn--black btn--fab" lx-tooltip="Lorem Ipsum" tooltip-position="bottom">
								<i class="mdi mdi-delete"></i>
							</button>
				        </div>
				    </div>
		            
		        </div>
		    </div>
			<div class="md-whiteframe-z1">
				<md-content style="height: 500px">
					<md-list>
				
						<md-list-item  layout="row" layout-padding>
							<div flex="100">
								<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<span style="text-color: grey; font-size: 10px"> - Author Name - Date and Time.</span></p>
							</div>
						</md-list-item>
						<md-divider md-inset></md-divider>
						
						<md-list-item  layout="row" layout-padding>
							<div flex="100">
								<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<span style="text-color: grey; font-size: 10px"> - Author Name - Date and Time.</span></p>
							</div>
						</md-list-item>
						<md-divider md-inset></md-divider>
						
						<md-list-item  layout="row" layout-padding>
							<div flex="100">
								<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<span style="text-color: grey; font-size: 10px"> - Author Name - Date and Time.</span></p>
							</div>
						</md-list-item>
						<md-divider md-inset></md-divider>
						
						<md-list-item  layout="row" layout-padding>
							<div flex="100">
								<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<span style="text-color: grey; font-size: 10px"> - Author Name - Date and Time.</span></p>
							</div>
						</md-list-item>
						<md-divider md-inset></md-divider>
						
						<md-list-item  layout="row" layout-padding>
							<div flex="100">
								<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<span style="text-color: grey; font-size: 10px"> - Author Name - Date and Time.</span></p>
							</div>
						</md-list-item>
						<md-divider md-inset></md-divider>
						
						<md-list-item  layout="row" layout-padding>
							<div flex="100">
								<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<span style="text-color: grey; font-size: 10px"> - Author Name - Date and Time.</span></p>
							</div>
						</md-list-item>
						<md-divider md-inset></md-divider>
						
						<md-list-item  layout="row" layout-padding>
							<div flex="100">
								<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<span style="text-color: grey; font-size: 10px"> - Author Name - Date and Time.</span></p>
							</div>
						</md-list-item>
						<md-divider md-inset></md-divider>
						
						<md-list-item  layout="row" layout-padding>
							<div flex="100">
								<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<span style="text-color: grey; font-size: 10px"> - Author Name - Date and Time.</span></p>
							</div>
						</md-list-item>
						<md-divider md-inset></md-divider>
						
						<md-list-item  layout="row" layout-padding>
							<div flex="100">
								<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<span style="text-color: grey; font-size: 10px"> - Author Name - Date and Time.</span></p>
							</div>
						</md-list-item>
						<md-divider md-inset></md-divider>
					
					</md-list>
				</md-content>
				<div layout="row" style="background-color:white" layout-padding>
					<span flex="10"></span>
					<lx-text-field label="Reply..." flex="70">
			            <textarea></textarea>
			        </lx-text-field>
					<span flex></span>
					<button class="btn btn--l btn--blue btn--raised" lx-ripple>Send</button>
			
		    </div>
		</div>
	</div>
	
</div>
