<div class="col s12 ">  

   <ul class="collapsible popout s10" data-collapsible="accordion">
      <!-- <li>
         <div class="collapsible-header">User information</div>
         <div class="collapsible-body">
            <p>Email: {{currentUser.email}}</p>
         </div>
       </li> -->
       <li>
         <div class="collapsible-header">Email</div>
         <div class="collapsible-body">
         
         <form class="col s12" name="changeEmailForm" ng-submit="changeEmail()">
             <div class="row center-align">
                 <div class="input-field col s10 offset-s1">
                     <input ng-model="currentUser.email" id="email" type="email" class="validate">
                     <label class="active" for="email">Email</label>
                     <button class="btn waves-effect waves-light" ng-disable="changeEmailForm.$invalid" name="action">Edit/Save
                     </button>
                 </div>
                 
             </div>
         </form>    
            
         </div>
       </li>
       <li>
         <div class="collapsible-header">Password</div>
         <div class="collapsible-body">
         
         <form class="col s12" name="changePasswordForm" ng-submit="changePw()">
             <div class="row center-align">
                 <div class="input-field col s10 offset-s1">
                   <input ng-model="user.password" id="password" type="password" class="validate">
                   <label class="active" for="password">New Password</label>
                 </div>
                 <div class="input-field col s10 offset-s1">
                   <input ng-model="user.rePassword" id="repeat_password" match="user.password" type="password" class="validate">
                   <label class="active" for="repeat_password">Repeat New Password</label>
                   
                   <button class="btn waves-effect waves-light" ng-disble="changePasswordForm.$invalid" name="action">Edit/Save
                   </button>
                 </div>
             </div>
         </form>
         
         </div>
       </li>
       <li>
         <div class="collapsible-header">Contact Details</div>
         <div class="collapsible-body">
         
         <form class="col s12" name="changeProfileForm" ng-submit="changeProfile()">
             <div class="row center-align">
                <div class="input-field col s10 offset-s1">
                 <input ng-model="user.phoneNumber" id="password" type="number" class="validate">
                 <label class="active" for="password">Mobile Phone Number</label>
                </div>
                 <div class="input-field col s10 offset-s1">
                   <input ng-model="user.firstName" id="firstName" type="text" class="validate">
                   <label class="active" for="firstName">First Name</label>
                  </div>
                  <div class="input-field col s10 offset-s1">
                   <input ng-model="user.lastName" id="lastName" type="text" class="validate">
                   <label class="active" for="lastName">Last Name</label>
                   
                   <button class="btn waves-effect waves-light" ng-disable="changeProfileForm.$invalid" name="action">Edit/Save
                   </button>
                 </div>
             </div>
         </form>
         
         </div>
       </li>
   </ul>
</div>