<div layout="column" layout-padding>
	
	<div class="filter-card md-whiteframe-1dp" layout="column" layout-margin>
		
		<div layout="row">
			<md-input-container md-no-float flex class="md-block md-icon-float" style="margin-right: 15px">
				<md-icon class="material-icons" style="margin-top: 6px;">search</md-icon>
				<input type="text" name="fileName" ng-model="name" placeholder="Search by file name...">
			</md-input-container>
			
			<div>
				<md-button class="md-icon-button more-filter-button" ng-click="showFilter=!showFilter">
					 <md-tooltip md-direction="down">Show Filters</md-tooltip>
				     <md-icon class="material-icons">filter_list</md-icon>
		      	</md-button>
			</div>
			
			<div>
				<md-button class="md-icon-button more-filter-button" ng-click="showArchived=!showArchived">
					 <md-tooltip md-direction="down">Show Archived Files</md-tooltip>
				     <md-icon class="material-icons">history</md-icon>
		      	</md-button>
			</div>
			
			<span flex="5"></span>
			
			<div ng-show="!isArchive" class="add-fab">
				<md-button class="md-fab md-mini md-primary" ng-click="showNewFileModal($event)">
					 <md-tooltip md-direction="down">Add a New File</md-tooltip>
				     <md-icon class="material-icons md-primary">add</md-icon>
		      	</md-button>
			</div>
		</div>
		
		<div layout="row" ng-show="showFilter" layout-align="center center" layout-wrap layout-padding>
			<md-checkbox class="filter-checkbox md-primary" ng-repeat="tag in tags" ng-click="selectChip($index, 'tag'); selectFilterTag(tag.name)">{{tag.name}}</md-checkbox>
		</div>
		
	</div>
	
	<div layout="column">
		
		<div layout="row" layout-wrap>
			
			<div flex="33" ng-repeat="file in files | filter: search | unique: '_id' track by $index" ng-show="file.__v > 0">
				<md-card flex>
				 	<md-card-content ui-sref="project.files.detail({id: file.project._id, fileId: file._id})" style="cursor: pointer">
				   		<h4 class="card-header">{{ file.name }}</h4>
						<p class="md-body-1"><span ng-repeat="tag in file.tags">'{{tag}}' </span></p>
						<p class="md-body-1" ng-show="file.__v>0" style="color: #2196F3">Updates: {{file.__v}}</p>
					</md-card-content>
				
				 	<md-card-actions layout="row" layout-align="end center">
						<md-button ng-click="showViewFileModal($event, file)" class="md-icon-button"><md-icon class="material-icons">remove_red_eye</md-icon><md-tooltip md-direction="down">View Current Version</md-tooltip></md-button>
					</md-card-actions>
				</md-card>
			</div>
			
			<div flex="33" ng-repeat="file in files | orderBy: '-createdAt' | filter: search | unique: '_id' track by $index" ng-show="file.__v == 0">
				<md-card flex>
				 	<md-card-content ui-sref="project.files.detail({id: file.project._id, fileId: file._id})" style="cursor: pointer">
				   		<h4 class="card-header">{{ file.name }}</h4>
						<p class="md-body-1"><span ng-repeat="tag in file.tags">'{{tag}}' </span></p>
						<p class="md-body-1">No New Updates</p>
					</md-card-content>
				
				 	<md-card-actions layout="row" layout-align="end center">
						<md-button ng-click="showViewFileModal($event, file)" class="md-icon-button"><md-icon class="material-icons">remove_red_eye</md-icon><md-tooltip md-direction="down">View Current Version</md-tooltip></md-button href="../../project-overview/project-overview.html" title="project-overview">
					</md-card-actions>
				</md-card>
			</div>
			
		</div>
		
		
		<!-- <md-list ng-cloak flex class="md-whiteframe-1dp content-list">
			<div ng-repeat="file in files | filter: search | unique: '_id' track by $index" ng-show="file.__v > 0">
				<md-list-item class="md-3-line" md-ink-ripple layout-padding>

					<div  ui-sref="project.files.detail({id: file.project._id, fileId: file._id})" class="md-list-item-text">
						<h3>{{ file.name }}</h3>
						<h4><span ng-repeat="tag in file.tags">'{{tag}}' </span></h4>
						<p ng-show="file.__v>0" style="color: #2196F3">Updates: {{file.__v}}</p>
			        </div>

					<md-button ng-click="showViewFileModal($event, file)"><md-icon class="material-icons">remove_red_eye</md-icon><md-tooltip md-direction="down">View File</md-tooltip></md-button>

				</md-list-item>
				<md-divider ng-hide="$last"></md-divider>

			</div>

			<div ng-repeat="file in files | orderBy: '-createdAt' | filter: search | unique: '_id' track by $index" ng-show="file.__v == 0">
				<md-list-item class="md-3-line" md-ink-ripple layout-padding>

					<div  ui-sref="project.files.detail({id: file.project._id, fileId: file._id})" class="md-list-item-text">
						<h3>{{ file.name }}</h3>
						<h4><span ng-repeat="tag in file.tags">'{{tag}}' </span></h4>
			      		<p>No New Updates</p>
			        </div>

					<md-button ng-click="showViewFileModal($event, file)"><md-icon class="material-icons">remove_red_eye</md-icon><md-tooltip md-direction="down">View File</md-tooltip></md-button>

				</md-list-item>
				<md-divider ng-hide="$last"></md-divider>
			</div>
		</md-list> -->
	
	</div>
	
</div>