<div class="detail-header" layout-padding layout="column">
	
	<div layout="column" layout-padding>
		
		<div layout="row">
			<md-input-container flex="50">
				<label for="">File Name</label>
				<input type="text" name="fileName" ng-model="" md-autofocus>
			</md-input-container>
			
			<md-input-container flex="50" style="margin-bottom: -2vh">
				<label for="">File Recipients</label>
				<input type="text" name="fileRecipients" ng-model="">
			</md-input-container>
			
		</div>
		
		<div layout="row">
			<div flex layout="row" layout-align="center center">
				<span class="md-body-2" style="margin-top: -2vh">File Type:</span>
				<div class="tagcloud" style="margin-top: -2vh; margin-left: 2vh">
					<span class="available-tag">File Tag 1</span>
					<span class="available-tag">File Tag 2</span>
					<span class="available-tag">File Tag 3</span>
					<span class="available-tag">File Tag 4</span>
				</div>
			</div>
		</div>
		
	</div>

	<!-- <md-chips class="" ng-model="filesFilters" placeholder="Search..." secondary-placeholder="Search..." flex="45">
		<md-chip-template class="md-accent">
	        <strong>{{$chip}}</strong>
	    </md-chip-template>
	</md-chips>

	<span flex></span>

	<md-chips class="set-filters">
		<md-chip>Mine</md-chip>
		<md-chip>My Teams</md-chip>
	</md-chips> -->

</div>

<md-list ng-cloak class="main-page-content"  layout="column" flex>

	<div ng-show="!search" ng-repeat="file in files" ui-sref="project.files.detail({id: file.project, fileId: file._id})">
		<md-list-item class="md-2-line" md-ink-ripple>
			<div class="md-list-item-text" layout="column">
		          <h3>{{file.name}}</h3>
		          <p>File version {{file.version}}</p>
	        </div>
		</md-list-item>
		<md-divider></md-dividers>
	</div>

</md-list>

<div>
  <md-fab-speed-dial ng-cloak md-open="false" md-direction="up" class="md-scale md-fab-bottom-right fab-list" ng-show="!isArchive">
	  <md-fab-trigger>
  	      <md-button aria-label="Add a New File to this Projecs" class="md-fab md-primary" ng-click="showNewFileModal($event)">
			  <md-tooltip md-direction="left">Add a New File</md-tooltip>
		      <md-icon class="material-icons" >add</md-icon>
  	      </md-button>
      </md-fab-trigger>
  </md-fab-speed-dial>
</div>