<form ng-submit="uploadNewDocument()" name="uploadForm">
  <div class="modal-content">
    <div class="row">
      <div class="input-field col s8 offset-s2">
        <input filepicker type="filepicker-dragdrop" data-fp-services="computer, DROPBOX, gmail, skydrive, GOOGLE_DRIVE" on-success="onSuccess(event.fpfiles)" data-fp-multiple="true"/>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8 offset-s2">
        <p>Current tags: </p>
        <div class="card col" style="padding: 5px; margin-left: 10px" ng-repeat="tag in selectedTags">
          {{tag}}<span><a href="#!" ng-click="deselect(tag,$index)"><i class="mdi-navigation-cancel" style="margin-left: 5px"></i></a></span>
        </div>
        <p class="validate-message" ng-if="tagsError">Please provide at least one tag of document</p>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8 offset-s2" id="docAttachTags">
        <p>Avaiable tags: </p>
        <a href="#!" ng-click="selectTag(tag, $index)" ng-repeat="tag in tags">
          <div class="card col" style="padding: 5px; margin-left: 10px">
            {{tag}}
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button id="docAttachSubmit" type="submit" class="modal-action waves-effect waves-green btn-flat">Attach Document!</button>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</form>