
  <div class="row" style="margin-top: 50px">
    <div class="col s8 offset-s2">
      <div class="file-field input-field">
        <div class="btn tooltipped" data-position="top" data-delay="1" data-tooltip="Attach a File">
          <i class="mdi-editor-attach-file"></i>
          <input type="file" nv-file-select="" uploader="uploader"/>
        </div>
      </div>
      <div ng-show="uploader.queue.length" class="form-group">
        <div ng-repeat="item in uploader.queue">
          <div class="row">
            <div class="input-field col s8 offset-s2">
              <input type="text" ng-model="item.file.name">
              <label for="">File name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s8 offset-s2">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8 offset-s2">
          <textarea class="materialize-textarea" ng-model="formData.desc" id="textarea1" required></textarea>
          <label for="">Description</label>
        </div>
      </div>
      <!-- <div class="row">
        <div class="input-field col s8 offset-s2">
          <input type="text" ng-model="formData.usersRelatedTo" required placeholder="Email separate by comma (,)">
        </div>
      </div> -->
      <!-- <div class="file-field input-field">
        <div class="row">
          <div class="input-field col s8 offset-s2">
            
            <a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="uploadAll()" ng-disabled="uploader.isReady || uploader.isUploading || uploader.isSuccess">>Attach Document!</a>
            <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="uploadAll()" ng-disabled="uploader.isReady || uploader.isUploading || uploader.isSuccess">Attach Document!</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>

