<div class="row" style="padding: 12px">
    <div class="col s10 offset-s1">
        <div class="collection with-header">
            <div class="white-background content-scroll" style="height: {{contentHeight + 70}}px;">
                <div class="row collection-header" style="margin-bottom:0px">
                    <div class="col">
                        <p style="margin-left: 10px"><STRONG>BUILDER PACKAGE</STRONG></p>
                    </div>                    
                </div>
                <div ng-mouseover="activeHover($event)" ng-mouseleave="removeHover($event)" class="collection-item row" style="cursor:pointer;">
                    <div id="clientHeadContractRow" class="col s9" ng-click="goToBuilderPackageDetail()">Head Contract- {{builderRequest.name}}</div>
                    <div style="color: #757575">
                        <div class="col s1 valign-wrapper">
                            <div style="font-size:15px;">{{builderRequest.threads.length}}</div>
                            <i style="font-size: 15px; margin-left: 5px" class="material-icons valign">message</i>
                        </div>
                        <div class="col s1 valign-wrapper">
                            <div style="font-size:15px;">{{builderRequest.files.length}}</div>
                            <i style="font-size: 15px; margin-left: 5px" class="material-icons valign">insert_drive_file</i>
                        </div>
                        <div class="col s1 valign-wrapper">
                            <div style="font-size:15px;">{{builderRequest.tasks.length}}</div>
                            <i style="font-size: 15px; margin-left: 5px" class="material-icons valign">check</i>
                        </div>
                    </div>
                </div>

                <div class="row collection-header" style="margin-bottom:0px">
                    <div class="col">
                        <p style="margin-left: 10px"><STRONG>DESIGN PACKAGE</STRONG></p>
                    </div>                    
                </div>
                <div ng-mouseover="activeHover($event)" ng-mouseleave="removeHover($event)" class="collection-item row" ng-repeat="design in designs | filter: filter" style="cursor:pointer;" ng-click="goToDeSignDetail(design)">
                    <div class="col s9">{{design.name}}</div>
                    <div style="color: #757575">
                        <div class="col s1 valign-wrapper">
                            <div style="font-size:15px;">{{design.threads.length}}</div>
                            <i style="font-size: 15px; margin-left: 5px" class="material-icons valign">message</i>
                        </div>
                        <div class="col s1 valign-wrapper">
                            <div style="font-size:15px;">{{design.files.length}}</div>
                            <i style="font-size: 15px; margin-left: 5px" class="material-icons valign">insert_drive_file</i>
                        </div>
                        <div class="col s1 valign-wrapper">
                            <div style="font-size:15px;">{{design.tasks.length}}</div>
                            <i style="font-size: 15px; margin-left: 5px" class="material-icons valign">check</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>