<md-dialog aria-label="Create a New Related File" flex="70">
    <form ng-submit="createRelatedItem(form, 'file')" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create a New Related File</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                
                <div layout="row" layout="center center">
                    <div layout-padding>
                        <input filepicker class="filepicker-button" type="filepicker-dragdrop" data-fp-services="computer, DROPBOX, gmail, skydrive, GOOGLE_DRIVE" on-success="onSuccess(event.fpfile, 'related')" data-fp-multiple="false"/>
                    </div>
                </div>

                <div layout="row">
                    <md-input-container flex>
                        <label>Description</label>
                        <textarea ng-model="relatedItem.description" required md-maxlength="200" columns="1" rows="5"></textarea>
                    </md-input-container>
                </div>
            
                <div layout="row" layout-align="center center" class="tagcloud" layout-wrap>
                    <span ng-click="selectMember($index)" ng-class="{'available-tag':!tenderer.select, 'selected-tag': tenderer.select}" ng-repeat="tenderer in tenderers track by $index">{{(tenderer._id) ? tenderer.name : tenderer.email}}</span>
                </div>
                
                <!-- <div layout="row">
                    <md-input-container flex>
                        <label>Related Thread Name</label>
                        <input md-autofocus type="text" ng-model="relatedThread.name" name="name" required/>
                    </md-input-container>
                </div>

                <div ng-cloak>
                    <md-content layout="row" layout-wrap layout-xs="column">
                        <div flex="33" flex-sm="50" flex-xs="100" layout="row">
                            <md-card ng-click="selectMember($index, 'invitee')" ng-repeat="member in invitees" layout-margin>
                                <md-card-header>
                                    <p class="name">{{member.name}}</p>
                                </md-card-header>

                                <md-card-content>
                                    <p class="email">{{(member.email) ? member.email : 'Email Address'}}</p>
                                    <p class="phone">{{(member.phoneNumber)? member.phoneNumber : 'Phone Number'}}</p>
                                </md-card-content>

                                <md-card-actions layout-margin>
                                    <md-card-icon-actions layout="row" layout-align="space-around center">
                                        <md-button class="material-icons md-icon-button">
                                            <md-tooltip md-direction="down">Invite To This Thread</md-tooltip>
                                            <md-icon ng-show="member.select" class="material-icons">done</md-icon>
                                        </md-button>
                                    </md-card-icon-actions>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </md-content>
                </div> -->
                    
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="closeModal()">Cancel</md-button>
            <md-button type="submit" class="md-raised md-accent md-hue-1">Create Related Thread!</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>