<md-dialog aria-label="Create a New Related Thread" flex="70">
    <form ng-submit="sendBroadcastMessage(form)" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Send a Message</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
				
                <div layout="row">
                    <md-input-container flex>
                        <label>Your Message</label>
                        <textarea ng-model="broadcastMessage.message" columns="1" md-maxlength="250" rows="5" required></textarea>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="center center" class="tagcloud" layout-wrap ng-show="tender.inviter._id == currentUser._id">
                    <span ng-init="selectAll = false" ng-click="selectAllMember()" ng-class="{'available-tag': !selectAll, 'selected-tag': selectAll}">select all</span>
                </div>
            
                <div layout="row" layout-align="center center" class="tagcloud" layout-wrap>
                    <span ng-click="selectMember($index)" ng-class="{'available-tag':!tenderer.select, 'selected-tag': tenderer.select}" ng-repeat="tenderer in tenderers track by $index">{{(tenderer._id) ? tenderer.name : tenderer.email}}<md-icon ng-show="!tenderer._id" class="material-icons non-user-chip">mail_outline</md-icon></span>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="cancelNewTenderModal()">Cancel</md-button>
            <md-button type="submit">Send Message</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>