<md-dialog aria-label="Attach an addendum" flex="70">
    <form name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Attach an addendum</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <div layout="row">
                    <md-input-container flex>
                        <label for="">Addendum name</label>
                        <input type="text" ng-model="addendum.name" required>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label for="">Addendum description</label>
                        <textarea ng-model="addendum.description" columns="1" rows="5" required md-maxlength="300"></textarea>
                    </md-input-container>
                </div>
                <div layout="row">
                    <input filepicker class="filepicker-button" type="filepicker-dragdrop" data-fp-services="computer, DROPBOX, gmail, skydrive, GOOGLE_DRIVE" on-success="onSuccess(event.fpfile, 'addendum')" data-fp-multiple="false"/>
                </div>
                <div layout="row" layout-align="center center" class="tagcloud" layout-wrap layout-padding>
                    <span ng-click="selectMember($index)" ng-class="{'available-tag':!tenderer.select, 'selected-tag': tenderer.select}" ng-repeat="tenderer in tenderers track by $index">{{(tenderer._id) ? tenderer.name : tenderer.email}}</span>
                </div>
            </div>
        </md-dialog-content>
        
        <md-dialog-actions>
            <md-button ng-click="cancelNewTenderModal()">Cancel</md-button>
            <md-button ng-click="sendAddendum()">Send Addendum</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>