<div layout="row" class="detail-view-content">
	
	<div layout="column" flex="70" class="md-whiteframe-1dp">
		
		<div class="detail-header" layout="row" layout-padding>
			<p>{{ tender.tenderName }}</p>
			<span flex></span>
			<div ng-show="tender.inviter._id == currentUser._id">
				<md-button ng-click="">Distribute Tender</md-button>
				<md-button ng-click="openSelectWinnerModal()">Select a Winner</md-button>
			</div>
			<md-chips class="set-filters" ng-show="tender.inviter._id == currentUser._id">
				<md-chip>Show Related Activities</md-chip>
			</md-chips>
	    </div>
		
		<div class="main-page-content" layout-padding>
			
			<div class="item-activity">
			
				<div layout="row" flex class="activity-stream-head">
					<p>This tender was created by <strong>{{tender.inviter.name}}</strong> on {{tender.createAt | date: 'DD-MM-YYYY'}}.</p>
				</div>
				
				<div layout="row" layout-align="center center" flex class="activity-stream">
					<span flex="5"></span>
					<div class="icon-type">
						<md-icon class="material-icons md-primary">reply_all</md-icon>
					</div>
					<span flex="5"></span>
					<div flex class="activity-detail">
						<p><strong>{ username }</strong> has attached an addendum to this tender:</p>
						<p>{ addendum content, including formatting }</p>
						<p class="meta-data"><span class="time">2:11 pm</span> <span class="date">03/01/2016</span><p>
					</div>
				</div>
				
				<div layout="row" layout-align="center center" flex class="activity-stream">
					<span flex="5"></span>
					<div class="icon-type">
						<md-icon class="material-icons md-primary">edit</md-icon>
					</div>
					<span flex="5"></span>
					<div flex class="activity-detail">
						<p><strong>{ username }</strong> has edited the details of this tender: { summary of the edit - for example name: ... description: ... etc}.</p>
						<p class="meta-data"><span class="time">2:11 pm</span> <span class="date">03/01/2016</span><p>
					</div>
				</div>
				
				<div layout="row" layout-align="center center" flex class="activity-stream">
					<span flex="5"></span>
					<div class="icon-type">
						<md-icon class="material-icons md-primary">person_outline</md-icon>
					</div>
					<span flex="5"></span>
					<div flex class="activity-detail">
						<p><strong>{ username }</strong> has invited new tenderer, { new tenderer name }.</p>
						<p class="meta-data"><span class="time">2:11 pm</span> <span class="date">03/01/2016</span><p>
					</div>
				</div>
				
				<div layout="row" layout-align="center center" flex class="activity-stream">
					<span flex="5"></span>
					<div class="icon-type">
						<md-icon class="material-icons md-primary">format_list_bulleted</md-icon>
					</div>
					<span flex="5"></span>
					<div flex class="activity-detail">
						<p><strong>{ username }</strong> has selected the winner, "{ winner name }" for this tender.</p>
						<p class="meta-data"><span class="time">2:11 pm</span> <span class="date">03/01/2016</span><p>
					</div>
				</div>
				
			</div>
			
			<div>
  		  	  <md-fab-speed-dial ng-cloak md-open="false" md-direction="up" class="md-scale md-fab-bottom-right fab-main" ng-show="!isArchive">
  				  <md-fab-trigger>
  			  	      <md-button aria-label="Add an Item to this Project" class="md-fab md-primary">
  						  <md-tooltip md-direction="left">Actions...</md-tooltip>
  					      <md-icon class="material-icons" >add</md-icon>
  			  	      </md-button>
  		  	      </md-fab-trigger>
  				  <md-fab-actions>
			  	      <md-button aria-label="Open a New Message" class="md-fab md-raised md-mini md-primary">
	  					  <md-tooltip md-direction="left">Attach an Addendum</md-tooltip>
	  				      <md-icon class="material-icons">reply_all</md-icon>
			  	      </md-button>
  			  	      <md-button aria-label="Send a File" class="md-fab md-raised md-mini md-primary">
  	  					  <md-tooltip md-direction="left">Edit Tender Details</md-tooltip>
  	  				      <md-icon class="material-icons">edit</md-icon>
  			  	      </md-button>
  			  	      <md-button aria-label="Assign a New Task" class="md-fab md-raised md-mini md-primary">
  	  					  <md-tooltip md-direction="left">Invite a Tenderer</md-tooltip>
  	  				      <md-icon class="material-icons">person_add</md-icon>
  			  	      </md-button>
  			  	      <md-button aria-label="Send a File" class="md-fab md-raised md-mini md-primary" ng-click="openSelectWinnerModal()">
  	  					  <md-tooltip md-direction="left">Select a Winning Tender</md-tooltip>
  	  				      <md-icon class="material-icons">format_list_bulleted</md-icon>
  			  	      </md-button>
			  	      <md-button aria-label="Attach a Related Message" class="md-fab md-raised md-mini" ng-click="">
						  <md-tooltip md-direction="left">Attach a Related Message</md-tooltip>
					      <md-icon class="material-icons">chat_bubble_outline</md-icon>
			  	      </md-button>
  			  	      <md-button aria-label="Add a Related Task" class="md-fab md-raised md-mini" ng-click="">
  	  					  <md-tooltip md-direction="left">Attach a Related Task</md-tooltip>
  	  				      <md-icon class="material-icons">done_all</md-icon>
  			  	      </md-button>
  			  	      <md-button aria-label="Add a Related File" class="md-fab md-raised md-mini" ng-click="">
  	  					  <md-tooltip md-direction="left">Attach a Related File</md-tooltip>
  	  				      <md-icon class="material-icons">attach_file</md-icon>
  			  	      </md-button>
  			  	  </md-fab-actions>
  		  	  </md-fab-speed-dial>
		    </div>
			
		</div>
	</div>
		
	<related-items flex="30" data="tender"></related-items>
		
</div>