<div layout="row" class="detail-view-content">
	
	<div layout="column" flex="70" class="md-whiteframe-1dp">
		
		<div class="detail-header" layout="row" layout-padding>
			<p>{{ tender.tenderName }}</p>
			<span flex></span>
			<div ng-show="tender.inviter._id == currentUser._id">
				<md-button ng-click="distributeTender()" ng-show="!tender.isDistribute">Distribute Tender</md-button>
				<md-button ng-click="showModal($event, 'select-winner-tender-modal.html')" ng-show="tender.isDistribute && !tender.hasSelect">Select a Winner</md-button>
			</div>
			<md-chips class="set-filters" ng-show="tender.inviter._id == currentUser._id">
				<md-chip>Show Related Activities</md-chip>
			</md-chips>
	    </div>
		
		<div class="main-page-content" layout-padding>
			
			<div class="item-activity">
			
				<div layout="row" flex class="activity-stream-head">
					<p>This tender was created by <strong>{{tender.inviter.name}}</strong> on {{tender.createAt | date: 'dd-MM-yyyy'}}.</p>
				</div>
				
				<div layout="row" layout-align="center center" flex class="activity-stream" ng-repeat="activity in tender.inviterActivities">
					
					<span flex="5"></span>
					
					<div class="icon-type" ng-switch="activity.type">
						<md-icon ng-switch-when="attach-scope" class="material-icons md-primary">adjust</md-icon>
                        <md-icon ng-switch-when="attach-addendum" class="material-icons md-primary">adjust</md-icon>
						<md-icon ng-switch-when="distribute-status" class="material-icons md-primary">call_split</md-icon>
						<md-icon ng-switch-when="invite-tender" class="material-icons md-primary">person_outline</md-icon>
						<md-icon ng-switch-when="broadcast-message" class="material-icons md-primary">chat_bubble_outline</md-icon>
						
                        <md-icon ng-switch-when="edit-tender" class="material-icons md-primary">edit</md-icon>
                        <md-icon ng-switch-when="related-file" class="material-icons md-primary">attach_file</md-icon>
                        <md-icon ng-switch-when="tender-file" class="material-icons md-primary">attach_file</md-icon>
					</div>
					
					<span flex="5"></span>
					
					<div flex class="activity-detail">
						
						<p ng-switch="activity.type" class="activity-header">
							
							<span class="activity-creator">{{activity.user.name}}</span>
							
							<span class="meta-data" ng-switch-when="attach-scope"> attached the following scope at <span class="date-time">{{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>:</span>
							<span class="meta-data" ng-switch-when="attach-addendum"> attached the following addendum at <span class="date-time">{{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>:</span>
							<span class="meta-data" ng-switch-when="distribute-status"> distributed this tender at <span class="date-time">{{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>:</span>
							<span class="meta-data" ng-switch-when="invite-tender"> added the following invitees at <span class="date-time">{{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>:</span>
							<span class="meta-data" ng-switch-when="broadcast-message"> sent the following message at <span class="date-time">{{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>:</span>
							<span class="meta-data" ng-switch-when="select-winner"> selected {{activity.element.name}} as the winner of this tender at <span class="date-time">{{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>.</span>
						</p>
						
						<p ng-switch="activity.type" class="activity-body md-body">
                            
                            <span ng-switch-when="attach-scope"> {{activity.element.content}} <br /><span ng-show="activity.element._id">The file attached <a ui-sref="project.files.detail({id: activity.element.project, fileId: activity.element._id})">here</a> is also part of this scope.</span> <br/> The due date for this tender is <strong>{{activity.element.dateEnd | date: 'dd-MM-yyyy'}}</strong>.</span>
							<span ng-switch-when="attach-addendum"> {{activity.element.name}} <span ng-show="activity.element._id">You can check it <a ui-sref="project.files.detail({id: activity.element.project, fileId: activity.element._id})">here</a>.</span></span>
							<span ng-switch-when="invite-tender"><span ng-repeat="member in activity.element.members">{{member.name}}, </span></span>
							<span ng-switch-when="broadcast-message"> {{activity.element.message}}</span>
                            <span ng-switch-when="select-winner">has selected {{activity.element.name}} as winner of this tender</span>
							
                            <span ng-switch-when="edit-tender">has edited the details of this tender: {{(activity.element.name) ? "Name: "+activity.element.name+", " : ""}} {{(activity.element.description) ? "Description: "+activity.element.description+", " : ""}}.</span>
                            <span ng-switch-when="tender-file">has submit a tender {{activity.element.name}}. You can check it out <a ui-sref="project.files.detail({id: activity.element.project, fileId: activity.element._id})">here</a></span>
                        </p>
						
					</div>
					
				</div>
				
			</div>
			
			<div>
  		  	  <md-fab-speed-dial ng-cloak md-open="false" md-direction="up" class="md-scale md-fab-bottom-right fab-main" ng-show="!isArchive">
  				  <md-fab-trigger>
  			  	      <md-button aria-label="Add an Item to this Project" class="md-fab md-primary">
  						  <md-tooltip md-direction="left">Actions...</md-tooltip>
  					      <md-icon class="material-icons" >add</md-icon>
  			  	      </md-button>
  		  	      </md-fab-trigger>
  				  <md-fab-actions>
			  	      <md-button aria-label="Open a New Message" class="md-fab md-raised md-mini md-primary" ng-click="showModal($event, 'attach-an-addendum.html')" ng-show="tender.inviter._id == currentUser._id && !tender.isDistribute">
	  					  <md-tooltip md-direction="left">Attach an Addendum</md-tooltip>
	  				      <md-icon class="material-icons">reply_all</md-icon>
			  	      </md-button>
  			  	      <md-button aria-label="Assign a New Task" class="md-fab md-raised md-mini md-primary" ng-click="showModal($event, 'invite-tender.html')" ng-show="tender.inviter._id == currentUser._id">
  	  					  <md-tooltip md-direction="left">Invite a Tenderer</md-tooltip>
  	  				      <md-icon class="material-icons">person_add</md-icon>
  			  	      </md-button>
  			  	      <md-button aria-label="Send a File" class="md-fab md-raised md-mini md-primary" ng-click="showModal($event, 'select-winner-tender-modal.html')" ng-show="tender.isDistribute && tender.inviter._id == currentUser._id && !tender.hasSelect">
  	  					  <md-tooltip md-direction="left">Select a Winning Tender</md-tooltip>
  	  				      <md-icon class="material-icons">format_list_bulleted</md-icon>
  			  	      </md-button>
			  	      <md-button aria-label="Broadcast a Message" class="md-fab md-raised md-mini" ng-click="showModal($event, 'attach-related-message.html')" ng-show="tender.isDistribute">
						  <md-tooltip md-direction="left">Broadcast a Message</md-tooltip>
					      <md-icon class="material-icons">chat_bubble_outline</md-icon>
			  	      </md-button>
  			  	      <md-button aria-label="Add a Related Task" class="md-fab md-raised md-mini" ng-click="showModal($event, 'attach-related-task.html')" style="display:none">
  	  					  <md-tooltip md-direction="left">Broadcast a Task</md-tooltip>
  	  				      <md-icon class="material-icons">done_all</md-icon>
  			  	      </md-button>
  			  	      <md-button aria-label="Add a Related File" class="md-fab md-raised md-mini" ng-click="showModal($event, 'attach-related-file.html')" ng-show="teamLeader && currentUser._id != tender.inviter._id">
  	  					  <md-tooltip md-direction="left">Submit Tender</md-tooltip>
  	  				      <md-icon class="material-icons">attach_file</md-icon>
  			  	      </md-button>
  			  	  </md-fab-actions>
  		  	  </md-fab-speed-dial>
		    </div>
			
		</div>
	</div>
		
	<tender-items flex="30" data="tender"></tender-items>
		
</div>