<div layout="row" layout-padding>
	
	<div layout="column" flex="70" style="height: {{contentHeight}}px">
		
		<div layout="column" class="md-whiteframe-1dp detail-view-main">
				
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" back-button>
					<md-icon class="material-icons">arrow_back</md-icon>
					<md-tooltip md-direction="bottom">Back</md-tooltip>
				</md-button>
				
		        <h5>{{tender.name}}</h5>
				
				<span flex></span>

	  	      	<md-button ng-show="tender.owner._id==currentUser._id" aria-label="Show Tender Detail" class="md-icon-button" ng-click="showDetail=!showDetail" ng-class="{'md-primary': showDetail}">
					<md-tooltip md-direction="left">Edit Tender Details</md-tooltip>
			      	<i class="material-icons">edit</i>
	  	      	</md-button>
	
				
		    </div>
			
			<md-divider layout="row" flex></md-divider>
			
			<div ng-show="showDetail" layout-padding class="md-secondary">
				
				<div layout="row" layout-align="space-around center">
					<md-button ng-click="showModal('edit-tender-name.html')" class="md-button md-primary">Edit Name</md-button>
					
					<md-input-container flex="30">
					        <label>Event</label>
							<md-select ng-change="changeEventOrDocumentSet('event')" ng-model="tender.selectedEvent">
								<md-option ng-show="activities.length===0">Please create event first</md-option>
								<md-option ng-repeat="ev in activities" ng-value="ev._id" ng-show="!ev.isMilestone">{{ev.name}}</md-option>
							</md-select>
					</md-input-container>
				
					<md-input-container flex="30">
					        <label>Documentation Set</label>
							<md-select ng-change="changeEventOrDocumentSet('attach-document-set')" ng-model="tender.documentSetSelected">
								<md-option ng-show="documentSets.length===0">Please create document set first</md-option>
								<md-option ng-repeat="document in documentSets" ng-value="document._id">{{document.name}}</md-option>
							</md-select>
					</md-input-container>
					
					<md-button ng-disabled="true" class="md-button  md-primary" ng-disabled="tender.status!=='open'" ng-click="showModal('select-winner.html')">Select a Winner</md-button>
				</div>
				
			</div>
			
			<md-divider layout="row" ng-show="showDetail" flex></md-divider>
	
	
			<div class="content" layout="column" layout-margin flex>
				<!-- <div class="content"> -->
					
					<div class="item-activity">
						<div layout="row" layout-align="center center" flex class="activity-stream" layout-padding ng-repeat="activity in tender.activities" ng-show="activity.type=='attach-scope' || activity.type=='attach-addendum' || activity.type=='attach-document-set' || activity.type=='select-winner'">
							<div flex class="activity-detail">
								<p ng-switch="activity.type" ng-switch="activity.type" class="activity-head" style="margin-bottom: 15px; border-bottom: 0.5px solid #EEEEEE">
									<span class="activity-creator">{{(activity.user) ? activity.user.name : activity.email}}</span>

									<span class="meta-data" ng-switch-when="attach-scope"> has attached scope at <span class="date-time">{{activity.createdAt |date:'dd-MM-yyyy'}} at {{activity.createdAt | date:'hh:mm a'}}</span>:</span>

									<span class="meta-data" ng-switch-when="attach-addendum"> has attached addendum at <span class="date-time">{{activity.createdAt |date:'dd-MM-yyyy'}} at {{activity.createdAt | date:'hh:mm a'}}</span>:</span>

									<span class="meta-data" ng-switch-when="attach-document-set"> has attached document set at <span class="date-time">{{activity.createdAt |date:'dd-MM-yyyy'}} at {{activity.createdAt | date:'hh:mm a'}}</span>:</span>

									<span class="meta-data" ng-switch-when="select-winner"> has selected winner for this tender at <span class="date-time">{{activity.createdAt |date:'dd-MM-yyyy'}} at {{activity.createdAt | date:'hh:mm a'}}</span>:</span>
								</p>

								<span ng-switch="activity.type" class="activity-body md-body">
									<span ng-switch-when="attach-scope">{{activity.element.scope}}</span>
									<span ng-switch-when="attach-addendum">{{activity.element.addendum}}</span>
									<span ng-switch-when="attach-document-set">You can click <a ui-sref="project.documentation.all({id: tender.project})">here</a> to enter it</span>
								</span>
							</div>
						</div>
					</div>
					<span flex></span>
				<!-- </div> -->
			</div>
			
			<md-divider></md-divider>
			
			<div layout="row" layout-align="center center">
	  	      	<md-button aria-label="Add Scope Or Addendum" class="md-primary" ng-click="showModal('add-scope-or-addendum.html')">
				  	{{(!tender.isCreateScope) ? "Add Scope" : "Add Addendum"}}
	  	      	</md-button>
			</div>
			
		</div>
	</div>

	<div layout="column" flex="30" style="height: {{contentHeight}}px">
		
		<div layout="column" class="md-whiteframe-1dp detail-view-inspector">
				
			<div class="md-toolbar-tools">

				<span flex></span>
				
			</div>

			<md-divider flex></md-divider>
			
			<div layout="column" class="content">
				
				<inspector data="tender" type="tender" flex></inspector>
				
			</div>
			
		</div>
	</div>
</div>


