<md-dialog aria-label="Select Winner Tenderer" flex="70">
    <form name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Select Winner Tenderer</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <div layout="row">
                    <p>Click on tenderer name to select winner</p>
                    <md-list ng-cloak>
                        <md-list-item ng-repeat="tenderer in tender.tenderers" ng-click="selectWinner(tenderer)">
                            {{(tenderer._id) ? tenderer._id.name : tenderer.email}}
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </md-dialog-content>
        
        <md-dialog-actions>
            <md-button ng-click="cancelNewTenderModal()">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>