<section>
    
    <md-subheader class="inspector-header md-primary">
        <div layout="row">
            
            <div layout="row" ng-click="showActivity=!showActivity" class="inspector-section" flex>
                {{type|uppercase}} ACTIVITY
                <span flex></span>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="!showActivity">expand_more</md-icon>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="showActivity">expand_less</md-icon>
            </div>
            
        </div>
    </md-subheader>
    
    <div ng-show="showActivity" class="activity-stream-head" layout-padding>
        <p>This {{type}} was created by <strong>{{data.owner.name}}</strong> on {{data.createdAt | date: 'dd MMMM yyyy'}} at {{data.createdAt | date: 'hh:mm a'}}</p>
    </div>
    <div ng-show="showActivity" layout-padding ng-repeat="activity in data.activities" ng-hide="activity.type=='attach-scope' || activity.type=='attach-addendum' || activity.type=='attach-document-set' || activity.type=='select-winner' || activity.type=='chat' || activity.type=='upload-reversion' || activity.type=='related-file' || activity.type=='related-thread' || activity.type=='related-task'">
        <p style="font-size: 12px; margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px; padding-top: 0px">
			<span>{{activity.user.name}}</span>
            <span ng-switch="activity.type">
                <!-- General section -->
                <span ng-switch-when="add-event"> attached this {{type}} to the event, {{event.name}}</span>
                <span ng-switch-when="archive"> archived this {{type}}</span>
                <span ng-switch-when="unarchive"> unarchived this {{type}}</span>
                <!-- Tender section -->
                <span ng-switch-when="change-title"> change the title of this {{type}} to {{title}}</span>
                <span ng-switch-when="invite-tenderer"> invited <span ng-repeat="tenderer in activity.element.members">{{tenderer.name}}<span ng-hide="$last">, </span></span></span>
                <span ng-switch-when="attach-event"> attached this {{type}} to the event, {{event.name}}</span>
                <span ng-switch-when="change-event"> changed the event for this {{type}} to {{event.name}}</span>
                <span ng-switch-when="add-event"> attached this {{type}} to the event, {{event.name}}</span>
                <!-- Thread section -->
                <span ng-show="type=='thread'" ng-switch-when="assign"> assigned <span ng-repeat="invitee in activity.element.invitees">{{invitee}}<span ng-hide="$last">, </span></span> to this {{type}}</span>
                <span ng-switch-when="edit-thread"> changed the name of this {{type}} to {{activity.element.name}}.</span>
                <!-- File section -->
                <span ng-show="type=='file'" ng-switch-when="assign"> assigned <span ng-repeat="member in activity.element.members">{{member}}<span ng-hide="$last">, </span></span> to this {{type}}</span>
                <span ng-switch-when="insert-note"> attached a note to this {{type}}.</span>
                <span ng-switch-when="edit"><span ng-show="activity.element.name"> changed the name of this {{type}} to {{activity.element.name}}</span> <span ng-show="activity.element.tags" ng-repeat="tag in activity.element.tags"> filed this {{type}} under '{{(tag.name) ? tag.name : tag}}'</span></span>
            </span>
            <span> on {{activity.createdAt | date: 'dd MMMM yyyy'}} at {{activity.createdAt | date: 'hh:mm a'}}</span>
        </p>
    </div>
    
</section>

<section ng-hide="type==='tender'">
    
    <md-subheader class="border-top inspector-header md-primary">
        <div layout="row">
            
            <md-icon ng-hide="data.element.type==='tender'" class="material-icons accordian-icon md-primary" style="margin-right: 1vh" ng-click="showModalAssignMember()">add_box</md-icon>
            
            <div layout="row" ng-click="showMembers=!showMembers" class="inspector-section" flex>
                TEAM MEMBERS
                <span flex></span>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="!showMembers">expand_more</md-icon>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="showMembers">expand_less</md-icon>
            </div>
            
        </div>
    </md-subheader>
    
    <md-list ng-show="showMembers" class="md-dense">
        <md-list-item class="md-2-line" ng-click="showRelatedTeamMemberModal($event, member._id)" ng-show="data.element" ng-repeat="member in data.members | unique: '_id' track by $index">
            <div class="md-list-item-text">
                <h3>{{member.name}}</h3>
                <p>{{member.phoneNumber}}-{{member.email}}</p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="showRelatedTeamMemberModal($event, member._id)" ng-show="data.element" ng-repeat="member in data.notMembers | unique: '_id' track by $index">
            <div class="md-list-item-text">
                <h3>{{member}}</h3>
            </div>
        </md-list-item>
    </md-list>
    
</section>

<section ng-hide="type=='thread'||type=='tender'">
    
    <md-subheader class="border-top inspector-header md-primary">
        <div layout="row">
            
            <md-icon class="material-icons accordian-icon md-primary" style="margin-right: 1vh" ng-click="createRelatedThread()">add_box</md-icon>
            
            <div layout="row" class="inspector-section" ng-click="showRelatedMessages=!showRelatedMessages" flex>
                RELATED MESSAGES
                <span flex></span>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="!showRelatedMessages">expand_more</md-icon>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="showRelatedMessages">expand_less</md-icon>
            </div>
            
        </div>
    </md-subheader>
    
    <md-list ng-show="showRelatedMessages" class="md-dense">
        <md-list-item ui-sref="project.messages.detail({id: data.project, messageId: thread.item._id})" class="md-2-line" ng-repeat="thread in data.relatedItem" ng-show="thread.type == 'thread'">
            <div class="md-list-item-text">
                <h3>{{thread.item.name}}</h3>
            </div>
        </md-list-item>
    </md-list>
    
</section>

<section ng-hide="type=='file'||type=='tender'||data.element.type==='tender'">
    
    <md-subheader class="border-top inspector-header md-primary">
        <div layout="row">
            
            <md-icon class="material-icons accordian-icon md-primary" style="margin-right: 1vh" ng-click="createRelatedFile()">add_box</md-icon>
            
            <div layout="row" ng-click="showSharedFiles=!showSharedFiles" class="inspector-section" flex>
                SHARED FILES
                <span flex></span>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="!showSharedFiles">expand_more</md-icon>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="showSharedFiles">expand_less</md-icon>
            </div>
            
        </div>
    </md-subheader>
    
    <md-list ng-show="showSharedFiles" class="md-dense">
        <md-list-item class="md-2-line" ng-click="showRelatedFilesModal($event, file)" ng-repeat="file in data.relatedItem" ng-show="file.type == 'file'" ui-sref="project.files.detail({id: data.project, fileId: file.item._id})">
            <div class="md-list-item-text">
                <p>{{file.item.name}}</p>
                <p>{{file.item.description}}</p>
            </div>
        </md-list-item>
    </md-list>
    
</section>

<section ng-hide="type=='task'||type=='tender'||data.element.type=='tender'">
    
    <md-subheader class="border-top inspector-header md-primary">
        <div layout="row">
            
            <md-icon class="material-icons accordian-icon md-primary" style="margin-right: 1vh" ng-click="createRelatedTask()">add_box</md-icon>
            
            <div layout="row" ng-click="showRelatedTasks=!showRelatedTasks" class="inspector-section" flex>
                RELATED TASKS
                <span flex></span>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="!showRelatedTasks">expand_more</md-icon>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="showRelatedTasks">expand_less</md-icon>
            </div>
            
        </div>
    </md-subheader>
    
    <md-list ng-show="showRelatedTasks" class="md-dense">
        <md-list-item class="md-2-line" ng-click="showTaskDetailModal($event, task.item._id)" ng-repeat="task in data.relatedItem" ng-show="task.type == 'task'">
            <div class="md-list-item-text">
                <p>{{task.item.name}}</p>
                <p>{{task.item.description}}</p>
            </div>
        </md-list-item>
    </md-list>
    
</section>

<section ng-show="type=='tender'">
    <md-subheader class="border-top inspector-header md-primary">
        <div layout="row">
            <md-icon ng-click="showModalInTenderPage('invite-tenderer.html')" class="material-icons accordian-icon md-primary" style="margin-right: 1vh" ng-click="">add_box</md-icon>
            
            <div layout="row" ng-click="showTenderers=!showTenderers" class="inspector-section" flex>
                TENDERERS
                <span flex></span>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="!showTenderers">expand_more</md-icon>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="showTenderers">expand_less</md-icon>
            </div>
            
        </div>
    </md-subheader>
    
    <md-list ng-show="showTenderers" class="md-dense">
        <md-list-item class="md-2-line" ng-repeat="member in data.members">
            <div class="md-list-item-text">
                <p>{{(member.user) ? member.user.name : member.name}}</p>
                <p>Phone Number: {{(member.user) ? member.user.phoneNumber : member.phoneNumber}} - Email: {{(member.user) ? member.user.email : member.email}}</p>
            </div>
        </md-list-item>
    </md-list>
</section>