<section>
    
    <md-subheader class="inspector-header md-primary">
        <div layout="row">
            
            <div layout="row" ng-click="showActivity=!showActivity" class="inspector-section" flex>
                {{type|uppercase}} ACTIVITY
                <span flex></span>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="!showActivity">expand_more</md-icon>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="showActivity">expand_less</md-icon>
            </div>
            
        </div>
    </md-subheader>
    
    <div ng-show="showActivity" class="activity-stream-head" layout-padding>
        <p>This {{type}} was created by <strong>{{data.owner.name}}</strong> on {{data.createdAt | date: longDate}}</p>
    </div>
    <div ng-show="showActivity" class="activity-stream-head" layout-padding ng-repeat="activity in data.activities" ng-hide="activity.type=='attach-scope' || activity.type=='attach-addendum' || activity.type=='attach-document-set' || activity.type=='select-winner'">
        <p>
            <span><strong>{{activity.user.name}}</strong></span>
            <span ng-switch="activity.type">
                <span ng-switch-when="change-title"> has change title of this tender</span>
                <span ng-switch-when="invite-tenderer"> has invited {{activity.element.members.length}} new member(s) for this tender</span>
                <span ng-switch-when="attach-event"> has attached event for this tender</span>
                <span ng-switch-when="change-event"> has changed event for this tender</span>
                <span ng-switch-when="add-event"> has added event for this tender</span>
            </span>
            <span> on <strong>{{activity.createdAt | date: longDate}}</strong></span>
        </p>
    </div>
    
</section>

<section>
    
    <md-subheader class="border-top inspector-header md-primary">
        <div layout="row">
            
            <md-icon class="material-icons accordian-icon md-primary" style="margin-right: 1vh" ng-click="showModalAssignMember()">add_box</md-icon>
            
            <div layout="row" ng-click="showMembers=!showMembers" class="inspector-section" flex>
                TEAM MEMBERS
                <span flex></span>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="!showMembers">expand_more</md-icon>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="showMembers">expand_less</md-icon>
            </div>
            
        </div>
    </md-subheader>
    
    <md-list ng-show="showMembers" class="md-dense">
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>{{data.owner.name}}</h3>
                <h4>{{data.owner.phoneNumber}}-{{data.owner.email}}</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="showRelatedTeamMemberModal($event, member._id)" ng-show="data.element" ng-repeat="member in data.members | unique: '_id' track by $index">
            <div class="md-list-item-text">
                <h3>{{member.name}}</h3>
                <p>{{member.phoneNumber}}-{{member.email}}</p>
            </div>
        </md-list-item>
    </md-list>
    
</section>

<section ng-hide="type=='thread'||type=='tender'">
    
    <md-subheader class="border-top inspector-header md-primary">
        <div layout="row">
            
            <md-icon class="material-icons accordian-icon md-primary" style="margin-right: 1vh" ng-click="">add_box</md-icon>
            
            <div layout="row" class="inspector-section" ng-click="showRelatedMessages=!showRelatedMessages" flex>
                RELATED MESSAGES
                <span flex></span>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="!showRelatedMessages">expand_more</md-icon>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="showRelatedMessages">expand_less</md-icon>
            </div>
            
        </div>
    </md-subheader>
    
    <md-list ng-show="showRelatedMessages" class="md-dense">
        <md-list-item class="md-2-line" ng-repeat="">
            <div class="md-list-item-text">
                <h3>{{file.item.name}}</h3>
                <p>{{file.item.description}}</p>
            </div>
        </md-list-item>
    </md-list>
    
</section>

<section ng-hide="type=='file'||type=='tender'">
    
    <md-subheader class="border-top inspector-header md-primary">
        <div layout="row">
            
            <md-icon class="material-icons accordian-icon md-primary" style="margin-right: 1vh" ng-click="">add_box</md-icon>
            
            <div layout="row" ng-click="showSharedFiles=!showSharedFiles" class="inspector-section" flex>
                SHARED FILES
                <span flex></span>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="!showSharedFiles">expand_more</md-icon>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="showSharedFiles">expand_less</md-icon>
            </div>
            
        </div>
    </md-subheader>
    
    <md-list ng-show="showSharedFiles" class="md-dense">
        <md-list-item class="md-2-line" ng-click="showRelatedFilesModal($event, file)" ng-repeat="file in data.relatedItem" ng-show="file.type == 'file'">
            <div class="md-list-item-text">
                <p>{{file.item.name}}</p>
                <p>{{file.item.description}}</p>
            </div>
        </md-list-item>
    </md-list>
    
</section>

<section ng-hide="type=='task'||type=='tender'">
    
    <md-subheader class="border-top inspector-header md-primary">
        <div layout="row">
            
            <md-icon class="material-icons accordian-icon md-primary" style="margin-right: 1vh" ng-click="">add_box</md-icon>
            
            <div layout="row" ng-click="showRelatedTasks=!showRelatedTasks" class="inspector-section" flex>
                RELATED TASKS
                <span flex></span>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="!showRelatedTasks">expand_more</md-icon>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="showRelatedTasks">expand_less</md-icon>
            </div>
            
        </div>
    </md-subheader>
    
    <md-list ng-show="showRelatedTasks" class="md-dense">
        <md-list-item class="md-2-line" ng-click="showRelatedTasksModal($event, task)" ng-repeat="task in data.relatedItem" ng-show="task.type == 'task'">
            <div class="md-list-item-text">
                <p>{{task.item.name}}</p>
                <p>{{task.item.description}}</p>
            </div>
        </md-list-item>
    </md-list>
    
</section>

<section ng-show="type=='tender'">
    <md-subheader class="border-top inspector-header md-primary">
        <div layout="row">
            <md-icon ng-click="showModalInTenderPage('invite-tenderer.html')" class="material-icons accordian-icon md-primary" style="margin-right: 1vh" ng-click="">add_box</md-icon>
            
            <div layout="row" ng-click="showTenderers=!showTenderers" class="inspector-section" flex>
                TENDERERS
                <span flex></span>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="!showTenderers">expand_more</md-icon>
                <md-icon class="material-icons accordian-icon md-primary" ng-show="showTenderers">expand_less</md-icon>
            </div>
            
        </div>
    </md-subheader>
    
    <md-list ng-show="showTenderers" class="md-dense">
        <md-list-item class="md-2-line" ng-repeat="member in data.members">
            <div class="md-list-item-text">
                <p>{{(member.user) ? member.user.name : member.name}}</p>
                <p>Phone Number: {{(member.user) ? member.user.phoneNumber : member.phoneNumber}} - Email: {{(member.user) ? member.user.email : member.email}}</p>
            </div>
        </md-list-item>
    </md-list>
</section>