<div class="detail-header" layout-padding layout="column">
    <div layout="column" layout-padding>
        
        <div layout="row">
            <md-input-container flex="100">
                <label for="">Tender Name</label>
                <input type="text" name="tenderName" ng-model="name" md-autofocus>
            </md-input-container>
            
            <!-- <md-input-container flex="50">
                <label for="">Includes Invitee</label>
                <input type="text" name="tenderInvitee" ng-model="invitee">
            </md-input-container> -->
            
        </div>
        
        <div layout="row">
            <div flex="50" layout="row" layout-align="center center">
                <span class="md-body-2" style="margin-top: -2vh">Due:</span>
                <div class="tagcloud" style="margin-top: -2vh; margin-left: 2vh">
                    <span ng-repeat="tag in weekTags" ng-class="{'available-tag': !tag.select, 'selected-tag': tag.select}" ng-click="selectTag($index, 'week')">{{tag.text}}</span>
                </div>
                <div style="margin-top: -2.5vh">
                    <md-datepicker ng-change="selectDueDate(dueDate)" ng-model="dueDate" md-min-date="minDate" md-placeholder="Select due date">
                    </md-datepicker>
                </div>
            </div>
            
            <div flex="50" layout="row" layout-align="center center">
                <span class="md-body-2" style="margin-top: -2vh">Status:</span>
                <div class="tagcloud" style="margin-top: -2vh; margin-left: 2vh">
                    <span ng-repeat="tag in statusTags" ng-class="{'available-tag': !tag.select, 'selected-tag': tag.select}" ng-click="selectTag($index, 'status')">{{tag.text}}</span>
                </div>
            </div>
        </div>
        
    </div>
</div>

<md-list ng-cloak class="main-page-content" layout="column" flex>
	<div ng-show="tender.status=='open'" ng-repeat="tender in tenders | filter: search track by $index" ui-sref="tender.overview({tenderId: tender._id})">
		
        <md-list-item class="md-2-line" md-ink-ripple>
            <div class="md-list-item-text" layout="column">
                <h3>{{ tender.name }} <span ng-show="tender.__v > 0">({{tender.__v}} Update(s))</span></h3>
                <p>Project: {{ tender.project.name }} - {{tender.project.address}}</p>
            </div>
        </md-list-item>
        <md-divider></md-divider>
		
    </div>
</md-list>

<div>
    <md-fab-speed-dial ng-cloak md-open="false" md-direction="up" class="md-scale md-fab-bottom-right fab-list">
	   <md-fab-trigger>
	            <md-button ng-click="showCreateTenderModal($event)" aria-label="Create a New Tender" class="md-fab md-primary">
			        <md-tooltip md-direction="left">Create a New Tender</md-tooltip>
		            <md-icon class="material-icons" >add</md-icon>
  	            </md-button>
        </md-fab-trigger>
    </md-fab-speed-dial>
</div>

