<section>
	
	<md-subheader ng-click="showActivity=!showActivity" class="inspector-header md-primary">
		<div layout="row">
			<span>TASK ACTIVITY</span>
			<span flex></span>
			<md-icon class="material-icons accordian-icon md-primary" ng-show="!showActivity">expand_more</md-icon>
			<md-icon class="material-icons accordian-icon md-primary" ng-show="showActivity">expand_less</md-icon>
		</div>
	</md-subheader>
	
	<div ng-show="showActivity" class="activity-stream-head" layout-padding>
		<p>This message was created by <strong>{{thread.owner.name}}</strong> on {{thread.createdAt | date: longDate}} in reference to ...... </p>
	</div>
	
</section>

<section>
	
	<md-subheader ng-click="showMembers=!showMembers" class="border-top inspector-header md-primary">
		<div layout="row">
			<span>TASK ASSIGNEES</span>
			<span flex></span>
			<md-icon class="material-icons accordian-icon md-primary" ng-show="!showMembers">expand_more</md-icon>
			<md-icon class="material-icons accordian-icon md-primary" ng-show="showMembers">expand_less</md-icon>
		</div>
	</md-subheader>
	
	<md-list ng-show="showMembers" ng-show="data.members != 'null'" class="md-dense">
		<md-list-item class="md-2-line" ng-click="showRelatedTeamMemberModal($event, member._id)" ng-show="data.element" ng-repeat="member in data.members | unique: '_id' track by $index">
		    <div class="md-list-item-text">
			    <h3>{{(member._id) ? member.name : member.email}}</h3>
				<p>Phone Number</p>
		    </div>
		</md-list-item>
	</md-list>
	
</section>