<div layout="row" layout-padding>
    <div layout="column" flex>
        <div layout="column" class="md-whiteframe-1dp overview-view">
            
            <div layout="row" layout-padding>
		
				<md-input-container md-no-float class="md-block md-icon-float" flex="100" style="margin-bottom: -15px; margin-top: 10px">
					<md-icon class="material-icons" style="margin-top: 3px;">search</md-icon>
					<input id="im_ProjCalendarSearch" type="text" name="calendarSearch" ng-model="searchTerm" ng-change="search()" placeholder="Search for an event or task...">
				</md-input-container>
				
                <span flex></span>
				
                <md-menu md-position-mode="target-right target">
                    <md-button aria-label="Filter" ng-click="$mdOpenMenu($event)">Types</md-button>
                    <md-menu-content width="4">
	                    <md-menu-item layout-padding>
	                        <md-checkbox class="md-primary" md-prevent-menu-close ng-checked="showTask && showEvent" ng-click="changeFilter('all')">All</md-checkbox>
	                    </md-menu-item>
						<md-divider></md-divder>
                        <md-menu-item layout-padding>
                            <md-checkbox class="md-primary" md-prevent-menu-close ng-checked="showTask" ng-click="changeFilter('task')">Tasks</md-checkbox>
                        </md-menu-item>
                        <md-menu-item layout-padding>
                            <md-checkbox class="md-primary" md-prevent-menu-close ng-checked="showEvent" ng-click="changeFilter('event')">Events</md-checkbox>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
				
			</div>
        
            <md-divider layout="row" flex></md-divider>
        
            <div layout="column" layout-padding flex>
                <div class="calendar" ng-model="eventSources" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
            </div>
			
        </div>
    </div>
</div>

<div>
	<md-fab-speed-dial ng-cloak md-open="true" md-direction="up" class="md-scale md-fab-bottom-right fab-list" ng-show="!isArchive">
	   <md-fab-trigger>
  	        <md-button id="im_ProjCalendarActions" aria-label="Actions" class="md-fab md-primary">
			    <md-tooltip md-direction="left">Actions...</md-tooltip>
			    <md-icon class="material-icons" >more_vert</md-icon>
  	        </md-button>
        </md-fab-trigger>
        <md-fab-actions>
	  	    <md-button id="im_ProjCalendarAddEvent" aria-label="Add an Event" class="md-fab md-raised md-mini" ng-click="showModal('create-event.html')">
                <md-tooltip md-direction="left">Add an Event</md-tooltip>
                <md-icon class="material-icons">event</md-icon>
	        </md-button>
	  	    <md-button id="im_ProjCalendarAddTask" aria-label="Add an Event" class="md-fab md-raised md-mini" ng-click="showModal('create-task.html')">
                <md-tooltip md-direction="left">Add a Task</md-tooltip>
                <md-icon class="material-icons">check</md-icon>
	        </md-button>
        </md-fab-actions>
  	</md-fab-speed-dial>
</div>