<div layout="row" layout-padding>
    <div layout="column" flex>
        <div layout="column" class="md-whiteframe-1dp overview-view">
            <div class="md-toolbar-tools">
                <h5 layout-margin><span>{{ project.name }} Calendar</span></h5>
			</div>
        
            <md-divider layout="row" flex></md-divider>
        
            <div layout="column" layout-padding flex>
                <div ui-calendar="config.calendar" ng-model="eventSources"></div>
            </div>
			
        </div>
    </div>
</div>

<div>
	<md-fab-speed-dial ng-cloak md-open="true" md-direction="up" class="md-scale md-fab-bottom-right fab-list" ng-show="!isArchive">
		 <md-fab-trigger>
	  	      <md-button id="im_ProjCalendarActions" aria-label="Actions" class="md-fab md-primary">
				  <md-tooltip md-direction="left">Actions...</md-tooltip>
			      <md-icon class="material-icons" >more_vert</md-icon>
	  	      </md-button>
	     </md-fab-trigger>
		 <md-fab-actions>
		  	    <md-button id="im_ProjCalendarAddActivity" aria-label="Add an Activity" class="md-fab md-raised md-mini" ng-click="showModal($event, 'create-activity.html')">
					  <md-tooltip md-direction="left">Add an Activity</md-tooltip>
				      <md-icon class="material-icons">event</md-icon>
		        </md-button>
		  	    <md-button id="im_ProjCalendarAddMilestone" aria-label="Add an Activity" class="md-fab md-raised md-mini" ng-click="showModal($event, 'create-milestone.html')">
					  <md-tooltip md-direction="left">Add a Milestone</md-tooltip>
				      <md-icon class="material-icons">timeline</md-icon>
		        </md-button>
	  	 </md-fab-actions>
  	</md-fab-speed-dial>
</div>