<md-dialog aria-label="Create a New Related File" flex="70">
    <form >
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create a New Related File</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                
                <div layout="column" layout-align="center center">
                    <p class="md-body-2">Select the document that you would like to upload:</p>
                    <div layout="row" layout-align="center center" layout-padding>
                        <input filepicker class="filepicker-button" type="filepicker-dragdrop" data-fp-services="computer, DROPBOX, gmail, skydrive, GOOGLE_DRIVE" on-success="onSuccess(event.fpfile)" data-fp-multiple="false"/>
                    </div>
                </div>

                <div layout="column">
                    <p class="md-body-2">Provide a name for this file:</p>
                    <div layout="row">
                        <md-input-container flex="66" flex-offset="15">
                            <label>File Name</label>
                            <textarea ng-model="relatedFile.file.filename" required md-maxlength="200" columns="1" rows="5"></textarea>
                        </md-input-container>
                    </div>
                </div>
                
                <div layout="column">
                    <p class="md-body-2">Select at least one tag that is relevant to this file:</p>
                    <div layout="row" layout-align="center center" layout-wrap layout-padding flex>
                        <md-checkbox ng-click="selectMember($index, 'tag')" class="filter-checkbox md-primary" ng-repeat="tag in tags">{{tag.name}}</md-checkbox>
                    </div>
                </div>
				
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="closeModal()">Cancel</md-button>
            <md-button ng-click="createRelatedFile()">Attach Related File</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>