<md-dialog aria-label="Assign Additional Team Members to Task" flex="70">
    <form ng-submit="assignMember()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Assign Additional Members to {{task.name}}</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-padding>
				
				<div layout="column">
					<p class="md-body-2">Select assignees for this task:</p>
					<div layout="row" layout-align="center center" layout-wrap layout-padding flex>
                        <md-checkbox ng-click="selectMember($index, 'member')" class="filter-checkbox md-primary" ng-repeat="member in membersList">{{(member._id) ? member.name : member.email}}</md-checkbox>
					</div>
				</div>
				
            </div>
        </md-dialog-content>
        
        <md-dialog-actions>
            <md-button ng-click="closeModal()">Cancel</md-button>
            <md-button type="submit" class="md-primary">Assign to Task</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>