<div layout="row" layout-padding>
	
	<div layout="column" flex="70">
		
		<div layout="column" class="md-whiteframe-1dp detail-view-main">
				
			<div class="md-toolbar-tools">
				
				<md-button class="md-icon-button" back-button>
					<md-icon class="material-icons">arrow_back</md-icon>
					<md-tooltip md-direction="bottom">Back</md-tooltip>
				</md-button>
			
				<p>{{file.name}}</p>
				
				<span flex></span>
				
                <md-button ng-show="isOwnerTeam" ng-click="archive()" aria-label="Compose Message" class="md-icon-button" style="margin-left: 30px">
                    <md-tooltip md-direction="top">{{(!file.isArchive) ? 'Archive this File' : 'Unarchive this File'}}</md-tooltip>
                    <md-icon class="material-icons"><i class="material-icons">{{(!file.isArchive) ? 'archive' : 'unarchive'}}</i></md-icon>
                </md-button>
				
                <md-button ng-show="!file.isArchive" aria-label="Upload a Revision" class="md-icon-button" ng-click="showModal($event, 'upload-reversion.html')" style="margin-right: 30px">
                    <md-tooltip md-direction="top">Upload a Revision</md-tooltip>
                    <md-icon class="material-icons">file_upload</md-icon>
                </md-button>
                <md-button ng-show="!file.isArchive" aria-label="Edit the File Details" class="md-icon-button" ng-click="showModal($event, 'edit-file.html')" style="margin-right: 30px">
                    <md-tooltip md-direction="top">Edit File Details</md-tooltip>
                    <md-icon class="material-icons">edit</md-icon>
                </md-button>
			
				<div>
	                <md-menu md-position-mode="target-right target">
					    <md-button ng-click="openFileHistory($mdOpenMenu, $event)">View File</md-button>
	                    <md-menu-content width="4">
	                        <md-menu-item ng-click="openHistoryDetail($event, {name: file.name, description: file.description, link: file.path})">
	                            <md-button>Current Version: {{file.createdAt | date: 'dd-MM-yyyy'}}</md-button>
	                        </md-menu-item>
	                        <md-menu-item ng-click="openHistoryDetail($event, history)" ng-repeat="history in file.fileHistory">
	                            <md-button>Version {{$index+1}}: {{history.createdAt | date: 'dd-MM-yyyy'}}</md-button>
	                        </md-menu-item>
	                    </md-menu-content>
	                </md-menu>
				</div>
			
		    </div>
			
			<md-divider layout="row" flex></md-divider>
		
			<div layout="column" layout-margin flex>
				<div class="content" scroll-to-bottom="thread.activities">
					<div class="item-activity">
					
						<div layout="row" layout-align="center center" flex class="activity-stream" ng-repeat="activity in file.activities" ng-class="{related: activity.element.related, 'unread-notification': activity.unread, 'unread-notification-line': activity.unreadLine}">
				
							<span flex="5"></span>
				
							<div class="icon-type" ng-switch="activity.type">
		                        <md-icon ng-switch-when="upload-reversion" class="material-icons md-primary">attach_file</md-icon>
		                        <md-icon ng-switch-when="upload-file" class="material-icons md-primary">attach_file</md-icon>
								<md-icon ng-switch-when="edit" class="material-icons md-primary">edit</md-icon>
								<md-icon ng-switch-when="assign" class="material-icons md-primary">person_outline</md-icon>
								<md-icon ng-switch-when="related-thread" class="material-icons md-primary">chat_bubble_outline</md-icon>
								<md-icon ng-switch-when="related-task" class="material-icons md-primary">done_all</md-icon>
		                        <md-icon ng-switch-when="related-file" class="material-icons md-primary">attach_file</md-icon>
		                        <md-icon ng-switch-when="insert-note" class="material-icons md-primary">note_add</md-icon>
		                        <md-icon ng-switch-when="archive" class="material-icons md-primary">archive</md-icon>
								<md-icon ng-switch-when="unarchive" class="material-icons md-primary">unarchive</md-icon>
							</div>
				
							<span flex="5"></span>
				
							<div flex class="activity-detail">
					
								<p ng-switch="activity.type" class="activity-header" style="margin-bottom: 15px; border-bottom: 0.5px solid #EEEEEE">
									<span class="activity-creator">{{activity.user.name}}</span>
						
		                            <span class="meta-data" ng-switch-when="upload-reversion"> uploaded a new revision at <span class="date-time">{{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>:</span>

		                            <span class="meta-data" ng-switch-when="upload-file"> uploaded a new file at <span class="date-time">{{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>:</span>

									<span class="meta-data" ng-switch-when="edit"> edited the details of this file at <span class="date-time">{{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>:</span>
									<span class="meta-data" ng-switch-when="assign"> assigned the following people to this file at <span class="date-time">{{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>:</span>
									<span class="meta-data" ng-switch-when="related-thread"> attached the related message thread at <span class="date-time">{{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>:</span>
									<span class="meta-data" ng-switch-when="related-task"> attached the related task at <span class="date-time">{{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>:</span>
		                            <span class="meta-data" ng-switch-when="related-file"> attached the related file at <span class="date-time">{{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>:</span>
		                            <span class="meta-data" ng-switch-when="insert-note"> added new note at <span class="date-time">{{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>:</span>
		                            <span class="meta-data" ng-switch-when="archive"> archived this file at <span class="date-time">{{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>:</span>
									<span class="meta-data" ng-switch-when="unarchive"> unarchived this file at <span class="date-time">{{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>:</span>
						
								</p>
					
								<p ng-switch="activity.type" class="activity-body md-body">

		                            <span ng-switch-when="upload-file" layout="column">{{activity.element.name}}
		                            </span>
						
									<span ng-switch-when="edit"> ({{(activity.element.name) ? "Name: "+activity.element.name+", " : ""}} {{(activity.element.description) ? "Description: "+activity.element.description+", " : ""}} {{(activity.element.tags) ? "Tags : " : ""}}<span ng-repeat="tag in activity.element.tags">{{tag.name}}, </span>)</span>

									<span ng-switch-when="assign"><span ng-repeat="member in activity.element.members">{{member}}, </span></span>

									<span ng-switch-when="related-thread">"<a ui-sref="project.messages.detail({id: file.project, messageId: activity.element.item})">{{activity.element.name}}</a>"</span>

									<span ng-switch-when="related-task">"<a ui-sref="project.tasks.detail({id: file.project, taskId: activity.element.item})">{{activity.element.name}}</a>"</span>

		                            <span ng-switch-when="related-file">"<a ui-sref="project.files.detail({id: file.project, fileId: activity.element.item})">{{activity.element.name}}</a>"</span>

									<span ng-switch-when="insert-note">{{activity.element.content}}</span>
								</p>

		                        <div layout="row" layout-align="center center" class="tagcloud-selection" ng-show="activity.user._id==currentUser._id && (activity.type==='upload-file' || activity.type==='upload-reversion')">
		                            <span ng-repeat="user in activity.acknowledgeUsers" ng-class="{'available-tag':!user.isAcknow, 'selected-tag':user.isAcknow}">{{(user._id) ? user._id.name : user.email}}</span>
		                        </div>
					
		                        <div layout="row" layout-align="center center" ng-show="activity.user._id != currentUser._id && !activity.isAcknow && (activity.type==='upload-file' || activity.type==='upload-reversion')">
									<md-button ng-click="acknowledgement(activity)" class="md-primary">Acknowledge This File</md-button>
								</div>
					
							</div>
						</div>
					</div>
				</div>
				
				<md-divider></md-divider>
				
				<div layout="row">
		  	      	<md-button ng-show="!thread.isArchive" aria-label="Compose Message" class="md-icon-button" ng-click="showReplyModal($event)">
					  	<md-tooltip md-direction="top">Compose a Message</md-tooltip>
				      	<md-icon class="material-icons">reply</md-icon>
		  	      	</md-button>
				</div>
				
			</div>
		</div>
	</div>
	
	<div layout="column" flex="30">
		
		<div layout="column" class="md-whiteframe-1dp detail-view-inspector">
				
			<div class="md-toolbar-tools">

				<span flex></span>
				
                <md-button ng-show="!file.isArchive" aria-label="Add a Team Member" class="md-icon-button" ng-click="showModal($event, 'assign.html')" ng-show="!file.belongTo" style="margin-right: 30px">
                    <md-tooltip md-direction="top">Add a Team Member</md-tooltip>
                    <md-icon class="material-icons">person_outline</md-icon>
                </md-button>
				
                <md-button ng-show="!file.isArchive" aria-label="Add a Team Member" class="md-icon-button" ng-click="showModal($event, 'insert-note.html')" style="margin-right: 30px">
                    <md-tooltip md-direction="top">Insert A Note</md-tooltip>
                    <md-icon class="material-icons">note_add</md-icon>
                </md-button>
				
				<md-button class="md-icon-button" ng-click="showCreateRelatedTask($event)">
					<md-tooltip md-direction="bottom">Add a Related Task</md-tooltip>
					<md-icon class="material-icons">check</md-icon>
				</md-button>
				
			</div>

			<md-divider flex></md-divider>
			
			<div layout="column" class="content">
				
				<!-- <div layout="row" class="activity-stream-head" layout-padding>
					<p>This message was created by <strong>{{thread.owner.name}}</strong> on {{thread.createdAt | date: longDate}}.</p>
				</div> -->
				
				<inspector-file data="file" hide-related-thread="true" flex></inspector-file>
				
			</div>
			
		</div>
	</div>
	
		
	<!-- <related-items data="file" flex="30"></related-items> -->
		
</div>
			
	
	
	