<md-dialog aria-label="View file" flex="70">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>File View Window</h2>
			</div>
		</md-toolbar>
		
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				<div layout="row">
					<p>File histories list</p>
				</div>

				<div layout="row">
					<p ng-show="file.item.fileHistory.length == 0">This item has no history file</p>
					<md-list ng-cloak>
						<md-list-item ng-repeat="history in file.item.fileHistory">
							<h4>{{history.name}}</h4>
							<p>Version {{history.version}}</p>
						</md-list-item>
					</md-list>
				</div>
			</div>
		</md-dialog-content>
		
		<md-dialog-actions>
			<md-button ng-click="closeModal()">Cancel</md-button>
			<md-button ng-click="goToThisFile()" class="md-raised md-accent md-hue-1">Go To This File Location!</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>