<md-toolbar class="md-warn md-hue-1">
	<div class="md-toolbar-tools">
	    <span>Invitations</span>
      	<span flex></span>
      	<!-- <md-button ui-sref=''></md-button> -->
    </div>
</md-toolbar>

<md-list ng-cloak style="height: 76vh; overflow: scroll">
	<div ng-repeat="project in projectsInvitation" ui-sref="project.overview({id: project.element.project._id})">
		<md-list-item class="md-2-line" md-ink-ripple>
			<div class="md-list-item-text" layout="column">
		        <h3 class="md-primary">{{ project.element.project.name }}</h3>
	        </div>
		</md-list-item>
		<md-divider></md-divider>
	</div>
</div>