<md-toolbar class="md-warn md-hue-1">
	<div class="md-toolbar-tools">
		
		<md-chips class="" ng-model="projectsFilter" placeholder="Search Projects..." secondary-placeholder="Search Projects..." flex md-autocomplete-snap="" md-require-math="autoCompleteRequireMath" md-on-add="addChip()" md-on-remove="removeChip()">
			<md-autocomplete 
				md-selected-item="selectedItem" 
				md-search-text="searchText"
				md-items="item in querySearch(searchText)" 
				md-item-text="item" 
				placeholder="Search for a project">
				<span md-highlight-text="searchText">{{item.name}}</span>
			</md-autocomplete>
			<md-chip-template>
		        <strong>{{$chip.name}}</strong>
		    </md-chip-template>
		</md-chips>
		
	    
		
    </div>
	
	
	
</md-toolbar>

<md-list ng-cloak class="main-page-content">
	
	<div ng-show="!search" ng-repeat="project in projects track by $index" ui-sref="project.overview({id: project._id})">
		<md-list-item class="md-2-line" md-ink-ripple>
			<div class="md-list-item-text" layout="column">
		          	<h3>{{ project.name }}</h3>
					<p>{{ project.address }}, {{ project. suburb }} {{ project.postcode }}</p>
	        </div>
		</md-list-item>
		<md-divider></md-divider>
	</div>

	<div ng-show="search" ng-repeat="project in projectsFilter" ui-sref="project.overview({id: project._id})">
		<md-list-item class="md-2-line" md-ink-ripple>
			<div class="md-list-item-text" layout="column">
		          	<h3>{{ project.name }}</h3>
					<p>{{ project.address }}, {{ project. suburb }} {{ project.postcode }}</p>
	        </div>
		</md-list-item>
		<md-divider></md-divider>
	</div>
	
</md-list>

<div>
  <md-fab-speed-dial ng-cloak md-open="false" md-direction="up" class="md-scale md-fab-bottom-right fab-list">
	  <md-fab-trigger>
  	      <md-button aria-label="Create a New Project" class="md-fab md-primary" ng-show="allowCreateProject" ng-click="showCreateProjectModal($event)">
			  <md-tooltip md-direction="left">Create a New Project</md-tooltip>
		      <md-icon class="material-icons" >add</md-icon>
  	      </md-button>
      </md-fab-trigger>
  </md-fab-speed-dial>
</div>

