<md-dialog aria-label="{{(!tender.isCreateScope) ? 'Add Scope' : 'Add Addendum'}}" flex="70">
    <form ng-submit="addScopeOrAddendum(form)" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{(!tender.isCreateScope) ? "Add Scope" : "Add Addendum"}}</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <div ng-if="!tender.isCreateScope" layout="column">
                    <p class="md-body-2">Please fill in fields below to add a scope</p>
                    <div layout="column">
                        <md-input-container>
                            <label for="">Enter Your Scope</label>
                            <textarea ng-model="tender.scope" name="scope" id="scope" cols="10" rows="5"></textarea>
                        </md-input-container>
                    </div>
                </div>

                <div ng-if="tender.isCreateScope" layout="column">
                    <p class="md-body-2">Please fill in fields below to add an addendum</p>
                    <div layout="column">
                        <md-input-container>
                            <label for="">Enter Your Addendum</label>
                            <textarea ng-model="tender.addendum" name="addendum" id="addendum" cols="10" rows="5"></textarea>
                        </md-input-container>
                    </div>
                </div>
                
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="dialogService.closeModal()">Cancel</md-button>
            <md-button type="submit" class="md-primary">Submit</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>