<md-dialog aria-label="Select Winner For {{tender.name}}" flex="70">
    <form ng-submit="selectWinner(form)" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Select Winner For {{tender.name}}</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <p class="md-body-2">Select a tenderer to be winner of {{tender.name}}</p>
                <div layout="row">
                    <md-input-container>
                        <label for="">Tenderers List</label>
                        <md-select ng-model="tender.winnerIndex">
                            <md-option ng-repeat="member in tender.members" ng-value="$index">{{(member.user) ? member.user.name : member.name}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="dialogService.closeModal()">Cancel</md-button>
            <md-button type="submit" class="md-primary">Submit</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>