<div class="collection with-header">
  <div class="row collection-header" style="margin-bottom:0px; padding-top: 20px; padding-bottom: 14px">
    <div class="right">
      <a class="modal-trigger" style="font-size: 12px; margin:20px; color: black;" href='#modal_createNewThread' ng-click="newThread()">NEW THREAD</a>
    </div>
  </div>

  <div ng-if="showThreadDetail" class="row collection-header" style="margin-bottom:0px;">
   <div class="col s12" style="font-size: 12px">
     <a ng-click="backToThreadsList()" href="#" style="padding: 5px;">&lt; BACK TO THREADS</a>
     <div class="right">
       <a href="#" class="" style="padding: 5px;">EDIT THREAD</a>
     </div>
   </div>
  </div>
         
  <div style="height: {{contentHeight - 15}}px; overflow-x: hidden; overflow-y: auto; background-color:White;">
    <div ng-mouseover="activeHover($event)" ng-mouseleave="removeHover($event)" ng-if="showThreadsList" class="collection-item row" ng-repeat="thread in threads">
      <div class="col s12">
        <div style="cursor:pointer" ng-click="goToThreadDetail(thread)">#{{$index + 1}} - {{thread.name}}</div>
      </div>
      <div class="col s12">
        <div style="font-size: 10px;">
          <span ng-repeat="assignee in thread.users">
            {{(assignee.firstName) ? assignee.firstName + ' ' + assignee.lastName : assignee.email}}, 
          </span>
        </div>
      </div>
    </div>

    <div ng-if="showThreadDetail" class="threadDetail" scroll-to-bottom="currentThread.messages">
      <div class="row message-row" style="font-size: 13px; margin: 12px; border-radius: 3px;" ng-style="backgroundColor" ng-repeat="message in currentThread.messages">
       <div class="col s12">
         <p>{{message.text}} - <strong>From {{(message.user._id == currentUser._id) ? "Me" : message.user.firstName +" "+ message.user.lastName}}</strong></p>
       </div>
      </div>
      <div class="row collection-footer" style="margin-bottom: 0px; background-color: white; padding: 12px; padding-top: 0px; border-top: 1px solid #E0E0E0">
       <div class="input-field col s12" style="margin-top: 0px; margin-bottom: 0px;">
         <textarea id="textarea1" class="materialize-textarea" style="margin: 0px; margin-top: 0px" ng-model="message.text" ng-keydown="enterMessage($event);"></textarea>
       </div>
      </div>
    </div>
  </div>
</div>

<div id="modal_createNewThread" class="modal modal-fixed-footer">
  <form class="col s12" name="form" novalidate ng-submit="saveThread(form)">
    <div class="modal-content">
      <div class="input-field col s12">
        <input id="thread_name" type="text" ng-model="thread.name" required name="name" ng-class="{'invalid' : form.name.$invalid && submitted}">
        <label for="thread_name">Name</label>
        <p class="validate-message" ng-show="form.name.$error.required && submitted">Thread name is required</p>
      </div>
      <div class="row current-assign">
        <div class="card col" style="padding: 5px; margin-left: 10px" ng-repeat="user in thread.users" ng-class="{'admin' : user.team.role == 'admin'}">
          {{user | name}} <span><a href="#!" ng-click="revoke(user,$index)"><i class="mdi-navigation-cancel" style="margin-left: 5px"></i></a></span>
        </div>
      </div>

      <div class="divider"></div>

      <div class="row available-assign">
        <p style="">Available user:</p>
        <a href="#!" ng-click="assign(user,$index)" ng-repeat="user in available track by $index" >
          <div class="card col" style="padding: 5px; margin-left: 10px" ng-class="{'admin' : user.team.role == 'admin'}">
            {{user | name}}
          </div>
        </a>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat ">Save!</button>
      <button type="button" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</button>
    </div>
  </form>
</div>

<!-- <ul class="card collection">
  <div class="card-header">
    <div class="row">
      <div class="col s10">
        <div class="col s4">
          <a class="dropdown-button btn-flat ng-isolate-scope" data-gutter="5" style="margin-top: 15px" href="#" data-activates="threadSelector" dropdown="" data-beloworigin="true"><span class="ng-scope">
            {{(currentThread) ? currentThread.name : 'no Thread' | elipsis : 20}}
            </span><i class="mdi-navigation-arrow-drop-down ng-scope"></i>
          </a>
            <ul id="threadSelector" style="margin-top: 15px" class="dropdown-content">
              <li ng-repeat="thread in threads" >
                <a ng-if="thread.canSee" href="#!" ng-click="selectThread(thread)">{{thread.name}}</a>
              </li>
          </ul>
        </div>
        <div class="col s8" ng-if="currentThread.users">
          <p style="margin-top: 15px">{{currentThread.users | threadUsers}}</p>
        </div>
      </div>
      <div class="col s2">
        <a class="dropdown-button btn-flat btn-flat right ng-isolate-scope" style="margin-top:15px" data-gutter="-30" href="#" data-activates="chatActions" dropdown="" data-beloworigin="true" data-constrainwidth="false">
          <i class="mdi-navigation-more-vert ng-scope"></i>
        </a><ul id="chatActions" class="dropdown-content" style="margin-top:15px">
        <li><a href="#!" class="activator" ng-click="newThread()">New Thread</a></li>
        <li><a href="#!" class="activator" ng-click="editThread(currentThread)" ng-if="currentThread">Edit Thread</a></li>
      </ul>


      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div id="messages" style="height: 500px; overflow-y: auto"  scroll-to-bottom="currentThread.messages">

    <li class="collection-item" ng-repeat="message in currentThread.messages">
      <div class="row valign-wrapper" style="margin-bottom: -5px">
        <p class="col s9 valign" ng-bind-html="message.text | linkify"></p>
        <div class="card col" style="padding: 5px; margin-left: 10px">
          {{message.user | name}}
        </div>
      </div>
    </li>
    <div ng-if="currentThread" id="bottom111"></div>
  </div>
  <div class="divider"></div>
  <div class="col s12 card-footer" style="height: 150px" ng-show="currentThread">
    <div class="row">
      <form class="col s10 offset-s1 ng-pristine ng-valid" name="messageForm" novalidate ng-submit="sendMessage()">
        <div class="input-field col s9">
          <textarea name="text" id="textarea1" class="materialize-textarea" ng-model="message.text"
                    ng-keydown="enterMessage($event);">
          </textarea>
          <label for="textarea1">Send a Message...</label>
        </div>
        <div class="input-field col s3">
          <button class="btn-large waves-effect waves-yellow" type="submit" style="margin-top: 47px" name="action">Send
            <i class="mdi-content-send right"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="card-reveal">
    <span ng-click="close()" class="card-title grey-text text-darken-4" ng-if="isNew">New Thread<i class="mdi-navigation-close right"></i></span>
    <span ng-click="close()" class="card-title grey-text text-darken-4" ng-if="!isNew">Edit Thread<i class="mdi-navigation-close right"></i></span>
    <form class="col s12" name="form" novalidate ng-submit="saveThread(form)">
      <div class="input-field col s12">
        <input id="thread_name" type="text" ng-model="thread.name" required name="name" ng-class="{'invalid' : form.name.$invalid && submitted}">
        <label for="thread_name">Name</label>
        <p class="validate-message" ng-show="form.name.$error.required && submitted">Thread name is required</p>
      </div>
      <div class="row current-assign">
        <div class="card col" style="padding: 5px; margin-left: 10px" ng-repeat="user in thread.users" ng-class="{'admin' : user.team.role == 'admin'}">
          {{user | name}} <span><a href="#!" ng-click="revoke(user,$index)"><i class="mdi-navigation-cancel" style="margin-left: 5px"></i></a></span>
        </div>
      </div>

      <div class="divider"></div>

      <div class="row available-assign">
        <p style="">Available user:</p>
        <a href="#!" ng-click="assign(user,$index)" ng-repeat="user in available track by $index" >
          <div class="card col" style="padding: 5px; margin-left: 10px" ng-class="{'admin' : user.team.role == 'admin'}">
            {{user | name}}
          </div>
        </a>
      </div>
      <div class="row">
        <button class="btn right waves-effect waves-yellow" type="submit" name="action">Save
        </button>
      </div>
    </form>
  </div>
</ul>
 -->