<md-tabs md-dynamic-height md-center-tabs md-no-ink-bar md-no-ink flex layout-padding>

    <md-tab ng-if="data.inviter._id == currentUser._id">
		<md-tab-label>
			<md-tooltip md-direction="bottom">Invitees</md-tooltip>
		    <md-icon class="material-icons">person_outline</md-icon>
		</md-tab-label>
        <md-tab-body>
			<md-list ng-cloak class="main-page-content">
				<md-list-item class="md-2-line" ng-click="showRelatedTeamMemberModal($event, tenderer._id)" ng-repeat="tenderer in data.tenderers">
				    <div class="md-list-item-text">
					    <h3>{{tenderer.name}}</h3>
				    </div>
					<md-divider></md-divider>
				</md-list-item>
			</md-list>
        </md-tab-body>
    </md-tab>
	
	<md-tab>
		<md-tab-label>
			<md-tooltip md-direction="bottom">Addendums</md-tooltip>
		    <md-icon class="material-icons">reply_all</md-icon>
		</md-tab-label>
        <md-tab-body>
			<md-list ng-cloak class="main-page-content">
				<md-list-item class="md-2-line" ng-click="showAddendumDetailModal($event, addendum)" ng-repeat="addendum in data.addendums">
				    <div class="md-list-item-text">
					    <h3>{{addendum.element.name}}</h3>
					    <p>{{addendum.element.description}}</p>
				    </div>
					<md-divider></md-divider>
				</md-list-item>
			</md-list>
        </md-tab-body>
    </md-tab>
</md-tabs>