<md-dialog aria-label="Add New Event" flex="50" id="newEventDialog">
    <form ng-submit="createActivityOrMilestone(form)" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add New Event</h2>
				<span flex></span>
				<md-button class="md-icon-button"><md-icon ng-click="dialogService.closeModal()"><md-tooltip md-direction="left">Cancel</md-tooltip>close</md-icon></md-button>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-padding>

                <div layout="column" ng-show="step==1">
					
                    <p class="md-body-2">Please enter an event name:</p>
                    <md-input-container flex=>
                        <label for="">Event Name</label>
                        <input type="text" name="name" ng-model="activity.name" required>
                    </md-input-container>
					
                </div>

                <div layout="column" ng-show="step==2">
					
                    <p class="md-body-2">Provide a Start Date and End Date for this Event:</p>
					
                    <div layout="row" layout-align="space-around center">
                        <div layout-padding flex>
                            <h5>Start Date</h5>
                            <md-datepicker ng-model="activity.date.start" md-placeholder="Enter Start Date"></md-datepicker>
                        </div>
                        <div layout-padding flex>
                            <h5>End Date</h5>
                            <md-datepicker ng-model="activity.date.end" md-placeholder="Enter End Date"></md-datepicker>
                        </div>
                    </div>
					
                    <p style="color:red" ng-show="dateError">{{dateError}}</p>
                </div>
				
            </div>
        </md-dialog-content>
        
        <md-dialog-actions>
            <md-button ng-click="step=step-1" ng-hide="step==1">Back</md-button>
            <md-button ng-click="next('activity')" class="md-primary" ng-hide="step==2">Next</md-button>
            <md-button type="submit" ng-show="step==2" class="md-primary">Create Event</md-button>
			
        </md-dialog-actions>
    </form>
</md-dialog>