<md-dialog aria-label="Add New Activity" flex="70" id="newActivityForm">
    <form ng-submit="createActivityOrMilestone(form)" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add New Activity</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-padding>

                <div layout="row" ng-show="step==1">
                    <p class="md-body-2">Please enter activity name</p>
                    <md-input-container flex>
                        <label for="">Name</label>
                        <input type="text" name="name" ng-model="activity.name" required>
                    </md-input-container>
                </div>

                <div layout="column" ng-show="step==1">
                    <div layout="column" flex>
                        <p class="md-body-2">Is this activity dependent on another Activity?</p>
                        <md-radio-group ng-model="activity.isDependent">
                            <md-radio-button class="md-primary" ng-value="true">Yes</md-radio-button>
                            <md-radio-button class="md-primary" ng-value="false">No</md-radio-button>
                        </md-radio-group>
                    </div>

                    <div flex layout="row" ng-show="activity.isDependent">
                        <div flex="70" layout="column">
                            <p class="md-body-2">Select Activities on List Below:</p>
                            <md-input-container>
                                <label for="">Select Activity In List Below</label>
                                <md-select ng-model="selectedAct">
                                    <md-option ng-repeat="act in activities" ng-show="!act.isMilestone" ng-value="act">{{act.name}}</md-option>    
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex="20">
                            <md-input-container>
                                <label for="">Number Of Lags Unit</label>
                                <input type="text" ng-model="lags">
                            </md-input-container>
                        </div>
                        <div flex="10">
                            <md-button ng-click="addToDependencies(selectedAct, lags)" type="button" aria-label="Add to dependencies list" class="md-icon-button">
                                <md-tooltip md-direction="bottom">Add to dependencies list</md-tooltip>
                                <md-icon class="material-icons">add</md-icon>
                            </md-button>
                        </div>
                    </div>

                    <div flex layout="column" ng-show="activity.isDependent && activity.dependencies.length > 0">
                        <p class="md-body-2">Your Selected Activities</p>
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Activity Name</td>
                                    <td>Lags Unit</td>
                                    <td>Lags Type</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dep in activity.dependencies">
                                    <td>{{$index + 1}}</td>
                                    <td>{{dep.name}}</td>
                                    <td>{{dep.lagsUnit}}</td>
                                    <td>{{dep.lagsType}}</td>
                                    <td>
                                        <md-button ng-click="removeFromDependencies($index)" type="button" aria-label="Remove from dependencies list" class="md-icon-button">
                                            <md-tooltip md-direction="bottom">Remove from dependencies list</md-tooltip>
                                            <md-icon class="material-icons">remove</md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div layout="column" ng-show="step==2">
                    <p class="md-body-2">Select Date and Time for activity</p>
                    <div layout="row">
                        <div layout-padding flex="33">
                            <h5>Start Date</h5>
                            <md-datepicker ng-change="getChangeValue('st')" ng-model="activity.date.start" md-placeholder="Enter Start Date"></md-datepicker>
                        </div>
                        <div layout-padding>
                            <h5>Duration</h5>
                            <md-input-container>
                                <label for="">Duration</label>
                                <input type="text" ng-change="getChangeValue('du')" ng-model="activity.date.duration">
                            </md-input-container>
                        </div>
                        <div layout-padding>
                            <h5>End Date</h5>
                            <md-datepicker ng-change="getChangeValue('et')" ng-model="activity.date.end" md-placeholder="Enter End Date"></md-datepicker>
                        </div>
                    </div>
                    <p style="color:red" ng-show="dateError">{{dateError}}</p>

                    <div layout="row">
                        <div layout-padding flex="50">
                            <h5>Start Time</h5>
                            <mdp-time-picker ng-model="activity.time.start"></mdp-time-picker>
                        </div>
                        <div layout-padding>
                            <h5>End Time</h5>
                            <mdp-time-picker ng-model="activity.time.end"></mdp-time-picker>
                        </div>
                    </div>
                </div>

                <div layout="column" ng-show="step==3">
                    <div>
                        <p>Is this activity belong to a milestone?</p>
                        <md-radio-group ng-model="activity.isBelongToMilestone">
                            <md-radio-button class="md-primary" ng-value='false'>No</md-radio-button>
                            <md-radio-button class="md-primary" ng-value='true'>Yes</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div flex ng-show="activity.isBelongToMilestone">
                        <p class="md-body-2">Please select a milestone in list below:</p>
                        <md-input-container flex="100">
                            <label for="">Milestones List</label>
                            <md-select ng-model="activity.selectedMilestone">
                                <md-option ng-repeat="act in activities" ng-show="act.isMilestone" ng-value="act._id">{{act.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>

                <div layout="column" ng-show="step==3">
                    <p class="md-body-2">Select the team members to include in this {{(activity.isMilestone) ? "milestion" : "activity"}}:</p>
                    <div layout="row" flex layout-align="center center" layout-wrap layout-padding>
                        <md-checkbox flex="20" class="filter-checkbox md-primary" ng-repeat="member in membersList" ng-click="selectItem($index, 'member')">{{ (member._id) ? member.name : member.email }}</md-checkbox>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        
        <md-dialog-actions>
            <md-button ng-click="dialogService.closeModal()">Cancel</md-button>

            <md-button ng-click="step=step-1" ng-hide="step==1">Back</md-button>
            <md-button ng-click="next('activity')" ng-hide="step==3">Next</md-button>

            <md-button type="submit" ng-show="step==3" class="md-primary">Submit</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>