<md-dialog aria-label="{{event.title}}'s Detail" flex="70" id="assignPeopleForm">
    <form name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{event.title}}'s Detail</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-padding>
                <h3>List Of Sub-item For This Event</h3>
                <div layout="column">
                    <p class="md-body-2">Tasks:</p>
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="task in tasks">
                            <div class="md-list-item-text" layout="column">
                                <h3>{{task.name}}</h3>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-button class="md-primary" aria-label="View All" ng-click="viewAll('task')">View All</md-button>
                        <md-button class="md-primary" aria-label="Attach Task" ng-click="attachItem('task')">Attach Task</md-button>
                    </md-list>
                </div>

                <div layout="column">
                    <p class="md-body-2">Threads:</p>
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="thread in threads">
                            <div class="md-list-item-text" layout="column">
                                <h3>{{thread.name}}</h3>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-button class="md-primary" aria-label="View All" ng-click="viewAll('thread')">View All</md-button>
                        <md-button class="md-primary" aria-label="Attach Thread" ng-click="attachItem('thread')">Attach Thread</md-button>
                    </md-list>
                </div>

                <div layout="column">
                    <p class="md-body-2">Files:</p>
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="file in files">
                            <div class="md-list-item-text" layout="column">
                                <h3>{{file.name}}</h3>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-button class="md-primary" aria-label="View All" ng-click="viewAll('file')">View All</md-button>
                        <md-button class="md-primary" aria-label="Attach File" ng-click="attachItem('file')">Attach File</md-button>
                    </md-list>
                </div>
            </div>
        </md-dialog-content>
        
        <md-dialog-actions>
            <md-button ng-click="dialogService.closeModal()">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>