<md-dialog aria-label="{{event.name}}" flex="60" id="eventDetailDialog">
    
    <md-toolbar>
        <div class="md-toolbar-tools">
			
            <h2>{{event.name}}</h2>
			
			<span flex></span>
			
			<!-- <p class="md-subhead">{{event.date.start | date: 'dd-MM-yyyy'}} - {{event.date.end | date: 'dd-MM-yyyy'}}</p> -->
			<md-button class="md-icon-button"><md-icon ng-click="dialogService.closeModal()"><md-tooltip md-direction="left">Cancel</md-tooltip>close</md-icon></md-button>
        </div>
		
    </md-toolbar>
	
    <md-dialog-content>
        <div class="md-dialog-content" layout="column" layout-padding>
			
			
			<!-- <div layout="column" ng-mouseenter="editDescription=true" ng-mouseleave="editDescription=false">
				<h3 class="md-title">Details</h3>
				<p ng-show="!showEdit">{{event.description}}</p>
				<span ng-show="editDescription && !showEdit" ng-click="showEdit=true" class="md-body-2 link-decoration">Edit</span>

				<md-input-container ng-show="showEdit">
					<label for="">Event Description</label>
					<input type="text" ng-model="event.description" ng-blur="changeDescription()">
				</md-input-container>
			</div> -->
			
			<!-- <md-divider></md-divider> -->
			
			<div layout="row">
				
				<div layout="column" flex="65">
					
				    <div layout="column">
						<div layout="row" layout-align="space-between center" layout-margin>
			                <h4 class="header-accordian" ng-click="showTasks=!showTasks">
								Tasks 
								<md-icon class="material-icons" ng-show="!showTasks">expand_more</md-icon>
								<md-icon class="material-icons" ng-show="showTasks">expand_less</md-icon>
							</h4>
							<!-- <p ng-click="viewAll('task')" class="md-body-2 link-decoration">View All</p> -->
						</div>
						<md-divider></md-divider>
						<div layout="row" ng-show="showTasks">
			                <md-list flex class="md-dense">
			                    <md-list-item class="md-2-line" ng-repeat="task in tasks" ng-click="view('task', task)">
									<div class="md-avatar"></div>
			                        <div class="md-list-item-text" layout="column">
			                            <h3>{{task.description}}</h3>
			                        </div>
									<md-divider></md-divider>
			                    </md-list-item>
			                </md-list>
						</div>
		            </div>

		            <div layout="column">
						<div layout="row" layout-align="space-between center" layout-margin>
			                <h4 class="header-accordian" ng-click="showMessages=!showMessages">
								Messages 
								<md-icon class="material-icons" ng-show="!showMessages">expand_more</md-icon>
								<md-icon class="material-icons" ng-show="showMessages">expand_less</md-icon>
							</h4>
							<p ng-click="viewAll('thread')" class="md-body-2 link-decoration">View All</p>
						</div>
						<md-divider></md-divider>
						<div layout="row" ng-show="showMessages">
			                <md-list flex class="md-dense">
			                    <md-list-item class="md-2-line" ng-repeat="thread in threads" ng-click="view('thread', thread)">
									<div class="md-avatar"></div>
			                        <div class="md-list-item-text" layout="column">
			                            <h3>{{thread.name}}</h3>
			                        </div>
									<md-divider></md-divider>
			                    </md-list-item>
			                </md-list>
						</div>
		            </div>

		            <div layout="column">
						<div layout="row" layout-align="space-between center" layout-margin>
			                <h4 class="header-accordian" ng-click="showFiles=!showFiles">
								Files 
								<md-icon class="material-icons" ng-show="!showFiles">expand_more</md-icon>
								<md-icon class="material-icons" ng-show="showFiles">expand_less</md-icon>
							</h4>
							<p ng-click="viewAll('file')" class="md-body-2 link-decoration">View All</p>
						</div>
						<md-divider></md-divider>
						<div layout="row" ng-show="showFiles">
			                <md-list flex class="md-dense">
			                    <md-list-item class="md-2-line" ng-repeat="file in files" ng-click="view('file', file)">
									<div class="md-avatar"></div>
			                        <div class="md-list-item-text" layout="column">
			                            <h3>{{file.name}}</h3>
			                        </div>
									<md-divider></md-divider>
			                    </md-list-item>
			                </md-list>
						</div>
		            </div>
					
		            <div layout="column" ng-show="allowCreateTender">
						<div layout="row" layout-align="space-between center" layout-margin>
			                <h4 class="header-accordian" ng-click="showTenders=!showTenders">
								Tenders 
								<md-icon class="material-icons" ng-show="!showTenders">expand_more</md-icon>
								<md-icon class="material-icons" ng-show="showTenders">expand_less</md-icon>
							</h4>
							<p ng-click="viewAll('tender')" class="md-body-2 link-decoration">View All</p>
						</div>
						<md-divider></md-divider>
						<div layout="row" ng-show="showTenders">
			                <md-list flex class="md-dense">
			                    <md-list-item class="md-2-line" ng-repeat="tender in tenders" ng-click="view('tender', tender)">
									<div class="md-avatar"></div>
			                        <div class="md-list-item-text" layout="column">
			                            <h3>{{tender.name}}</h3>
			                        </div>
									<md-divider></md-divider>
			                    </md-list-item>
			                </md-list>
						</div>
		            </div>
					
				</div>
				
				<span flex></span>
				
				<div layout="column" flex="25" ng-show="hasPrivilageInProjectMember">
					<div layout="row">
						<md-button class="md-raised" flex aria-label="Attach Task" ng-click="attachItem('task')">Attach Task</md-button>
					</div>
					<div layout="row">
						<md-button class="md-raised" flex aria-label="Attach Thread" ng-click="attachItem('thread')">Attach Message</md-button>
					</div>
					<div layout="row">
						<md-button class="md-raised" flex aria-label="Attach File" ng-click="attachItem('file')">Attach File</md-button>
					</div>
					<div layout="row" ng-show="allowCreateTender">
						<md-button class="md-raised" flex aria-label="Attach Tender" ng-click="attachItem('tender')">Attach Tender</md-button>
					</div>
				</div>
					
			</div>
			
        </div>
    </md-dialog-content>
</md-dialog>