<md-dialog aria-label="Task Detail" flex="60" id="taskDetailDialog">
    
    <md-toolbar>
        <div class="md-toolbar-tools">
			
            <h2>Task Detail</h2>
			
			<span flex></span>
			
			<p class="md-subhead">{{task.dateStart | date: 'dd-MM-yyyy'}} - {{task.dateEnd | date: 'dd-MM-yyyy'}}</p>
        </div>
		
    </md-toolbar>
	
    <md-dialog-content>
        <div class="md-dialog-content" layout="column" layout-padding>
			
			<div layout="column">
				<h3 class="md-title">Details</h3>
				<p ng-mouseenter="editDescription=true" ng-mouseleave="editDescription=false">{{task.description}} <span ng-show="editDescription" class="md-body-2 link-decoration">Edit</span></p>
			</div>
			
			<div layout="row">
				<p class="md-subhead" ng-mouseenter="editAssignees=true" ng-mouseleave="editAssignees=false">
					<span ng-repeat="member in task.members">{{member.name}}, </span>
					<span ng-repeat="email in task.notMembers">{{email}}, </span>
					<span ng-show="editAssignees" class="md-body-2 link-decoration">Edit</span></p>
			</div>
			
			<md-divider></md-divider>
			
			<div layout="column">
				<div class="activity-detail" style="margin-bottom: 15px">
					<p ng-switch="activity.type" ng-repeat="activity in task.activities" ng-show="allowShowList.indexOf(activity.type) !== -1">
						<span class="activity-creator">{{activity.user.name}}</span>
						<span ng-switch-when="create-task"> has created this task at {{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>
						<span ng-switch-when="edit-task"> has edit description of this task at {{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>
						<span ng-switch-when="change-date-time"> has changed date time of this task at {{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>
						<span ng-switch-when="complete-task"> has marked this task as completed at {{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>
						<span ng-switch-when="uncomplete-task"> has re-opened this task at {{activity.createdAt | date:'hh:mm a'}}, {{activity.createdAt |date:'dd-MM-yyyy'}}</span>
					</p>
				</div>

				<md-divider></md-divider>

				<div class="comment-section" layout="column" style="margin-top: 15px">
					<div class="comment-content" ng-repeat="comment in task.comments">
						<p><span class="comment-creator"><strong>{{comment.user.name}}</strong></span> sent at <span class="comment-date">{{comment.sentAt | date: 'hh:mm dd-MM-yyyy'}}</span></p>
						<p ng-bind-html="comment.content | htmlize"></p>
					</div>
					<div class="add-comment-form">
						<form ng-submit="addComment(form)">
							<div layout="row">
								<md-input-container flex="80">
									<label for="">Enter Your Comment</label>
									<textarea name="comment" ng-model="comment" cols="3" rows="5" required></textarea>
								</md-input-container>
								<span flex></span>
								<md-button class="md-primary" type="submit">Comment</md-button>
							</div>
						</form>
					</div>
				</div>
			</div>
			
        </div>
    </md-dialog-content>
	
    <md-dialog-actions>
        <md-button ng-click="dialogService.closeModal()">Close</md-button>
	</md-dialog-actions
</md-dialog>