<md-dialog aria-label="Task Detail" flex="60" id="taskDetailDialog">
    
    <md-toolbar>
        <div class="md-toolbar-tools">
			
            <h2>Task Detail</h2>
			<span flex></span>
			<md-button ng-show="hasPrivilageInProjectMember" ng-click="completeTask()">{{(!task.completed) ? "Mark Task Complete" : "Mark Task Incomplete"}}</md-button>
			<md-button ng-click="dialogService.closeModal()" class="md-icon-button"><md-icon class="material-icons"><md-tooltip md-direction="left">Close</md-tooltip>close</md-icon></md-button>
			
        </div>
    </md-toolbar>
	
    <md-dialog-content>
        <div class="md-dialog-content" layout="column" layout-padding>
			
			<div layout="row">
				<md-icon class="material-icons md-primary" ng-show="task.completed" style="margin-right: 10px">check_circle</md-icon>
				<h3 ng-show="!editDescription" class="md-headline" style="margin-top: 4px">{{task.description}}</h3>

				<md-input-container ng-show="editDescription" flex="60">
					<label for="">Task Description</label>
					<input type="text" ng-model="task.description" ng-blur="changeDescription()">
				</md-input-container>

				<span flex></span>
				<md-button ng-show="hasPrivilageInProjectMember" class="md-icon-button" ng-click="showDetail=!showDetail"><md-icon class="material-icons"><md-tooltip md-direction="left">Edit Task</md-tooltip>edit</md-icon></md-button>
			</div>
			
			<div layout="row">
				<p class="md-body-2">Assigned to <span ng-repeat="member in task.members track by $index">{{member.name}}<span ng-hide="$last">, </span></span><span ng-repeat="email in task.notMembers track by $index">{{email}}<span ng-hide="$last">, </span></span></p>
			</div>
			
			<md-divider></md-divider>

			<div layout="row" ng-show="editAssignee" layout-align="center center" layout-wrap layout-padding flex>
				<p class="md-body-2">Select Member That You Want To Assign</p>
				<md-checkbox ng-click="assignMember($index)" ng-repeat="member in projectMembers" class="filter-checkbox md-primary">{{(member._id) ? member.name : member.email}}</md-checkbox>
			</div>
			
			<div ng-show="showDetail" layout="row" layout-align="space-around center">
				<md-button ng-click="editDescription=!editDescription" ng-show="task.owner._id==currentUser._id">Edit Description</md-button>
				<md-button ng-click="editAssignee=!editAssignee">Edit Assignees</md-button>
				<md-select ng-show="task.owner._id==currentUser._id" ng-change="changeOrAddEvent()" ng-model="task.selectedEvent">
					<md-option ng-repeat="ev in activities" ng-value="ev._id">{{ev.name}}</md-option>
				</md-select>
				<!-- <md-button ng-click="" ng-show="task.owner._id==currentUser._id">Edit Event</md-button> -->
			</div>
			
			<md-divider ng-show="showDetail"></md-divider>
			
			<div layout="column">
				<div class="item-activity">
					<div layout="row" layout-align="center center" flex class="activity-stream" layout-padding ng-repeat="activity in task.activities" ng-show="allowShowList.indexOf(activity.type) !== -1" style="padding: 0px">
						<div class="activity-detail" flex>
							<p ng-switch="activity.type" class="activity-head" style="border-bottom: 0.5px solid #EEEEEE">
								<span class="activity-creator">{{(activity.user) ? activity.user.name : activity.email}}</span>
								<span class="meta-data" ng-switch-when="create-task"> created this task on <span class="date-time">{{activity.createdAt |date:'dd MMMM yyyy'}} at {{activity.createdAt | date:'hh:mm a'}}</span>:</span>

								<span class="meta-data" ng-switch-when="edit-task"> edited description of task on <span class="date-time">{{activity.createdAt |date:'dd MMMM yyyy'}} at {{activity.createdAt | date:'hh:mm a'}}</span>:</span>

								<span class="meta-data" ng-switch-when="change-date-time"> edited the times on <span class="date-time">{{activity.createdAt |date:'dd MMMM yyyy'}} at {{activity.createdAt | date:'hh:mm a'}}</span>:</span>

								<span class="meta-data" ng-switch-when="complete-task"> mark task as completed on <span class="date-time">{{activity.createdAt |date:'dd-MM-yyyy'}} at {{activity.createdAt | date:'hh:mm a'}}</span>:</span>

								<span class="meta-data" ng-switch-when="uncomplete-task"> re-opened task on <span class="date-time">{{activity.createdAt |date:'dd-MM-yyyy'}} at {{activity.createdAt | date:'hh:mm a'}}</span>:</span>

								<span class="meta-data" ng-switch-when="enter-comment"> replied to this task on <span class="date-time">{{activity.createdAt |date:'dd-MM-yyyy'}} at {{activity.createdAt | date:'hh:mm a'}}</span>:</span>
							</p>

							<span ng-switch="activity.type" class="activity-body md-body">
								<span ng-switch-when="enter-comment" ng-bind-html="activity.element.comment | htmlize"></span>
							</span>
						</div>
					</div>
					<!-- <p ng-switch="activity.type" ng-repeat="activity in task.activities" ng-show="allowShowList.indexOf(activity.type) !== -1">
						<span class="activity-creator">{{activity.user.name}}</span>
						<span ng-switch-when="create-task"> created this task on {{activity.createdAt |date:'dd MMMM yyyy'}} at {{activity.createdAt | date:'hh:mm a'}}.</span>
						<span ng-switch-when="edit-task"> edited the description on {{activity.createdAt |date:'dd MMMM yyyy'}} at {{activity.createdAt | date:'hh:mm a'}}.</span>
						<span ng-switch-when="change-date-time"> edited the times on {{activity.createdAt |date:'dd MMMM yyyy'}} at {{activity.createdAt | date:'hh:mm a'}}.</span>
						<span ng-switch-when="complete-task"> marked this complete on {{activity.createdAt |date:'dd MMMM yyyy'}} at {{activity.createdAt | date:'hh:mm a'}}.</span>
						<span ng-switch-when="uncomplete-task"> marked this incomplete on {{activity.createdAt |date:'dd MMMM yyyy'}} at {{activity.createdAt | date:'hh:mm a'}}.</span>
						<span ng-switch-when="enter-comment"> commented on this task on {{activity.createdAt |date:'dd MMMM yyyy'}} at {{activity.createdAt | date:'hh:mm a'}}:</span>
						<span ng-switch-when="enter-comment" ng-bind-html="activity.element.comment"></span>
					</p> -->
				</div>

				<md-divider></md-divider>

				<div class="comment-section" layout="column" style="margin-top: 15px" ng-show="hasPrivilageInProjectMember">
					<!-- <div class="comment-content" ng-repeat="comment in task.comments">
						<p><span class="comment-creator"><strong>{{comment.user.name}}</strong></span> sent at <span class="comment-date">{{comment.sentAt | date: 'hh:mm dd-MM-yyyy'}}</span></p>
						<p ng-bind-html="comment.content | htmlize"></p>
					</div> -->
					<div class="add-comment-form">
						<form ng-submit="addComment(form)">
							<div layout="row">
								<md-input-container flex="80">
									<label for="">Enter Your Comment</label>
									<textarea name="comment" ng-model="comment" cols="3" rows="5" required></textarea>
								</md-input-container>
								<span flex></span>
								<md-button class="md-primary" type="submit">Comment</md-button>
							</div>
						</form>
					</div>
				</div>
			</div>
			
        </div>
    </md-dialog-content>
</md-dialog>