<md-dialog aria-label="Create a New Task" flex="70" id="newTaskDialog">
	<form ng-submit="createNewTask(form)" name="form">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Create a New Task</h2>
			</div>
		</md-toolbar>
		
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				
				<div layout="column">
					<p class="md-body-2">Provide a description for the task:</p>
	                <div layout="row">
	                    <md-input-container flex="66" flex-offset="15">
					        <label>Task Description</label>
					        <textarea ng-model="task.description" name="description" md-maxlength="300" required rows="3" columns="1"></textarea>
						</md-input-container>
					</div>
				</div>
				
					
				<div layout="column">
					<p class="md-body-2">Specify a due date for the task:</p>
					<div layout="row" layout-align="center center" class="tagcloud-selection">
	                    <md-datepicker ng-model="task.dateEnd" md-min-date="minDate" md-placeholder="Enter Due Date"></md-datepicker>
					</div>
				</div>
				
				<div layout="column">
					<p class="md-body-2">Assign at least one team member:</p>
					
					<div layout="row" flex layout-align="center center" layout-wrap layout-padding>
						<md-checkbox class="filter-checkbox md-primary" ng-repeat="member in projectMembers" ng-click="selectMember($index, 'member')">{{ (member._id) ? member.name : member.email }}</md-checkbox>
					</div>
				</div>
				
			</div>
		</md-dialog-content>
		
		<md-dialog-actions>
			<md-button ng-click="cancelNewTaskModal()">Cancel</md-button>
			<md-button type="submit" class="md-primary">Create Task</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>