<md-dialog aria-label="Create a New Task" flex="70">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Create a New Task</h2>
			</div>
		</md-toolbar>
		
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				
				<div layout="row">
					<md-input-container flex class="modal-instructions">
						<p>Please provide the following details to attach a new task to your project...</p>
					</md-input-container>
				</div>
				
				<div layout="row">
					<md-input-container flex>
				        <label>Task Description</label>
				        <input md-autofocus />
					</md-input-container>
				</div>
				
				<div layout="row">
					<md-input-container flex>
				        <label>Due Date</label>
				        <input />
				    </md-input-container>
				</div>
				
				<div layout="row">
					<md-input-container flex>
				        <label>Assign to a Team Member</label>
				        <input />
				    </md-input-container>
				</div>
				
			</div>
		</md-dialog-content>
		
		<md-dialog-actions>
			<md-button ng-click="cancelNewTaskModal()">Cancel</md-button>
			<md-button ng-click="createNewTask()" class="md-raised md-accent md-hue-1">Add Task!</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>