<md-dialog aria-label="Create a New Task" flex="70">
	<form ng-submit="createNewMessage(form)" name="form">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Create a New Task</h2>
			</div>
		</md-toolbar>
		
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				
				<!-- <div layout="row">
					<md-input-container flex>
				        <label>Task Name</label>
				        <input type="text" name="name" ng-model="task.name" required>
					</md-input-container>
				</div> -->
				
				<div layout="row" layout-align="center center">
					<md-input-container flex>
				        <label>Task Description</label>
				        <textarea ng-model="task.description" name="description" md-maxlength="300" required rows="3" columns="1"></textarea>
					</md-input-container>
				</div>
				
					
				<div layout="row" layout-align="center center">
                    <md-datepicker ng-model="relatedTask.dateEnd" md-min-date="minDate" md-placeholder="Enter Due Date">
                    </md-datepicker>
				</div>
				
				<div layout="row" layout-align="center center" class="assignees" layout-wrap>
					
					<span class="available-assignee">Assignee 1</span>
					<span class="available-assignee">Assignee 2</span>
					<span class="available-assignee">Assignee 3</span>
					<span class="selected-assignee">Assignee 4</span>
					<span class="available-assignee">Assignee 5</span>
					<span class="selected-assignee">Assignee 6</span>
					<span class="selected-assignee">Assignee 7</span>
					<span class="selected-assignee">Assignee 8</span>
					<span class="available-assignee">Assignee 9</span>
					<span class="available-assignee">Assignee 10</span>
					<span class="available-assignee">Assignee 11</span>
					<span class="available-assignee">Assignee 12</span>
					
				</div>
				
				<!-- <div ng-cloak>
                    <p>Available's asssignees: </p>
                    <md-content layout="row" layout-wrap layout-xs="column">
                        <div flex="33" flex-sm="50" flex-xs="100" layout="row" ng-repeat="member in membersList">
                            <md-card ng-click="selectMember($index)" layout-margin>
                                <md-card-header>
                                    <p class="name">{{member.name}}</p>
                                </md-card-header>

                                <md-card-content>
                                    <p class="email">{{(member.email) ? member.email : 'Email Address'}}</p>
                                    <p class="phone">{{(member.phoneNumber)? member.phoneNumber : 'Phone Number'}}</p>
                                </md-card-content>

                                <md-card-actions layout-margin>
                                    <md-card-icon-actions layout="row" layout-align="space-around center">
                                        <md-button class="material-icons md-icon-button">
                                            <md-tooltip md-direction="down">Invite To This Task</md-tooltip>
                                            <md-icon ng-show="member.select" class="material-icons">done</md-icon>
                                        </md-button>
                                    </md-card-icon-actions>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </md-content>
                </div> -->
				
			</div>
		</md-dialog-content>
		
		<md-dialog-actions>
			<md-button ng-click="cancelNewTaskModal()">Cancel</md-button>
			<md-button type="submit" class="md-raised md-accent md-hue-1">Create Task!</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>