<div class="row" style="margin-top: 18px">
               <h5 class="col s8">Contractor Package {{contractorRequest.name}} in Progress</h5>
               
               <div class="col s4" style="margin-top:15px">
                     <a class='dropdown-button btn-flat right tooltipped' data-position="top" data-delay="1" data-tooltip="Attach..." href='#'
                        data-activates='itemActions' dropdown data-beloworigin="true" data-constrainwidth="false">
                        <i class="mdi-navigation-more-vert"></i>
                     </a>

                     <!-- Dropdown Structure -->
                     <ul id='itemActions' class='dropdown-content'>
                       <li><a class="modal-trigger" href="#modal_attachVariation">Attach Variation</a></li>
                       <li ng-if="currentTeam.type == 'buider'"><a class="modal-trigger" href="#modal_attachDefect">Attach Defect</a></li>
                       <li><a class="modal-trigger" href="#modal_attachDocument">Attach Document</a></li>
                       <li ng-if="currentTeam.type == 'contractor'"><a class="modal-trigger" href="#attachInvoice">Attach Invoice</a></li>
                     </ul>
               </div>
           </div>
           
           <div class="row">
               <p class="col s12">{{contractorRequest.description}} </p>
           </div>
           
           <div class="row">
             <div task package="contractorRequest" type="contractor"></div>
               
               <div class="col s5">
                   <ul class="card collection">
                       <div class="card-header">
                           <div class="row">
                               <div class="col s6">
                                   <a class='dropdown-button btn-flat' style="margin-top: 15px" data-gutter="15"
                                      data-activates='itemFilter' dropdown data-beloworigin="true" data-constrainwidth="false">
                                     {{(allItemsText) ? allItemsText : 'All items'}}<i class="mdi-navigation-arrow-drop-down"></i>
                                   </a>
                                     <ul id='itemFilter' class='dropdown-content' style="margin-top: 15px">
                                      <!-- <li>
                                      <a ng-click="showAll(); hideAll = true; showAll = true; showVariation = false; showDocument = false; showDefect = false; showDocument = false; showInvoice = false;">All ITEMS
                                      </a>
                                       </li> -->
                                       <li>
                                        <a ng-click="showVariations(); hideAll = true; showVariation = true; showDocument = false; showDefect = false; showDocument = false; showInvoice = false;">VARIATIONS
                                        </a>
                                       </li>
                                       <li><a ng-click="showDefects(); hideAll = true; showDefect = true; showDocument = false; showVariation = false; showInvoice = false;">DEFECTS</a></li>
                                       <li><a ng-click="showInvoices(); hideAll = true; showInvoice = true; showDefect = false; showVariation = false; showDocument = false;">INVOICES</a></li>
                                       <li><a ng-click="showDocument(); hideAll = true; showDocument = true; showVariation = false; showDefect = false; showInvoice = false;">DOCUMENTS</a></li>
                                     </ul>
                               </div>
                               <div class="col s6">
                                   <a class='dropdown-button btn-flat btn-flat right' style="margin-top: 15px;" data-gutter="-30" href='#'
                                      data-activates='relatedActions' dropdown data-beloworigin="true" data-constrainwidth="false">
                                       <i class="mdi-navigation-more-vert"></i>
                                   </a>
                                    <ul id='relatedActions' class='dropdown-content' style="margin-top: 15px">
                                       <li><a class="modal-trigger" href="#modal_attachVariation">Attach Variation</a></li>
                                       <li ng-if="currentTeam.type == 'buider'"><a class="modal-trigger" href="#modal_attachDefect">Attach Defect</a></li>
                                       <li><a class="modal-trigger" href="#modal_attachDocument">Attach Document</a></li>
                                       <li ng-if="currentTeam.type == 'contractor'"><a class="modal-trigger" href="#attachInvoice">Attach Invoice</a></li>
                                    </ul>
                               </div>
                           </div>
                       </div>
                       <div class="divider"></div>
                         <div style="height: 300px;" ng-hide="hideAll" ng-show="showAll">
                          
                          <li class="collection-item" ng-repeat="item in contractorRequest.variations" ng-if="contractorRequest.variations">
                            Variation - {{item.title}}
                          </li>
                          <li class="collection-item" ng-repeat="item in contractorRequest.defects" ng-if="contractorRequest.defects">
                            Defect - {{item.title}}
                          </li>
                          <li class="collection-item" ng-repeat="item in contractorRequest.invoices" ng-if="contractorRequest.invoices">
                            Invoices - {{item.title}}
                          </li>
                          <li class="collection-item" ng-repeat="file in documents" ng-if="documents">
                            Document - {{file.title}}</li>
                         </div>
                         <div style="height: 300px" ng-show="showVariation" ng-if="variations">
                             <li class="collection-item" ng-repeat="variation in variations.variations">{{variation.title}}</li>
                         </div>
                         <div style="height: 300px" ng-show="showDefect" ng-if="defects">
                             <li class="collection-item" ng-repeat="defect in defects.defects">{{defect.title}}</li>
                         </div>
                         <div style="height: 300px" ng-show="showInvoice" ng-if="invoices">
                             <li class="collection-item" ng-repeat="invoice in invoices.invoices">{{invoice.title}} - Total {{invoice.total}}</li>
                         </div>
                         <div style="height: 300px" ng-show="showDocument" ng-if="files">
                            <li class="collection-item" ng-repeat="file in files">{{file.title}}</li>
                         </div>
                   </ul>
               </div>
           </div>
           
           <div class="row">
               <div class="col s12">
                   <ul class="card collection">
                       <div class="card-header">
                           <div class="row">
                               <div class="col s6">
                                   <div class="col s6">
                                       <a class='dropdown-button btn-flat' data-gutter="5" style="margin-top: 15px" href='#'
                                          data-activates='threadSelector' dropdown data-beloworigin="true">
                                         THREAD NAME<i class="mdi-navigation-arrow-drop-down"></i>
                                       </a>
                                         <ul id='threadSelector' style="margin-top: 15px"  class='dropdown-content'>
                                           <li><a href="#!">THREAD 1<span class="new badge">4</span></a></li>
                                           <li><a href="#!">THREAD 2</a></li>
                                           <li><a href="#!">THREAD 3<span class="new badge">1</span></a></li>
                                         </ul>
                                   </div>
                               </div>
                               <div class="col s6">
                                   <a class='dropdown-button btn-flat btn-flat right' style="margin-top:15px" data-gutter="-30" href='#'
                                      data-activates='chatActions' dropdown data-beloworigin="true" data-constrainwidth="false">
                                       <i class="mdi-navigation-more-vert"></i>
                                   </a>
                             
                                    <ul id='chatActions' class='dropdown-content' style="margin-top:15px">
                                       <li><a href="#!" class="activator">New Thread</a></li>
                                       <li><a href="#!">two</a></li>
                                       <li><a href="#!">three</a></li>
                                    </ul>
                               </div>
                           </div>
                       </div>
                       <div class="divider"></div>
                       <div style="height: 500px">
                           
                         <li class="collection-item">
                             <div class="row valign-wrapper" style="margin-bottom: -5px">
                                 <a href="#!" class="btn-flat col s1">
                                     <i class="mdi-toggle-radio-button-on valign center-align" ></i>
                                 </a>
                                 
                                 <p class="col s9 valign"></p>
                                 
                                 <img src="images/yuna.jpg" alt="" class="circle col s2 right valign center-align" />
                             </div>
                         </li>
                         
                       </div>
                       <div class="divider"></div>
                       <div class="col s12 card-footer" style="height: 150px">
                           <div class="row">
                               <form class="col s10 offset-s1">
                                   <div class="input-field col s9">
                                     <textarea id="textarea1" class="materialize-textarea"></textarea>
                                     <label for="textarea1">Send a Message...</label>
                                   </div>
                                   <div class="input-field col s3">
                                       <button class="btn-large waves-effect waves-light" type="submit" style="margin-top: 47px" name="action">Send
                                         <i class="mdi-content-send right"></i>
                                       </button>
                                   </div>
                               </form>
                           </div>
                       </div>
                       <div class="card-reveal">
                         <span class="card-title grey-text text-darken-4">New Thread<i class="mdi-navigation-close right"></i></span>
                         <form class="col s12">
                                <div class="input-field col s12">
                                    <input id="thread_name" type="text">
                                    <label for="thread_name">Name</label>
                               </div>
                          </form>
                       </div>
                   </ul>
               </div>
           </div>

<div id="modal_attachVariation" class="modal modal-fixed-footer">
    <div class="modal-content">
        <form method="POST">
             <div class="row">
                 <div class="col s12">
                     <h5>New Variation for Contractor Package {{contractorRequest.name}}</h5>
                 </div>
             </div>
             <div class="row valign-wrapper">
                 <div class="input-field col s8 offset-s2">
                     <input id="project_name" type="text" class="validate valign" ng-model="variation.title">
                     <label for="project_name">Variation Title</label>
                 </div>
                 
             </div>
             <div class="row">
                 <div class="input-field col s8 offset-s2">
                    <textarea id="variation_description" class="materialize-textarea" ng-model="variation.description"></textarea>
                    <label for="variation_description">Description of Variation</label>
                 </div>
             </div>
         </form>
    </div>
    <div class="modal-footer">
         <a href="#!" ng-click="sendVariation()" class="modal-action modal-close waves-effect waves-green btn-flat ">Send Variation!</a>
         <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
    </div>
</div>

<div id="modal_attachDocument" class="modal modal-fixed-footer">
    <div class="modal-content">
         <div class="row">
             <h5 class="col s12">Attach a Document to Contractor Package {{contractorRequest.name}}</h5>
         </div>
         <upload></upload>
    </div>
</div>

<div id="modal_attachDefect" class="modal modal-fixed-footer">
    <div class="modal-content">
        <form method="POST">
             <div class="row">
                 <div class="col s12">
                     <h5>New Defect for Contractor Package {{contractorRequest.name}}</h5>
                 </div>
             </div>
             <div class="row valign-wrapper">
                 <div class="input-field col s6">
                     <input id="defect_title" type="text" class="validate valign" ng-model="defect.title">
                     <label for="defect_title">Defect Title</label>
                 </div>
                 <div class="input-field col s6">
                     <input id="defect_location" type="text" class="validate valign" ng-model="defect.location">
                     <label for="defect_location">Location of the Defect</label>
                 </div>
             </div>
             <div class="row">
                 <div class="input-field col s12">
                    <textarea id="defect_description" class="materialize-textarea" ng-model="defect.description"></textarea>
                    <label for="defect_description">Description of Defect</label>
                 </div>
             </div>
         </form>
    </div>
    <div class="modal-footer">
         <a href="#!" ng-click="sendDefect()" class="modal-action modal-close waves-effect waves-green btn-flat ">Send Defect!</a>
         <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
    </div>
</div>

<div id="attachInvoice" class="modal modal-fixed-footer">
    <div class="modal-content">
    <form method="POST">
       <div class="row">
         <div class="col s12">
           <h5>New Invoice for Builder Package {{contractorRequest.name}}</h5>
         </div>
       </div>
       <div class="row">
         <div class="input-field col s12">
                 <input id="project_name" type="text" class="validate" ng-model="invoice.title">
                 <label for="project_name">Invoice Title</label>
             </div>
       </div>
       <div class="row">
         <div class="col s12">
          <ul class="collection z-depth-1">
            <li class="collection-item vlalign-wrapper">
              <div class="row" style="margin-bottom: 0px">
                <div class="col s6 valign center-align background-hover">
                  <a ng-click="addLineWithRate()" class="waves-effect waves-light btn-flat">Add Line with Rate</a>
                </div>
                <div class="col s6 valign center-align background-hover">
                  <a ng-click="addLineWithPrice()" class="waves-effect waves-light btn-flat">Add Line with Price</a>
                </div>
              </div>
            </li>
            <li class="collection-item vlalign-wrapper">
              <div class="row form" style="margin-bottom: 0px" ng-repeat="lineWithRate in lineWithRates track by $index">
                <div class="input-field col s6">
                   <textarea value="This is a line item with Rate - note the field for qty is editable"id="description" class="materialize-textarea" ng-model="rate.lineWithRate.rateDescription[$index]" required></textarea>
                       <label for="description">Description of Item</label>
                    </div>
                <div class="input-field col s2" style="margin-top: 67px">
                        <input id="rate" type="text" class="validate" ng-model="rate.lineWithRate.rate[$index]" required>
                        <label for="rate">Rate</label>
                    </div>
                <div class="input-field col s1" style="margin-top: 67px">
                        <input id="quantity" type="text" class="validate" ng-model="rate.lineWithRate.rateQuantity[$index]" required>
                        <label for="quantity">Qty</label>
                    </div>
                <div class="input-field col s2" style="margin-top: 67px">
                        <input disabled id="quantity" type="text" class="validate" ng-model="rate.lineWithRate.rateTotal[$index]">
                        <label for="quantity">Line Total {{rate.lineWithRate.rate[$index] * rate.lineWithRate.rateQuantity[$index]}}</label>
                    </div>
                <div class="input-field col s1" style="margin-top: 67px">
                        <i class="small mdi-action-highlight-remove" ng-click="removeLineWithRate($index)"></i>
                    </div>
              </div>
            </li>
            <li class="collection-item vlalign-wrapper">
              <div class="row form" style="margin-bottom: 0px" ng-repeat="lineWithPrice in lineWithPrices track by $index">
                <div class="input-field col s6">
                   <textarea value="This is a line item with Price - the Qty field is set to 1 and only price can be changed."id="description" class="materialize-textarea" ng-model="price.lineWithPrice.description[$index]" required></textarea>
                       <label for="description">Description of Item</label>
                    </div>
                <div class="input-field col s2" style="margin-top: 67px">
                        <input id="rate" type="text" class="validate" ng-model="price.lineWithPrice.price[$index]" required>
                        <label for="rate">Price</label>
                    </div>
                <div class="input-field col s1" style="margin-top: 67px">
                        <input disabled value="1" id="quantity" type="text" class="validate" ng-model="price.lineWithPrice.quantity[$index]">
                        <label for="quantity">1</label>
                    </div>
                <div class="input-field col s2" style="margin-top: 67px">
                        <input disabled id="quantity" type="text" class="validate" ng-model="price.lineWithPrice.total[$index]">
                        <label for="quantity">Line Total {{price.lineWithPrice.price[$index]}}</label>
                    </div>
                <div class="input-field col s1" style="margin-top: 67px">
                        <i class="small mdi-action-highlight-remove" ng-click="removeLineWithPrice($index)"></i>
                    </div>
              </div>
            </li>
            </ul>
         </div>
       </div>
       <div class="row" style="margin-top: 50px">
         <div class="col s6 valign">
           <div class="file-field input-field">
               <!-- <input class="file-path validate" type="text"/> -->
               <div ng-show="uploader.queue.length" class="form-group">
                <div ng-repeat="item in uploader.queue">
                  <div class="row">
                    <div class="input-field col s8 offset-s2">
                      <input type="text" ng-model="item.file.name">
                      <label for="">File name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s8 offset-s2">
                    </div>
                  </div>
                </div>
              </div>
               <div class="btn tooltipped" data-position="top" data-delay="1" data-tooltip="Attach a File"><i class="mdi-editor-attach-file"></i>
                 <input type="file" nv-file-select="" uploader="uploader" />
               </div>
             </div>
         </div>
         <div class="input-field col s2 offset-s3" style="margin-top: -40px">
                <p>Sub-Total: {{subTotalRate + subTotalPrice}}</p>
            <p>GST: {{(subTotalRate + subTotalPrice) * 0.1}}</p>
            <p>Total: {{(subTotalRate + subTotalPrice) * 0.1 + (subTotalRate + subTotalPrice)}}</p>
             </div>
       </div>
       
     </form>
    </div>
  <div class="divider"></div>
    <div class="modal-footer">
     <a href="#!" ng-click="sendInvoice();uploadAll();" class="modal-action modal-close waves-effect waves-green btn-flat ">Send Invoice!</a>
     <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
    </div>
</div>