<md-dialog aria-label="Attach an Scope" flex="70">
    <form name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit the Scope</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-padding>
                
                <div layout="column">
                    <p class="md-body-2">Describe the scope:</p>
                    <div layout="row">
                        <md-input-container flex-offset="15" flex="66">
                            <label for="">Scope Description</label>
                            <textarea ng-model="tender.description" columns="1" rows="5" required md-maxlength="300"></textarea>
                        </md-input-container>
                    </div>
                </div>

                <div layout="column">
                    <p class="md-body-2">Set a due date for the tender, and attach any relevant file:</p>
                    <div layout="row" class="tagcloud-selection" layout-align="center center">
                        <md-datepicker ng-model="tender.dateEnd" md-min-date="minDate" md-placeholder="Tender Due Date" style="margin-right: 5vh"></md-datepicker>
                    </div> 
                </div>
                
            </div>
        </md-dialog-content>
        
        <md-dialog-actions>
            <md-button ng-click="cancelDialog()">Cancel</md-button>
            <md-button ng-click="attachScope()" class="md-primary">Send Addendum</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>