{% extends 'layouts/default.html' %}

{% block content %}

<p>You or someone have requested to change your email to <%= emailChange %> for your account at Buiilt.com</p>
<p></p>
<p>Please visit this url to change your email and re-login. </p>
<p></p>
<p><a href="<%= confirmation %>" ><%= confirmation %></a></p>
<p></p>
<p>If you received this email in error, you can safely ignore this email.</p>
<p>
  Love, <br/>
  Team buiilt
  <br/>
  <a href="http://www.slicktalk.com">www.buiilt.com</a>
</p>

{% endblock %}