{% extends 'layouts/default.html' %}

{% block content %}
<p>
  <%= team.name %> has invited you to send quote for contractor package <%= contractorPackage.name %>
</p>

<div>
  <h6>Contractor package detail</h6>
    <table style="width:100%">
        <thead>
            <th>#</th>
            <th>Description</th>
        </thead>
        <tbody>
            {% for description in contractorPackage.descriptions %}
            <tr>
                <td style="text-align:center"><%= loop.index %></td>
                <td style="text-align:center"><%= description %></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<p>
    Please click <a href="<%= registryLink %>">here</a> to sign up first.

  <br/>
  Feel free to contact us at <a href="mailto:admin@buiilt.com">admin@buiilt.com</a> if you have any questions.
</p>

<p>
  Love, <br/>
  Team buiilt
  <br/>
  <a href="http://www.buiilt.com">www.buiilt.com</a>
</p>

{% endblock %}