{% extends 'layouts/default.html' %}

{% block content %}
<p>
    This is a daily email to <%= user.firstName %> <%= user.lastName %>.
</p>
<p>
    You have <%= request.totalNotifications %> notification(s) unread.
    And <%=  request.totalTaskInNext3Days %> need to complete in the next 3 days.
</p>
<div style="margin-left: 10px;">
    {% for detail in request.links %}
        <p><strong><%= loop.index %></strong></p>    
        <p><strong><%= detail.type %></strong></p>    
        <p>You can <a href="<%= detail.link %>">click here</a> to view detail of this notification.</p>
        <hr>
        </br>
    {% endfor %}
</div>

{% endblock %}