{% extends 'layouts/default.html' %}

{% block content %}
<body itemscope itemtype="http://schema.org/EmailMessage" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em; background-color: #f6f6f6; margin: 0;" bgcolor="#f6f6f6">
    <p>
        Hi <%= invitee.name %>,
    </p>
    <p>
        Please join our project <%=project.name%> on buiilt.
    </p>
    <p>
        So that you do not miss vital information, follow the link below to be attached to the project: <a href="<%=link%>"><%=link%></a>
    </p>

    <p>Regards,</p>
    <p><%=inviter.name%></p>
    <p><%=team.name%></p>
    <p><%=inviter.email%> | <%=inviter.phoneNumber%></p>
    <p>This email has been sent you from buiilt.com.au on behalf of <%=inviter.email%></p>
</body>

{% endblock %}