{% extends 'layouts/default.html' %}

{% block content %}
<p>
  <%= team.name %> invites you to become home owner for project <%= project.name %>
</p>

<p>
  Your account will be create after you click <a href="<%= registryLink %>">this</a> link.
  Then you need to create team with type is <strong>home owner</strong>.
  <br/>
  Feel free to contact us at <a href="mailto:admin@slicktalk.com">admin@buiilt.com</a> if you have any questions.
</p>

<p>
    Love, <br/>
    Team buiilt
    <br/>
    <a href="http://www.buiilt.com">www.buiilt.com</a>
  </p>

{% endblock %}