nav {
    background-color: #03A9F4;
}
footer.page-footer {
    background-color: #03A9F4;
}

.btn, .btn-large {
    background-color: #FFC107
}
.btn:hover, .btn-large:hover {
    background-color: #ffc721
}

.tabs .tab a {
    color: #03A9F4;
}
.tabs .tab a:hover {
    color: #60ccfd;
}
.tabs .indicator {
    background-color: #B3E5FC;
}

.dropdown-content li > a{
    color: #03A9F4
}

.collection a.collection-item {
    color: #FFC107
}

span.badge.new {
    background-color: #FFC107
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #FFC107;
    box-shadow: 0 1px 0 0 #FFC107;
}

input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #FFC107;
}

._720kb-tooltip {
    background: rgb(238, 110, 115)
}
._720kb-tooltip-caret:before {
    border: 6px solid rgb(238, 110, 115);
}
.formContractors{
  padding:20px;
}
.formContractors .md-chips .md-chip-input-container{
  padding-left:0px
}
.md-button{margin-left:0px;}
.formContractors md-input-container{padding-bottom:0px}
.formContractors .md-chips .md-chip .md-chip-remove md-icon{
  top:38%;
}
.formContractors .autocomplete{
  margin:10px 0px
}
main.container{
  margin-top: 15px;
  width: 80%;

}

table.team {
    background-color: #FFF;
}

.overlay-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    opacity: .25;
    z-index: 999;
    text-align: center;
    overflow: hidden;
}

.overlay-bg i {
    font-size: 100px;
    color : #FFF;
    z-index: 1000;
    margin-top:20%
}

.header {
    color : #ee6e73;
    font-weight: bold;
}

.tab-content {
    padding : 20px
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    margin-top: 45px;
    background-color: #ffffff;
}