._720kb-tooltip {
    background: #03A9F4
}
._720kb-tooltip-caret:before {
    border: #03A9F4;
}
.formContractors{
  padding:20px;
}
.formContractors .md-chips .md-chip-input-container{
  padding-left:0px
}
.md-button{margin-left:0px;}
.formContractors md-input-container{padding-bottom:0px}
.formContractors .md-chips .md-chip .md-chip-remove md-icon{
  top:38%;
}
.formContractors .autocomplete{
  margin:10px 0px
}
main.container{
  margin-top: 15px;
  width: 80%;

}

table.team {
    background-color: #FFF;
}

.overlay-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    opacity: .25;
    z-index: 999;
    text-align: center;
    overflow: hidden;
}

.overlay-bg i {
    font-size: 100px;
    color : #FFF;
    z-index: 1000;
    margin-top:20%
}

.header {
    color : #ee6e73;
    font-weight: bold;
}

.tab-content {
    padding : 20px
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    margin-top: 45px;
    background-color: #ffffff;
}

.completed {
    text-decoration: line-through;
}

ul.notifications li .highlight, .highlight {
    color :#FFC107
}
ul.notifications li div.read {
    opacity: 0.4;
}

p.validate-message {
    color: #F44336;
    opacity: 1;
    transition: .2s opacity ease-out, .2s color ease-out;
    font-size: 0.8rem;
}

ul#itemActions {
    left : 986.0625px !important;
}

ul#relatedActions {
    left :212.265625px !important
}
ul#chatActions {
    left : 875.671875px !important
}

.current-assign {
    min-height: 87.5px;
}
.available-assign {
    min-height: 87.5px;
    margin-top: 10px;
}

span.disabled {
    color : #b3b3b3
}

.card.admin, .card.admin a {
  background-color: #FFC107;
  color: #FFF;
}

.modal {
  top : 5% !important;
}

.btn-flat.active {
  font-size: 12px;border: solid 1px #dedede;border-radius: 5px;
}

.scrollbar-dynamic {
    max-height: 300px;
    overflow: auto;
}

.collection.list span a, .collection.list a{
  color: #000 !important;
}