._720kb-tooltip {
    background: #03A9F4
}
._720kb-tooltip-caret:before {
    border: #03A9F4;
}
.formContractors{
  padding:20px;
}
.formContractors .md-chips .md-chip-input-container{
  padding-left:0px
}
.md-button{margin-left:0px;}
.formContractors md-input-container{padding-bottom:0px}
.formContractors .md-chips .md-chip .md-chip-remove md-icon{
  top:38%;
}
.formContractors .autocomplete{
  margin:10px 0px
}
main.container{
  margin-top: 15px;
  width: 80%;

}

table.team {
    background-color: #FFF;
}

.overlay-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    opacity: .25;
    z-index: 999;
    text-align: center;
    overflow: hidden;
}

.overlay-bg i {
    font-size: 100px;
    color : #FFF;
    z-index: 1000;
    margin-top:20%
}

.header {
    color : #ee6e73;
    font-weight: bold;
}

.tab-content {
    padding : 20px
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    margin-top: 45px;
    background-color: #ffffff;
}

.completed {
    text-decoration: line-through;
}

ul.notifications li .highlight {
    color :#FFC107
}
ul.notifications li div.read {
    opacity: 0.4;
}