<div class="row" style="margin-top: 18px">
   <h5 class="col s8">Contractor Package {{materialRequest.name}} in Progress</h5>
   
   <div class="col s4" style="margin-top:15px">
       <a class='dropdown-button btn-flat right tooltipped' data-position="top" data-delay="1" data-tooltip="Attach..." href='#' data-activates='itemActions' data-gutter="-30">
        <i class="mdi-navigation-more-vert"></i>
       </a>

       <!-- Dropdown Structure -->
       <ul id='itemActions' class='dropdown-content'>
       <li><a class="modal-trigger" href="#attachQuote">Attach Quote</a></li>
       </ul>
   </div>
 </div>
 
 <div class="row">
   <p class="col s12">{{materialRequest.description}}</p>
 </div>
 
 <div class="row">
   <div class="col s12">
     <ul class="card collection">
       
       <div style="height: 500px">
         
       <li class="collection-item">
         <div class="row valign-wrapper" style="margin-bottom: -5px">
           <a href="#!" class="btn-flat col s1">
             <i class="mdi-toggle-radio-button-on valign center-align" ></i>
           </a>
           
           <p class="col s9 valign">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<br /> Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
           
           <img src="images/yuna.jpg" alt="" class="circle col s2 right valign center-align" />
         </div>
         </li>
       
       <li class="collection-item">
         <div class="row valign-wrapper" style="margin-bottom: -5px">
           <a href="#!" class="btn-flat col s1">
             <i class="mdi-toggle-radio-button-on valign center-align" ></i>
           </a>
           
           <p class="col s9 valign">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<br /> Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
           
           <img src="images/yuna.jpg" alt="" class="circle col s2 right valign center-align" />
         </div>
         </li>
       
       <li class="collection-item">
         <div class="row valign-wrapper" style="margin-bottom: -5px">
           <a href="#!" class="btn-flat col s1">
             <i class="mdi-toggle-radio-button-on valign center-align" ></i>
           </a>
           
           <p class="col s9 valign">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<br /> Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
           
           <img src="images/yuna.jpg" alt="" class="circle col s2 right valign center-align" />
         </div>
         </li>
       
       </div>
       <div class="divider"></div>
       <div class="col s12 card-footer" style="height: 150px">
         <div class="row">
             <form class="col s10 offset-s1">
                 <div class="input-field col s9">
                   <textarea id="textarea1" class="materialize-textarea"></textarea>
                   <label for="textarea1">Send a Message...</label>
             </div>
             <div class="input-field col s3">
                 <button class="btn-large waves-effect waves-light" type="submit" style="margin-top: 47px" name="action">Send
                   <i class="mdi-content-send right"></i>
                 </button>
                 </div>
             </form>
         </div>
       </div>
         <div class="card-reveal">
               <span class="card-title grey-text text-darken-4">New Thread<i class="mdi-navigation-close right"></i></span>
       <form class="col s12">
          <div class="input-field col s12">
                  <input id="thread_name" type="text">
                  <label for="thread_name">Name</label>
               </div>
        </form>
             </div>
       </ul>
   </div>
 </div>

<div class="row">
  <h4>Project detail</h4>
  <h5>{{materialRequest.project.name}}</h5>

  <p>{{materialRequest.project.description}}</p>

  <h4>Quote request detail</h4>
  <h5>{{materialRequest.name}}</h5>
  <p>{{materialRequest.description}}</p>
  <form method="POST" name="sendQuoteToBuilder" ng-submit="sendQuote()" ng-if="currentUser">
      <div class="row">
          <div class="input-field col s12">
              <textarea name="" id="" ng-model="quoteRequest.description" required></textarea>
              <label for="">Description</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
              <input type="number" ng-model="quoteRequest.price" required>
              <label for="">Price in USD</label>
          </div>
      </div>
      <div class="row" ng-if="currentUser">
          <button class="waves-effect waves-light btn" ng-disabled="sendQuoteToBuilder.$invalid">Send quote</button>
      </div>
      
  </form>
  <div ng-if="currentUser.email == null || currentUser.email == ''">
    <a href="#signin" class="waves-effect waves-light btn modal-trigger">Login</a>
     <!-- or <a href="#signupAndSendQuoteContractor" class="waves-effect waves-light btn modal-trigger">Registry</a> -->
  </div>
</div>

<div id="signin" class="modal modal-fixed-footer">
  <div class="modal-content">
    <form method="post" ng-submit="signin()" style="padding:10px;">
      <h3>Login</h3>
      <div layout layout-sm="column">
        <div input-field>
          <label>Email</label>
          <input ng-model="user.email" type="text" required>
        </div>
      </div>
      <div layout layout-sm="column">
        <div input-field>
          <label>Password</label>
          <input ng-model="user.password" required type="password">
        </div>
      </div>

      <div layout layout-sm="column">
        <button class="waves-effect waves-light btn" id="btn-login">Login</button>
      </div>
      <div class="divider"></div>
      <div class="modal-footer">
        <!-- <button class="waves-effect waves-light btn" ng-disabled="createContractorPackageForm.$invalid">Create Package!</button> -->
           <!-- <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Create Package!</a> -->
       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
      </div>
    </form>
  </div>
</div>

<div id="signupAndSendQuoteContractor" class="modal modal-fixed-footer">
  <div class="modal-content">
    <form method="post" ng-submit="signupAndSendQuoteContractor()" name="signupForm" >
      <h3>Registry</h3>
      <div class="row">
        <div input-field class="col s12">
          <label>Email</label>
          <input type="email" ng-model="user.email" required>
        </div>
      </div>
      <div class="row">
        <div input-field class="col s12">
          <label>Password</label>
          <input ng-model="user.password" required type="password">
        </div>
      </div>
      <div class="row">
        <button class="waves-effect waves-light btn" id="btn-signup" ng-disabled="signupForm.$invalid">Sign up</button>
      </div>
      <div class="divider"></div>
      <div class="modal-footer">
        <!-- <button class="waves-effect waves-light btn" ng-disabled="createContractorPackageForm.$invalid">Create Package!</button> -->
           <!-- <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Create Package!</a> -->
       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
      </div>
    </form>
  </div>
</div>

<script>
  $(document).ready(function(){
    
    $('.modal-trigger').leanModal({
          dismissible: true, // Modal can be dismissed by clicking outside of the modal
          opacity: .5, // Opacity of modal background
          in_duration: 300, // Transition in duration
          out_duration: 200, // Transition out duration // Callback for Modal open
        }
      );
    });

    $('#btn-login').click(function() {
      $('.modal-trigger').closeModal();
    });

    $('#btn-signup').click(function() {
      $('.modal-trigger').closeModal();
    });

</script>

