<div class="detail-header" layout-padding layout="row">
    <p class="md-headline">Invitees</p>
</div>


<md-list ng-cloak class="main-page-content">
	<div ui-sref="tender.invitees.detail({tenderId: tender._id, inviteeId: member._id})" ng-repeat="member in tender.members">
		
		<md-list-item class="md-2-line" md-ink-ripple>
            <div class="md-list-item-text" ng-show="member.user" layout="column">
                <h3>{{member.user.name}}</h3>
                <p>{{member.user.email}}</p>
            </div>
            <div class="md-list-item-text" ng-show="!member.user" layout="column">
                <h3>{{member.email}}</h3>
                <p>This tender invitee has not registered yet.</p>
            </div>
		</md-list-item>
		<md-divider></md-divider>
		
	</div>
</md-list>

<div>
    <md-fab-speed-dial ng-cloak md-open="false" md-direction="up" class="md-scale md-fab-bottom-right fab-list" ng-show="tender.owner._id==currentUser._id"  ng-click="showModal($event, 'invite-tender.html')">
        <md-fab-trigger>
            <md-button aria-label="Add an Item to this Project" class="md-fab md-primary">
                <md-tooltip md-direction="left">Invite a Tenderer...</md-tooltip>
                <md-icon class="material-icons" >add</md-icon>
            </md-button>
        </md-fab-trigger>
    </md-fab-speed-dial>
</div>
