<!-- <div ng-if="documents || documents == null || documents == ''" ng-repeat="document in documents">
    <div class="col s4">
        <div class="card">
            <div class="card-image">
                <img src="../../media/img/sample-1.jpg" alt="">
            </div>
            <div class="card-action">
                <p>{{document.name}} <span><em>Revision {{document.version}} of #</em></span></p>
                <a href='#' class="activator">Upload Revision</a>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{document.name}} <i class="mdi-navigation-close right"></i></span>
                <form action="#">
                    <upload document-id="document._id"></upload>
                </form>
            </div>
        </div>
    </div>
</div> -->
<div ng-repeat="file in files">
    <div class="col s4">
        <div class="card">
            <div class="card-image">
                <img src="../../media/img/sample-1.jpg" alt="">
            </div>
            <div class="card-action">
                <p>{{file.title}} <span><em>Revision {{file.version}} of #</em></span></p>
                <a href='#!' class="activator">Upload Revision</a>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{file.title}} <i class="mdi-navigation-close right"></i></span>
                <form action="#">
                    <upload file-id="file._id"></upload>
                </form>
            </div>
        </div>
    </div>
</div>