<div class="detail-header" layout-padding layout="column">

	<div layout="column" layout-padding>
		
		<div layout="row">
			<md-input-container flex="50" style="margin-bottom: -2vh">
				<label for="">Message Thread Name</label>
				<input type="text" name="messageThreadName" ng-model="name" md-autofocus>
			</md-input-container>
			
			<md-input-container flex="50" style="margin-bottom: -2vh">
				<label for="">Message Thread Recipients</label>
				<input type="text" name="messageThreadRecipients" ng-model="recipient">
			</md-input-container>
			
		</div>
		
		<div layout="row" layout-align="center center">
			<md-input-container flex="60" style="margin-bottom: -2vh">
				<label for="">Message Replies</label>
				<input type="text" name="messageReplies" ng-model="reply">
			</md-input-container>
		</div>

		<div layout="row">
			<p>Projects:</p>
			<div flex layout="row" layout-align="center center" class="tagcloud-selection" layout-wrap>
				<span ng-repeat="tag in projects" ng-class="{'available-tag': !tag.select, 'selected-tag': tag.select}" ng-click="selectFilterTag(	$index, 'project')">{{tag.name}}</span>
			</div>
		</div>
		
	</div>
	
</div>

<md-list ng-cloak class="main-page-content">

	<div ng-repeat="thread in myMessages | filter: searchThread track by $index">
		<md-list-item class="md-3-line" md-ink-ripple>
			<div class="md-list-item-text" layout="column">
          		<h3 ng-click="openLocation(thread, 'thread')">{{ thread.name }}({{thread.element.notifications.length}})</h3>
          		<div layout="row">
          			<div flex="70" layout="row" class="tagcloud-selection" layout-wrap>
          				Assignees: <span class="selected-tag" ng-repeat="member in thread.members">{{(member._id==currentUser._id) ? "me" : member.name}}</span> <span class="available-tag" ng-repeat="email in thread.notMembers">{{email}}</span>
          			</div>
          			<div>
		        		<md-button class="md-primary" ng-click="showReplyModal($event, thread)">Reply</md-button>
		        		<md-button class="md-primary" ng-click="viewReplyModal($event, thread)">View Reply</md-button>
          			</div>
          		</div>
          		<p>
          			<span ng-repeat="notification in thread.element.limitNotifications">
          				<span ng-show="notification.type=='thread-assign'">
          					{{(notification.fromUser._id==currentUser._id) ? "Me" : notification.fromUser.name}} has assigned <span ng-repeat="member in thread.members">{{(member._id==currentUser._id) ? "me" : member.name}}, </span>
							<span ng-repeat="email in thread.notMembers">{{email}}, </span>
          				</span>
	          			<span ng-show="notification.type=='thread-message'">
	          				{{(notification.fromUser._id==currentUser._id) ? "Me" : notification.fromUser.name}} has sent a reply: "{{notification.message}}".
	          			</span>
          			</span><span ng-show="{{thread.element.notifications.length - thread.element.limitNotifications.length > 0}}">... +({{thread.element.notifications.length - thread.element.limitNotifications.length}}) More</span>
          		</p>
	        </div>
		</md-list-item>
		<md-divider></md-divider>
	</div>
</md-list>