<div layout="row">
	<dashboard-sidenav tasks="myTasks" messages="myMessages" files="myFiles" documents="myDocuments" layout="column" flex="15">	
	</dashboard-sidenav>
	
	<div layout="column" flex="85" style="height: 90vh; overflow: scroll">
		
		<div class="filter-card md-whiteframe-1dp" layout="column" layout-margin>
			
			<div layout="row">
				<md-input-container flex md-no-float class="md-block md-icon-float" style="margin-right: 15px">
					<md-icon class="material-icons" style="margin-top: 6px;">search</md-icon>
					<input id="im_DashSearchTask" type="text" name="taskDescription" ng-model="description" placeholder="Search by task name...">
				</md-input-container>
				
				<div>
					<md-button id="im_DashFilterTask" class="md-icon-button more-filter-button" ng-click="showFilter=!showFilter">
						 <md-tooltip md-direction="down">Show Filters</md-tooltip>
					     <md-icon class="material-icons">filter_list</md-icon>
			      	</md-button>
				</div>
			</div>
			
			<div layout="row" ng-show="showFilter">
				<div layout="row" flex="40" layout-align="center center" layout-wrap layout-padding>
					<md-checkbox class="filter-checkbox md-primary" ng-repeat="tag in assignStatus" ng-click="selectFilterTag($index, 'status')">{{ tag.text }}</md-checkbox>
				</div>
			
				<div layout="row" flex layout-align="center center"  layout-wrap layout-padding>
					<md-checkbox class="filter-checkbox md-primary" ng-repeat="tag in dueDate" ng-click="selectFilterTag($index, 'dueDate')">{{ tag.text }}</md-checkbox>
				</div>
			</div>

			<md-divider></md-divider>

			<div layout="column" layout-padding flex id="calendar-content">
                <div class="calendar" ng-model="eventSources" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
            </div>
		</div>
	</div>
		
		<!-- <div layout="column">
			<div ui-calendar="config.calendar" ng-model="eventSources"></div> -->
			<!-- <md-list ng-cloak class="md-whiteframe-1dp content-list">
				<div ng-repeat="task in myTasks | filter: searchTask | unique: '_id' track by $index" ng-show="task.element.notifications.length > 0">
					<md-list-item class="md-2-line" md-ink-ripple layout-padding>
		
						<div ui-sref="project.tasks.detail({id: task.project._id, taskId: task._id})" class="md-list-item-text">
					
							<h3>{{ task.description }} - {{task.project.name}}</h3>
							<h4>Due: {{(task.dueDate) ? task.dueDate : task.dateEnd | date: 'dd/MM/yyyy'}} | Assignees: <span ng-repeat="member in task.members track by $index">{{member.name}}, </span><span ng-repeat="member in task.notMembers track by $index">{{member}}</h4>
							<p style="color: #2196F3">Updates: {{task.element.notifications.length}}</p>
					
						</div>
				
						<div>
				    		<md-button ng-show="!task.completed" class="md-secondary" ng-click="markComplete(task, index)"><md-icon class="material-icons">check</md-icon><md-tooltip md-direction="down">Mark As Complete</md-tooltip></md-button>
						</div>
				
					</md-list-item>
					<md-divider ng-hide="$last"></md-divider>
			
				</div>
	
				<div ng-repeat="task in myTasks | filter: searchTask | unique: '_id' track by $index" ng-show="task.element.notifications.length == 0">
					<md-list-item class="md-2-line" md-ink-ripple layout-padding>
						<div ui-sref="project.tasks.detail({id: task.project._id, taskId: task._id})" class="md-list-item-text">
					
							<h3>{{ task.description }} - {{task.project.name}}</h3>
							<h4>Due: {{(task.dueDate) ? task.dueDate : task.dateEnd | date: 'dd/MM/yyyy'}} | Assignees: <span ng-repeat="member in task.members track by $index">{{member.name}}, </span><span ng-repeat="member in task.notMembers track by $index">{{member}}</h4>
				
						</div>
				
						<div>
				    		<md-button ng-show="!task.completed" class="md-secondary" ng-click="markComplete(task)"><md-icon class="material-icons">check</md-icon><md-tooltip md-direction="down">Mark As Complete</md-tooltip></md-button>
						</div>
				
					</md-list-item>
					<md-divider ng-hide="$last"></md-divider>
			
				</div>
			</md-list> -->
		<!-- </div> -->
	
	<!-- <div>
		<md-fab-speed-dial ng-cloak md-open="true" md-direction="up" class="md-scale md-fab-bottom-right fab-list" ng-show="!isArchive">
			 <md-fab-trigger>
		  	      <md-button id="im_DashCalendarActions" aria-label="Actions" class="md-fab md-primary">
					  <md-tooltip md-direction="left">Actions...</md-tooltip>
				      <md-icon class="material-icons" >more_vert</md-icon>
		  	      </md-button>
		     </md-fab-trigger>
			 <md-fab-actions>
		  	       <md-button id="im_DashCalendarAddTask" aria-label="Add a Task" class="md-fab md-raised md-mini" ng-click="showNewTaskModal($event)">
					  	<md-tooltip md-direction="left">Add a Task</md-tooltip>
				      	<md-icon class="material-icons" >check</md-icon>
		  	      	</md-button>
			  	    <md-button id="im_DashCalendarAddActivity" aria-label="Add an Activity" class="md-fab md-raised md-mini" ng-click="">
						  <md-tooltip md-direction="left">Add an Activity</md-tooltip>
					      <md-icon class="material-icons">event</md-icon>
			        </md-button>
			  	    <md-button id="im_DashCalendarAddMilestone" aria-label="Add an Activity" class="md-fab md-raised md-mini" ng-click="">
						  <md-tooltip md-direction="left">Add a Milestone</md-tooltip>
					      <md-icon class="material-icons">timeline</md-icon>
			        </md-button>
		  	  </md-fab-actions>
	  	</md-fab-speed-dial>
	</div> -->
</div>