<div class="detail-header" layout-padding layout="column">
	
	<div layout="column" layout-padding>
		
		<div layout="row">
			<md-input-container flex="50">
				<label for="">Task Description</label>
				<input type="text" name="taskDescription" ng-model="description" md-autofocus>
			</md-input-container>
			
			<div flex="50" layout="row" layout-align="center center">
				<span class="md-body-2" style="margin-top: -2vh">Assigned:</span>
				<div class="tagcloud" style="margin-top: -2vh; margin-left: 2vh">
					<span ng-repeat="tag in assignStatus" ng-class="{'available-tag': !tag.select, 'selected-tag': tag.select}" ng-click="selectFilterTag($index, 'status')">{{tag.text}}</span>
				</div>
			</div>
			
		</div>
		
		<div layout="row">
			<div flex layout="row" layout-align="center center">
				<span class="md-body-2" style="margin-top: -2vh">Due:</span>
				<div class="tagcloud" style="margin-top: -2vh; margin-left: 2vh">
					<span ng-repeat="tag in dueDate" ng-class="{'available-tag': !tag.select, 'selected-tag': tag.select}" ng-click="selectFilterTag($index, 'dueDate')">{{tag.text}}</span>
				</div>
				<div style="margin-top: -2.5vh">
                    <md-datepicker  ng-model="dateEnd" ng-change="selectDueDate(dateEnd)" md-placeholder="Select due date">
                    </md-datepicker>
				</div>
			</div>
		</div>

		<div layout="row">
			<p>Projects:</p>
			<div flex layout="row" layout-align="center center" class="tagcloud-selection" layout-wrap>
				<span ng-repeat="tag in projects" ng-class="{'available-tag': !tag.select, 'selected-tag': tag.select}" ng-click="selectFilterTag(	$index, 'project')">{{tag.name}}</span>
			</div>
		</div>
		
	</div>
</div>

<md-list ng-cloak class="main-page-content">

	<div ng-repeat="task in myTasks | filter: searchTask track by $index">
		<md-list-item class="md-3-line" md-ink-ripple>
			<div class="md-list-item-text" layout="column">
		        <h3 ui-sref="project.tasks.detail({id: task.project._id, taskId: task._id})">{{ task.description }}({{task.element.notifications.length}})</h3>
		        <div layout="row">
		        	<div layout="row" flex="70">
		        		<div flex="30">
		        			<p>Due date: {{(task.dueDate) ? task.dueDate : task.dateEnd | date: 'MM/dd/yyyy'}}</p>
		        		</div>
		        		<div flex="70">
		        			<div layout="row" class="tagcloud-selection" layout-wrap>
		        				Assignees: <span class="selected-tag" ng-repeat="member in task.members">{{(member._id==currentUser._id) ? "me" : member.name}}</span> <span class="available-tag" ng-repeat="email in notMembers">{{email}}</span>
		        			</div>
		        		</div>
		        	</div>
		        	<div flex="30">
		        		<md-button ng-show="task.owner._id==currentUser._id" class="md-primary" ng-click="showEditTaskModal($event, task)">Edit</md-button>
		        		<md-button ng-show="!task.completed" class="md-primary" ng-click="markComplete(task)">Mark complete</md-button>
		        		<md-button ng-show="task.completed && task.owner._id==currentUser._id" class="md-primary" ng-click="markRead(task)">Mark read</md-button>
		        	</div>
		        </div>
		        <p>
		        	<span ng-repeat="notification in task.element.limitNotifications">
		        		<span ng-show="notification.type=='task-assign'">
		        			This task was assigned to <span ng-repeat="member in task.members">{{(member._id==currentUser._id) ? "me" : member.name}}, </span> <span ng-repeat="email in notMembers">{{email}}, </span>.
		        		</span>	
		        		<span ng-show="notification.type=='task-completed'">
		        			{{(notification.fromUser._id==currentUser._id) ? "You" : notification.fromUser.name}} has marked this task as complete.
		        		</span>
		        		<span ng-show="notification.type=='task-reopened'">
		        			{{(notification.fromUser._id==currentUser._id) ? "You" : notification.fromUser.name}} has marked this task as incomplete.
		        		</span>
		        	</span> <span ng-show="{{task.element.notifications.length - task.element.limitNotifications.length > 0}}">... +({{task.element.notifications.length - task.element.limitNotifications.length}}) More</span>
		        </p>
	        </div>
		</md-list-item>
		<md-divider></md-divider>
	</div>
</div>

<div>
	<md-fab-speed-dial ng-cloak md-open="false" md-direction="up" class="md-scale md-fab-bottom-right fab-list" ng-show="!isArchive">
	  	<md-fab-trigger>
  	      	<md-button aria-label="Add a New Task to this Project" class="md-fab md-primary" ng-click="showNewTaskModal($event)">
			  	<md-tooltip md-direction="left">Add a New Task</md-tooltip>
		      	<md-icon class="material-icons" >add</md-icon>
  	      	</md-button>
      	</md-fab-trigger>
  	</md-fab-speed-dial>
</div>