<div class="detail-header" layout-padding layout="column">
	
	<div layout="column">
		
		<div layout="row" layout-align="center center">
			<span class="md-body-2" style="margin-top:">Projects:</span>
			<div class="tagcloud-selection-mini" style="margin-left: 2vh" layout-wrap>
				<span ng-repeat="tag in projectFilterTags" ng-class="{'available-tag': !tag.select, 'selected-tag': tag.select}" ng-click="selectFilterTag(	$index, 'project')">{{tag.name}}</span>
			</div>
		</div>
		
		<div layout="row" layout-align="center center">
			<md-input-container flex="35">
				<label for="">File Name</label>
				<input type="text" name="fileName" ng-model="name" md-autofocus>
			</md-input-container>
			
			<div flex layout="row" layout-align="center center">
				<span class="md-body-2" style="margin-top: -2vh">File Type:</span>
				<div class="tagcloud" style="margin-top: -2vh; margin-left: 2vh">
					<span ng-repeat="tag in fileTags" ng-class="{'available-tag': !tag.select, 'selected-tag': tag.select}" ng-click="selectChip($index, 'file'); selectFileFilterTag(tag.name)">{{tag.name}}</span>
				</div>
			</div>
			
		</div>
		
	</div>

</div>

<md-list ng-cloak class="main-page-content">
	<div ng-repeat="file in myFiles |filter: searchFile track by $index" ng-show="file.element.type=='file'">
		<md-list-item class="md-3-line" md-ink-ripple layout-padding>
		
			<div flex="80" ng-click="openLocation(file, 'file')" class="md-list-item-text">
				
	          	<h3 class="md-display-1" style="margin-top: 15px"><span class="update-count">{{task.element.notifications.length}}</span> {{ file.name }}</h3>
				
				<p style="margin-top: 15px; margin-bottom: 15px">
					<span style="margin-right: 15px"><span class="available-tag">Project Name</span></span>
					<span>Assignees: <span class="available-tag" ng-repeat="member in file.members">{{(member._id==currentUser._id) ? "Me" : member.name}}</span> <span class="available-tag" ng-repeat="email in file.notMembers">{{email}}</span></span>
	          		<span style="margin-right: 15px">Tags: <span class="available-tag" ng-repeat="tag in file.tags">{{tag}}</span></span>
				</p>
          		
				<p ng-repeat="notification in file.element.limitNotifications"  style="margin-bottom: 15px; margin-left: 5px">
      				<span ng-show="notification.type=='file-assign'">
      					{{(notification.fromUser._id==currentUser._id) ? "You" : notification.fromUser.name}} assigned you to this file.
      				</span>
          			<span ng-show="notification.type=='file-upload-reversion'">
          				{{(notification.fromUser._id==currentUser._id) ? "You" : notification.fromUser.name}} uploaded a revision of this file.
          			</span>
          			<span ng-show="notification.type=='file-send-acknowledge'">
          				{{(notification.fromUser._id==currentUser._id) ? "You" : notification.fromUser.name}} sent an acknowledgement.
          			</span>
					<span ng-show="{{file.element.notifications.length - file.element.limitNotifications.length > 0}}">... +({{file.element.notifications.length - file.element.limitNotifications.length}}) More</span>
          		</p>
				
        		
				
	        </div>
	        <div flex="20">
	        	<md-button class="md-primary" ng-click="showViewFileModal($event, file)">View File</md-button>
        		<md-button class="md-primary" ng-click="markRead(file)">Mark Read</md-button>
	        </div>
		</md-list-item>
		<md-divider></md-divider>
	</div>
	
</div>