<div class="detail-header" layout-padding layout="column">
	
	<div layout="column" layout-padding>
		
		<div layout="row" flex layout-align="center center">
			<md-input-container flex="60" style="margin-bottom:-2vh">
				<label for="">Document Name</label>
				<input type="text" name="fileName" ng-model="name" md-autofocus>
			</md-input-container>
		</div>
		
		<div layout="row">
			<div flex layout="row" layout-align="center center">
				<span class="md-body-2" style="margin-top:2.5vh; margin-right: 2vh">Document Type:</span>
				<div class="tagcloud" layout-wrap>
					<span ng-class="{'available-tag': !tag.select, 'selected-tag': tag.select}" ng-repeat="tag in documentTags" ng-click="selectChip($index, 'document');selectDocumentFilterTag(tag.name)">{{tag.name}}</span>
				</div>
			</div>
		</div>

		<div layout="row">
			<p>Projects:</p>
			<div flex layout="row" layout-align="center center" class="tagcloud-selection" layout-wrap>
				<span ng-repeat="tag in projects" ng-class="{'available-tag': !tag.select, 'selected-tag': tag.select}" ng-click="selectFilterTag(	$index, 'project')">{{tag.name}}</span>
			</div>
		</div>
		
	</div>
</div>

<md-list ng-cloak class="main-page-content">

	<div ng-repeat="file in myFiles | filter: filterDocument track by $index" ng-show="file.element.type=='document'">
		<md-list-item class="md-3-line" md-ink-ripple>
			<div class="md-list-item-text" layout="column">
	          	<h3 ng-click="openLocation(file, 'document')">{{ file.name }}({{file.element.notifications.length}})</h3>
	          	<div layout="row">
	          		<div flex="70" layout="row">
	          			Tags: <span class="selected-tag" ng-repeat="tag in file.tags">{{tag}}</span>
	          		</div>
          			<div>
		        		<md-button class="md-primary" ng-click="showViewFileModal($event, file)">View File</md-button>
		        		<md-button class="md-primary" ng-click="markRead(file)">Mark Read</md-button>
          			</div>
          		</div>
          		<p>
          			<span ng-repeat="notification in file.element.limitNotifications">
          				<span ng-show="notification.type=='document-assign'">
          					{{(notification.fromUser._id==currentUser._id) ? "You" : notification.fromUser.name}} has assigned you to this file
          				</span>
	          			<span ng-show="notification.type=='document-upload-reversion'">
	          				{{(notification.fromUser._id==currentUser._id) ? "You" : notification.fromUser.name}} has uploaded a reversion of this file.
	          			</span>
	          			<span ng-show="notification.type=='document-send-acknowledge'">
	          				{{(notification.fromUser._id==currentUser._id) ? "You" : notification.fromUser.name}} has sent an acknowledgement.
	          			</span>
          			</span><span ng-show="{{file.element.notifications.length - file.element.limitNotifications.length > 0}}">... +({{file.element.notifications.length - file.element.limitNotifications.length}}) More</span>
          		</p>
	        </div>
		</md-list-item>
		<md-divider></md-divider>
	</div>
	
</div>