<div class="detail-header" layout-padding layout="column">

	<div layout="column" layout-padding>
		
		<div layout="row">
			<md-input-container flex="50" style="margin-bottom: -2vh">
				<label for="">Message Thread Name</label>
				<input type="text" name="messageThreadName" ng-model="name" md-autofocus>
			</md-input-container>
			
			<md-input-container flex="50" style="margin-bottom: -2vh">
				<label for="">Message Thread Recipients</label>
				<input type="text" name="messageThreadRecipients" ng-model="recipient">
			</md-input-container>
			
		</div>
		
		<div layout="row" layout-align="center center">
			<md-input-container flex="60" style="margin-bottom: -2vh">
				<label for="">Message Replies</label>
				<input type="text" name="messageReplies" ng-model="reply">
			</md-input-container>
		</div>
		
	</div>
	
</div>

<md-list ng-cloak class="main-page-content">

	<div ng-repeat="thread in myMessages | filter: searchThread track by $index" ng-click="openLocation(thread, 'thread')">
		<md-list-item class="md-2-line" md-ink-ripple>
			<div class="md-list-item-text" layout="column">
	          		<h3>{{ thread.name }}</h3>
          			<p ng-show="thread.element.notificationType=='thread-assign'">{{thread.element.fromUser.name}} has assign you to new thread</p>
          			<p ng-show="thread.element.notificationType=='thread-message'">{{thread.element.fromUser.name}} has sent you new message in thread {{thread.name}}</p>
	        </div>
		</md-list-item>
		<md-divider></md-divider>
	</div>
</div>