<md-dialog aria-label="Create a New File" flex="70">
    <form name="form" ng-submit="">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create a New Document</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-padding>
                <div layout="column" ng-show="step==1">
                    <p class="md-body-2">Which project should this file be added to:</p>
                    <md-input-container>
                        <label for="">Projects List</label>
                        <md-select ng-model="selectedProjectIndex">
                            <md-option ng-repeat="project in projects" ng-value="$index">{{project.name}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout="column" ng-show="step==2">
                    <p class="md-body-2">Select the document that you would like to upload:</p>
                    <div layout="row" layout-align="center center" class="tagcloud-selection">
                        <input filepicker type="filepicker-dragdrop" data-fp-services="computer, DROPBOX, gmail, skydrive, GOOGLE_DRIVE" on-success="onSuccess(event.fpfile)" data-fp-multiple="false"/>
                    </div>
                </div>
                
                <div layout="column" ng-show="step==2">
                    <p class="md-body-2">Provide a name for this file:</p>
                    <div layout="row">
                        <md-input-container flex="66" flex-offset="15">
                            <label for="">File Name</label>
                            <input type="text" ng-model="uploadFile.file.filename" required name="name">
                        </md-input-container>
                    </div>
                </div>
                
                <div layout="column" ng-show="step==3">
                    <p class="md-body-2">Select at least one tag that is relevant to this file:</p>
					
					<div layout="row" flex layout-align="center center" layout-wrap layout-padding>
						<md-checkbox class="filter-checkbox md-primary" ng-repeat="tag in fileTags" ng-click="selectChip($index, 'file')">{{ tag.name }}</md-checkbox>
					</div>
                </div>
                
                <div layout="column" ng-show="step==3">
                    <p class="md-body-2">Select the team members who are able to view this file:</p>
					
					<div layout="row" flex layout-align="center center" layout-wrap layout-padding>
						<md-checkbox class="filter-checkbox md-primary" ng-repeat="member in projectMembers" ng-click="selectMember($index)">{{(member._id) ? member.name : member.email}}</md-checkbox>
					</div>
                </div>
                
            </div>
        </md-dialog-content>
        
        <md-dialog-actions>
            <md-button ng-click="closeModal()">Cancel</md-button>

            <md-button ng-click="step=step-1" ng-hide="step==1">Back</md-button>
            <md-button ng-click="next('createDocument')" ng-hide="step==3">Next</md-button>

            <md-button ng-show="step==3" type="submit" class="md-primary">Add File</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>