<md-dialog aria-label="Create a New Message Thread" flex="70">
    <form ng-submit="addNewThread(form)" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create a New Message Thread</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
				
				<div layout="column" ng-show="step==1">
					<p class="md-body-2">Which project should this message be added to:</p>
					
					<md-input-container>
                        <label for="">Projects List</label>
                        <md-select ng-model="selectedProjectIndex">
                            <md-option ng-repeat="project in projects" ng-value="$index">{{project.name}}</md-option>
                        </md-select>
                    </md-input-container>
				</div>
                
                <div layout="column" ng-show="step==2">
                    <p class="md-body-2">Provide a subject for the message thread:</p>
                    <div layout="row">
                        <md-input-container flex="66" flex-offset="15">
                            <label>Subject of Thread</label>
                            <input md-autofocus type="text" ng-model="thread.name" name="name" required/>
                        </md-input-container>
                    </div>
                </div>
				
				<div layout="column" ng-show="step==2">
                    <p class="md-body-2">The body of your message:</p>
                    <div layout="row">
                        <md-input-container flex="66" flex-offset="15">
                            <label>Message Body</label>
                            <textarea ng-model="thread.message" columns="1" rows="5" required md-autofocus></textarea>
                        </md-input-container>
                    </div>
				</div>
                
                <div layout="column" ng-show="step==3">
                    <p class="md-body-2">Select the team members to include in this thread:</p>
					
					<div layout="row" flex layout-align="center center" layout-wrap layout-padding>
						<md-checkbox class="filter-checkbox md-primary" ng-repeat="member in projectMembers" ng-click="selectMember($index)">{{(member._id) ? member.name : member.email}}</md-checkbox>
					</div>
                </div>
                
            </div>
        </md-dialog-content>
		
        <md-dialog-actions>
            <md-button ng-click="closeModal()">Cancel</md-button>

            <md-button ng-click="step=step-1" ng-hide="step==1">Back</md-button>
            <md-button ng-click="next('createThread')" ng-hide="step==3">Next</md-button>

            <md-button type="submit" ng-show="step==3" class="md-primary">Create Message Thread</md-button>
        </md-dialog-actions>
		
    </form>
</md-dialog>