<md-dialog aria-label="Create a New Task" flex="60">
    <form ng-submit="createNewTask(form)" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create a New Task</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="dialogService.closeModal()"><md-tooltip md-direction="left">Close</md-tooltip><md-icon class="material-icons">close</md-icon></md-button>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
				
				<div layout="column" ng-show="step==1">
					<p class="md-body-2">Which project should this task be added to:</p>
					<md-input-container>
                        <label for="">Projects List</label>
                        <md-select ng-change="selectProject(selectedProjectIndex)" ng-model="selectedProjectIndex">
                            <md-option ng-repeat="project in projects" ng-value="$index">{{project.name}}</md-option>
                        </md-select>
                    </md-input-container>
				</div>
                
                <div layout="column" ng-show="step==2">
                    <p class="md-body-2">Provide a description for the task:</p>
                    <div layout="row">
                        <md-input-container flex="66" flex-offset="15">
                            <label>Task Description</label>
                            <textarea ng-model="task.description" name="description" md-maxlength="300" required rows="3" columns="1"></textarea>
                        </md-input-container>
                    </div>
                </div>
                    
                <div layout="column" ng-show="step==2">
                    <p class="md-body-2">Specify Start Date and Due Date for the task:</p>
                    <div layout="row" layout-align="center center" class="tagcloud-selection">
                        <md-datepicker flex="50" ng-model="task.dateStart" md-placeholder="Enter Start Date"></md-datepicker>
                        <md-datepicker flex="50" ng-model="task.dateEnd" md-placeholder="Enter Due Date"></md-datepicker>
                    </div>
                </div>

                <div layout="column" ng-show="step==2">
                    <p class="md-body-2">Specify Start Time and End Time for the task:</p>
                    <div layout="row" layout-align="center center" class="tagcloud-selection">
                        <md-input-container flex="50">
                            <label for="">Enter Start Time</label>
                            <input type="time" ng-model="task.time.start" required>
                        </md-input-container>
                        <md-input-container flex="50">
                            <label for="">Enter End Time</label>
                            <input type="time" ng-model="task.time.end" required>
                        </md-input-container>
                    </div>
                </div>
                
                <div layout="column" ng-show="step==3">
                    <p class="md-body-2">Assign at least one team member:</p>
                    
					<div layout="row" flex layout-align="center center" layout-wrap layout-padding>
						<md-checkbox class="filter-checkbox md-primary" ng-repeat="member in projectMembers" ng-click="selectMember($index)">{{(member._id) ? member.name : member.email}}</md-checkbox>
					</div>
                </div>
                
            </div>
        </md-dialog-content>
        
        <md-dialog-actions>
            <md-button ng-click="next('createTask')" class="md-primary" ng-hide="step==3">Next</md-button>
            <md-button ng-show="step==3" type="submit" class="md-primary">Create Task</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>