<md-dialog aria-label="Reply message" flex="70">
    <form ng-submit="sendMessage()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Reply to {{selectedThread.name}}</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-padding>
                <md-list>
                    <md-list-item ng-repeat="message in selectedThread.messages">
                        <div class="md-list-item-text">
                            <p class="md-body-1">{{message.text}} - <strong>{{(message.user._id==currentUser._id) ? "You" : message.user.name}}</strong></p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
                
                <div layout="column">
                    <p class="md-body-2">Enter your message:</p>
                    <div layout="row">
                        <md-input-container flex="66" flex-offset="15">
                            <label>Message</label>
                            <textarea ng-model="message.text" columns="1" rows="5" required md-autofocus></textarea>
                        </md-input-container>
                    </div>
                </div>
                
            </div>
        </md-dialog-content>
        
        <md-dialog-actions>
            <md-button ng-click="closeModal()">Cancel</md-button>
            <md-button type="submit" class="md-primary">Send Reply</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>