<md-dialog aria-label="Create a New Message" flex="70">
	<form ng-submit="addNewThread(form)" name="form">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Create a New Message</h2>
			</div>
		</md-toolbar>
		
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				
				<div layout="row">
					<md-input-container flex>
				        <label>Message Thread Name</label>
				        <input md-autofocus type="text" ng-model="thread.name" name="name" required/>
					</md-input-container>
				</div>
				<div layout="row" layout-align="center center" class="tagcloud" layout-wrap>
					<span ng-click="selectMember($index, 'member')" ng-class="{'available-tag':!member.select, 'selected-tag': member.select}" ng-repeat="member in projectMembers">{{(member._id) ? member.name : member.email}}<md-icon ng-show="!member._id" class="material-icons non-user-chip cursor-help"><md-tooltip>Messages will be sent via email to this Team Member</md-tooltip>mail_outline</md-icon></span>
				</div>
				
			</div>
		</md-dialog-content>
		<md-dialog-actions>
			<md-button ng-click="cancelNewMessageModal()">Cancel</md-button>
			<md-button type="submit">Add Message Thread</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>