<md-dialog aria-label="Create a New Message Thread" flex="70" id="newMessageThreadDialog">
	<form ng-submit="addNewThread(form)" name="form">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Create a New Message Thread</h2>
			</div>
		</md-toolbar>
		
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				
				<div layout="column">
					<p class="md-body-2">Provide a subject for the message thread:</p>
	                <div layout="row">
	                    <md-input-container flex="66" flex-offset="15">
					        <label>Subject of Thread</label>
					        <input md-autofocus type="text" ng-model="thread.name" name="name" required/>
						</md-input-container>
					</div>
				</div>
				
				<div layout="column">
                    <p class="md-body-2">The body of your message:</p>
                    <div layout="row">
                        <md-input-container flex="66" flex-offset="15">
                            <label>Message Body</label>
                            <textarea ng-model="thread.message" columns="1" rows="5" required md-autofocus></textarea>
                        </md-input-container>
                    </div>
				</div>
				
				<div layout="column">
					<p class="md-body-2">Select the team members to include in this thread:</p>
					<div layout="row" layout-align="center center" class="tagcloud-selection" layout-wrap>
						<span ng-click="selectMember($index, 'member')" ng-class="{'available-tag':!member.select, 'selected-tag': member.select}" ng-repeat="member in projectMembers">{{(member._id) ? member.name : member.email}}<md-icon ng-show="!member._id" class="material-icons non-user-chip cursor-help"><md-tooltip>Messages will be sent via email to this Team Member</md-tooltip>mail_outline</md-icon></span>
					</div>
				</div>
				
			</div>
		</md-dialog-content>
		<md-dialog-actions>
			<md-button ng-click="cancelNewMessageModal()">Cancel</md-button>
			<md-button type="submit" class="md-primary">Create Message Thread</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>