<div class="col s3">
   <a class="modal-trigger btn-large col s12" href="#newWorkPackage" data-activates="createNew" data-gutter="15" >Create New</a>
		<ul id="createNew" class="dropdown-content" style="margin-top: 15px">
		<li><a class="modal-trigger" href="#newWorkPackage">Work Package</a></li>
		<li><div class="divider"></div></li>
		<li><a class="modal-trigger" href="#newContractorPackage">Contractor Package</a></li>
    <li><a class="modal-trigger" href="#newMaterialPackage">Material Package</a></li>
		</ul>

   <div class="collection">
       <a href="#!" class="collection-item">In Progress<span class="new badge">6</span></a>
		   <a href="#!" class="collection-item">Completed</a>
   </div>
</div>

<div class="col s9">
   <!--<ul class="collection z-depth-1">-->
     <!--<li class="collection-item" ng-repeat="item in staffPackages" ng-if="item.canSee || isLeader"><a ui-sref="staff.view({packageId : item._id})">{{item.name}}</a></li>-->
   <!--</ul>-->
  <div class="collection z-depth-1">
    <a ui-sref="staff.view({packageId : item._id})" ng-repeat="item in staffPackages"  ng-if="item.canSee || isLeader" class="collection-item">{{item.name}}</a>
  </div>
</div>

<div id="newWorkPackage" class="modal modal-fixed-footer">
  <form novalidate ng-submit="save(form)" name="form">
    <div class="modal-content">

      <div class="row">
         <div class="col s12">
           <h5>New Work Package for {{currentProject.name}}</h5>
         </div>
       </div>
       <div class="row">
           <div class="input-field col s8">
               <input id="package_name" type="text" name="name" class="validate invalid" ng-model="package.name" required ng-class="{'invalid' : form.name.$invalid && submitted}">
               <label for="package_name">Work Package Title</label>
           </div>
           <div class="input-field col s4">
                <label for="commencement_date" class="active">Commencement Date</label>
                <input type="date" id="commencement_date" ng-model="package.dateStart">
           </div>
           <div class="input-field col s12">
             <input id="package_description" type="text" class="validate" ng-model="package.description" ng-class="{'invalid' : form.name.$invalid && submitted}" required>
             <label for="package_description">Desciprtion</label>
           </div>
       </div>
      <div class="row">
        <div class="col s12">
          <div class="card-panel">
            <div class="chips">
              <p class="col s12">Assigned To:</p>

              <div class="input-field col s12">
                <angucomplete-alt id="ex1"
                                  pause="100"
                                  selected-object="staffSelectedFunction"
                                  local-data="currentTeam.member"
                                  search-fields="_id.email"
                                  title-field="_id.email"
                                  minlength="1"
                                  input-changed="inputChanged"
                                  template-url="/my-custom-template.html"
                                  clear-selected="true"
                                  input-class="col s12"></angucomplete-alt>

              </div>
              <div class="chips-head row">
                <div class="card col" style="padding: 5px; margin-left: 10px" ng-repeat="staff in package.staffs">
                  {{(!staff._id.firstName && !staff._id.lastName) ? staff._id.email : staff._id.firstName + " " +  staff._id.lastName}}
                  <span><a href="#"><i class="mdi-navigation-cancel" style="margin-left: 5px"></i></a></span>
                </div>
              </div>
              <p class="col s12">Available Contacts</p>
              <div class="row">
                <div class="chips-contact col s4" style="padding: 5px; margin-left: 10px" ng-repeat="member in currentTeam.member | filter : {status : 'Active'}">
                  <div class="chips-title" style="display:inline-block">{{member._id.firstName}} {{member._id.lastName}}</div>
                  <div class="chips-text">{{member._id.email}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
         <button type="submit" class="modal-action waves-effect waves-green btn-flat ">Create Package!</button>
         <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
    </div>
  </form>
</div>

<script type="text/ng-template" id="/my-custom-template.html">
  <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
    <input ng-model="searchStr"
           id="email"
           ng-disabled="disableInput"
           type="text"
           placeholder="{{placeholder}}"
           ng-focus="onFocusHandler()"
           class="{{inputClass}}"
           ng-focus="resetHideResults()"
           ng-blur="hideResults($event)"

           autocapitalize="off"
           autocorrect="off"
           autocomplete="off"
           ng-change="inputChangeHandler(searchStr)"/>
    <label for="email">Email</label>
    <div class="angucomplete-dropdown col s12" ng-show="showDropdown">
      <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
      <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
      <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
        <div ng-if="imageField" class="angucomplete-image-holder">
          <img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="angucomplete-image"/>
          <div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
        </div>
        <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
        <div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
        <div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
        <div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div>
      </div>

    </div>
  </div>
</script>