<!-- <div class="col s12" style="margin-top:-10px;">
  <h5 class="secondary-content">Subcontractors</h5>
</div>
<div class="col s12">
  
  <div class="col s3">
     <a ng-if="currentTeam.type == 'builder' && isLeader" class="dropdown-button btn-large col s12"
        data-activates="createNew" dropdown data-gutter="15" data-beloworigin="true" style="margin-top: 8px; margin-bottom: 15px">Create New</a>
      <ul id="createNew" class="dropdown-content" style="margin-top: 15px">
        <li><a class="modal-trigger" href="#newContractorPackage">Contractor Package</a></li>
        <li><div class="divider"></div></li>
       <li><a class="modal-trigger" href="#newWorkPackage">Work Package</a></li>
       <li><a class="modal-trigger" href="#newMaterialPackage">Material Package</a></li>
      </ul>
  
     <div class="collection"  >
       <a href="#!" ng-click="filter = {isCompleted : false, isAccept : true}" class="collection-item"
          ng-class="{'active' : !filter.isCompleted && filter.isAccept}">In Progress<span class="badge new" ng-if="inProgressTotal">{{inProgressTotal}}</span></a>
       <a href="#!" ng-click="filter = {isCompleted : false, isAccept : false, isCancel:false} " class="collection-item"
          ng-class="{'active' : !filter.isAccept && !filter.isAccept}">In Tender</a>
       <a href="#!" ng-click="filter = {isCompleted : true, isAccept : true}" class="collection-item"
          ng-class="{'active' : filter.isCompleted  && filter.isAccept}">Completed</a>
     </div>
   </div>
  
  <div class="col s9">
    <div class="col s12">
      <div class="collection z-depth-1 list">
        <span ng-repeat="contractorPackage in contractorPackages | filter : filter">
          <a class="collection-item" ng-if="(currentTeam.type == 'builder' || currentTeam.type == 'homeOwner') && contractorPackage.isAccept"
             ui-sref='contractorRequest.contractorPackageInProcess({id: contractorPackage.project, packageId: contractorPackage._id})'>
            {{contractorPackage.name}}
            <span class="new badge" ng-if="contractorPackage.__v">{{contractorPackage.__v}}</span>
          </a>
          <a class="collection-item" ng-if="(currentTeam.type == 'builder' || currentTeam.type == 'homeOwner') && !contractorPackage.isAccept"
             ui-sref='contractorRequest.viewContractorRequest({id: contractorPackage.project, packageId: contractorPackage._id})'>
            {{contractorPackage.name}}
            <span class="new badge" ng-if="contractorPackage.__v">{{contractorPackage.__v}}</span>
          </a>
          <a ng-show="contractorPackage.isContractor" class="collection-item" ng-if="currentTeam.type == 'contractor' && contractorPackage.isAccept && contractorPackage.winnerTeam._id == currentTeam._id"
             ui-sref='contractorRequest.contractorPackageInProcess({id: contractorPackage.project, packageId: contractorPackage._id})'>
            {{contractorPackage.name}}
            <span class="new badge" ng-if="contractorPackage.__v">{{contractorPackage.__v}}</span>
          </a>
          <a ng-show="contractorPackage.isContractor" class="collection-item" ng-if="currentTeam.type == 'contractor' && !contractorPackage.isAccept"
             ui-sref='contractorRequest.sendQuote({id: contractorPackage.project, packageId: contractorPackage._id})'>
            {{contractorPackage.name}}
            <span class="new badge" ng-if="contractorPackage.__v">{{contractorPackage.__v}}</span>
          </a>
        </span>
      </div>
    </div>
  </div>
  
</div>
<div create-package></div> -->

<div class="row" style="padding: 12px">
 <div class="col s10 offset-s1">
   <div class="collection with-header">
         <div class="row collection-header" style="margin-bottom:0px">
       
       <div class="col">
         <p style="margin-left: 10px" ng-if="currentTeam.type == 'builder'"><strong>SUBCONTRACTORS</strong></p>
         <p style="margin-left: 10px" ng-if="currentTeam.type == 'contractor'"><strong>CONTRACTORS PACKAGE</strong></p>
      </div>
      <div class="col right" style="">
         <a ng-if="currentTeam.type == 'builder' && isLeader" href="#newContractorPackage" class="modal-trigger" style="padding: 5px; font-size: 12px; color: black">ADD A SUBCONTRACTOR</a>
      </div>
         </div>
         <div class="row collection-header" style="margin-bottom:0px;">
       <div class="col s12">
         <div style="font-size: 12px;">
           <a ng-class="{'current-select' : filterAll}" style="margin-left:30px; padding: 5px;" ng-click="filter = {}; filterAll = true">ALL</a>
           <a ng-class="{'current-select' : filter.isCompleted == false && filter.isAccept == false}" ng-click="filter = {isCompleted : false, isAccept : false, isCancel:false}; filterAll = false " style="margin-left:30px; padding: 5px;">IN TENDER</a>
           <a ng-class="{'current-select' : !filter.isCompleted && filter.isAccept}" ng-click="filter = {isCompleted : false, isAccept : true}; filterAll = false" style="margin-left:30px; padding: 5px;">IN PROGRESS</a>
           <a ng-class="{'current-select' : filter.isCompleted && filter.isAccept}" ng-click="filter = {isCompleted : true, isAccept : true}; filterAll = false" style="margin-left:30px; padding: 5px;">COMPLETED</a>
         </div>
       </div>
     </div>
     <div  style="height: {{contentHeight -30}}px; overflow-y: auto; background-color: white; overflow-x: hidden;">
       <div ng-show="currentTeam.type == 'builder' || contractorPackage.isContractor" ng-mouseover="activeHover($event)" ng-mouseleave="removeHover($event)" class="collection-item row" ng-repeat="contractorPackage in contractorPackages | filter: filter" style="cursor:pointer" ng-click="goToContractorPackageRequest(contractorPackage)">
         <div class="col s9" ng-if="currentTeam.type == 'builder'">{{contractorPackage.name}}</div>
         <div class="col s9" ng-if="currentTeam.type == 'contractor' && contractorPackage.isContractor">{{contractorPackage.name}}</div>
           <!-- <div> -->
            <!-- when user is a builder -->
            <!-- package in process -->
            <!-- <a ng-if="(currentTeam.type == 'builder' || currentTeam.type == 'homeOwner') && contractorPackage.isAccept" ui-sref="contractorRequest.contractorPackageInProcess({id: contractorPackage.project, packageId: contractorPackage._id})">{{contractorPackage.name}} -->
            <!-- </a> -->
            <!-- package in tender -->
            <!-- <a ng-if="(currentTeam.type == 'builder' || currentTeam.type == 'homeOwner') && !contractorPackage.isAccept" ui-sref="contractorRequest.viewContractorRequest({id: contractorPackage.project, packageId: contractorPackage._id})">{{contractorPackage.name}} -->
            <!-- </a> -->

            <!-- when user is a contractor -->
            <!-- <a ng-show="contractorPackage.isContractor" ng-if="currentTeam.type == 'contractor' && contractorPackage.isAccept" ui-sref="contractorRequest.contractorPackageInProcess({id: contractorPackage.project, packageId: contractorPackage._id})">{{contractorPackage.name}} -->
            <!-- </a> -->
            <!-- package in tender -->
            <!-- <a ng-show="contractorPackage.isContractor" ng-if="currentTeam.type == 'contractor' && !contractorPackage.isAccept" ui-sref="contractorRequest.sendQuote({id: contractorPackage.project, packageId: contractorPackage._id})">{{contractorPackage.name}} -->
            <!-- </a> -->
          <!-- </div> -->
         <!-- </div> -->
         <div style="color: #757575" >
           <div class="col s1 valign-wrapper">
             <div style="font-size:15px;">{{contractorPackage.threads.length}}</div>
             <i style="font-size: 15px; margin-left: 5px" class="material-icons valign">message</i>
           </div>
           <div class="col s1 valign-wrapper">
             <div style="font-size:15px;">{{contractorPackage.files.length}}</div>
             <i style="font-size: 15px; margin-left: 5px" class="material-icons valign">insert_drive_file</i>
           </div>
           <div class="col s1 valign-wrapper">
             <div style="font-size:15px;">{{contractorPackage.tasks.length}}</div>
             <i style="font-size: 15px; margin-left: 5px" class="material-icons valign">check</i>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>

<!-- CONTRACTOR PACKAGE -->
<div id="newContractorPackage" class="modal modal-fixed-footer">
  <form method="post" name="contractorForm" ng-submit="createContractorPackage(contractorForm)" novalidate>
    <div class="modal-content">
      <div class="row">
        <div class="col s12">
          <h5>New Contractor Package for {{currentProject.name}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="project_name" name="name" type="text" class="validate" ng-model="contractor.name" required
                 ng-class="{'invalid' : contractorForm.name.$invalid && contractorSubmitted}">
          <label for="project_name">Contractor Package Title</label>
          <p class="validate-message" ng-if="contractorForm.name.$error.required && contractorSubmitted">Package name is required</p>
        </div>
        <div class="input-field col s3">
          <p>
            <input class="valign" type="checkbox" ng-model="contractor.isSkipInTender" id="skipInTender"/>
            <label for="skipInTender">Skip Tender Stage</label>
          </p>
        </div>
        <div class="input-field col s3">
          <label for="date_required" ng-if="!contractor.isSkipInTender">Tender Due Date</label>
          <label for="date_required" ng-if="contractor.isSkipInTender">Date Required On Site</label>
          <input type="text"
                 ng-model="contractor.dateStart"
                 id="dateStart"
                 datepicker/>
        </div>
      </div>
      <div class="row" style="display:none">
        <div class="input-field col s6">
          <select material-select ng-model="contractor.category">
            <option value="" disabled selected>Category</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>Category</label>
        </div>
        
      </div>
      <div class="row">
        <div class="col s12">
          <ul class="collection z-depth-1">
            <li class="collection-item vlalign-wrapper">
              <div class="row form" style="margin-bottom: 0px">
                <div class="col s12"><p>Enter work descriptions below:</p></div>
                <div class="input-field col s10">
                  <textarea id="description" class="materialize-textarea" ng-model="description" ng-class="{'invalid' : contractorDescriptionError}"></textarea>
                  <label for="description" class="">Description</label>
                  <p class="validate-message" ng-if="contractorDescriptionError">Scope of work at least 1 item</p>
                </div>
                <div class="valign col s2">
                  <button class="btn" type="button" name="action" style="margin-top: 78px" ng-click="addDescriptionContractor(description)">Add</button>
                </div>
              </div>
            </li>
            <li class="collection-item vlalign" ng-repeat="description in contractor.descriptions track by $index">
              <div class="row" style="margin-bottom: 0px">
                <div class="col s10">
                  <p>{{description}}</p>
                </div>
                <div class="col s2">
                  <button type="button" class="btn-flat btn-flat" ng-click="removeDescriptionContractor($index)">Remove</button>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <ul class="collection z-depth-1">
            <li class="collection-item vlalign-wrapper">
              <div class="row form" style="margin-bottom: 0px">
                <div class="col s12"><p>Enter tradesmen's details below:</p></div>
                <p class="validate-message" ng-if="trademenError">Tradesmen's details at least 1 item</p>
                <div class="input-field col s7">
                  <!-- <input id="email_address" ng-model="newEmail" type="email" name="email" class="validate"> -->
                  <angucomplete-alt id="ex1"
                                    pause="100"
                                    selected-object="contractorMember.email"
                                    local-data="contractorTeamMember"
                                    search-fields="email"
                                    title-field="email"
                                    minlength="1"
                                    input-changed="contractorInputChanged"
                                    template-url="/my-custom-template.html"
                                    input-class="col s12"></angucomplete-alt>
                </div>
                <div class="input-field col s3">
                  <input id="phone_number" ng-model="newPhoneNumber" type="number" name="phoneNumber" class="validate">
                  <label for="phone_number">Phone number</label>
                  <p class="validate-message" ng-if="contractorForm.phoneNumber.$valid == false">Please input number</p>  
                </div>
                <div class="valign col s2">
                  <a href="#" ng-if="contractorForm.phoneNumber.$valid == true" ng-click="contractorAddUser()" class="btn" style="margin-top: 28px">Add</a>
                  <!-- <button class="btn" type="submit" ng-submit="addUser()" name="action" style="margin-top: 28px">Add</button> -->
                </div>
              </div>
            </li>

            <li ng-if="!contractor.isSkipInTender" class="collection-item vlalign" ng-repeat="emailPhone in contractorMember.emailsPhone">
              <div class="row" style="margin-bottom: 0px">
                <div class="col s7">{{emailPhone.email}}</div>
                <div class="col s3">{{emailPhone.phoneNumber}}</div>
                <div class="col s2" style="float:right"><a class="btn-flat btn-flat" ng-click="contractorRemoveUser($index)" >Remove</a></div>
              </div>
            </li>
            <li ng-if="contractor.isSkipInTender && $first" class="collection-item vlalign" ng-repeat="emailPhone in contractorMember.emailsPhone">
              <div class="row" style="margin-bottom: 0px">
                <div class="col s7">{{emailPhone.email}}</div>
                <div class="col s3">{{emailPhone.phoneNumber}}</div>
                <div class="col s2" style="float:right"><a class="btn-flat btn-flat" ng-click="contractorRemoveUser($index)" >Remove</a></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="waves-effect waves-light btn modal-action">ADD SUBCONTRACTOR</button>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
    </div>
  </form>
</div>
<!-- END CONTRACTOR PACKAGE -->

<script type="text/ng-template" id="/my-custom-template.html">
  <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
    <input ng-model="searchStr"
           id="email"
           ng-disabled="disableInput"
           type="text"
           placeholder="{{placeholder}}"
           ng-focus="onFocusHandler()"
           class="{{inputClass}}"
           ng-focus="resetHideResults()"
           ng-blur="hideResults($event)"

           autocapitalize="off"
           autocorrect="off"
           autocomplete="off"
           ng-change="inputChangeHandler(searchStr)"/>
    <label for="email">Email</label>
    <div class="angucomplete-dropdown col s12" ng-show="showDropdown">
      <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
      <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
      <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
        <div ng-if="imageField" class="angucomplete-image-holder">
          <img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="angucomplete-image"/>
          <div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
        </div>
        <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
        <div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
        <div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
        <div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div>
      </div>

    </div>
  </div>
</script>