<md-content layout-padding class="formContractors">
  <h2 class="md-display-1">Create Contractor Package</h2>

  <form name="contractorForm">
    <md-input-container>
      <label>Client Name</label>
      <input required name="name" ng-model="contractor.name">

    </md-input-container>
    <md-input-container>
      <label>Description</label>
      <input  required name="description" ng-model="contractor.description">
    </md-input-container>

    <md-content  class="autocomplete" >
      <md-chips ng-model="selectedVegetables" md-autocomplete-snap md-require-match>
        <md-autocomplete
          md-selected-item="selectedItem"
          md-search-text="searchText"
          md-items="item in querySearch(searchText)"
          md-item-text="item.name"
          placeholder="Select Contractors">
          <span md-highlight-text="searchText">{{item.name}}</span>
        </md-autocomplete>
        <md-chip-template>
          <span>
            <strong>{{$chip.name}}</strong>    
          </span>
        </md-chip-template>
      </md-chips>
    </md-content>
    <button ng-click="save();" class="md-raised md-primary md-button md-default-theme"><span class="ng-scope">Save</span><div class="md-ripple-container" style=""></div></button>
  </form>
</md-content>