<div layout="column" style="">
  <div class="row" style="margin-top: 18px">
    <h5 class="col s8">Staff package in Progress</h5>

    <div class="col s4" style="margin-top:15px">
      <a class="dropdown-button btn-flat right tooltipped" data-position="top" data-delay="1" data-tooltip="Attach..." href="#"
         data-activates="itemActions"  dropdown data-beloworigin="true" data-constrainwidth="false" >
        <i class="mdi-navigation-more-vert"></i>
      </a>

      <!-- Dropdown Structure -->
      <ul id="itemActions" class="dropdown-content">
        <li><a class="modal-trigger" href="#modal_attachDefect">Attach Defect</a></li>
        <li><a class="modal-trigger" href="#modal_attachDocument">Attach Document</a></li>
      </ul>
    </div>
  </div>
  <div class="row" style="margin-top: 18px">
    <div class="col s12">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class=""></i>Details</div>
          <div class="collapsible-body" style="background-color: #FFF; padding:10px">
            <p class="col s12">Package name : <span class="highlight">{{staffPackage.name}}</span></p>
            <p class="col s12">Scope of Work : </p>
            <ul style="margin-left: 50px">
              <li ng-repeat="description in staffPackage.descriptions">{{description}}</li>
            </ul>
            <p class="col s12">Package staffs list :</p>
            <div class="card col" style="padding: 5px; margin-left: 10px" ng-repeat="staff in staffPackage.staffs">
              {{staff.email}}
            </div>

          </div>
        </li>
      </ul>
    </div>
  </div>
  

  <div class="row">
    <div task package="staffPackage" type="staff"></div>
    <addon package="staffPackage" type="staffPackage"></addon>
    
  </div>
  <div class="row">
    <div class="col s12">
      <div message package="staffPackage" type="staff"></div>
    </div>
  </div>
</div>