<div layout="column" style="">
  <div class="row" style="margin-top: 18px">
    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header active"><i class=""></i>Staff package in Progress</div>
        <div class="collapsible-body" style="background-color: #FFF; padding:10px">
          <p class="col s12">Package name : <span class="highlight">{{staffPackage.name}}</span></p>
          <p class="col s12">Scope of Work : </p>
          <ul style="margin-left: 50px">
            <li ng-repeat="description in staffPackage.descriptions">{{description}}</li>
          </ul>
          <p class="col s12">Package staffs list :</p>
          <div class="card col" style="padding: 5px; margin-left: 10px" ng-repeat="staff in staffPackage.staffs">
            {{staff.email}}
          </div>

        </div>
      </li>
    </ul>
  </div>
  <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action">Mark Complete</button>
  </div>

  <div class="row">
    <div task package="staffPackage" type="staff"></div>
    <addon package="staffPackage" type="staffPackage"></addon>
    
  </div>
  <div class="row">
    <div class="col s12">
      <div message package="staffPackage" type="staff"></div>
    </div>
  </div>
</div>